<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header"></th:block>

    <!--푸코활동 소개 페이지-->

    <!--추가되는 리소스 저장경로 start-->
    <link rel="stylesheet" type="text/css" href="_user/_custom.css">
    <script src="_user/_style.js"></script>
    <!--추가되는 리소스 저장경로 end-->

    <link >
    <script>
        $(function(){
            $(window).on('load resize',function(){
                //secScroll()
                $('.nav_sec > li').each(function(){
                    var navLi = $(this),
                        navLiIdx = navLi.index(),
                        secTop = $('.sec').eq(navLiIdx).offset().top - 105;

                    navLi.children('a').on('click', function(){
                        $('html, body').stop().animate({'scrollTop':secTop});
                    });
                });
                $(window).scroll(function(){
                    secScroll()
                });
            });

        });

        function secScroll(){
            var sct = $(window).scrollTop(),
                winH = $(window).height(),
                sec01 = $('.sec').eq(0).offset().top - 115,
                sec02 = $('.sec').eq(1).offset().top - 115,
                navIdx;

            if(sct >= sec01 && sct < sec02){
                navIdx = 0;
            }else if(sct >= sec02){
                navIdx = 1;
            }
            $('.nav_sec > li').eq(navIdx).addClass('active').siblings().removeClass('active')
        }
    </script>
</head>
<body oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>
<div id="wrap">
    <th:block th:include="fragments/header_gnb"></th:block>
    <div id="container">
        <th:block th:include="fragments/snb"></th:block>

        <div class="contents">
            <div class="page_top">
                <h3 class="page_tit bg">푸코는 이런 활동을 해요!</h3>
            </div>
            <div class="page_cont">
                <ul class="nav_sec">
                    <li class="active"><a href="javascript:;">푸른코끼리 3대 추진전략</a></li>
                    <li><a href="javascript:;">푸른코끼리 교육방향</a></li>
                </ul>
                <div class="sec sec_infographic">
                    <h4 class="sec_tit">푸른코끼리 3대 추진전략</h4>
                    <div class="sec_cont">
                        <div class="infographic">
                            <img src="/ClientUI/user/images/contents/img_infographic.jpg" alt="1. 사이버폭력 예방교육 기획 / 2. 사이버폭력 예방교육 활동 / 3. 사이버폭력 예방교육 정책" class="pc" />
                            <div class="img_expand mo">
                                <a href="/ClientUI/user/images/contents/img_infographic.jpg" target="_blank">
                                    <img src="/ClientUI/user/images/contents/m_img_infographic.jpg" alt="1. 사이버폭력 예방교육 기획 / 2. 사이버폭력 예방교육 활동 / 3. 사이버폭력 예방교육 정책" />
                                    <span><em>확대하기</em></span>
                                </a>
                            </div>
                        </div>
                        <dl class="txt_box_gray">
                            <dt>처벌과 선도가 아닌, <em>교육적 접근</em></dt>
                            <dd>
                                <ul class="bull_list">
                                    <li>미국 긍정심리학회에서 규정한 24가지 성격 강점 분류를 근거로 서울대학교 윤리교육과 문용린 명예교수가 한국의 문화 · 사회적 배경을 고려하여 6대 실천 덕목을 주제로 <b>찾아가는 학교교육 진행</b></li>
                                    <li><em>교육 형태는</em> <b>전달식(강의식) 교육이 아닌 소그룹 팀단위(5~6명) 참여형 교육</b></li>
                                    <li><em>교육 전개는</em> 3단계 <b>사이버폭력 ‘예방-대처-회복’</b></li>
                                    <li><em>교육 구성은</em> ‘이론교육(인지), 정서 인식 및 표현(정서), 예방 활동(행동)’ </li>
                                    <li><em>교육 규모는</em> 연차별로 확대되며, <b>1년차 서울·경기수원 20개교(200개 학급), 2년차 17개 시도 40개교(400개 학급), 3년차 17개 시도 45개교(450개 학급)로 실시 <br>1기(3년)에는 온라인 교육 50,000명, 학교로 찾아가는 예방교육 21,250명, 학교로 찾아가는 부모교육 4,250명으로 총 125,500명 교육 실시</b></li>
                                </ul>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="sec sec_direction">
                    <h4 class="sec_tit">푸른코끼리 교육방향</h4>
                    <div class="sec_cont">
                        <p class="txt">소그룹 팀단위 체험형(learning by doing)학습을 통해 <span class="fc_blue">친사회적 덕목인식과 사이버폭력 대처 역량 강화</span>를 위한 자기주도 교육 프로그램</p>
                        <dl class="direction_edu">
                            <dt><em>&ldquo;</em><span>스스로 답을 찾는 끄집어내기 교육</span><em>&rdquo;</em></dt>
                            <dd>
                                <div class="bg_txt">
                                    <p>일방적인 지식 전달, 단순 암기식 교육에서 벗어나 스스로 경험하고 깨닫게 하는 교육방법 (인지, 정서, 행동)</p>
                                </div>
                                <p class="txt">문제 상황 발생 시 그것을 해결하기 위한 가설을 세우고, 실제로 효과가 있는지 직접 실천하면서 결과를 확인하는 과정</p>
                                <ul class="step_list clearfix">
                                    <li class="ico01">
                                        <p>문제 상황 인식</p>
                                    </li>
                                    <li class="ico02">
                                        <p>가설</p>
                                    </li>
                                    <li class="ico03">
                                        <p>직접 실천</p>
                                    </li>
                                    <li class="ico04">
                                        <p>문제 해결</p>
                                    </li>
                                </ul>
                            </dd>
                        </dl>
                        <dl class="core_element">
                            <dt>핵심요소</dt>
                            <dd>
                                <p class="txt">자기주도적 참여형 교육, 감성 중심의 자기인식기법 활용, 행동화 체험활동, 소그룹 토론 및 발표 </p>
                                <ul class="ico_list">
                                    <li class="ico01"><strong>재미·참여</strong></li>
                                    <li class="ico02"><strong>감정인식</strong></li>
                                    <li class="ico03"><strong>소그룹활동</strong></li>
                                    <li class="ico04"><strong>정적·동적활동</strong></li>
                                    <li class="ico05"><strong>토론</strong></li>
                                </ul>
                            </dd>
                        </dl>
                        <dl class="txt_box_gray">
                            <dt>청소년과 참여자가 <em>함께 만드는 문화</em></dt>
                            <dd>
                                <ul class="bull_list">
                                    <li>청소년과 전문가, 기업, 공공이 함께 안전한 사이버 환경 구축</li>
                                    <li>과거처럼 학교나 외부 전문기관이 학교 문제를 해결하는 것이 아니라 청소년, 부모, 교사, 자원봉사자, 전문가, 정부, 지자체, 기업 등 모든 이해관계자가 함께 참여하여 문제 해결</li>
                                    <li>푸른나무재단은 학교폭력 근절을 위해 24년간 교육부, 학교, 지자체 등 공공기관과 협력 中</li>
                                    <li>2019년 현재 교육부(학교폭력 화해분쟁조정 서비스), 학교(300여개 학교폭력 예방 동아리 지원), 지자체(서초구 교육복지센터, 상담복지센터, 청소년센터, 1:1멘토링 사업), 국제기관(독일 최대규모 청소년NGO 헤르네반네 아이켈 재단 교류) 등을 통해 폭력 예방을 위한 네트워크 구축 운영 中 </li>
                                    <li>이를 바탕으로 사이버폭력 예방을 위한 이해관계자 네트워크 구축하여 <b>사이버폭력을 감소시키고, 성공모델을 삼성과 푸른나무재단의 전략(거점)국가인 동아시아 3개국 확산(베트남, 중국, 인도)</b></li>
                                </ul>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:replace="fragments/footer"></th:block>
</div>
</body>
</html>
