<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header"></th:block>

    <!--
    **페이지 소개와 페이지 이동하는 url 입니다!**

    _batchManagement = 일괄관리 페이지 (http://localhost:19817/test/_temp/_batchManagement = _batchManagement로 이동하는 url)
    _activity = 푸코 활동 소개페이지 (http://localhost:19817/test/_temp/_activity =_activity로 이동하는 url)
    _character = 푸코 캐릭터 소개페이지 (http://localhost:19817/test/_temp/_character =_character로 이동하는 url)
    _friends = 푸코 친구들 소개페이지 (http://localhost:19817/test/_temp/_friends =_friends로 이동하는 url)
    _intro = 푸코 소개 페이지 (http://localhost:19817/test/_temp/_intro = _intro로 이동하는 url)
    _location = 푸코 사무국 위치소개페이지 (http://localhost:19817/test/_temp/_location =_location으로 이동하는 url)
    _schedule = 푸코 연혁 소개페이지 (http://localhost:19817/test/_temp/_schedule =_schedule로 이동하는 url)
    _idFind = 아이디 찾기 페이지 (http://localhost:19817/test/_temp/_idFind =_idFind로 이동하는 url)
    _pwFind = 비밀번호 찾기 페이지 (http://localhost:19817/test/_temp/_pwFind = pwFind로 이동하는 url)

    **추가 혹은 수정되는 리소스들은 아래 파일에 저장해주시면 됩니다!**
    _style.js = 추가되는 js 저장
    _custom.css = 추가되는 css 저장

    -->

    <!--추가되는 리소스 저장경로 start-->
    <link rel="stylesheet" type="text/css" href="_custom.css">
    <script src="_custom.css"></script>
    <!--추가되는 리소스 저장경로 end-->

    <!--모달창 끄고 닫기-->
    <script>
        /*$(function() {
            $(document).ready(function() {
                $("#batchRegister").click(function() {
                    $("#batch_modal").css({
                        "display": "block"
                    });
                });
                $(".modal_cancel").click(function() {
                    $("#batch_modal").css({
                        "display": "none"
                    });
                });
                $("html").click(function(event) {
                    if (event.target.id === "batch_modal") {
                        $("#batch_modal").css({
                            "display": "none"
                        });
                    }
                });
            });
        })
*/
        function batchRegister() {
            alert("준비 중 입니다");
        }
    </script>
</head>
<body oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>
<div id="wrap">
    <th:block th:include="fragments/header_gnb"></th:block>
    <div id="container">
        <div class="gnb_tit gnb06">
            <h2>마이페이지</h2>
        </div>
        <div class="snb">
            <ul class="tab tab_type01">
                <li><a href="/pages/myPage/profile">계정정보</a></li>
                <li><a href="/pages/myPage/activity">활동내역</a></li>
                <li><a href="/pages/myPage/learningStatus">우리반 학습현황</a></li>
                <li><a href="/pages/myPage/learningStatusDetail">우리아이 학습현황</a></li>
                <li><a href="/pages/myPage/peer">또래지명</a></li>
                <li><a href="/pages/myPage/peerStatus">또래지명</a></li>
                <li><a href="/pages/myPage/counseling">My 상담</a></li>
                <li><a href="/pages/myPage/classroom">My 강의실</a></li>
                <li><a href="/pages/myPage/proposal">My 제안</a></li>
                <li><a href="/pages/myPage/selfTestResult">자가진단결과</a></li>
            </ul>
        </div>

        <div class="batch_contents">

<!--            <div class="page_top">
                <h3 class="page_tit">일괄관리</h3>
            </div>-->

            <div class="page_cont">
                <div class="sec_write_area clearfix">
                    <div class="sec_write info">
                        <h4 class="year">&nbsp;2021&nbsp;2020&nbsp;2019&nbsp;</h4>
                        <ul class="board_tbl_list type02">
                            <li class="thead">
                                <strong class="id">ID</strong>
                                <strong class="name">이름</strong>
                                <strong class="no">번호</strong>
                                <strong class="process">진도</strong>
                                <strong class="test">사전검사</strong>
                                <strong class="test">사후검사</strong>
                            </li>
                                <li>
                                    <div class="id">puco0001</div>
                                    <div class="name"><a href="javascript:;" class="link fc_blue">유학생</a></div>
                                    <div class="no">6</div>
                                    <div class="state"><span class="th"></span>1차시</div>
                                    <div class="test"><span class="th"></span>완료</div>
                                    <div class="test"><span class="th"></span>완료</div>
                                </li>
                                <li>
                                    <div class="id">puco0002</div>
                                    <div class="name"><a href="javascript:;" class="link fc_blue">최학생</a></div>
                                    <div class="no">7</div>
                                    <div class="state"><span class="th"></span>2차시</div>
                                    <div class="test"><span class="th"></span>완료</div>
                                    <div class="test"><span class="th"></span>완료</div>
                                </li>
                                <li>
                                    <div class="id">puco0003</div>
                                    <div class="name"><a href="javascript:;" class="link fc_blue">김생학</a></div>
                                    <div class="no">9</div>
                                    <div class="state"><span class="th"></span>2차시</div>
                                    <div class="test"><span class="th"></span>진행중</div>
                                    <div class="test"><span class="th"></span>진행중</div>
                                </li>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
                <div class="btn_area"><a class="btn btn_lg btn_blue btn_pill_10" id="batchRegister" onclick="batchRegister()">일괄가입</a></div>
        </div>
    </div>
</div>
<th:block th:replace="fragments/footer"></th:block>

<!--modalContents  onclick="batchRegister()-->
    <div id="batch_modal" class="modal fade">
        <div id="modal-content" class="modal-content">
            <div class="modal_title">
                <span>일괄가입</span>
            </div>
            <div>
                <div class="modal_text">
                    <div class="gray_line"></div>
                    <label>신규로 생성하고자 하는 ID 개수</label>
                    <div class="gray_line"></div>
                </div>
                <input id="input_id" class="modal_input"/>
            </div>
            <div>
                <div class="modal_text">
                    <div class="gray_line"></div>
                    <label>초기 패스워드</label>
                    <div class="gray_line"></div>
                </div>
                <input id="input_pwd" class="modal_input"/>
            </div>
            <div>
                <a id="modal_confirm" class="btn btn_lg btn_blue btn_pill_10">확인</a>
                <a id="modal_cancel" class="btn modal_cancel">취소</a>
            </div>
        </div>
    </div>
</body>
</html>