<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header"></th:block>
    <!--
    **페이지 소개와 페이지 이동하는 url 입니다!**

    _batchManagement = 일괄관리 페이지 (http://localhost:19817/test/_temp/_batchManagement = _batchManagement로 이동하는 url)
    _activity = 푸코 활동 소개페이지 (http://localhost:19817/test/_temp/_activity =_activity로 이동하는 url)
    _character = 푸코 캐릭터 소개페이지 (http://localhost:19817/test/_temp/_character =_character로 이동하는 url)
    _friends = 푸코 친구들 소개페이지 (http://localhost:19817/test/_temp/_friends =_friends로 이동하는 url)
    _intro = 푸코 소개 페이지 (http://localhost:19817/test/_temp/_intro = _intro로 이동하는 url)
    _location = 푸코 사무국 위치소개페이지 (http://localhost:19817/test/_temp/_location =_location으로 이동하는 url)
    _schedule = 푸코 연혁 소개페이지 (http://localhost:19817/test/_temp/_schedule =_schedule로 이동하는 url)
    _idFind = 아이디 찾기 페이지 (http://localhost:19817/test/_temp/_idFind =_idFind로 이동하는 url)
    _pwFind = 비밀번호 찾기 페이지 (http://localhost:19817/test/_temp/_pwFind = pwFind로 이동하는 url)

    **추가 혹은 수정되는 리소스들은 아래 파일에 저장해주시면 됩니다!**
    _style.js = 추가되는 js 저장
    _custom.css = 추가되는 css 저장
    -->

    <!--추가되는 리소스 저장경로 start-->
    <link rel="stylesheet" type="text/css" href="_custom.css">
    <script src="_custom.css"></script>
    <!--추가되는 리소스 저장경로 end-->

    <script>
        $(function(){
            $(window).on('load resize',function(){
                //secScroll()
                $('.nav_sec > li').each(function(){
                    var navLi = $(this),
                        navLiIdx = navLi.index(),
                        secTop = $('.sec').eq(navLiIdx).offset().top - 115;

                    navLi.children('a').on('click', function(){
                        $('html, body').stop().animate({'scrollTop':secTop});
                    })
                })
                $(window).scroll(function(){
                    secScroll();
                });
            });
        });

        function secScroll(){
            var sct = $(window).scrollTop(),
                winH = $(window).height(),
                sec01 = $('.sec').eq(0).offset().top - 115,
                sec02 = $('.sec').eq(1).offset().top - 115,
                sec03 = $('.sec').eq(2).offset().top,
                navIdx;

            if(sct >= sec01 && sct < sec02){
                navIdx = 0;
            }else if(sct >= sec02 && sct < sec03 - 200){
                navIdx = 1;
            }else if(sct > sec03 - 200){
                navIdx = 2;
            }
            $('.nav_sec > li').eq(navIdx).addClass('active').siblings().removeClass('active')
        }
    </script>
</head>
<body oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>
<div id="wrap">
    <th:block th:include="fragments/header_gnb"></th:block>
    <div id="container">
        <div class="gnb_tit gnb01">
            <h2>푸른코끼리</h2>
        </div>
        <div class="snb">
            <ul class="tab tab_type01">
                <li><a href="/test/_temp/_intro">푸른코끼리</a></li>
                <li><a href="/test/_temp/_character">푸코캐릭터</a></li>
                <li><a href="/test/_temp/_friends">푸코친구들</a></li>
                <li><a href="/test/_temp/_activity">푸코활동</a></li>
                <li><a href="/test/_temp/_schedule">푸코연혁</a></li>
                <li><a href="/test/_temp/_location">푸코사무국</a></li>
            </ul>
        </div>

        <div class="contents">
            <div class="page_top">
                <h3 class="page_tit bg">푸코 친구들을 소개할게요!</h3>
            </div>
            <div class="page_cont">
                <ul class="nav_sec">
                    <li class="active"><a href="javascript:;">약정기관</a></li>
                    <li><a href="javascript:;">푸른코끼리 파트너스 모집</a></li>
                    <li><a href="javascript:;">홍보대사</a></li>
                </ul>
                <div class="sec sec_agency">
                    <h4 class="sec_tit">약정기관</h4>
                    <div class="sec_cont">
                        <ul class="agency_list clearfix">
                            <li class="bg01">
                                <dl>
                                    <dt><img src="/ClientUI/user/images/contents/agency_logo01.png" alt="교육부" /></dt>
                                    <dd>
                                        <p>시도교육청 및 <span>전국 초중고</span> 사업연계 및 홍보</p>
                                    </dd>
                                </dl>
                            </li>
                            <li class="bg02">
                                <dl>
                                    <dt><img src="/ClientUI/user/images/contents/agency_logo02.png" alt="푸른나무재단" /></dt>
                                    <dd>
                                        <p>사이버폭력 연구, <span>예방교육,</span> 플랫폼 기획 및 운영</p>
                                    </dd>
                                </dl>
                            </li>
                            <li class="bg03">
                                <dl>
                                    <dt><img src="/ClientUI/user/images/contents/agency_logo03.png" alt="사랑의열매" /></dt>
                                    <dd>
                                        <p>대외홍보 및 <span>인프라 제공</span></p>
                                    </dd>
                                </dl>
                            </li>
                            <li class="bg04">
                                <dl>
                                    <dt><img src="/ClientUI/user/images/contents/agency_logo04.png" alt="삼성" /></dt>
                                    <dd>
                                        <p>사회공헌사업 <span>공식 후원자</span></p>
                                    </dd>
                                </dl>
                            </li>
                        </ul>
                        <div class="txt_box">
                            <p>사이버폭력 예방 플랫폼 푸른코끼리는 전체 사업 주기 동안 다양한 참여자가 활동하는 사이버 거점 입니다. <br />정부부처, 지자체, 청소년, 협력자 그룹 등 안전한 사이버 세상을 만드는 일에 공감하는 이해관계자들이 함께 참여 합니다. <br /><b>대중의 지지 기반을 통해 도덕적 정당성을 확보하여, 사회운동 확산을 위한 뉴파워 조직을 구축합니다.</b></p>
                        </div>
                        <ul class="flow_list">
                            <li class="ico01">
                                <dl>
                                    <dt>푸코플랫폼 <strong>전체 사업 주기</strong></dt>
                                    <dd>
                                        3년 100만명 회원 <br />10년간 1억명 이용
                                        <p>사이버폭력 예방<span class="dib">플랫폼</span></p>
                                    </dd>
                                </dl>
                            </li>
                            <li class="ico02">
                                <dl>
                                    <dt>교육부 <strong>정책 수렴 및 입안</strong></dt>
                                    <dd>정책 홍보/학교 홍보</dd>
                                    <dd>학교 참여 독려/연계</dd>
                                </dl>
                            </li>
                            <li class="ico03">
                                <dl>
                                    <dt>지자체 <strong>지역사회 시민 연계</strong></dt>
                                    <dd>캠페인 및 정책참여</dd>
                                    <dd>시범사업 공동운영</dd>
                                </dl>
                            </li>
                            <li class="ico04">
                                <dl>
                                    <dt>청소년 <strong>주도적 디지털 시민참여</strong></dt>
                                    <dd>재미/흥미/참여 유도</dd>
                                    <dd>신고/상담/체험/교육</dd>
                                    <dd>리워드 혜택 참여 활동 포트폴리오</dd>
                                </dl>
                            </li>
                            <li class="ico05">
                                <dl>
                                    <dt>협력자 <strong>캠페인 공동운영</strong></dt>
                                    <dd>컨텐츠 제공</dd>
                                    <dd>교육·상담·IT 등 분야별 자문</dd>
                                    <dd>사회적 연결망 확산지원</dd>
                                </dl>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="sec sec_cooperator">
                    <h4 class="sec_tit">푸른코끼리 파트너스 모집</h4>
                    <div class="sec_cont">
                        <p class="txt">최근 우리 사회는 다양한 형태의 사이버폭력 문제를 마주하고 있습니다. 보이지 않는 사이버폭력 문제는 한 사람의 노력만으로는 해결할 수 없습니다. <br>청소년 사이버폭력 예방을 위해 우리와 함께 동행하여 주실 <span class="fc_blue">푸른코끼리 파트너스 모집</span>을 기다립니다.</p>
                        <ul class="cooperator_list">
                            <li class="bg01">
                                <dl>
                                    <dt>문화</dt>
                                    <dd>푸른코끼리 문화활동 운영 및 <span>홍보에 관한 사항</span></dd>
                                </dl>
                            </li>
                            <li class="bg02">
                                <dl>
                                    <dt>IT</dt>
                                    <dd>푸른코끼리 모바일 앱 개발 및 <span>운영에 관한 사항</span></dd>
                                </dl>
                            </li>
                            <li class="bg03">
                                <dl>
                                    <dt>상담</dt>
                                    <dd>사이버폭력 피·가해 청소년 상담 <span>운영에 관한 사항</span></dd>
                                </dl>
                            </li>
                            <li class="bg04">
                                <dl>
                                    <dt>교육</dt>
                                    <dd>찾아가는 예방교육 콘텐츠 개발 및 <span>강사양성, 예방교육실시에 관한 사항</span></dd>
                                </dl>
                            </li>
                            <li class="bg05">
                                <dl>
                                    <dt>연구 및 정책</dt>
                                    <dd>사이버폭력 연구 <span>수행에 관한 사항</span></dd>
                                </dl>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="sec sec_ambassador">
                    <h4 class="sec_tit">홍보대사</h4>
                    <div class="sec_cont">
                        <div class="ambassador_area">
                            <strong class="logo"><span class="blind">AB6IX</span></strong>
                            <ul class="member">
                                <li>
                                    <img src="/ClientUI/user/images/contents/ab6ix_mem01.jpg" alt="" class="pc" />
                                    <img src="/ClientUI/user/images/contents/m_ab6ix_mem01.jpg" alt="" class="mo" />
                                </li>
                                <li>
                                    <img src="/ClientUI/user/images/contents/ab6ix_mem02.jpg" alt="" class="pc" />
                                    <img src="/ClientUI/user/images/contents/m_ab6ix_mem02.jpg" alt="" class="mo" />
                                </li>
                                <li>
                                    <img src="/ClientUI/user/images/contents/ab6ix_mem03.jpg" alt="" class="pc" />
                                    <img src="/ClientUI/user/images/contents/m_ab6ix_mem03.jpg" alt="" class="mo" />
                                </li>
                                <li>
                                    <img src="/ClientUI/user/images/contents/ab6ix_mem04.jpg" alt="" class="pc" />
                                    <img src="/ClientUI/user/images/contents/m_ab6ix_mem04.jpg" alt="" class="mo" />
                                </li>
                            </ul>
                            <p class="txt_intro">멤버 자체 프로듀싱과 안무를 제작, <span>글로벌 뮤지션으로 인정받는 보이그룹</span></p>
                            <ul class="info">
                                <li>
                                    <strong>멤버</strong>
                                    <p>박우진, 이대휘, 전 웅, 김동현</p>
                                </li>
                                <li>
                                    <strong>소속사</strong>
                                    <p>브랜뉴뮤직</p>
                                </li>
                                <li>
                                    <strong>위촉일시</strong>
                                    <p>2020년 2월 20일</p>
                                </li>
                                <li>
                                    <strong>활동내용</strong>
                                    <p>대국민 비폭력 캠페인<br />사이버폭력 예방송 제작<br />찾아가는 푸른코끼리 콘서트<br />사이버폭력 예방 포럼 축하공연<br />나눔 문화 확산</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:replace="fragments/footer"></th:block>
</div>
</body>
</html>
