<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header"></th:block>
    <!--계정 찾기 페이지-->

    <!--추가되는 리소스 저장경로 start-->
    <link rel="stylesheet" type="text/css" th:href="@{/_temp/_user/_custom.css}">
    <script th:src="@{/_temp/_user/_style.js}"></script>
    <!--추가되는 리소스 저장경로 end-->

    <script type="application/javascript">
        var nm;
        var email;
        var email01;
        var email02;
        var email03;
        var findIdDiv;
        var btnLogin;

        function fn_findId(id) {
            btnLogin = $('#btnLogin');
            findIdDiv = $('#findIdDiv');
            findIdDiv.empty();

            nm = $('#nm');
            nm.siblings('.err.emph').remove();
            if(!$.trim(nm.val())){
                //alert('이름을 입력하세요');
                nm.after('<span class="err emph">이름을 입력하세요.</span>');
                nm.focus();
                return false;
            }
            var emailStr = "";
            email = $("#email");
            email01 = $("#email01");
            email02 = $("#email02");
            email03 = $("#email03");
            email.siblings('.err.emph').remove();
            if ($.trim(email01.val())) {
                emailStr += $.trim(email01.val());
                emailStr += "@"
            }else{
                //alert('이메일을 입력하세요');
                email.after('<span class="err emph">이메일을 입력하세요.</span>');
                email01.focus();
                return false;
            }

            if ($.trim(email02.val()) != "직접입력") {
                if(!$.trim(email02.val())){
                    //alert('이메일을 입력하세요');
                    email.after('<span class="err emph">이메일을 입력하세요.</span>');
                    email02.focus();
                    return false;
                }else{
                    emailStr += $.trim(email02.val());
                }
            }

            if ($.trim(email02.val()) == "직접입력") {
                if(!$.trim(email03.val())){
                    //alert('이메일을 입력하세요');
                    email.after('<span class="err emph">이메일을 입력하세요.</span>');
                    email03.focus();
                    return false;
                }else{
                    emailStr += $.trim(email03.val());
                }
            }

            email.val(emailStr);

            if(!emailCheck(email)){
                return false;
            }

            var jsonData = {
                'nm' : nm.val(),
                'email' : email.val()
            }
            $.ajax({
                type: 'post',
                url: '/api/member/idFind',
                contentType: "application/json",
                data: JSON.stringify(jsonData),
                datatype: 'json',
                success: function (data) {
                    var html = '';
                    if (data != null && data !== '') {
                        html += '<p>회원님의 아이디는 <strong class="fc_blue">' + data + '</strong>입니다.</p>';
                        findIdDiv.html(html);
                        btnLogin.show();
                    }else{
                        html += '<p><strong>회원정보가 일치하는 아이디가 없습니다.</strong></p>';
                        findIdDiv.html(html);
                        btnLogin.hide();
                    }
                    layerShow('popLoginTemp')
                },
                error: function (error) {
                    //alert('save error!!!');
                    alert('error::' + error.statusText);
                }
            });

        }
    </script>
</head>
<body oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>
<div id="wrap">
    <th:block th:include="fragments/header_gnb"></th:block>
    <div id="container">
        <th:block th:include="fragments/snb"></th:block>

        <div class="contents">
            <div class="page_top pc">
                <h3 class="page_tit">아이디/비밀번호 찾기</h3>
                <span>아이디 및 비밀번호를 잊으셨습니까?</span>
            </div>
            <div class="page_cont find_id_pw">
                <div class="tab_ico_area">
                    <a href="javascript:;" class="tit">아이디 찾기</a>
                    <ul class="tab_type_ico">
                        <li class="id active"><a href="/pages/member/idFind">아이디 찾기</a></li>
                        <li class="pw"><a href="/pages/member/pwFind">비밀번호 찾기</a></li>
                    </ul>
                </div>
                <h4 class="subtit pc">아이디 찾기</h4>
                <h4 class="submsg mo">아이디 및 비밀번호를 잊으셨습니까?</h4>
                <div class="tbl_write mt">
                    <ul>
                        <li>
                            <div class="th"><label for="nm">이름</label></div>
                            <div class="td">
                                <input type="text" name="nm" id="nm" placeholder="이름을 입력하세요">
                            </div>
                        </li>
                        <li>
                            <div class="th">이메일 주소</div>
                            <div class="td">
                                <div class="email_form clearfix"> <!-- [D] active 클래스가 있어야 직접입력 인풋이 노출 됨(style.js 에 들어가 있음) -->
                                    <input type="text" name="email01" id="email01" title="이메일 아이디 입력">
                                    <span class="at">@</span>
                                    <div class="select">
                                        <label for="email02">선택</label>
                                        <select name="email02" id="email02">
                                            <option value="">선택</option>
                                            <option value="naver.com">naver.com</option>
                                            <option value="gmail.com">gmail.com</option>
                                            <option value="hanmail.net">hanmail.net</option>
                                            <option value="nate.com">nate.com</option>
                                            <option value="daum.net">daum.net</option>
                                            <option value="직접입력">직접입력</option>
                                        </select>
                                    </div>
                                    <input type="text" name="email03" id="email03" class="email_inp" title="이메일주소 직접입력">
                                </div>
                                <input type="hidden" name="email" id="email"/>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="btn_area">
                    <a href="javascript:fn_findId();" id="btnFindId" class="btn btn_hg btn_blue btn_pill_10">아이디 찾기</a>
                </div>
            </div>
        </div>
    </div>
    <div id="popLoginTemp" class="layer_popup">
        <div class="dim"></div>
        <div class="popup_area">
            <a href="javascript:layerHide('popLoginTemp')" class="btn_close"><span class="blind">팝업닫기</span></a>
            <div class="popup">
                <div class="pop_txt" id="findIdDiv"></div>
                <div class="btn_area">
                    <a href="/login" id="btnLogin" class="btn btn_lg btn_blue btn_pill_10">로그인하기</a>
                    <a href="javascript:layerHide('popLoginTemp');" id="btnClose" class="btn btn_lg btn_gray btn_pill_10">닫기</a>
                </div>
            </div>
        </div>
    </div>
    <th:block th:replace="fragments/footer"></th:block>
</div>
</body>
</html>
