<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:include="soulGod/fragments/header"></th:block>
	<script type="text/javascript">
		$(function(){
			answerType();
			answerNum();

			$('input[name=aswDvTy]').change(function(){
				answerType();
			});

			$('#answerCnt').change(function(){
				answerNum();
			});

			$("#perPageNum").change(function(){
				var frm = $('#form1');
				frm.prop('action', '?');
				frm.submit();
			});
			$("#chkAll").change(function(){
				allSelect();
			});
			$("input[name=checkBox]").click(function(){
				$("#chkAll").prop("checked",false);
			});
			fn_setDatePicker('#st_ymd', {
				onShow:function( ct ){
					this.setOptions({
						maxDate:$('#end_ymd').val()?$('#end_ymd').val():false
					})
				}
			});

			fn_setDatePicker('#end_ymd', {
				onShow:function( ct ){
					this.setOptions({
						minDate:$('#st_ymd').val()?$('#st_ymd').val():false
					})
				}
			});

			$('#answerCnt').change(function (){
				var cnt = $(this).val();
				var html = '';
				for(i=0; i<cnt; i++){
					var idx = 0;
					idx = i+1;
					html += '<li>';
					html += '<dl>';
					html += '<dt>답변 '+idx+'</dt>';
					html += '<dd><input type="text" id="answerCnts'+idx+'" name="answerCnts" /></dd>';
					html += '</dl>';
					html += '</li>';
				}
				$('.answer_list').html(html);
			})
		});
		function allSelect() {
            if ($("#chkAll").is(':checked')) {
                $("input[name=checkBox]").prop("checked", true);
            } else {
                $("input[name=checkBox]").prop("checked", false);
            }
        }

		//설문 답변유형에 따른 입력폼 변경
		function answerType(){
			if($('#asw_dv_ty1').is(':checked')){
				$('.tr_objective').removeClass('dn').siblings('.tr_subjective').addClass('dn');
			}
			if($('#asw_dv_ty2').is(':checked')){
				$('.tr_subjective').removeClass('dn').siblings('.tr_objective').addClass('dn');
			}
		}

		//답변수 선택에 따른 답변 내용 입력 수 수정
		function answerNum(){
			var num = Number($('#answerCnt option:selected').val()) + 1;
			$('.answer_list > li').show();
			/*$('.answer_list > li:nth-child(n+'+num+')').hide();*/
		}

		function fn_questionSave(id){
			$("#qustnrPid").val(id);
			var aswDvTy = $("input[name=aswDvTy]:checked").val();
			if(aswDvTy == 'CHOICE'){
				var required = $("input[name=required]:checked").val();
				if(required == "N"){
					$("#rspnsCnt").val(0);
				} else {
					var rspns_cnt = $("#select_rspns_cnt").val();
					$("#rspnsCnt").val(rspns_cnt);
				}
			}else{
				var subjRequired = $("input[name=subjRequired]:checked").val();
				if(subjRequired == "Y"){
					$("#rspnsCnt").val(1);
				} else{
					$("#rspnsCnt").val(0);
				}
			}
			//validationCheck
			var qestnQesitm = $("#qestnQesitm");
			var answerCnt = $("#answerCnt").val();
			var rspnsCnt = $("#rspnsCnt").val();
			if (!$.trim(qestnQesitm.val())) {
				alert("질문 문항은 필수입니다.");
				qestnQesitm.focus();
				return false;
			}
			if (aswDvTy == 'CHOICE') {
				if(answerCnt < rspnsCnt){
					alert("응답여부는 답변수 보다 높을 수 없습니다.");
					return false;
				}
				for (var i=1; i<=answerCnt; i++) {
					var answerCnt = $("#answerCnts"+i);
					if (!$.trim(answerCnt.val())) {
						alert("답변은 필수입니다.");
						answerCnt.focus();
						return false;
					}
				}
			}
            var formData = $('#form1').serialize();
			$.ajax({
				type : 'post',
				url : '/api/soulGod/question/register',
				data : formData,
				datatype : 'json',
				success : function(data) {
					if (data === 'ok') {
						alert("저장되었습니다.");
						location.reload();
					} else if (data === 'exist') {
						alert('해당문항에 답변한 사용자가 있어 수정이 불가능합니다.');
					} else {
						alert('실패되었습니다 관리자에게 문의 하세요');
					}
				},
				error : function(error) {
					//alert('save error!!!');
					alert('error::' + error.statusText);
				}
			});
		}
		function fn_questionDetailShow(id){
			fn_questionReset();
			var jsonData = {
				'id' : id
			};
			$.ajax({
				type: 'post',
				url: '/api/soulGod/survey/detail',
				contentType: "application/json",
				data: JSON.stringify(jsonData),
				datatype: 'json',
				success: function (data) {
					$("#id").val(data.id);
					$("#sv_question").css("display","block");
					var num = data.aswDvTy == "CHOICE" ? 1:2;
					$("#asw_dv_ty"+num).prop("checked",true);
					answerType();
					$("#qestnQesitm").val(data.qestnQesitm);
					if(data.answerCnt != 0){
						$("#answerCnt").val(data.answerCnt);
						$('#answerCnt').niceSelect('update');
					}
					answerNum();
					if(data.rspnsCnt == 0){
						$("#requiredN").prop("checked",true);
						$("#subjRequiredN").prop("checked",true);
					}else{
						$("#select_rspns_cnt").val(data.rspnsCnt);
						$('#select_rspns_cnt').niceSelect('update');
					}
					fn_answerListLoad(data.id);
				},
				error: function (error) {
					//alert('save error!!!');
					alert('error::' + error.statusText);
				}
			});
		}
		function fn_answerListLoad(id){
			var jsonData = {
				'qesitmPid' : id
			}
			$.ajax({
				type: 'post',
				url: '/api/soulGod/answer/answerListLoad',
				contentType: "application/json",
				data: JSON.stringify(jsonData),
				datatype: 'json',
				success: function (data) {
					console.log(data);
					for(var i=0; i<data.length; i++){
						var num = i+1;
						console.log(num);
						console.log("answerCnts" +num);
						$("#answerCnts"+num).val(data[i].answerCnts);
						$("#answer_cnts_id"+num).val(data[i].id);
					}
			},
			error: function (error) {
					//alert('save error!!!');
					alert('error::' + error.statusText);
				}
			});
		}
		function fn_questionShow(){
			$('#id').val('');
			$('#qesitm_id').val('');
			fn_questionReset();
			$("#sv_question").css("display","block");
		}
		function fn_questionReset(){
			$("#answerCnt").val(5).niceSelect('update');
			$("#select_rspns_cnt").val(4);
			$('#select_rspns_cnt').niceSelect('update');
			$("input[name=aswDvTy]:first").prop('checked',true);
			$("input[name=subjRequired]:first").prop('checked',true);
			$("input[name=required]:first").prop('checked',true);
			answerType();
			answerNum();
			$("#qestnQesitm").val("");
			$("input[name=answerCnts]").val("");
			$("input[name=answer_cnts_id]").val("");
		}
		function fn_questionDelete(id){
			var checkedQuestion = $("input[name=checkBox]:checked").length;

			if(checkedQuestion == 0){
				alert("설문문항을 선택해주세요.");
				return false;
			}
			if(!confirm('선택된 설문문항을 삭제하시겠습니까?.')){
				return false;
			}
			$('#qustnrPid').val(id);
			var frm = $('#form1');
			frm.prop('action', '/api/survey/questionDelete');
			frm.submit();
		}
    </script>
</head>
<body>
<div id="wrap">
	<th:block th:include="soulGod/fragments/menu"></th:block>

	<div id="container">
		<div class="container_box">
			<form id="form1" name="form1" method="post" th:object="${form}">
				<input type="hidden" id="qustnrPid" name="qustnrPid">
				<input type="hidden" th:field="*{dvTy}" >
				<input type="hidden" id="id" name="id">
				<div class="contents">

					<ul class="breadcrumb">
						<li><i class="material-icons">home</i></li>
						<li th:text="*{dvTy eq T(kr.or.btf.web.domain.web.enums.SurveyDvType).SELF.name() ? '시스템관리' : '운영관리'}">운영관리</li>
						<li th:text="*{dvTy eq T(kr.or.btf.web.domain.web.enums.SurveyDvType).SELF.name() ? '자가진단관리' : '설문관리'}">설문 관리</li>
					</ul>

					<div class="board_detail clearfix">
						<div class="fl">
							<div class="sec">
								<div class="board_top clearfix">
									<div class="fl">
										<h4 class="sec_tit"><th:block th:text="*{dvTy eq T(kr.or.btf.web.domain.web.enums.SurveyDvType).SELF.name() ? '자가진단' : '설문'}"></th:block>상세 정보</h4>
									</div>
									<div class="fr">
										<a th:href="|/soulGod/survey/modify/*{id}|" class="btn btn_sm btn_blue" >
											<i class="material-icons fz17">done</i>
											<th:block th:text="*{dvTy eq T(kr.or.btf.web.domain.web.enums.SurveyDvType).SELF.name() ? '자가진단' : '설문'}"></th:block>
											 수정
										</a>
										<th:block th:if="*{dvTy ne T(kr.or.btf.web.domain.web.enums.SurveyDvType).SELF.name()}">
											<a href="/soulGod/survey/list" class="btn btn_sm btn_lightgray">
												<i class="material-icons mr1 fz19">subject</i>설문 목록
											</a>
										</th:block>
										<th:block th:if="*{dvTy eq T(kr.or.btf.web.domain.web.enums.SurveyDvType).SELF.name()}">
											<a th:href="|/soulGod/survey/list/*{dvTy}|" class="btn btn_sm btn_lightgray">
												<i class="material-icons mr1 fz19">subject</i>자가진단 목록
											</a>
										</th:block>
									</div>
								</div>
								<table class="tbl_write">
									<caption><th:block th:text="*{dvTy eq T(kr.or.btf.web.domain.web.enums.SurveyDvType).SELF.name() ? '자가진단' : '설문'}"></th:block>상세 정보</caption>
									<colgroup>
										<col style="width:140px" />
										<col style="width:calc(50% - 140px)" />
										<col style="width:140px" />
										<col style="width:calc(50% - 140px)" />
									</colgroup>
									<tbody>
									<tr>
										<th scope="row"><th:block th:text="*{dvTy eq T(kr.or.btf.web.domain.web.enums.SurveyDvType).SELF.name() ? '자가진단' : '설문'}"></th:block>제목</th>
										<td colspan="3" th:text="*{ttl}"></td>
									</tr>
									<tr>
										<th scope="row"><th:block th:text="*{dvTy eq T(kr.or.btf.web.domain.web.enums.SurveyDvType).SELF.name() ? '자가진단' : '설문'}"></th:block>구분</th>
										<td colspan="3" th:text="*{T(kr.or.btf.web.domain.web.enums.SurveyDvType).valueOf(dvTy).getName()}"></td>
									</tr>
									<!--<tr>
										<th scope="row">설문기간</th>
										<td colspan="3" th:text="*{stYmd + ' ~ ' + endYmd}"></td>
									</tr>-->
									<tr>
										<th scope="row">결과공개</th>
										<td colspan="3">
											<th:block th:if="*{opnAt eq 'Y'}">
												공개
											</th:block>
											<th:block th:unless="*{opnAt eq 'Y'}">
												미공개
											</th:block>
										</td>
									</tr>
									<tr>
										<th scope="row"><th:block th:text="*{dvTy eq T(kr.or.btf.web.domain.web.enums.SurveyDvType).SELF.name() ? '자가진단' : '설문'}"></th:block>개요</th>
										<td colspan="3">
											<div class="scrollbar h100 editor"
												 th:utext="*{#strings.replace(qustnrCn, T(System).getProperty('line.separator'), '&lt;br /&gt;')}">

											</div>
										</td>
									</tr>
									<tr>
										<th scope="row"><th:block th:text="*{dvTy eq T(kr.or.btf.web.domain.web.enums.SurveyDvType).SELF.name() ? '자가진단' : '설문'}"></th:block>대상</th>
										<td colspan="3" th:text="*{mberDvTy eq null ? '-' : T(kr.or.btf.web.domain.web.enums.UserRollType).valueOf(mberDvTy).getName()}">
										</td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
						<th:block th:if="*{id != null}">
							<div class="fr">
								<div class="sec">
									<h4 class="sec_tit"><th:block th:text="*{dvTy eq T(kr.or.btf.web.domain.web.enums.SurveyDvType).SELF.name() ? '자가진단' : '설문'}"></th:block>문항 현황</h4>
									<div class="board_top clearfix">
										<div class="fr">
											<a href="javascript:;" class="btn btn_sm btn_red" th:onclick="|fn_questionDelete(${form.id})|">
												<i class="material-icons">delete</i><th:block th:text="*{dvTy eq T(kr.or.btf.web.domain.web.enums.SurveyDvType).SELF.name() ? '자가진단' : '설문'}"></th:block>문항 삭제
											</a>
											<a href="javascript:;" class="btn btn_sm btn_blue" onclick="fn_questionShow()">
												<i class="material-icons">library_add</i><th:block th:text="*{dvTy eq T(kr.or.btf.web.domain.web.enums.SurveyDvType).SELF.name() ? '자가진단' : '설문'}"></th:block>문항 추가
											</a>
										</div>
									</div>
									<table class="tbl_list">
										<caption><th:block th:text="*{dvTy eq T(kr.or.btf.web.domain.web.enums.SurveyDvType).SELF.name() ? '자가진단' : '설문'}"></th:block>문항 현황</caption>
										<colgroup>
											<col style="width:5.5%" />
											<col style="width:5.5%" />
											<col style="width:auto" />
											<col style="width:15%" />
											<col style="width:10%" />
											<col style="width:10%" />
											<col style="width:10%" />
										</colgroup>
										<thead>
										<tr>
											<th scope="col">
												<div class="checkbox"><input type="checkbox" id="chkAll" /><label for="chkAll"><span class="blind">전체 선택</span></label></div>
											</th>
											<th scope="col">No</th>
											<th scope="col">질문명</th>
											<th scope="col">질문유형</th>
											<th scope="col">보기수</th>
											<th scope="col">응답수</th>
											<th scope="col">응답여부</th>
										</tr>
										</thead>
										<tbody>
										<th:block th:if="${!questionItems.isEmpty() and questionItems != null}">
											<tr th:each="item,idx : ${questionItems}">
												<td>
													<div class="checkbox"><input type="checkbox" th:id="|chk${idx.count}|" name="checkBox" th:value="${item.id}"/>
														<label th:for="|chk${idx.count}|"><span class="blind">선택</span></label>
													</div>
												</td>
												<td th:text="${idx.count}">1</td>
												<td>
													<a href="javascript:;" th:onclick="|fn_questionDetailShow(${item.id})|">
														<b th:text="${item.qestnQesitm}"></b>
													</a>
												</td>
												<td th:text="${item.aswDvTy eq T(kr.or.btf.web.domain.web.enums.AnswerType).CHOICE.name() ? '객관식' : '주관식'}">객관식</td>
												<td th:text="${item.answerCnt}">3</td>
												<td th:text="${item.rspnsCnt}">1</td>
												<td th:text="${item.rspnsCnt eq 0 ? '선택' : '필수'}">필수</td>
											</tr>
										</th:block>
										<th:block th:unless="${!questionItems.isEmpty() and questionItems != null}">
											<td colspan="7">등록된 정보 없습니다.</td>
										</th:block>
										</tbody>
									</table>
								</div>

								<div class="sec" id="sv_question" style="display:none">
									<div class="board_top clearfix">
										<div class="fl">
											<h4 class="sec_tit"><th:block th:text="*{dvTy eq T(kr.or.btf.web.domain.web.enums.SurveyDvType).SELF.name() ? '자가진단' : '설문'}"></th:block>문항 상세정보</h4>
										</div>
										<div class="fr">
											<a href="javascript:;" class="btn btn_sm btn_blue" th:onclick="|fn_questionSave(${form.id})|">
												<i class="material-icons fz17">done</i><th:block th:text="*{dvTy eq T(kr.or.btf.web.domain.web.enums.SurveyDvType).SELF.name() ? '자가진단' : '설문'}"></th:block>문항 저장
											</a>
										</div>
									</div>
									<table class="tbl_write">
										<colgroup>
											<col style="width:140px" />
											<col style="width:calc(50% - 140px)" />
											<col style="width:140px" />
											<col style="width:calc(50% - 140px)" />
										</colgroup>
										<tbody>
										<tr>
											<th scope="row">답변유형<span class="aster">*</span></th>
											<td colspan="3">
												<div class="radio txt" th:each="tp,idx : ${T(kr.or.btf.web.domain.web.enums.AnswerType).values()}">
													<input type="radio" name="aswDvTy" th:id="|asw_dv_ty${idx.count}|"
														   th:value="${tp}" th:checked="${idx.index eq 0}"/>
													<label th:for="|asw_dv_ty${idx.count}|" th:text="${tp.getName()}">선택형</label>
												</div>
											</td>
										</tr>
										<tr>
											<th scope="row">질문문항<span class="aster">*</span></th>
											<td colspan="3"><textarea name="qestnQesitm" id="qestnQesitm"></textarea></td>
										</tr>
										<tr class="tr_objective">
											<th scope="row">답변수<span class="aster">*</span></th>
											<td>
												<select name="answerCnt" id="answerCnt" class="w80">
													<option th:each="num:${#numbers.sequence(2,20)}"
															th:value="${num}" th:text="${num}"></option>
												</select>
											</td>
											<th scope="row">응답여부<span class="aster">*</span></th>
											<td>
												<div>
													<input type="hidden" id="rspnsCnt" name="rspnsCnt">
													<div class="radio txt mt5">
														<input type="radio" name="required" id="requiredY" value="Y"/>
														<label for="requiredY">필수</label>
													</div>
													<span class="dib vt lh30">(최대 </span>
													<select id="select_rspns_cnt" class="w80">
														<option value="1">1</option>
														<option value="2">2</option>
														<option value="3">3</option>
														<option value="4">4</option>
													</select>
													<span class="dib vt lh30">개)</span>
												</div>
												<div class="radio txt">
													<input type="radio" name="required" id="requiredN" value="N"/>
													<label for="requiredN">선택</label>
												</div>
											</td>
										</tr>
										<tr class="tr_objective">
											<th scope="row">답변내용</th>
											<td colspan="3">
												<ul class="answer_list">
													<li>
														<dl>
															<dt>답변 1</dt>
															<dd><input type="text" id='answerCnts1' name='answerCnts' /></dd>
														</dl>
													</li>
													<li>
														<dl>
															<dt>답변 2</dt>
															<dd><input type="text" id='answerCnts2' name='answerCnts' /></dd>
														</dl>
													</li>
													<li>
														<dl>
															<dt>답변 3</dt>
															<dd><input type="text" id='answerCnts3' name='answerCnts' /></dd>
														</dl>
													</li>
													<li>
														<dl>
															<dt>답변 4</dt>
															<dd><input type="text" id='answerCnts4' name='answerCnts' /></dd>
														</dl>
													</li>
													<li>
														<dl>
															<dt>답변 5</dt>
															<dd><input type="text" id='answerCnts5' name='answerCnts' /></dd>
														</dl>
													</li>
												</ul>
											</td>
										</tr>
										<tr class="tr_subjective">
											<th scope="row"><span class="aster">*</span>응답여부</th>
											<td colspan="3">
												<div class="radio txt">
													<input type="radio" name="subjRequired" id="subjRequiredY" value="Y"/>
													<label for="subjRequiredY">필수</label>
												</div>
												<div class="radio txt">
													<input type="radio" name="subjRequired" id="subjRequiredN" value="N"/>
													<label for="subjRequiredN">선택</label>
												</div>
											</td>
										</tr>
										</tbody>
									</table>
								</div>
							</div>
						</th:block>
					</div>
				</div>
			</form>
		</div>
		<th:block th:replace="soulGod/fragments/footer"></th:block>
	</div>
</div>
</body>
</html>
