<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header"></th:block>
</head>
<body oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>
    <div class="wrap">
        <th:block th:include="fragments/header_gnb"></th:block>
        <div id="container">
            <th:block th:include="fragments/mo_menu"></th:block>
            <div class="sub_container">
                <th:block th:include="fragments/dept_menu"></th:block>
                <!-- sub_inner -->
                <div class="inner">
                    <div class="page_cont">
                        <h4 class="subtit pc review_title">파트너스 모집</h4>
                        <div class="sub_text_box partners_text_box">
                            <div class="text">
                                <p class="title"/>
                                    청소년 사이버폭력 예방교육사업 푸른코끼리의 효율적인 추진 및 실효성 있는 예방교육을 위하여 <b></b>운영, 홍보, IT, 연구, 교육, 상담, 법률 및  정책 분야의 풍부한 경험을 가진 파트너스를 기다립니다. 많은 관심과 참여부탁드립니다.
                                </span>
                            </div>
                        </div>
                        <div class="sec_tit friends_02 partners">
                            <div class="friends_inner">
                                <div class="partner_inner">
                                    <div class="item_inner pat_1">
                                        <div class="partners_item">
                                            <div class="partners_tit">운영</div>
                                            <div class="partners_img">
                                                <img src="/ClientUI/user/images/contents/partners_01.png" alt="">
                                            </div>
                                            <div class="partners_desc">
                                                <p>
                                                    비영리의 전반적인<span></span>사업의 운영방향, <span></span>추진전략 논의
                                                </p>
                                            </div>
                                        </div>
                                        <div class="partners_item">
                                            <div class="partners_tit">홍보</div>
                                            <div class="partners_img">
                                                <img src="/ClientUI/user/images/contents/partners_02.png" alt="">
                                            </div>
                                            <div class="partners_desc">
                                                <p>
                                                    예방교육 문화확산을 위한 <span></span>청소년, 시민의 적극적<span></span> 참여방안 마련 및 사업홍보
                                                </p>
                                            </div>
                                        </div>
                                        <div class="partners_item">
                                            <div class="partners_tit">IT</div>
                                            <div class="partners_img">
                                                <img src="/ClientUI/user/images/contents/partners_03.png" alt="">
                                            </div>
                                            <div class="partners_desc">
                                                <p>
                                                    모바일 플랫폼 기획 아이디어<span></span> 공유 및 기술적 자문
                                                    <small>(모바일 앱, AI 및 빅데이터 등)</small>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="partners_item">
                                            <div class="partners_tit">연구</div>
                                            <div class="partners_img">
                                                <img src="/ClientUI/user/images/contents/partners_04.png" alt="">
                                            </div>
                                            <div class="partners_desc">
                                                <p>
                                                    사이버폭력 예방 연구참여 및 <span></span>결과 모니터링
                                                    <small>(문화연구, FGI, 컨퍼런스, 포럼 등)</small>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item_inner pat_2">
                                        <div class="partners_item">
                                            <div class="partners_tit">정책</div>
                                            <div class="partners_img">
                                                <img src="/ClientUI/user/images/contents/partners_05.png" alt="">
                                            </div>
                                            <div class="partners_desc">
                                                <p>
                                                    관련법률/제도개선 및 <span></span>옹호활동 참여
                                                    <small>(법률 및 정책제안, 국회청원 등)</small>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="partners_item">
                                            <div class="partners_tit">교육</div>
                                            <div class="partners_img">
                                                <img src="/ClientUI/user/images/contents/partners_06.png" alt="">
                                            </div>
                                            <div class="partners_desc">
                                                <p>
                                                    찾아가는 예방교육 콘텐츠 <span></span>개발 및 교육 모니터링 등
                                                </p>
                                            </div>
                                        </div>
                                        <div class="partners_item">
                                            <div class="partners_tit">상담</div>
                                            <div class="partners_img">
                                                <img src="/ClientUI/user/images/contents/partners_07.png" alt="">
                                            </div>
                                            <div class="partners_desc">
                                                <p>
                                                    사이버폭력 신고상담 체계 구축
                                                    <small>(피해자 상담 및 회복지원 매뉴얼,<span></span> 가족캠프, 사이버 또래 멘토링 등)</small>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="partners_item">
                                            <div class="partners_tit">국제</div>
                                            <div class="partners_img">
                                                <img src="/ClientUI/user/images/contents/partners_08.png" alt="">
                                            </div>
                                            <div class="partners_desc">
                                                <p>
                                                    사이버폭력 예방을 위한 국외<span></span>네트워크 및 성공모델 확산
                                                    <small>(컨퍼런스, 국제네트워크, 국외포럼 등)</small>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="partners_btn">
                                    <a class="join_btn" href="/pages/application/partnersRegister">신청하기</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<th:block
                            th:replace="/fragments/paging :: pagingbody(list=${postscripts}, link='/pages/activity/postscript', formId='form1')"></th:block>-->
                </div>
            </div>
        </div>
    </div>
    <th:block th:replace="fragments/footer"></th:block>
</div>
</body>
</html>