<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header"></th:block>
</head>
<!--<script>
    prop가 중요
    $(document).ready(function(e) {
        frm = $('#form1');
        $('#btnSave').on('click', function (e){
            frm.prop('action' , '/pages/application/partnersRegister/register')
            frm.submit();
        })
    })
</script>-->
<body oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>
<div id="wrap">
    <th:block th:include="fragments/header_gnb"></th:block>
    <div id="container">
        <th:block th:include="fragments/mo_menu"></th:block>
        <div class="sub_container">
            <th:block th:include="fragments/dept_menu"></th:block>

            <form action="/pages/application/partnersRegister/register" id="form1" name="form1" method="post" enctype="multipart/form-data">

                <div class="contents">
                    <div class="page_top pc">
                        <h3 class="page_tit">신청</h3>
                    </div>
                    <div class="sec_write">
                        <h4 class="subtit">파트너스 신청</h4>
                        <div class="tbl_write">
                            <ul>
                                <li>
                                    <div class="th">신청자 이름<span class="aster">*</span></div>
                                    <div class="td"><input id="nm" name="nm" type="text"/></div>
                                </li>
                                <li>
                                    <div class="th">신청자 핸드폰<span class="aster">*</span></div>
                                    <div class="td"><input id="moblphon" name="moblphon" type="number"/></div>
                                </li>
                                <li>
                                    <div class="th">소속<span class="aster">*</span></div>
                                    <div class="td"><input id="affi" name="affi" type="text"/></div>
                                </li>

                                <li>
                                    <input type="file" name="attachedFile" maxlength="1"  id="attachedFile" class="multi" />
                                    <label for="attachedFile">파일찾기</label>
                                </li>

                            </ul>
                            <div class="btn_area"><button id="btnSave" type="submit" class="btn btn_lg btn_blue btn_pill_10">등록</button></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <th:block th:replace="fragments/footer"></th:block>
</div>
</body>
</html>