<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header"></th:block>
</head>
<script>
    $(function (){
        alert('준비중입니다.')
        location.href='/soulGod/dashboard';
    })
</script>
<body oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>
<th:block th:include="fragments/header_gnb"></th:block>
<div id="container">
    <th:block th:include="fragments/mo_menu"></th:block>
    <div class="sub_container">
        <th:block th:include="fragments/dept_menu"></th:block>
        <div class="contents">
            <div class="page_cont">
                <div class="detail_cont">
                    <div class="top">
                        <div class="info_area">
                            <strong class="tit" th:text="|${prevention.schlNm} 예방교육 신청 정보|">OO학교 정보</strong>
                            <p class="count">
                                <span class="date"
                                      th:text="|등록일 : ${#temporals.format(prevention.regDtm,'yyyy.MM.dd')}|">등록일 : 2020.12.31</span>
                            </p>
                        </div>
                    </div>
                    <div class="bottom editor">
                        <p>
                            <span>학교이름 : </span>
                            <span th:text="${prevention.schlNm}"></span>
                        </p>
                        <p>
                            <span>주소 : </span>
                            <span th:text="${prevention.address}"></span>
                        </p>
                        <p>
                            <span>전화번호 : </span>
                            <span th:text="${prevention.tel}"></span>
                        </p>
                        <p>
                            <span>학급 수 : </span>
                            <span th:text="${prevention.classesNum}"></span>
                        </p>
                        <p>
                            <span>인원 : </span>
                            <span th:text="${prevention.personnel}"></span>
                        </p>
                        <p>
                            <span>모집상태 : </span>
                            <span th:text="${prevention.approval}"></span>
                        </p>
                    </div>
                    <div class="btn_area">
                        <th:block th:if="${preventionMaster ne null}">
                            <th:block th:if="${preventionMaster.approval == 'N'}">
                                <th:block th:if="${preventionMaster.tempSave == 'Y'}">
                                    <a th:href="|/pages/application/preeducation/${prevention.id}|" class="btn btn_lg btn_line_blue btn_pill_10">불러오기</a>
                                </th:block>
                                <th:block th:if="${preventionMaster.tempSave == 'N'}">
                                    <a class="btn btn_lg btn_line_blue btn_pill_10">신청완료</a>
                                </th:block>
                            </th:block>
                        </th:block>
                        <th:block th:if="${preventionMaster eq null}">
                            <a th:href="|/pages/application/preeducation/${prevention.id}|" class="btn btn_lg btn_line_blue btn_pill_10">신청하기</a>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="fragments/footer"></th:block>
</div>
</body>
</html>