<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header"></th:block>
</head>
<script type="text/javascript">
    function fn_search() {
        let frm = $('#form1');
        //frm.prop("action", "?");
        frm.submit();
    }
</script>
<body oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>
<th:block th:include="fragments/header_gnb"></th:block>
<div id="container">
    <th:block th:include="fragments/mo_menu"></th:block>
    <div class="sub_container">
        <th:block th:include="fragments/dept_menu"></th:block>
        <form id="form1" name="form1" method="post" th:object="${searchForm}">
            <div class="inner">
                <div class="page_cont">
                    <h4 class="subtit pc review_title">예방교육</h4>
                    <div class="sub_text_box partners_text_box">
                        <div class="text">
                            <p class="title">
                                예방교육이 필요한 학교의 리스트입니다.
                            </p>
                        </div>
                    </div>
                    <div class="board_top">
                        <div class="select w401">
                            <label>
                                전체
                            </label>
                            <select>
                                <option value="">전체</option>
                            </select>
                        </div>

                        <div class="search news w401_txt">
                            <input type="search" th:field="*{srchWord}" placeholder="검색어를 입력해 주세요"/>
                        </div>
                        <button type="submit" class="btn btn_blue btn_pill_10">검색</button>
                        <a href="/pages/activity/policyProposalRegister" class="btn btn_skyblue btn_pill_10">글쓰기</a>
                    </div>
                    <ul class="board_tbl_list type01">
                        <li class="thead">
                            <strong class="no">No</strong>
                            <strong class="tit">학교</strong>
                            <strong class="writer">전화번호</strong>
                            <strong class="date">등록일</strong>
                            <strong class="hits">완료여부</strong>
                        </li>
                        <th:block th:if="${(preList == null or preList.isEmpty())}">
                            <li class="nodata">
                                <div>등록된 게시글이 없습니다.</div>
                            </li>
                        </th:block>
                        <li th:each="item,idx : ${preList}">
                            <div class="no"
                                 th:text="${preList.totalElements - preList.pageable.pageSize * preList.pageable.pageNumber - idx.index}"></div>
                            <div class="tit" style="text-align: center;">
                                <a th:href="|/pages/application/preeducationDetail/${item.id}|" th:text="|${item.schlNm}|"></a>
                            </div>
                            <div class="writer">
                                <th:block th:text="${item.tel}"></th:block>
                            </div>
                            <div class="date">
                                <th:block th:text="${#temporals.format(item.regDtm,'yyyy.MM.dd')}">2020.10.15</th:block>
                            </div>
                            <div class="hits">
                                <th:block th:text="${item.approval == 'N' ? '구인중' : '구인완료'}"></th:block>
                            </div>
                        </li>
                    </ul>
                </div>
                <th:block
                        th:replace="/fragments/paging :: pagingbody(list=${preList}, link='/pages/application/preeducationList', formId='form1')"></th:block>
            </div>
        </form>
    </div>
</div>
<th:block th:replace="fragments/footer"></th:block>
</div>
</body>
</html>