<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header"></th:block>
</head>
<script>
    /* 기본정보 */
    let schlNm;
    let tel;
    let address;
    let classesNum;
    let personnel;

    let hp_schd1_personnel;
    let hp_schd1_et;
    let hp_schd1_wt;

    let hp_schd2_personnel;
    let hp_schd2_et;
    let hp_schd2_wt;

    let result_qna1;
    let result_qna2;
    let result_qna3;
    let result_qna4;
    let result_qna5;

    let agree1;
    let agree2;

    let tpSaveUs;

    let atPid;
    let pid;

    function fn_chkFiled() {
        schlNm = $('#schlNm');
        tel = $('#tel');
        address = $('#address');
        classesNum = $('#classesNum');
        personnel = $('#personnel');

        hp_schd1_personnel = $('#hp_schd1_personnel');
        hp_schd1_et = $('#hp_schd1_et');
        hp_schd1_wt = $('#hp_schd1_wt');

        hp_schd2_personnel = $('#hp_schd2_personnel');
        hp_schd2_et = $('#hp_schd2_et');
        hp_schd2_wt = $('#hp_schd2_wt');

        result_qna1 = $('input[name=resultQna1]');
        result_qna2 = $('input[name=resultQna2]');
        result_qna3 = $('input[name=resultQna3]');
        result_qna4 = $('input[name=resultQna4]');
        result_qna5 = $('input[name=resultQna5]');

        agree1 = $('input[name=agree1]');
        agree2 = $('input[name=agree2]');
        if(!schlNm.val() || !tel.val() || !address.val() || !classesNum.val() || !personnel.val()) {
            alert('학교정보가 존재하지않습니다. \n정상적인 경로를 이용하세요.')
            location.href ='/pages/application/preeducationList'
            return false;
        }

        if(!hp_schd1_personnel.val()) {
            alert('희망 1안 작성은 필수입니다.')
            hp_schd1_personnel.focus()
            return false;
        }
        if(!hp_schd1_et.val()) {
            alert('희망 1안 작성은 필수입니다.')
            hp_schd1_et.focus()
            return false;
        }
        if(!hp_schd1_wt.val()) {
            alert('희망 1안 작성은 필수입니다.')
            hp_schd1_wt.focus()
            return false;
        }

        if(!result_qna1.is(":checked")) {
            alert('확인사항을 체크하세요.')
            result_qna1.focus()
            return false;
        }
        if(!result_qna2.is(":checked")) {
            alert('확인사항을 체크하세요.')
            result_qna2.focus()
            return false;
        }
        if(!result_qna3.is(":checked")) {
            alert('확인사항을 체크하세요.')
            result_qna3.focus()
            return false;
        }
        if(!result_qna4.is(":checked")) {
            alert('확인사항을 체크하세요.')
            result_qna4.focus()
            return false;
        }
        if(!result_qna5.is(":checked")) {
            alert('확인사항을 체크하세요.')
            result_qna5.focus()
            return false;
        }

        if(!agree1.is(":checked")) {
            alert('개인정보 수집 동의는 필수입니다..')
            agree1.focus()
            return false;
        }
        if(!agree2.is(":checked")) {
            alert('개인정보 제공 동의는 필수입니다.')
            agree2.focus()
            return false;
        }
        return true;
    }

    function fn_register(gbn) {
        $('#btnTemSave').prop('disabled', true);
        $('#btnSave').prop('disabled', true);

        if (!fn_chkFiled()) {
            $('#btnTemSave').prop('disabled', false);
            $('#btnSave').prop('disabled', false);
            return false;
        }
        $('#tpSaveUs').val(gbn);
        let frm = $('#form1');
        frm.prop('action','/api/application/registerPreEdu')
        frm.submit();
    }

    $(document).ready(function () {
        atPid = $('#atPrePid');
        pid = $('#prePid');
        if(atPid.val()==pid.val()){
            alert("임시 저장된 데이터가 로드됩니다.");
        }

        $('.info_accordion .agree_inner ul').click(function () {
            $(this).toggleClass('agree_on')
        })

        //20210913_소개_예방교육 개인정보활용동의서
        $('.agree_item_01 .agree_top u').click(function () {
            $('.agr_cont1').toggleClass('agree_on')
        })
        $('.agree_item_02 .agree_top u').click(function () {
            $('.agr_cont2').toggleClass('agree_on')
        })

    })
</script>
<body oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>
<div id="wrap">
    <th:block th:include="fragments/header_gnb"></th:block>
    <div id="container">
        <th:block th:include="fragments/mo_menu"></th:block>
        <div class="sub_container">
            <th:block th:include="fragments/dept_menu"></th:block>
            <form id="form1" name="form1" method="post">
                <th:block th:if="${preventionMst != null}">
                    <input type="hidden" id="preMstPid" name="preMstPid" th:value="${preventionMst.id}">
                    <input type="hidden" id="atPrePid" th:value="${preventionMst.prePid}">
                </th:block>
                <input type="hidden" name="prePid" id="prePid" th:value="${pre_pid}">
                <input type="hidden" id="tpSaveUs" name="tempSave" value="N">
                <div class="inner">
                    <div class="page_cont">
                        <h4 class="subtit pc review_title">학교로 찾아가는 예방교육</h4>
                        <div class="school_edu_inner">
                            <div class="school_info">
                                <h2>신청 학교 정보<span class="aster">*</span></h2>
                                <div class="sec_write join">
                                    <div class="tbl_write">
                                        <ul>
                                            <li class="row">
                                                <div class="th">
                                                    <label for="schlNm">학교명</label>
                                                    <span class="aster">*</span>
                                                </div>
                                                <div class="td">
                                                    <th:block th:if="${preventionMst == null}">
                                                        <input type="text" id="schlNm" name="schlNm" th:value="${prevention.schlNm}" readonly>
                                                    </th:block>
                                                    <th:block th:if="${prevention == null}">
                                                        <input type="text" id="schlNm" name="schlNm" th:value="${preventionMst.schlNm}" readonly>
                                                    </th:block>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="th">
                                                    <label for="tel">대표번호</label>
                                                    <span class="aster">*</span>
                                                </div>
                                                <div class="td">
                                                    <th:block th:if="${preventionMst == null}">
                                                        <input type="text" id="tel" name="tel" th:value="${prevention.tel}" readonly>
                                                    </th:block>
                                                    <th:block th:if="${prevention == null}">
                                                        <input type="text" id="tel" name="tel" th:value="${preventionMst.tel}" readonly>
                                                    </th:block>

                                                </div>
                                            </li>
                                            <li>
                                                <div class="th">
                                                    <label for="address">주소</label>
                                                    <span class="aster">*</span>
                                                </div>
                                                <div class="td">
                                                    <th:block th:if="${preventionMst == null}">
                                                        <input type="text" id="address" name="address" th:value="${prevention.address}" readonly>
                                                    </th:block>
                                                    <th:block th:if="${prevention == null}">
                                                        <input type="text" id="address" name="address" th:value="${preventionMst.address}" readonly>
                                                    </th:block>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="school_info">
                                <h2>교육 신청 정보<span class="aster">*</span></h2>
                                <div class="sec_write join">
                                    <div class="tbl_write">
                                        <ul>
                                            <li>
                                                <div class="th">
                                                    <label for="classesNum">학급수</label>
                                                    <span class="aster"></span>
                                                </div>
                                                <div class="td">
                                                    <th:block th:if="${preventionMst == null}">
                                                        <input type="text" id="classesNum" name="classesNum" placeholder="총 학급수를 입력해주세요"  th:value="${prevention.classesNum}" readonly>
                                                    </th:block>
                                                    <th:block th:if="${prevention == null}">
                                                        <input type="text" id="classesNum" name="classesNum" placeholder="총 학급수를 입력해주세요"  th:value="${preventionMst.classesNum}" readonly>
                                                    </th:block>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="th">
                                                    <label for="personnel">인원</label>
                                                    <span class="aster">*</span>
                                                </div>
                                                <div class="td">
                                                    <th:block th:if="${preventionMst == null}">
                                                        <input type="text" id="personnel" name="personnel" th:value="${prevention.personnel}" readonly>
                                                    </th:block>
                                                    <th:block th:if="${prevention == null}">
                                                        <input type="text" id="personnel" name="personnel" th:value="${preventionMst.personnel}" readonly>
                                                    </th:block>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="school_info">
                                <h2>희망일정<span class="aster">*</span><small>희망일정에 대한 설명입니다. (1안만 작성 가능)</small></h2>
                                <div class="sec_write join">
                                    <div class="tbl_write">
                                        <ul>
                                            <li class="date">
                                                <div class="th">
                                                    <label>1안</label>
                                                    <span class="aster"></span>
                                                </div>
                                                <div class="td">
                                                    <div>
                                                        <span>인원</span>
                                                        <th:block th:if="${preventionMst == null}">
                                                            <input type="text" id="hp_schd1_personnel" name="hpSchd1Personnel" placeholder="희망 인원을 입력하세요.">
                                                        </th:block>
                                                        <th:block th:if="${prevention == null}">
                                                            <input type="text" id="hp_schd1_personnel" name="hpSchd1Personnel" placeholder="희망 인원을 입력하세요." th:value="${preventionMst.hpSchd1Personnel}">
                                                        </th:block>
                                                    </div>
                                                    <div>
                                                        <span>교육시간</span>
                                                        <th:block th:if="${preventionMst == null}">
                                                            <input type="text" id="hp_schd1_et" name="hpSchd1Et" placeholder="ex) 09:00 ~ 12:00">
                                                        </th:block>
                                                        <th:block th:if="${prevention == null}">
                                                            <input type="text" id="hp_schd1_et" name="hpSchd1Et" placeholder="희망 인원을 입력하세요." th:value="${preventionMst.hpSchd1Et}">
                                                        </th:block>
                                                    </div>
                                                    <div>
                                                        <span>일과시간</span>
                                                        <th:block th:if="${preventionMst == null}">
                                                            <input type="text" id="hp_schd1_wt" name="hpSchd1Wt" placeholder="ex) 09:00 ~ 12:00">
                                                        </th:block>
                                                        <th:block th:if="${prevention == null}">
                                                            <input type="text" id="hp_schd1_wt" name="hpSchd1Wt" placeholder="희망 인원을 입력하세요." th:value="${preventionMst.hpSchd1Wt}">
                                                        </th:block>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="date">
                                                <div class="th">
                                                    <label>2안</label>
                                                    <span class="aster"></span>
                                                </div>
                                                <div class="td">
                                                    <div>
                                                        <span>인원</span>
                                                        <th:block th:if="${preventionMst == null}">
                                                            <input type="text" id="hp_schd2_personnel" name="hpSchd2Personnel" placeholder="희망 인원을 입력하세요.">
                                                        </th:block>
                                                        <th:block th:if="${prevention == null}">
                                                            <input type="text" id="hp_schd2_personnel" name="hpSchd2Personnel" placeholder="희망 인원을 입력하세요." th:value="${preventionMst.hpSchd2Personnel}">
                                                        </th:block>
                                                    </div>
                                                    <div>
                                                        <span>교육시간</span>
                                                        <th:block th:if="${preventionMst == null}">
                                                            <input type="text" id="hp_schd2_et" name="hpSchd2Et" placeholder="ex) 09:00 ~ 12:00">
                                                        </th:block>
                                                        <th:block th:if="${prevention == null}">
                                                            <input type="text" id="hp_schd2_et" name="hpSchd2Et" placeholder="희망 인원을 입력하세요." th:value="${preventionMst.hpSchd2Et}">
                                                        </th:block>
                                                    </div>
                                                    <div>
                                                        <span>일과시간</span>
                                                        <th:block th:if="${preventionMst == null}">
                                                            <input type="text" id="hp_schd2_wt" name="hpSchd2Wt" placeholder="ex) 09:00 ~ 12:00">
                                                        </th:block>
                                                        <th:block th:if="${prevention == null}">
                                                            <input type="text" id="hp_schd2_wt" name="hpSchd2Wt" placeholder="희망 인원을 입력하세요." th:value="${preventionMst.hpSchd2Wt}">
                                                        </th:block>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="school_info">
                                <h2>확인사항</h2>
                                <div class="sec_write join">
                                    <div class="chk_item">
                                        <span>① 교육대상 사이버폭력 설문조사 가능 여부</span>
                                        <th:block th:if="${preventionMst == null}">
                                            <div class="radio_inner">
                                                <div>
                                                    <input type="radio" name="resultQna1" id="chk_01" value="Y">
                                                    <label for="chk_01">
                                                        <span>가능함</span>
                                                    </label>
                                                </div>
                                                <div>
                                                    <input type="radio" name="resultQna1" id="chk_02" value="N">
                                                    <label for="chk_02">
                                                        <span>가능하지않음</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </th:block>
                                        <th:block th:if="${prevention == null}">
                                            <div class="radio_inner">
                                                <div>
                                                    <input type="radio" name="resultQna1" id="chk_01" value="Y" th:checked="${preventionMst.resultQna1 == 'Y' ? true : false}">
                                                    <label for="chk_01">
                                                        <span>가능함</span>
                                                    </label>
                                                </div>
                                                <div>
                                                    <input type="radio" name="resultQna1" id="chk_02" value="N" th:checked="${preventionMst.resultQna1 == 'N' ? true : false}">
                                                    <label for="chk_02">
                                                        <span>가능하지않음</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </th:block>
                                    </div>
                                    <div class="chk_item">
                                        <span>② 교육대상 개인정보 수집 이용 동의 요청 가능 여부</span>
                                        <th:block th:if="${preventionMst == null}">
                                            <div class="radio_inner">
                                                <div>
                                                    <input type="radio" name="resultQna2" id="chk_03" value="Y">
                                                    <label for="chk_03">
                                                        <span>가능함</span>
                                                    </label>
                                                </div>
                                                <div>
                                                    <input type="radio" name="resultQna2" id="chk_04" value="N">
                                                    <label for="chk_04">
                                                        <span>가능하지않음</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </th:block>
                                        <th:block th:if="${prevention == null}">
                                            <div class="radio_inner">
                                                <div>
                                                    <input type="radio" name="resultQna2" id="chk_03" value="Y" th:checked="${preventionMst.resultQna2 == 'Y' ? true : false}">
                                                    <label for="chk_03">
                                                        <span>가능함</span>
                                                    </label>
                                                </div>
                                                <div>
                                                    <input type="radio" name="resultQna2" id="chk_04" value="N" th:checked="${preventionMst.resultQna2 == 'N' ? true : false}">
                                                    <label for="chk_04">
                                                        <span>가능하지않음</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </th:block>
                                    </div>
                                    <div class="chk_item">
                                        <span>③ 푸른코끼리 학교장 선언 운동 참여 의사</span>
                                        <th:block th:if="${preventionMst == null}">
                                            <div class="radio_inner">
                                                <div>
                                                    <input type="radio" name="resultQna3" id="chk_05" value="Y">
                                                    <label for="chk_05">
                                                        <span>있음</span>
                                                    </label>
                                                </div>
                                                <div>
                                                    <input type="radio" name="resultQna3" id="chk_06" value="N">
                                                    <label for="chk_06">
                                                        <span>없음</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </th:block>
                                        <th:block th:if="${prevention == null}">
                                            <div class="radio_inner">
                                                <div>
                                                    <input type="radio" name="resultQna3" id="chk_05" value="Y" th:checked="${preventionMst.resultQna3 == 'Y' ? true : false}">
                                                    <label for="chk_05">
                                                        <span>가능함</span>
                                                    </label>
                                                </div>
                                                <div>
                                                    <input type="radio" name="resultQna3" id="chk_06" value="N" th:checked="${preventionMst.resultQna3 == 'N' ? true : false}">
                                                    <label for="chk_06">
                                                        <span>가능하지않음</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </th:block>
                                    </div>
                                    <div class="chk_item">
                                        <span>④ 푸른코끼리 지지크루(동아리) 신청 의사</span>
                                        <th:block th:if="${preventionMst == null}">
                                            <div class="radio_inner">
                                                <div>
                                                    <input type="radio" name="resultQna4" id="chk_07" value="Y">
                                                    <label for="chk_07">
                                                        <span>있음</span>
                                                    </label>
                                                </div>
                                                <div>
                                                    <input type="radio" name="resultQna4" id="chk_08" value="N">
                                                    <label for="chk_08">
                                                        <span>없음</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </th:block>
                                        <th:block th:if="${prevention == null}">
                                            <div class="radio_inner">
                                                <div>
                                                    <input type="radio" name="resultQna4" id="chk_07" value="Y" th:checked="${preventionMst.resultQna4 == 'Y' ? true : false}">
                                                    <label for="chk_07">
                                                        <span>가능함</span>
                                                    </label>
                                                </div>
                                                <div>
                                                    <input type="radio" name="resultQna4" id="chk_08" value="N" th:checked="${preventionMst.resultQna4 == 'N' ? true : false}">
                                                    <label for="chk_08">
                                                        <span>가능하지않음</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </th:block>
                                    </div>
                                    <div class="chk_item">
                                        <span>⑤ 푸른코끼리 대국민 비폭력 캠페인 참여 의사</span>
                                        <th:block th:if="${preventionMst == null}">
                                            <div class="radio_inner">
                                                <div>
                                                    <input type="radio" name="resultQna5" id="chk_09" value="Y">
                                                    <label for="chk_09">
                                                        <span>있음</span>
                                                    </label>
                                                </div>
                                                <div>
                                                    <input type="radio" name="resultQna5" id="chk_10" value="N">
                                                    <label for="chk_10">
                                                        <span>없음</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </th:block>
                                        <th:block th:if="${prevention == null}">
                                            <div class="radio_inner">
                                                <div>
                                                    <input type="radio" name="resultQna5" id="chk_09" value="Y" th:checked="${preventionMst.resultQna5 == 'Y' ? true : false}">
                                                    <label for="chk_09">
                                                        <span>가능함</span>
                                                    </label>
                                                </div>
                                                <div>
                                                    <input type="radio" name="resultQna5" id="chk_10" value="N" th:checked="${preventionMst.resultQna5 == 'N' ? true : false}">
                                                    <label for="chk_10">
                                                        <span>가능하지않음</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </th:block>
                                    </div>
                                </div>
                            </div>
                            <div class="agree_inner_02">
                                <h2>개인정보 수집 ・ 이용 동의서</h2>
                                <div class="agree_item_01 agree_item">
                                    <div class="agree_top">
                                        <input type="checkbox" id="chk_11" name="agree1">
                                        <label for="chk_11">
                                            <span>[ 개인정보 수집 이용에 대한 동의 ]</span>
                                        </label>
                                        <u>보기</u>
                                    </div>
                                    <div class="agree_contents agr_cont1">
                                        <p>
                                            푸른나무재단에서 2021 청소년 사이버폭력 예방교육 사업 푸른코끼리 학교로 찾아가는 교육 신청서 접수 및 결과 안내를 목적으로 아래와
                                            같이
                                            개인정보를 수집 및 이용합니다.
                                        </p>
                                        <p class="agree_desc">
                                            ▪︎ 목적 : 신청서 접수 및 출강 여부 결과 회신 동의 서비스 제공 <b></b>
                                            ▪︎ 수집 항목 : 정보주체의 성명, 소속, 주소, 업무 등<b></b>
                                            ▪︎ 보유 및 이용시간 : 개인정보 수집 및 이용목적이 달성된 후에는 해당정보를 즉기 파기합니다. 단, 출강 확정 후 서비스 제공 및
                                            민원 처리
                                            동의 소속 작업물 위해 3년간 보유 및 이용됩니다. 또한, 신청서 삭제 요청 시 까지 위 이용 목적을 위하여 보유이용됩니다. 그러나
                                            신청서 삭제
                                            요청 시 신청자의 개인정보를 재생 불가능한 방법으로 즉시 파기합니다. <b></b>
                                        </p>
                                        <span>
                                                ※ 귀하는 이에 대한 동의를 거부할 수 있으며, 다만 동의가 없을 경우 교육신청 접속에 제한 할 수 있음을 알려드립니다.
                                            </span>
                                    </div>
                                </div>
                                <div class="agree_item_02 agree_item">
                                    <div class="agree_top">
                                        <input type="checkbox" id="chk_12" name="agree2">
                                        <label for="chk_12">
                                            <span>[ 개인정보의 제3자 제공에 대한 동의  ]</span>
                                        </label>
                                        <u>보기</u>
                                    </div>
                                    <div class="agree_contents agr_cont2">
                                        <p class="agree_desc">
                                            ▪︎ 제공받는 곳 : 교육부, 시랑의열매, 삼성경제연구소, 감성전자, 삼성디스플레이, 삼성전기, 삼성SDI, 삼성SDS <b></b>
                                            ▪︎ 목적 : 배분 사업 수행 관련 증빙서류 제출<b></b>
                                            ▪︎ 수집 항목 : 정보주체의 성명, 소속, 연락처, 주소 업무 등 <b></b>
                                            ▪︎ 보유 및 이용기간 10년 <b></b>
                                        </p>
                                        <span>
                                                ※ 개인정보 제공자가 불리한 내용 외의 다른 목적으로 활용하지 않으며, 제공한 개인정보의 이용을 거부하고자 할 때에는 열람, 정정, 삭제를 요구할 수 있습니다.
                                            </span>
                                    </div>
                                </div>
                                <p class="more_info">
                                    <span>・신청서 작성 후 임시저장 버튼 클릭시 신청기간 중 언제라도 신청서를 다시 수정 하실 수 있습니다.</span>
                                    <span>・신청기간 내 제출하기 버튼을 클릭하지 않을 시 접수 처리가 되지 않으니 이 점 유의하시기 바랍니다.</span>
                                </p>
                            </div>
                            <div class="partners_edu_btn">
                                <button class="save_btn" id="btnTemSave" onclick="return fn_register('Y')">임시저장</button>
                                <button class="join_btn" id="btnSave" onclick="return fn_register('N')">제출하기</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <th:block th:replace="fragments/footer"></th:block>
</div>
</body>
</html>