<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header"></th:block>
</head>
<script>
    let nm
    let moblphon
    let affi
    let agree002
    let attachedFile
    let schlNm
    let representPhone
    let adress
    let studentNum
    let accidentsNum
    let principalNm
    let principalPhone
    let principalEmail
    let size

    function fn_chkField(){
        nm = $('#nm')
        moblphon = $('#moblphon')
        affi = $('#affi')
        agree002 = $('#agree002')
        attachedFile = $('#attachedFile')
        schlNm = $('#schlNm')
        representPhone = $('#representPhone')
        adress = $('#adress')
        studentNum = $('#studentNum')
        accidentsNum = $('#accidentsNum')
        principalNm = $('#principalNm')
        principalPhone = $('#principalPhone')
        principalEmail = $('#principalEmail')
        size = $('#size')
        if(!nm.val()){
            alert('신청자 이름은 필수 입력사항 입니다.')
            nm.focus();
            return false
        }
        if(!moblphon.val()){
            alert('신청자 연락처는 필수 입력사항 입니다.')
            moblphon.focus();
            return false
        }
        if(!affi.val()){
            alert('신청자 소속은 필수 입력사항 입니다.')
            affi.focus();
            return false
        }
        if(!agree002.is(":checked")) {
            alert("개인정보 활용에 동의 해주세요.")
            agree002.focus();
            return false;
        }
        if(!attachedFile.val()){
            alert('증빙서류를 제출하지 않으면 검토 소요시간이 오래걸릴 수 있습니다.')
            attachedFile.focus();
        }
        if(!schlNm.val()){
            alert('학교명은 필수 입력사항 입니다.')
            schlNm.focus();
            return false
        }
        if(!representPhone.val()){
            alert('대표번호는 필수 입력사항 입니다.')
            representPhone.focus();
            return false
        }
        if(!adress.val()){
            alert('주소는 필수 입력사항 입니다.')
            adress.focus();
            return false
        }
        if(!studentNum.val()){
            alert('전교생 수는 필수 입력사항 입니다.')
            studentNum.focus();
            return false
        }
        if(!accidentsNum.val()){
            alert('교내 학교폭력 신고 접수 건수는 필수 입력사항 입니다.')
            accidentsNum.focus();
            return false
        }
        if(!principalNm.val()){
            alert('학교장 성함은 필수 입력사항 입니다.')
            principalNm.focus();
            return false
        }
        if(!principalPhone.val()){
            alert('학교장 휴대폰은 필수 입력사항 입니다.')
            principalPhone.focus();
            return false
        }
        if(!principalEmail.val()){
            alert('학교장 이메일은 필수 입력사항 입니다.')
            principalEmail.focus();
            return false
        }
        if(!size.val()){
            alert('티셔츠 사이즈는 필수 입력사항 입니다. ex) XS , S , M , L , XL')
            return false
        }
        return true
    }
    function fn_register() {

        $('#btnSave').prop('disabled', true);

        if (!fn_chkField()) {
            $('#btnSave').prop('disabled', false);
            return false;
        }
        let frm = $('#form1');
        frm.prop('action' , '/pages/application/zzdeclareRegister')
        frm.submit();
    }


    $(document).ready(function (){

        <!--2021/09/21 kjw 개인정보활용동의서-->
        $('.info_accordion .agree_inner ul').click(function(){
            $(this).toggleClass('agree_on')
        })

        //20210913_소개_예방교육 개인정보활용동의서
        $('.agree_item_01 .agree_top u').click(function(){
            $('.agr_cont1').toggleClass('agree_on')
        })
        $('.agree_item_02 .agree_top u').click(function(){
            $('.agr_cont2').toggleClass('agree_on')
        })

    })
</script>
<body oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>
<div class="wrap">
    <th:block th:include="fragments/header_gnb"></th:block>
    <div id="container">
        <th:block th:include="fragments/mo_menu"></th:block>
        <div class="sub_container">
            <th:block th:include="fragments/dept_menu"></th:block>
            <form id="form1" name="form1" method="post" enctype="multipart/form-data">
                <div class="inner">
                    <div class="page_cont">
                        <h4 class="subtit pc review_title">2021년 1학기 지지선언 신청</h4>
                        <div class="partners">
                            <div class="partners_inner ">
                                <div class="sec_write join">
                                    <div class="tbl_write">
                                        <ul>
                                            <li>
                                                <div class="th">
                                                    <label for="nm">신청자 이름</label>
                                                    <span class="aster">*</span>
                                                </div>
                                                <div class="td">
                                                    <input id="nm" name="nm" type="text">
                                                </div>
                                            </li>
                                            <li>
                                                <div class="th">
                                                    <label for="moblphon">신청자 핸드폰</label>
                                                    <span class="aster">*</span>
                                                </div>
                                                <div class="td">
                                                    <input id="moblphon" name="moblphon" type="number">
                                                </div>
                                            </li>
                                            <li>
                                                <div class="th">
                                                    <label for="affi">소속</label>
                                                    <span class="aster">*</span>
                                                </div>
                                                <div class="td">
                                                    <input id="affi" name="affi" type="text">
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="info_accordion">
                                    <div class="agree_inner agree_contents">
                                        <ul>
                                            <span>개인정보 활용 동의서(필수)</span>
                                            <li>
                                                <p>
                                                    푸른나무재단에서 2021 청소년 사이버폭력 예방교육 사업 푸른코끼리 학교로 찾아가는 교육 신청서 접수 및 결과 안내를 목적으로 아래와 같이 개인정보를 수집 및 이용합니다.
                                                </p>
                                                <p class="agree_desc">
                                                    ▪︎ 목적 : 신청서 접수 및 출강 여부 결과 회신 동의 서비스 제공 <b></b>
                                                    ▪︎ 수집 항목 : 정보주체의 성명, 소속, 주소, 업무 등<b></b>
                                                    ▪︎ 보유 및 이용시간 : 개인정보 수집 및 이용목적이 달성된 후에는 해당정보를 즉기 파기합니다. 단, 출강 확정 후 서비스 제공 및 민원 처리 동의 소속 작업물 위해 3년간 보유 및 이용됩니다. 또한, 신청서 삭제 요청 시 까지 위 이용 목적을 위하여 보유이용됩니다. 그러나 신청서 삭제 요청 시 신청자의 개인정보를 재생 불가능한 방법으로 즉시 파기합니다. <b></b>
                                                </p>
                                                <span>
                                                    ※ 귀하는 이에 대한 동의를 거부할 수 있으며, 다만 동의가 없을 경우 교육신청 접속에 제한 할 수 있음을 알려드립니다.
                                                </span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="checkbox">
                                        <input type="checkbox" id="agree002">
                                        <label for="agree002">
                                            <span>동의함</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="sec_write join">
                                    <div class="tbl_write upload">
                                        <ul>
                                            <li class="m_mode">
                                                <div class="th">
                                                    <label for="attachedFile">증빙서류</label>
                                                </div>
                                                <div th:if="${fileList != null and !fileList.isEmpty()}">
                                                    <th:block th:each="item: ${fileList}">
                                                        <p class="file" th:if="${T(kr.or.btf.web.domain.web.enums.FileDvType).THUMB.name() eq item.dvTy}">
                                                            <span th:text="${item.flNm}">첨부파일.txt</span>
                                                            <a href="javascript:;" class="btn_del" th:onclick="|fn_deleteFile(${item.id}, this)| ">
                                                                <span class="blind">삭제</span>
                                                            </a>
                                                        </p>
                                                    </th:block>
                                                </div>
                                                <div class="td">
                                                    <input type="file" name="attachedFile" id="attachedFile" class="multi" >
                                                    <label for="attachedFile" id="box" >증빙서류를 업로드하세요</label>
                                                    <label  for="attachedFile">파일검색</label>
                                                </div>
                                            </li>

                                            <li>
                                                <div class="th">
                                                    <label for="reason">신청사유</label>
                                                </div>
                                                <div class="td">
                                                    <input id="reason" name="reason" type="text">
                                                </div>
                                            </li>

                                            <li>
                                                <div class="th">
                                                    <label for="schedule">희망일정</label>
                                                </div>
                                                <div class="td">
                                                    <input name="schedule" id="schedule" type="text" placeholder="ex) 20210914">
                                                </div>
                                            </li>

                                            <li class="sns">
                                                <div class="th">
                                                    <label for="root">학교장 선언운동을 알게된 경로</label>
                                                </div>
                                                <div class="td">
                                                    <div class="sns_chk_inner checkbox">
                                                        <input type="checkbox" id="sns_chk1" name="root" value="instargram">
                                                        <label class="sns" for="sns_chk1">
                                                            <span>인스타그램</span>
                                                        </label>
                                                    </div>
                                                    <div class="sns_chk_inner checkbox">
                                                        <input type="checkbox" id="sns_chk2" name="root" value="youtube">
                                                        <label class="sns" for="sns_chk2">
                                                            <span>유튜브</span>
                                                        </label>
                                                    </div>
                                                    <div class="sns_chk_inner checkbox">
                                                        <input type="checkbox" id="sns_chk3" name="root" value="facebook">
                                                        <label class="sns" for="sns_chk3">
                                                            <span>페이스북</span>
                                                        </label>
                                                    </div>
                                                    <div class="sns_chk_inner checkbox">
                                                        <input type="checkbox" id="sns_chk4" name="root" value="naverblog">
                                                        <label class="sns" for="sns_chk4">
                                                            <span>네이버블로그</span>
                                                        </label>
                                                    </div>
                                                    <div class="sns_chk_inner checkbox">
                                                        <input type="checkbox" id="sns_chk5" name="root" value="kakaochannel">
                                                        <label class="sns" for="sns_chk5">
                                                            <span>카카오톡채널</span>
                                                        </label>
                                                    </div>
                                                    <b></b>
                                                    <div class="sns_chk_inner checkbox">
                                                        <input type="checkbox" id="sns_chk6" name="root" value="friend">
                                                        <label class="sns" for="sns_chk6">
                                                            <span>지인추천</span>
                                                        </label>
                                                    </div>
                                                    <div class="sns_chk_inner checkbox">
                                                        <input type="checkbox" id="sns_chk7" name="root" value="bluetreehome">
                                                        <label class="sns" for="sns_chk7">
                                                            <span>푸른나무재단 홈페이지</span>
                                                        </label>
                                                    </div>
                                                    <div class="sns_chk_inner checkbox">
                                                        <input type="checkbox" id="sns_chk8" name="root" value="blueelphome">
                                                        <label class="sns" for="sns_chk8">
                                                            <span>푸른코끼리 홈페이지</span>
                                                        </label>
                                                    </div>
                                                    <div class="sns_chk_inner checkbox">
                                                        <input type="checkbox" id="sns_chk9" name="root" value="blueelpapp">
                                                        <label class="sns" for="sns_chk9">
                                                            <span>푸른코끼리 앱</span>
                                                        </label>
                                                    </div>
                                                    <div class="sns_chk_inner checkbox">
                                                        <input type="checkbox" id="sns_chk10" name="root" value="etc">
                                                        <label class="sns" for="sns_chk10">
                                                            <span>기타</span>
                                                        </label>
                                                    </div>
                                                    <span id="root"></span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="school_info">
                                    <h2>학교 및 학교장 정보</h2>
                                    <div class="sec_write join">
                                        <div class="tbl_write">
                                            <ul>
                                                <li class="row">
                                                    <div class="th">
                                                        <label for="schlNm">학교명</label>
                                                        <span class="aster">*</span>
                                                    </div>
                                                    <div class="td">
                                                        <input type="text" id="schlNm" name="schlNm">
                                                        <button id="schl_chk" tpye="button" class="btn_line_blue">중복확인</button>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="th">
                                                        <label for="representPhone">대표번호</label>
                                                        <span class="aster">*</span>
                                                    </div>
                                                    <div class="td">
                                                        <input id="representPhone" name="representPhone" type="number">
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="th">
                                                        <label for="adress">주소</label>
                                                        <span class="aster">*</span>
                                                    </div>
                                                    <div class="td">
                                                        <input id="adress" name="adress" type="text">
                                                    </div>
                                                </li>
                                                <li class="small_bx">
                                                    <div class="th">
                                                        <label for="studentNum">전교생 수</label>
                                                        <span class="aster">*</span>
                                                    </div>
                                                    <div class="td">
                                                        <input id="studentNum" name="studentNum" type="number">
                                                    </div>
                                                </li>
                                                <li class="small_bx">
                                                    <div class="th">
                                                        <label for="accidentsNum">2020년도 교내 <b></b>학교폭력 신고 접수 건수</label>
                                                        <span class="aster">*</span>
                                                    </div>
                                                    <div class="td">
                                                        <input id="accidentsNum" name="accidentsNum" type="number">
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="th">
                                                        <label for="principalNm">학교장 성함</label>
                                                        <span class="aster">*</span>
                                                    </div>
                                                    <div class="td">
                                                        <input id="principalNm" name="principalNm" type="text">
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="th">
                                                        <label for="principalPhone">학교장 휴대폰 </label>
                                                        <span class="aster">*</span>
                                                    </div>
                                                    <div class="td">
                                                        <input id="principalPhone" name="principalPhone" type="number">
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="th">
                                                        <label for="principalEmail">학교장 이메일 </label>
                                                        <span class="aster">*</span>
                                                    </div>
                                                    <div class="td">
                                                        <input id="principalEmail" name="principalEmail" type="text">
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="th">
                                                        <label for="size">티셔츠 사이즈 </label>
                                                        <span class="aster">*</span>
                                                    </div>
                                                    <div class="td">
                                                        <input name="size" id="size" type="text" placeholder="XS , S , M , L , XL">
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <p class="more_text">
                                        <span>(* 필수기재 사항 )</span>
                                        <small>※ 학교 외 개인 및 단체의 경우 별도 신청바랍니다.</small>
                                        <small>☎︎ 070-7165-1082 / cybersoscenter@btf.or.kr</small>
                                    </p>
                                </div>
                                <div class="btn_area">
                                    <a onclick="return fn_register()" id="btnSave" class="btn list_btn">제출</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <th:block th:replace="fragments/footer"></th:block>
</div>
</body>
</html>