<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header"></th:block>
    <script type="text/javascript">
        function fn_search() {
            var frm = $('#form1');
            //frm.prop("action", "?");
            frm.submit();
        }
    </script>
</head>
<body oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>
<div id="wrap">
    <th:block th:include="fragments/header_gnb"></th:block>
    <div id="container">
        <th:block th:include="fragments/mo_menu"></th:block>
        <div class="sub_container">
            <th:block th:include="fragments/dept_menu"></th:block>

            <form id="form1" name="form1" method="post" th:object="${searchForm}">

                <div class="inner">
                    <!--<div class="page_top pc">
                        <h3 class="page_tit">푸코소식</h3>
                        <span>사이버폭력 예방과 근절을 위해 오늘도 뛰고 있는 푸코소식을 들어봐요.</span>
                    </div>-->
                    <div class="page_cont">
                        <!--                    <div class="tab_ico_area">-->
                        <!--                        <a href="javascript:;" class="tit">-->
                        <!--                            <th:block th:if="${#numbers.formatInteger(mstPid, 0) eq @environment.getProperty('common.code.mediaCdPid')}">언론보도</th:block>-->
                        <!--                            <th:block th:if="${#numbers.formatInteger(mstPid, 0) eq @environment.getProperty('common.code.publicationCdPid')}">간행물</th:block>-->
                        <!--                            <th:block th:if="${#numbers.formatInteger(mstPid, 0) eq @environment.getProperty('common.code.newsCdPid')}">소식</th:block>-->
                        <!--                        </a>-->
                        <!--                        <ul class="tab_type_ico">-->
                        <!--                            <li class="notice" th:classappend="${#numbers.formatInteger(mstPid, 0) eq @environment.getProperty('common.code.noticeCdPid') ? 'active' : ''}">-->
                        <!--                                <a href="/pages/news/notice">공지사항</a></li>-->
                        <!--                            <li class="news" th:classappend="${#numbers.formatInteger(mstPid, 0) eq @environment.getProperty('common.code.newsCdPid') ? 'active' : ''}">-->
                        <!--                                <a th:href="|/pages/news/list/${#numbers.formatInteger(@environment.getProperty('common.code.newsCdPid'), 0)}|">소식·행사</a></li>-->
                        <!--                            <li class="event"><a href="/pages/news/event">캘린더</a></li>-->
                        <!--                            <li class="media" th:classappend="${#numbers.formatInteger(mstPid, 0) eq @environment.getProperty('common.code.mediaCdPid') ? 'active' : ''}">-->
                        <!--                                <a th:href="|/pages/news/list/${#numbers.formatInteger(@environment.getProperty('common.code.mediaCdPid'), 0)}|">언론보도</a></li>-->
                        <!--                            <li class="publication" th:classappend="${#numbers.formatInteger(mstPid, 0) eq @environment.getProperty('common.code.publicationCdPid') ? 'active' : ''}">-->
                        <!--                                <a th:href="|/pages/news/list/${#numbers.formatInteger(@environment.getProperty('common.code.publicationCdPid'), 0)}|">간행물</a></li>-->
                        <!--                        </ul>-->
                        <!--                        <p class="mo_page_txt">사이버폭력 예방과 근절을 위해 오늘도 뛰고 있는 푸코소식을 들어봐요.</p>-->
                        <!--                    </div>-->
                        <h4 class="subtit" th:text="${boardMaster.bbsNm}">언론보도</h4>

                        <!--<div class="board_top">
                            <div class="select w160">
                                <label th:for="sntncHead">
                                    <th:block th:if="*{sntncHead eq null or sntncHead eq ''}">전체</th:block>
                                    <th:block th:each="item: ${#strings.arraySplit(boardMaster.sntncHead,',')}">
                                        <th:block th:if="${searchForm.sntncHead eq item}" th:text="${item}"></th:block>
                                    </th:block>
                                </label>
                                <select th:field="*{sntncHead}">
                                    <option value="">전체</option>
                                    <option th:each="item : ${#strings.arraySplit(boardMaster.sntncHead,',')}"
                                            th:text="${item}" th:value="${item}"></option>
                                </select>
                            </div>
                            <div class="select w160">
                                <label th:for="srchField">
                                    <!--<th:block th:if="*{srchField eq '' or srchField eq null}">전체</th:block>-->
                                    <!--<th:block th:if="*{srchField eq 'title' or srchField eq '' or srchField eq null}">
                                        제목
                                    </th:block>
                                    <th:block th:if="*{srchField eq 'cn'}">내용</th:block>
                                    <th:block th:if="*{srchField eq 'titleCn'}">제목+내용</th:block>
                                    <th:block th:if="*{srchField eq 'wrterNm'}">작성자</th:block>
                                </label>
                                <select th:field="*{srchField}">
                                    <!--<option value="" selected>전체</option>-->
                                    <!--<option value="title">제목</option>
                                    <option value="cn">내용</option>
                                    <option value="titleCn">제목+내용</option>
                                    <option value="wrterNm">작성자</option>
                                </select>
                            </div>
                            <div class="search news">
                                <input type="search" th:field="*{srchWord}" placeholder="검색어를 입력해 주세요"/>
                            </div>
                            <button type="submit" class="btn btn_blue btn_pill_10">검색</button>
                            <!--<div class="select w160">
                                <label th:for="sorting">
                                    <th:block th:if="*{sorting eq 'latest' or sorting eq null or sorting eq ''}">최신순
                                    </th:block>
                                    <th:block th:if="*{sorting eq 'old'}">오래된순</th:block>
                                    <th:block th:if="*{sorting eq 'readCnt'}">조회순</th:block>
                                    <th:block th:if="*{sorting eq 'alphabetically'}">가나다순</th:block>
                                </label>
                                <select th:field="*{sorting}" onchange="fn_search()">
                                    <option value="latest" selected>최신순</option>
                                    <option value="old">오래된순</option>
                                    <option value="readCnt">조회순</option>
                                    <option value="alphabetically">가나다순</option>
                                </select>
                            </div>-->
                            <!--<div class="select_2">
                                <button>최신순</button>
                                <button>오래된순</button>
                                <button>조회순</button>
                                <button>가나다순</button>
                            </div>
                        </div>-->

                        <div class="board_top review_board">
                            <div class="select_bx">
                                <div class="select w160 title">
                                    <label th:for="srchGbnParent">
                                        <th:block th:if="*{srchGbnParent eq '' or srchGbnParent eq null}">전체</th:block>
                                        <th:block th:each="item : ${commonCodes}">
                                            <th:block th:if="${searchForm.srchGbnParent eq item.id}" th:text="${item.codeNm}">제목</th:block>
                                        </th:block>
                                    </label>
                                    <select th:field="*{srchGbnParent}" onchange="fn_codeList(this)">
                                        <option value="" selected>전체</option>
                                        <th:block th:each="item : ${commonCodes}">
                                            <option th:value="${item.id}" th:text="${item.codeNm}"></option>
                                        </th:block>
                                    </select>
                                </div>
                                <div class="select w160 subject">
                                    <label id="srchGbnChildLabel" th:for="srchGbnChild">
                                        <th:block th:if="*{srchGbnChild eq '' or srchGbnChild eq null}">전체</th:block>
                                    </label>
                                    <select th:field="*{srchGbnChild}">
                                        <option value="" selected>전체</option>
                                    </select>
                                </div>
                            </div>
                            <div class="select_bx2">
                                <div class="search news">
                                    <input type="search" th:field="*{srchWord}" placeholder="검색어를 입력해 주세요" />
                                </div>
                                <button type="submit" class="btn btn_blue btn_pill_10">검색</button>
                            </div>
                        </div>


                        <!--<div class="select w160">
                            <label th:for="sorting">
                                <th:block th:if="*{sorting eq 'latest' or sorting eq null or sorting eq ''}">최신순
                                </th:block>
                                <th:block th:if="*{sorting eq 'old'}">오래된순</th:block>
                                <th:block th:if="*{sorting eq 'readCnt'}">조회순</th:block>
                                <th:block th:if="*{sorting eq 'alphabetically'}">가나다순</th:block>
                            </label>
                            <select th:field="*{sorting}" onchange="fn_search()">
                                <option value="latest" selected>최신순</option>
                                <option value="old">오래된순</option>
                                <option value="readCnt">조회순</option>
                                <option value="alphabetically">가나다순</option>
                            </select>
                        </div>-->
                        <div class="select_2">
                            <button>최신순</button>
                            <button>오래된순</button>
                            <button>조회순</button>
                            <button>가나다순</button>
                        </div>


                    <ul class="thumb_list clearfix gallery">
                        <th:block th:if="${boardDatas == null or boardDatas.isEmpty()}"><!--등록된 글이 없을 경우-->
                                <li class="nodata">
                                    <div>등록된 게시글이 없습니다.</div>
                                </li>
                            </th:block>
                            <li th:each="item : ${boardDatas}">
                                <a th:href="|/pages/news/detail/${item.id}|">
                                    <span class="thumb"><img th:src="${filePath} + '/' + ${item.thumbFileNm}"
                                                             th:alt="${item.thumbFileNm}"
                                                             onerror="this.src='/ClientUI/user/images/contents/nodata01.png'"/></span>
                                    <th:block th:if="${item.sntncHead ne ''}">
                                        <strong class="tit" th:text="|[${item.sntncHead}]  ${item.ttl}|"></strong>
                                    </th:block>
                                    <th:block th:unless="${item.sntncHead ne ''}">
                                        <strong class="tit" th:text="${item.ttl}"></strong>
                                    </th:block>
                                    <span class="date" th:text="${#temporals.format(item.ntceDt,'yyyy.MM.dd')}">2020.01.22</span>
                                </a>
                            </li>
                            <!--<li>
                                <a href="/pages/news/detail">
                                    <span class="thumb"><img src="/ClientUI/user/images/contents/nodata01.png" alt="사이버폭력의 실제 모습이 궁금한가요?" onerror="this.src='/ClientUI/user/images/contents/nodata01.png'" /></span>
                                    <strong class="tit">OO중학교 사이버 폭력 근절단</strong>
                                    <span class="date">2020.01.22</span>
                                </a>
                            </li>
                            <li>
                                <a href="/pages/news/detail">
                                    <span class="thumb"><img src="/ClientUI/user/images/contents/nodata01.png" alt="사이버폭력의 실제 모습이 궁금한가요?" onerror="this.src='/ClientUI/user/images/contents/nodata01.png'" /></span>
                                    <strong class="tit">OO중학교 사이버 폭력 근절단</strong>
                                    <span class="date">2020.01.22</span>
                                </a>
                            </li>-->
                        </ul>
                    </div>
                    <th:block
                            th:replace="/fragments/paging :: pagingbody(list=${boardDatas}, link='/pages/news/list/' + ${mstPid}, formId='form1')"></th:block>
                </div>
            </form>
        </div>
    </div>
    <th:block th:replace="fragments/footer"></th:block>

</div>
</body>
</html>
