<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header"></th:block>
    <script type="text/javascript">
        function fn_search() {
            var frm = $('#form1');
            //frm.prop("action", "?");
            frm.submit();
        }
    </script>
</head>
<body oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>
<div id="wrap">
    <th:block th:include="fragments/header_gnb"></th:block>
    <div id="container">
        <th:block th:include="fragments/mo_menu"></th:block>
        <div class="sub_container">
            <th:block th:include="fragments/dept_menu"></th:block>
            <form id="form1" name="form1" method="post" th:object="${searchForm}">
                <div class="contents">
                    <div class="page_cont">
                        <h4 class="subtit pc" th:text="${boardMaster.bbsNm}">언론보도</h4>
                        <div class="board_top review_board">
                            <div class="select_bx">
                                <div class="select w160 title">
                                    <label th:for="srchGbnParent">
                                        <th:block th:if="*{srchGbnParent eq '' or srchGbnParent eq null}">전체</th:block>
                                        <th:block th:each="item : ${commonCodes}">
                                            <th:block th:if="${searchForm.srchGbnParent eq item.id}" th:text="${item.codeNm}">제목</th:block>
                                        </th:block>
                                    </label>
                                    <select th:field="*{srchGbnParent}" onchange="fn_codeList(this)">
                                        <option value="" selected>전체</option>
                                        <th:block th:each="item : ${commonCodes}">
                                            <option th:value="${item.id}" th:text="${item.codeNm}"></option>
                                        </th:block>
                                    </select>
                                </div>
                                <div class="select w160 subject">
                                    <label id="srchGbnChildLabel" th:for="srchGbnChild">
                                        <th:block th:if="*{srchGbnChild eq '' or srchGbnChild eq null}">전체</th:block>
                                    </label>
                                    <select th:field="*{srchGbnChild}">
                                        <option value="" selected>전체</option>
                                    </select>
                                </div>
                            </div>
                            <div class="select_bx2">
                                <div class="search news">
                                    <input type="search" th:field="*{srchWord}" placeholder="검색어를 입력해 주세요" />
                                </div>
                                <button type="submit" class="btn btn_blue btn_pill_10">검색</button>
                            </div>
                        </div>
                        <div role="option" class="option notice_select">
                            <!--<label th:for="sorting">
                                <th:block th:if="*{sorting eq 'latest' or sorting eq null or sorting eq ''}">최신순</th:block>
                                <th:block th:if="*{sorting eq 'old'}">오래된순</th:block>
                                <th:block th:if="*{sorting eq 'readCnt'}">조회순</th:block>
                                <th:block th:if="*{sorting eq 'alphabetically'}">가나다순</th:block>
                            </label>-->
                            <select class="select notice_option_select" th:field="*{sorting}" onchange="fn_search()"
                                    size='2'>
                                <option value="latest" selected>최신순</option>
                                <option value="old">오래된순</option>
                                <option value="readCnt">조회순</option>
                                <option value="alphabetically">가나다순</option>
                            </select>
                        </div>
<!--                        <div class="select_2">-->
<!--                            <button>최신순</button>-->
<!--                            <button>오래된순</button>-->
<!--                            <button>조회순</button>-->
<!--                            <button>가나다순</button>-->
<!--                        </div>-->


                    <ul class="thumb_list clearfix gallery">
                        <th:block th:if="${boardDatas == null or boardDatas.isEmpty()}"><!--등록된 글이 없을 경우-->
                                <li class="nodata">
                                    <div>등록된 게시글이 없습니다.</div>
                                </li>
                            </th:block>
                            <li th:each="item : ${boardDatas}">
                                <a th:href="|/pages/news/detail/${item.id}|">
                                    <span class="thumb"><img th:src="${filePath} + '/' + ${item.thumbFileNm}"
                                                             th:alt="${item.thumbFileNm}"
                                                             onerror="this.src='/ClientUI/user/images/contents/nodata01.png'"/></span>
                                    <th:block th:if="${item.sntncHead ne ''}">
                                        <strong class="tit" th:text="|[${item.sntncHead}]  ${item.ttl}|"></strong>
                                    </th:block>
                                    <th:block th:unless="${item.sntncHead ne ''}">
                                        <strong class="tit" th:text="${item.ttl}"></strong>
                                    </th:block>
                                    <span class="date" th:text="${#temporals.format(item.ntceDt,'yyyy.MM.dd')}">2020.01.22</span>
                                </a>
                            </li>
                            <!--<li>
                                <a href="/pages/news/detail">
                                    <span class="thumb"><img src="/ClientUI/user/images/contents/nodata01.png" alt="사이버폭력의 실제 모습이 궁금한가요?" onerror="this.src='/ClientUI/user/images/contents/nodata01.png'" /></span>
                                    <strong class="tit">OO중학교 사이버 폭력 근절단</strong>
                                    <span class="date">2020.01.22</span>
                                </a>
                            </li>
                            <li>
                                <a href="/pages/news/detail">
                                    <span class="thumb"><img src="/ClientUI/user/images/contents/nodata01.png" alt="사이버폭력의 실제 모습이 궁금한가요?" onerror="this.src='/ClientUI/user/images/contents/nodata01.png'" /></span>
                                    <strong class="tit">OO중학교 사이버 폭력 근절단</strong>
                                    <span class="date">2020.01.22</span>
                                </a>
                            </li>-->
                        </ul>
                    </div>
                    <th:block
                            th:replace="/fragments/paging :: pagingbody(list=${boardDatas}, link='/pages/news/list/' + ${mstPid}, formId='form1')"></th:block>
                </div>
            </form>
        </div>
    </div>
    <th:block th:replace="fragments/footer"></th:block>

</div>
</body>
</html>
