<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header"></th:block>
</head>
<script>
    let user_type_01;
    let user_type_02;
    $(document).ready(function (){
        user_type_01 = $('.user_type_01');
        user_type_02 = $('.user_type_02');

        user_type_01.on('click',function (){
            location.href = '/pages/activity/abilityCardSetp1/a'
        })

        user_type_02.on('click',function (){
            location.href = '/pages/activity/abilityCardSetp1/b'
        })
    })
</script>
<body oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>
    <div id="wrap">
        <th:block th:include="fragments/header_gnb"></th:block>
        <div id="container">
            <th:block th:include="fragments/mo_menu"></th:block>
            <div class="sub_container">
                <th:block th:include="fragments/dept_menu"></th:block>

                <div class="card_inner inner hi">
                    <h1>능력카드 제작소</h1>
                    <b id="mycard">능력카드를 제작합니다.</b>
                    <div class="user_type">
                        <button class="user_type_01">
                            처음이세요?
                        </button>
                        <button class="user_type_02">
                            예방교육<b></b> 수강중이신가요?
                        </button>
                    </div>
                </div>
            </div>
            <th:block th:replace="fragments/footer"></th:block>
        </div>
    </div>
</body>
</html>