<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header"></th:block>
</head>
<script type="text/javascript">
    $(function () {
        $(".bodyContainer").hide();
        $("#helpType01_body").show();
        if ([[${isMobile}]]) {
            $("select[name=helpType]").change(function () {
                fn_reset();
                var value = $(this).prop("value");
                $(".bodyContainer").hide();
                $("#" + value + "_body").show();
            });
        } else {
            $("input[name=helpType]").change(function () {
                fn_reset();
                var id = $(this).prop("id");
                $(".bodyContainer").hide();
                $("#" + id + "_body").show();
            });
        }

        fn_setDatePicker('#incdnt_st_ymd', {
            onShow:function( ct ){
                this.setOptions({
                    maxDate:$('#incdnt_end_ymd').val()?$('#incdnt_end_ymd').val():new Date().toISOString().substring(0, 10)
                })
            }
        });

        fn_setDatePicker('#incdnt_end_ymd', {
            onShow:function( ct ){
                this.setOptions({
                    minDate:$('#incdnt_st_ymd').val()?$('#incdnt_st_ymd').val():false,
                    maxDate:new Date().toISOString().substring(0, 10)
                })
            }
        });

        fn_setDatePicker('#telHopeStYmd', {
            onShow:function( ct ){
                this.setOptions({
                    maxDate:$('#telHopeEndYmd').val()?$('#telHopeEndYmd').val():false
                })
            }
        });

        fn_setDatePicker('#telHopeEndYmd', {
            onShow:function( ct ){
                this.setOptions({
                    minDate:$('#telHopeStYmd').val()?$('#telHopeStYmd').val():false
                })
            }
        });

        fn_setDatePicker('#faceHopeStYmd', {
            onShow:function( ct ){
                this.setOptions({
                    maxDate:$('#faceHopeEndYmd').val()?$('#faceHopeEndYmd').val():false
                })
            }
        });

        fn_setDatePicker('#faceHopeEndYmd', {
            onShow:function( ct ){
                this.setOptions({
                    minDate:$('#faceHopeStYmd').val()?$('#faceHopeStYmd').val():false
                })
            }
        });

    });
    function fn_save(gbn) {
        if(!fn_validationChk(gbn)){
            return;
        }
        var frm = null;
        if (gbn == 'board') {
            frm = $('#helpType01_body');
            frm.prop('action', '/api/openData/helpRequest/adviceRequest/register');
        } else if (gbn == 'tel') {
            frm = $('#helpType03_body');
            frm.prop('action', '/api/openData/helpRequest/adviceReservation/register');
        } else if (gbn == 'face') {
            frm = $('#helpType04_body');
            frm.prop('action', '/api/openData/helpRequest/adviceReservation/register');
        }

        if (frm) {
            frm.prop("method", "post");
            frm.prop("enctype", "multipart/form-data");
            frm.submit();
        }
    }
    function fn_validationChk(gbn) {
        if ([[${isMobile}]]) {
            if (gbn == 'board') {
                var mberDvTy = $('select[id=mberDvTy]');
                var worry = $('select[id=worry]');
            } else if (gbn == 'tel') {
                var mberDvTy = $('select[id=telMberDvTy]');
                var worry = $('select[id=telWorry]');
            } else if (gbn == 'face') {
                var mberDvTy = $('select[id=faceMberDvTy]');
                var worry = $('select[id=faceWorry]');
            }
        } else {
            var mberDvTy = $('input[name=mberDvTy]:checked');
            var worry = $('input[name=worry]:checked');
        }
        var ttl = $('input[name=ttl]');
        var cn = $('textarea[name=cn]');
        //var cnts = $('textarea[name=cnts]');
        var incdntStYmd = $('input[name=incdntStYmd]');
        var incdntEndYmd = $('input[name=incdntEndYmd]');
        var bdyDmgeCodePid = $('select[name=bdyDmgeCodePid]');
        var mindDmgeCodePid = $('select[name=mindDmgeCodePid]');
        var physiclDmgeCodePid = $('select[name=physiclDmgeCodePid]');
        var pwd = $('input[name=pwd]');
        //var nm = $('input[name=nm]');
        //var areaCodePid = $('select[name=areaCodePid]');
        //var telno = $('input[name=telno]');
        //var hopeStYmd = $('input[name=hopeStYmd]');
        //var hopeEndYmd = $('input[name=hopeEndYmd]');
        if ([[${isMobile}]]) {
            if (gbn == 'tel') {
                var hopeTimeCodeId = $('select[id=telHopeTimeCodeId]');
            } else if (gbn == 'face') {
                var hopeTimeCodeId = $('select[id=faceHopeTimeCodeId]');
            }
        } else {
            var hopeTimeCodeId = $('input[name=hopeTimeCodeId]:checked');
        }

        /*if (mberDvTy.val() == null || mberDvTy.val() == "") {
            alert('대상은 필수입니다.');
            return false;
        }
        if ([[${isMobile}]]) {
            if (worry.val() == null || worry.val() == "") {
                alert('고민은 필수입니다.');
                return false;
            }
        } else {
            if (worry.length < 1) {
                alert('고민은 필수입니다.');
                return false;
            }
        }*/

        if (gbn == 'board') {
            if (!$.trim($('#ttl').val())) {
                alert('제목은 필수입니다.');
                return false;
            }
            if (!$.trim(cn.val())) {
                alert('내용은 필수입니다.');
                return false;
            }
            if (!incdntStYmd.val()) {
                alert('사건시작기간은 필수입니다.');
                incdntStYmd.focus();
                return false;
            }
            if (!incdntEndYmd.val()) {
                alert('사건시작기간은 필수입니다.');
                incdntEndYmd.focus();
                return false;
            }
            /*if (!bdyDmgeCodePid.val()) {
                alert('신체적 피해는 필수입니다.');
                bdyDmgeCodePid.focus();
                return false;
            }
            if (!mindDmgeCodePid.val()) {
                alert('정신적 피해는 필수입니다.');
                mindDmgeCodePid.focus();
                return false;
            }
            if (!physiclDmgeCodePid.val()) {
                alert('물질적 피해는 필수입니다.');
                physiclDmgeCodePid.focus();
                return false;
            }*/
            if (!$.trim(pwd.val())) {
                alert('비밀번호는 필수입니다.')
                return false;
            }
        } else if (gbn == 'tel') {
            if (!$.trim($('#telTtl').val())) {
                alert('제목은 필수입니다.');
                return false;
            }
            if (!$.trim($('#telNm').val())) {
                alert('이름은 필수입니다.');
                return false;
            }
            if (!$('#telAreaCodePid').val()) {
                alert('지역은 필수입니다.');
                return false;
            }
            if (!$.trim($('#telCnts').val())) {
                alert('내용은 필수입니다.');
                return false;
            }
            if (!$.trim($('#telTelno').val())) {
                alert('연락처는 필수입니다.');
                return false;
            }
            if (!$('#telHopeStYmd').val()) {
                alert('희망일자는 필수입니다.');
                $('#telHopeStYmd').focus();
                return false;
            }
            if (!$('#telHopeEndYmd').val()) {
                alert('희망일자는 필수입니다.');
                $('#telHopeEndYmd').focus();
                return false;
            }
            if ([[${isMobile}]]) {
                if (hopeTimeCodeId.val() == null || hopeTimeCodeId.val() == "") {
                    alert('희망시간은 필수입니다.');
                    return false;
                }
            } else {
                if (hopeTimeCodeId.length < 1) {
                    alert('희망시간은 필수입니다.');
                    return false;
                }
            }

        } else if (gbn == 'face') {
            if (!$.trim($('#faceTtl').val())) {
                alert('제목은 필수입니다.');
                return false;
            }
            if (!$.trim($('#faceNm').val())) {
                alert('이름은 필수입니다.');
                return false;
            }
            if (!$('#faceAreaCodePid').val()) {
                alert('지역은 필수입니다.');
                return false;
            }
            if (!$.trim($('#faceCnts').val())) {
                alert('내용은 필수입니다.');
                return false;
            }
            if (!$.trim($('#faceTelno').val())) {
                alert('연락처는 필수입니다.');
                return false;
            }
            if (!$('#faceHopeStYmd').val()) {
                alert('희망일자는 필수입니다.');
                $('#faceHopeStYmd').focus();
                return false;
            }
            if (!$('#faceHopeEndYmd').val()) {
                alert('희망일자는 필수입니다.');
                $('#faceHopeEndYmd').focus();
                return false;
            }
            if ([[${isMobile}]]) {
                if (hopeTimeCodeId.val() == null || hopeTimeCodeId.val() == "") {
                    alert('희망시간은 필수입니다.');
                    return false;
                }
            } else {
                if (hopeTimeCodeId.length < 1) {
                    alert('희망시간은 필수입니다.');
                    return false;
                }
            }
        }

        return true;
    }
    function fn_reset() {
        if ([[${isMobile}]]) {
            var mberDvTy = $('select[name=mberDvTy]');
            var worry = $('select[name=worry]');
        } else {
            var mberDvTy = $('input[name=mberDvTy]:checked');
            var worry = $('input[name=worry]:checked');
        }
        var ttl = $('input[name=ttl]');
        var cn = $('textarea[name=cn]');
        var cnts = $('textarea[name=cnts]');
        var incdntStYmd = $('input[name=incdntStYmd]');
        var incdntEndYmd = $('input[name=incdntEndYmd]');
        var bdyDmgeCodePid = $('select[name=bdyDmgeCodePid]');
        var mindDmgeCodePid = $('select[name=mindDmgeCodePid]');
        var physiclDmgeCodePid = $('select[name=physiclDmgeCodePid]');
        var pwd = $('input[name=pwd]');
        var nm = $('input[name=nm][type=text]');
        var areaCodePid = $('select[name=areaCodePid]');
        var telno = $('input[name=telno][type=text]');
        var hopeStYmd = $('input[name=hopeStYmd]');
        var hopeEndYmd = $('input[name=hopeEndYmd]');

        if ([[${isMobile}]]) {
            mberDvTy.val('');
            $('#boardMberDvTyLabel').text('선택');
            $('#telMberDvTyLabel').text('선택');
            $('#faceMberDvTyLabel').text('선택');
            worry.val('');
            $('#boardWorryLabel').text('선택');
            $('#telWorryLabel').text('선택');
            $('#faceWorryLabel').text('선택');
        } else {
            mberDvTy.prop('checked', false);
            worry.prop('checked', false);
        }
        ttl.val('');
        cn.val('');
        cnts.val('');
        incdntStYmd.val('');
        incdntEndYmd.val('');
        bdyDmgeCodePid.val('');
        mindDmgeCodePid.val('');
        physiclDmgeCodePid.val('');
        if ([[${isMobile}]]) {
            $('#bdyDmgeCodePidLabel').text('신체적피해');
            $('#mindDmgeCodePidLabel').text('정신적피해');
            $('#physiclDmgeCodePidLabel').text('물질적피해');
        } else {
            $('#bdyDmgeCodePidLabel').text('점수');
            $('#mindDmgeCodePidLabel').text('점수');
            $('#physiclDmgeCodePidLabel').text('점수');
        }
        pwd.val('');
        nm.val('');
        telno.val('');
        areaCodePid.val('');
        hopeStYmd.val('');
        hopeEndYmd.val('');
        if ([[${isMobile}]]) {
            var hopeTimeCodeId = $('select[name=hopeTimeCodeId]');
            $('#telHopeTimeCodeIdLabel').text('선택');
            hopeTimeCodeId.val('');
        } else {
            var hopeTimeCodeId = $('input[name=hopeTimeCodeId]:checked');
            hopeTimeCodeId.prop('checked', false);
        }

    }
    $(document).ready(function (e) {
        $('#attachedFile').on('change',function (e){
            let filename = $(this)[0].files[0].name;
            if (filename) {
                let ext = filename.slice(filename.lastIndexOf(".") + 1).toLowerCase();
                if (!(ext == "jpg" || ext == "png" || ext == "jpeg" || ext == "hwp" || ext == "doc" || ext == "pdf")) {
                    alert("이미지파일 (.jpg, .png, .jpeg ) , 문서파일(.hwp , .doc, .pdf) 만 업로드 가능합니다.");
                    return false;
                } else {
                    $('#box').text(filename);
                }
            }
        })
    })
</script>
<body oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>
<div id="wrap">
    <th:block th:include="fragments/header_gnb"></th:block>
    <div id="container">
        <th:block th:include="fragments/mo_menu"></th:block>
        <div class="sub_container">
            <th:block th:include="fragments/dept_menu"></th:block>
            <form id="helpType01_body" class="bodyContainer" name="helpType01_body"  th:object="${form}">

                <div class="inner">
                    <div class="page_cont">
                        <!--<h4 class="subtit pc review_title">심리상담</h4>-->
                        <div class="sub_text_box help_text_box form_text_box">
                            <img src="/ClientUI/user/images/contents/lecture/intro_text_box.png" alt="review.png" class="review_text_img">
                            <div class="text">
                                <p class="title">누구나 고민이 있다면 푸코에게 상담을  요청할 수 있어요.</p>
                                <span class="sub">
                                    상담 내용은 절대 비밀!  푸코가 다양한 전문상담과 상황에 따라 적절한 도움도 줄거게요. 기다리고 있을 테니  언제든지 편하게 이야기해주세요.<b></b>푸코는 여러분에게 꼭 필요한 도움을 주고싶어요. <b></b>구체적인 내용을 자세히 적고 증거자료를  첨부해준다면 정확한 상황을 파악하여  도움을 줄 수 있어요.
                                </span>
                            </div>
                        </div>


                        <h4 class="subtit board_tit">게시판 상담</h4>
                        <div class="board_info">
                            <div class="sec_write board">
                                <div class="tbl_write join">
                                    <ul>
                                        <li class="baordchk_inner col">
                                            <div class="th">
                                                <label>어디에 속하나요?</label>
                                            </div>
                                            <div class="td">
                                                <div>
                                                    <input type="radio" name="mberDvTy" id="mberDvTy_STUDENT" value="STUDENT">
                                                    <label for="mberDvTy_STUDENT">
                                                        <span>청소년</span>
                                                    </label>
                                                </div>
                                                <div>
                                                    <input type="radio" name="mberDvTy" id="mberDvTy_TEACHER" value="TEACHER">
                                                    <label for="mberDvTy_TEACHER">
                                                        <span>교원</span>
                                                    </label>
                                                </div>
                                                <div>
                                                    <input type="radio" name="mberDvTy" id="mberDvTy_PARENT" value="PARENT">
                                                    <label for="mberDvTy_PARENT">
                                                        <span>학부모</span>
                                                    </label>
                                                </div>
                                                <div>
                                                    <input type="radio" name="mberDvTy" id="mberDvTy_NORMAL" value="NORMAL">
                                                    <label for="mberDvTy_NORMAL">
                                                        <span>일반</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="chkbox2_inner col">
                                            <div class="th">
                                                <label>어떤 폭력을 경험하셨나요?</label>
                                            </div>
                                            <div class="td">
                                                <div class="chk_inner checkbox2">
                                                    <input type="checkbox" id="board_chk03" value="34">
                                                    <label class="board_chk" for="board_chk03">
                                                        <span>사이버폭력</span>
                                                    </label>
                                                </div>
                                                <div class="chk_inner checkbox2">
                                                    <input type="checkbox" id="board_chk4" value="32">
                                                    <label class="board_chk" for="board_chk4">
                                                        <span>학교폭력</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="chkbox2_inner col wrap">
                                            <div class="th">
                                                <label>어떤 유형의 고민인가요?</label>
                                            </div>
                                            <div class="td pc">
                                                <div class="chk_inner checkbox2">
                                                    <input type="checkbox" id="p_worry1" name="worry" value="37">
                                                    <label class="board_chk" for="p_worry1">
                                                        <span>신체폭력</span>
                                                    </label>
                                                </div>
                                                <div class="chk_inner checkbox2">
                                                    <input type="checkbox" id="p_worry2" name="worry" value="38">
                                                    <label class="board_chk" for="p_worry2">
                                                        <span>언어폭력</span>
                                                    </label>
                                                </div>
                                                <div class="chk_inner checkbox2">
                                                    <input type="checkbox" id="p_worry3" name="worry" value="39">
                                                    <label class="board_chk" for="p_worry3">
                                                        <span>성폭력</span>
                                                    </label>
                                                </div>
                                                <div class="chk_inner checkbox2">
                                                    <input type="checkbox" id="p_worry4" name="worry"  value="41">
                                                    <label class="board_chk" for="p_worry4">
                                                        <span>괴롭힘</span>
                                                    </label>
                                                </div>
                                                <div class="chk_inner checkbox2">
                                                    <input type="checkbox" id="p_worry5" name="worry" value="40">
                                                    <label class="board_chk" for="p_worry5">
                                                        <span>금품갈취</span>
                                                    </label>
                                                </div>
                                                <div class="chk_inner checkbox2">
                                                    <input type="checkbox" id="p_worry6" name="worry" value="42">
                                                    <label class="board_chk" for="p_worry6">
                                                        <span>기타</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="td mobile">
                                                <div class="td_inner">
                                                    <div class="chk_inner checkbox2">
                                                        <input type="checkbox" id="m_worry1" name="worry" value="37">
                                                        <label class="board_chk" for="m_worry1">
                                                            <span>신체폭력</span>
                                                        </label>
                                                    </div>
                                                    <div class="chk_inner checkbox2">
                                                        <input type="checkbox" id="m_worry2" name="worry" value="38">
                                                        <label class="board_chk" for="m_worry1">
                                                            <span>언어폭력</span>
                                                        </label>
                                                    </div>
                                                    <div class="chk_inner checkbox2">
                                                        <input type="checkbox" id="m_worry3" name="worry" value="39">
                                                        <label class="board_chk" for="m_worry3">
                                                            <span>성폭력</span>
                                                        </label>
                                                    </div>
                                                    <div class="chk_inner checkbox2">
                                                        <input type="checkbox" id="m_worry4" name="worry" value="41">
                                                        <label class="board_chk" for="m_worry4">
                                                            <span>괴롭힘</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="td_inner">
                                                    <div class="chk_inner checkbox2">
                                                        <input type="checkbox" id="m_worry5" name="worry" value="40">
                                                        <label class="board_chk" for="m_worry5">
                                                            <span>금품갈취</span>
                                                        </label>
                                                    </div>
                                                    <div class="chk_inner checkbox2">
                                                        <input type="checkbox" id="m_worry6" name="worry" value="42">
                                                        <label class="board_chk" for="m_worry6">
                                                            <span>기타</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="baordchk_inner col">
                                            <div class="th">
                                                <label>본인이 직접 경험했나요?</label>
                                            </div>
                                            <div class="td">
                                                <div>
                                                    <input type="radio" name="boardchk" id="chk011">
                                                    <label for="chk011">
                                                        <span>예</span>
                                                    </label>
                                                </div>
                                                <div>
                                                    <input type="radio" name="boardchk" id="chk012">
                                                    <label for="chk012">
                                                        <span>아니오</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <p class="more_txt">
                                    * 모든 상담은 비공개로 진행되며, 로그인 없이도 이용 가능합니다.
                                </p>
                            </div>
                        </div>




                        <div class="sec_write join">
                            <div class="tbl_write upload">
                                <ul>
                                    <li class="col">
                                        <div class="th">
                                            <label for="ttl">제목</label>
                                        </div>
                                        <div class="td">
                                            <input id="ttl" name="ttl" type="text" placeholder="제목을 입력 하세요">
                                        </div>
                                    </li>
                                    <li class="col text_area">
                                        <div class="th">
                                            <label for="cn">내용</label>
                                        </div>
                                        <div class="td">
                                            <textarea name="cn" id="cn" cols="30" rows="10"></textarea>
                                        </div>
                                    </li>
                                    <li class="period col">
                                        <div class="th">
                                            <label>시작기간</label>
                                        </div>
                                        <div class="td">
                                            <input id="incdnt_st_ymd" name="incdntStYmd" type="text" readonly value="">
                                            <span>~</span>
                                            <input id="incdnt_end_ymd" name="incdntEndYmd" type="text" readonly value="">
                                        </div>
                                    </li>
                                    <li class="score_inner col">
                                        <div class="th">
                                            <label>심각성</label>
                                        </div>
                                        <div class="td col">

                                            <div class="chk_item">
                                                <span>신체적 피해</span>
                                                <form>
                                                    <label for="bdyDmgeCodePidLabel"></label>
                                                    <select name="bdyDmgeCodePid" id="bdyDmgeCodePidLabel">
                                                        <option value="">점수</option>
                                                        <option value="44">1</option>
                                                        <option value="45">2</option>
                                                        <option value="46">3</option>
                                                        <option value="47">4</option>
                                                        <option value="48">5</option>
                                                        <option value="49">6</option>
                                                        <option value="50">7</option>
                                                        <option value="51">8</option>
                                                        <option value="52">9</option>
                                                        <option value="53">10</option>
                                                    </select>
                                                </form>
                                            </div>
                                            <div class="chk_item">
                                                <span>정신적 피해</span>
                                                <form>
                                                    <label for="mindDmgeCodePidLabel"></label>
                                                    <select name="mindDmgeCodePid" id="mindDmgeCodePidLabel">
                                                        <option value="">점수</option>
                                                        <option value="44">1</option>
                                                        <option value="45">2</option>
                                                        <option value="46">3</option>
                                                        <option value="47">4</option>
                                                        <option value="48">5</option>
                                                        <option value="49">6</option>
                                                        <option value="50">7</option>
                                                        <option value="51">8</option>
                                                        <option value="52">9</option>
                                                        <option value="53">10</option>
                                                    </select>
                                                </form>
                                            </div>
                                            <div class="chk_item">
                                                <span>물질적 피해</span>
                                                <form>
                                                    <label for="physiclDmgeCodePidLabel"></label>
                                                    <select name="physiclDmgeCodePid" id="physiclDmgeCodePidLabel">
                                                        <option value="">점수</option>
                                                        <option value="44">1</option>
                                                        <option value="45">2</option>
                                                        <option value="46">3</option>
                                                        <option value="47">4</option>
                                                        <option value="48">5</option>
                                                        <option value="49">6</option>
                                                        <option value="50">7</option>
                                                        <option value="51">8</option>
                                                        <option value="52">9</option>
                                                        <option value="53">10</option>
                                                    </select>
                                                </form>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="col">
                                        <div class="th">
                                            <label for="pwd">글 비밀번호</label>
                                        </div>
                                        <div class="td">
                                            <input name="pwd" id="pwd" type="number" placeholder="숫자만 입력가능 합니다">
                                        </div>
                                    </li>
                                    <li class="m_mode col">
                                        <div class="th">
                                            <label for="attachedFile">첨부파일</label>
                                        </div>
                                        <div class="td">
                                            <input type="file" name="attachedFile" id="attachedFile">
                                            <label for="attachedFile" id="box" ></label>
                                            <label  for="attachedFile">찾아보기</label>
                                        </div>
                                        <!-- <div class="td">
                                             <input type="file" id= "attachedFile" name="attachedFile" maxlength="1"/>
                                             <label for="attachedFile" id="box">증빙서류업로드</label>
                                             <label for="attachedFile"><span>파일검색</span></label>
                                             <small>※ 사업자등록증 또는 공문 등 단체를 증명할 수 있는 자료를 업로드하세요.</small>
                                             <input type="hidden" name="b_license_attc" id="b_license_attc" value="N">
                                         </div>-->

                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="partners_edu_btn">
                            <a class="save_btn" onclick="fn_save('board')" href="javascript:;">저장</a>
                            <a class="join_btn" onclick="location.href='/pages/activity/helpRequest'" href="#">목록</a>
                        </div>
                    </div>
                    <!--수정-->
                    <!--<th:block
                            th:replace="/fragments/paging :: pagingbody(list=${postscripts}, link='/pages/activity/postscript', formId='form1')"></th:block>-->
                </div>
            </form>
        </div>
    </div>
    <th:block th:replace="fragments/footer"></th:block>
</div>
</body>
</html>