<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header"></th:block>
</head>
<body oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>
<div id="wrap">
    <th:block th:include="fragments/header_gnb"></th:block>
    <div id="container">
        <th:block th:include="fragments/mo_menu"></th:block>
        <div class="sub_container">
            <th:block th:include="fragments/dept_menu"></th:block>

        <!--<div class="inner">
            <div class="page_top pc">
                <h3 class="page_tit">문화</h3>
                <span>여러분들의 참여로 사이버폭력을 근절하고 예방할 수 있습니다.</span>
            </div>
            <div class="page_cont">
                <div class="tab_ico_area">
                    <a href="javascript:;" class="tit">소개</a>
&lt;!&ndash;                    <ul class="tab_type_ico type04">&ndash;&gt;
&lt;!&ndash;                        <li class="campaign">&ndash;&gt;
&lt;!&ndash;                            <a th:href="|/pages/activity/cultureList/${campaignCdPid}|">대국민 캠페인</a>&ndash;&gt;
&lt;!&ndash;                        </li>&ndash;&gt;
&lt;!&ndash;                        <li class="sign">&ndash;&gt;
&lt;!&ndash;                            <a href="#" onclick="return fn_linkUrl('http://btf.or.kr/board/board_online_survey/board_form.asp?scrID=0000000169&pageNum=5&subNum=1&ssubNum=1#area_05_sub01', true)">지지서명</a>&ndash;&gt;
&lt;!&ndash;                        </li>&ndash;&gt;
&lt;!&ndash;                        <li class="declare">&ndash;&gt;
&lt;!&ndash;                            <a th:href="|/pages/activity/cultureList/${declarationCdPid}|">지지선언</a>&ndash;&gt;
&lt;!&ndash;                        </li>&ndash;&gt;
&lt;!&ndash;                        <li class="crew">&ndash;&gt;
&lt;!&ndash;                            <a th:href="|/pages/activity/cultureList/${crewCdPid}|">지지크루</a>&ndash;&gt;
&lt;!&ndash;                        </li>&ndash;&gt;
&lt;!&ndash;                    </ul>&ndash;&gt;
                    <p class="mo_page_txt">여러분들의 참여로 사이버폭력을 근절하고 예방할 수 있습니다.</p>
                    <div class="tab_cont">
                        <div class="cont intro">
                            <dl class="desc">
                                <dt>처벌과 선도가 아닌 교육적 접근을 통해 <em>아이들의 내적 변화</em>를 이끌어 갑니다.</dt>
                                <dd>
                                    <ul class="list">
                                        <li>학생들의 자발적인 참여를 통해 사이버폭력 예방 문화를 확산 합니다.</li>
                                        <li>전국 초중고교 100개 동아리를 선발하여 사이버폭력 예방을 위한 활동 프로그램 및 동아리 물품을 지원 합니다.</li>
                                        <li>학교별 동아리 조직은 사이버폭력 예방 문화를 전파하는 전진기지 역할을 하게 됩니다.</li>
                                    </ul>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>

                <ul class="intro_list clearfix">
                    <li class="culture_bg01">
                        <dl>
                            <dt>학교 동아리 지원</dt>
                            <dd>비폭력 문화 캠페인, 학교 동아리 <span>활동, 지역사회 <br />연계를 통해 지역사회</span> 사이버폭력 예방 문화를 확산 합니다.</dd>
                        </dl>
                    </li>
                    <li class="culture_bg02">
                        <dl>
                            <dt>학교장 선언운동</dt>
                            <dd>전국 초중고교 학교장의 동참 선언을 <span>통해 학교 내 <br />사이버폭력 예방의</span> 선한 분위기를 조성 합니다.</dd>
                        </dl>
                    </li>
                    <li class="culture_bg03">
                        <dl>
                            <dt>양성된 또래 멘토</dt>
                            <dd>학교 별 선발된 또래 멘토에게는 또래 <span>멘토 교육, 또래 멘토 <br />우수사례 발표</span> <span>등이 지원되며, 양성된 또래 멘토들은</span> <span>학교 내 <br />사이버폭력 예방과 상담을</span> 담당하는 역할을 합니다.</dd>
                        </dl>
                    </li>
                    <li class="culture_bg04">
                        <dl>
                            <dt>대국민 홍보영상</dt>
                            <dd>웹드라마, 애니메이션 등 다양한 <span>형식으로 재미와 <br />감동을 주며</span> <span>사이버폭력에 대해 인식할 수</span> 있도록 합니다.</dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
        </div>-->


                <div class="inner">
                    <div class="page_cont">
                        <!--<h4 class="subtit pc review_title">교육후기</h4>-->
                        <div class="sub_text_box review_text_box mt culture">
                            <!--<img src="/ClientUI/user/images/contents/culture_intro.png">
                            <div class="text">
                                <p class="title">푸코와 함께 사이버폭력의 심각성을 알리고 비폭력 문화를 만들어가요!</p>
                                <span class="sub">
                                    누구나 쉽게 참여할 수 있는 대국민 비폭력 캠페인을 진행해요. <b></b> SNS 또는 거리에 모여 사이버폭력을 예방하고 근절할 수 있도록 저 푸코와 함께 해주세요.
                            </span>
                            </div>-->
                        </div>
                        <div class="board_top review_board">
                            <div class="select_bx">
                                <div class="select w160 title">
                                    <label th:for="srchGbnParent">
                                        <th:block th:if="*{srchGbnParent eq '' or srchGbnParent eq null}">전체</th:block>
                                        <th:block th:each="item : ${commonCodes}">
                                            <th:block th:if="${searchForm.srchGbnParent eq item.id}" th:text="${item.codeNm}">제목</th:block>
                                        </th:block>
                                    </label>
                                    <select th:field="*{srchGbnParent}" onchange="fn_codeList(this)">
                                        <option value="" selected>전체</option>
                                        <th:block th:each="item : ${commonCodes}">
                                            <option th:value="${item.id}" th:text="${item.codeNm}"></option>
                                        </th:block>
                                    </select>
                                </div>
                                <div class="select w160 subject">
                                    <label id="srchGbnChildLabel" th:for="srchGbnChild">
                                        <th:block th:if="*{srchGbnChild eq '' or srchGbnChild eq null}">전체</th:block>
                                    </label>
                                    <select th:field="*{srchGbnChild}">
                                        <option value="" selected>전체</option>
                                    </select>
                                </div>
                            </div>
                            <div class="select_bx2">
                                <div class="search news">
                                    <input type="search" th:field="*{srchWord}" placeholder="검색어를 입력해 주세요" />
                                </div>
                                <button type="submit" class="btn btn_blue btn_pill_10">검색</button>
                            </div>
                        </div>
                        <!-- <div class="btn_tab">
                            <th:block th:if="${#authentication.principal == 'anonymousUser'}">
                                <a href="javascript:fn_loginCheck();" class="btn btn_review btn_pill">작성하기</a>
                            </th:block>
                            <a href="javascript:;" class="btn btn_review btn_pill" onclick="fn_message()">교육신청</a>
                        </div> -->
                        <!--<ul class="thumb_list clearfix">
                            <th:block th:if="${postscripts == null or postscripts.isEmpty()}"> <!--등록된 글 없을경우-->
                        <!--<li class="nodata">
                            <div>등록된 게시글이 없습니다.</div>
                        </li>
                    </th:block>
                    <li th:each="item : ${postscripts}">
                        <a th:href="|/pages/activity/postscriptDetail/${item.id}|">
                                <span class="thumb"><img th:src="|${filePath}/${item.imgFl}|" th:alt="${item.imgFl}"
                                                         onerror="this.src='/ClientUI/user/images/contents/nodata01.png'"/></span>
                            <strong class="tit" th:text="${item.ttl}">사이버폭력이 사라지는 그날까지</strong>
                            <span class="date"
                                  th:text="${#temporals.format(item.regDtm,'yyyy.MM.dd')}">2020.06.30</span>
                        </a>
                    </li>
                </ul>-->

                        <ul class="thumb_list clearfix">
                            <th:block th:if="${boardDatas == null or boardDatas.isEmpty()}"><!--등록된 글이 없을 경우-->
                                <li class="nodata">
                                    <div>등록된 게시글이 없습니다.</div>
                                </li>
                            </th:block>
                            <li th:each="item : ${boardDatas}">
                                <a th:href="|/pages/news/detail/${item.id}|">
                                    <span class="thumb"><img th:src="${filePath} + '/' + ${item.thumbFileNm}"
                                                             th:alt="${item.thumbFileNm}"
                                                             onerror="this.src='/ClientUI/user/images/contents/nodata01.png'"/></span>
                                    <th:block th:if="${item.sntncHead ne ''}">
                                        <strong class="tit" th:text="|[${item.sntncHead}]  ${item.ttl}|"></strong>
                                    </th:block>
                                    <th:block th:unless="${item.sntncHead ne ''}">
                                        <strong class="tit" th:text="${item.ttl}"></strong>
                                    </th:block>
                                    <span class="date" th:text="${#temporals.format(item.ntceDt,'yyyy.MM.dd')}">2020.01.22</span>
                                </a>
                            </li>
                            <!--<li>
                                <a href="/pages/news/detail">
                                    <span class="thumb"><img src="/ClientUI/user/images/contents/nodata01.png" alt="사이버폭력의 실제 모습이 궁금한가요?" onerror="this.src='/ClientUI/user/images/contents/nodata01.png'" /></span>
                                    <strong class="tit">OO중학교 사이버 폭력 근절단</strong>
                                    <span class="date">2020.01.22</span>
                                </a>
                            </li>
                            <li>
                                <a href="/pages/news/detail">
                                    <span class="thumb"><img src="/ClientUI/user/images/contents/nodata01.png" alt="사이버폭력의 실제 모습이 궁금한가요?" onerror="this.src='/ClientUI/user/images/contents/nodata01.png'" /></span>
                                    <strong class="tit">OO중학교 사이버 폭력 근절단</strong>
                                    <span class="date">2020.01.22</span>
                                </a>
                            </li>-->
                        </ul>
                    </div>
                    <!-- <th:block
                             th:replace="/fragments/paging :: pagingbody(list=${postscripts}, link='/pages/activity/postscript', formId='form1')"></th:block>-->
                </div>


    </div>
    <th:block th:replace="fragments/footer"></th:block>
</div>
</body>
</html>
