<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header"></th:block>
</head>
<body oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>
<div id="wrap">
    <th:block th:include="fragments/header_gnb"></th:block>
    <div id="container">
        <th:block th:include="fragments/mo_menu"></th:block>
        <div class="sub_container">
            <th:block th:include="fragments/dept_menu"></th:block>

            <!--<div class="inner">
                <div class="page_cont">
                    <!-- <h4 class="subtit pc review_title">소개</h4> -->
                    <!--<div class="sub_text_box intro_text_box">
                        <img src="/ClientUI/user/images/contents/lecture/intro_text_box.png" alt="review.png">
                        <div class="text">
                            <p class="title">푸른코끼리는 친사회적역량을 실천하여 사이버폭력없는 안전한 사이버세상을 만드는 가디언이에요.</p>
                        </div>
                    </div>
                    <div class="tab_ico_area">

                        <a href="javascript:;" class="tit">소개</a>
                        <!-- <ul class="tab_type_ico">
                            <li class="teenager"><a href="/pages/activity/preventionEdu/STUDENT">청소년</a></li>
                            <li class="parent"><a href="/pages/activity/preventionEdu/PARENT">부모</a></li>
                            <li class="teacher"><a href="/pages/activity/preventionEdu/TEACHER">교원</a></li>
                            <li class="normal"><a href="/pages/activity/preventionEdu/NORMAL">일반</a></li>
                            <li class="lecturer"><a href="/pages/activity/preventionEdu/LECTURER">푸코강사</a></li>
                            <li class="dataroom"><a href="/pages/activity/eduDataRoom">자료실</a></li>
                            <li class="review"><a href="/pages/activity/postscript">교육후기</a></li>
                        </ul> -->
                        <!-- <p class="mo_page_txt">다양한 강의가 빠르게 업데이트 됩니다.</p> -->
                        <!-- <div class="tab_cont">
                            <div class="cont intro">
                                <dl class="desc">
                                    <dt>푸른코끼리는 친사회적 역량*을 실천하며 사이버폭력 없는 안전한 사이버세상을 만드는 가디언이에요.</dt>
                                    <dd>
                                        * 친사회적 역량: 서로의 이익을 위해 다른 사람을 돕거나 도우려고 행하는 모든 행동 / 6대 덕목(정직,약속,용서,책임,배려,소유)
                                        <div class="btn_area">
                                            <a href="/pages/activity/preventionEdu/NORMAL" class="btn btn_blue btn_pill_10">강의실 바로가기</a>
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                        </div> -->

                    <!--</div>
                    <div class="edu_intro_area">
                        <div class="video_area">
                            <div class="intro01">
                                <a href="javascript:layerShow('popIntroVideo01');"><span class="blind">영상보기</span></a>
                                <span>푸른나무재단 소개</span>
                            </div>
                            <div class="intro02">
                                <a href="javascript:layerShow('popIntroVideo02');"><span class="blind">영상보기</span></a>
                                <span>푸른코끼리 소개</span>
                            </div>
                        </div>
                        <div class="virtue_area">
                            <h4 class="subtit blind">6가지 덕목</h4>
                            <p>청소년 사이버폭력 예방교육 사업 푸른코끼리를 통해 학생과 부모뿐 만 아니라<b></b>  일반 대중도 누구든지 사이버정글 가디언 푸른코끼리로 변신할 수 있어요.</p>
                            <ul class="clearfix">
                                <li class="honesty">
                                    <div>
                                        <strong>정직</strong>
                                        <span>사실을 거짓없이 있는 그대로 말하는</span>
                                    </div>
                                </li>
                                <li class="promise">
                                    <div>
                                        <strong>약속</strong>
                                        <span>먼저 한 약속을 지키는</span>
                                    </div>
                                </li>
                                <li class="forgive">
                                    <div>
                                        <strong>용서</strong>
                                        <span>상대방을 미워하지 않고 이해해주는</span>
                                    </div>
                                </li>
                                <li class="duty">
                                    <div>
                                        <strong>책임</strong>
                                        <span>주어진 일에 최선을 다하는</span>
                                    </div>
                                </li>
                                <li class="consider">
                                    <div>
                                        <strong>배려</strong>
                                        <span>남을 도와주거나 보살펴주려는</span>
                                    </div>
                                </li>
                                <li class="own">
                                    <div>
                                        <strong>소유</strong>
                                        <span>남의 것과 나의 것을 구분하여 욕심내지 않는</span>
                                    </div>
                                </li>
                            </ul>
                            <p>그럼, 강의실에서 만나요!</p>
                            <p class="caution">※ 본 자료는 사전동의 없이 가공 또는 수정하여 사용하거나 상업적으로 이용할 수 없습니다.</p>
                        </div>
                        <div class="config_area">
                            <h4 class="subtit">교육 구성</h4>
                            <div class="edu_model">
                                <div class="model_a">
                                    <div class="top"><strong>교육 모델 A</strong>친사회성 행동화 교육</div>
                                    <span>친사회성 이해</span><span>친사회적 행동</span>
                                </div>
                                <div class="model_b">
                                    <div class="top"><strong>교육 모델 B</strong>사이버교육 유형별 대처</div>
                                    <span>정의 및 유형</span><span>유형별 대처</span>
                                </div>
                            </div>
                            <div class="six_virtue">
                                <ul class="clearfix">
                                    <li class="honesty">정직</li>
                                    <li class="promise">약속</li>
                                    <li class="forgive">용서</li>
                                    <li class="duty">책임</li>
                                    <li class="consider">배려</li>
                                    <li class="own">소유</li>
                                </ul>
                                <strong>한국형 친사회적 덕목 6가지</strong>
                            </div>
                        </div>
                        <div class="develop_area">
                            <h4 class="subtit">교육 전개</h4>
                            <ul class="clearfix">
                                <li><strong>이론교육</strong><span>미디어컨텐츠(영상 등)를 활용한 이론 이해</span></li>
                                <li><strong>체험활동</strong><span>소그룹 팀단위 참여형 체험 프로그램</span></li>
                                <li><strong>감정인식</strong><span>체험활동을 통한 공감과 역동의 내재화</span></li>
                                <li><strong>성찰(토론)</strong><span>학습 리뷰(인지_알게 하기)<br/> 성찰(정서_느끼게 하기)<br/> 토론(행동_행동하기)</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>-->
        <form id="form1" name="form1" method="post">

            <div class="inner edulintro_inner">
                <div class="page_cont">
                    <!-- <h4 class="subtit pc review_title">소개</h4> -->
                    <div class="sub_text_box intro_text_box intro">
                        <img src="/ClientUI/user/images/contents/lecture/intro_text_box.png">
                        <div class="text">
                            <p class="title">푸른코끼리는 친사회적역량을 실천하여 사이버폭력없는 안전한 사이버세상을 만드는 가디언이에요.</p>
                        </div>
                    </div>
                    <div class="tab_ico_area">

                        <a href="javascript:;" class="tit">소개</a>
                        <!-- <ul class="tab_type_ico">
                            <li class="teenager"><a href="/pages/activity/preventionEdu/STUDENT">청소년</a></li>
                            <li class="parent"><a href="/pages/activity/preventionEdu/PARENT">부모</a></li>
                            <li class="teacher"><a href="/pages/activity/preventionEdu/TEACHER">교원</a></li>
                            <li class="normal"><a href="/pages/activity/preventionEdu/NORMAL">일반</a></li>
                            <li class="lecturer"><a href="/pages/activity/preventionEdu/LECTURER">푸코강사</a></li>
                            <li class="dataroom"><a href="/pages/activity/eduDataRoom">자료실</a></li>
                            <li class="review"><a href="/pages/activity/postscript">교육후기</a></li>
                        </ul> -->
                        <!-- <p class="mo_page_txt">다양한 강의가 빠르게 업데이트 됩니다.</p> -->
                        <!-- <div class="tab_cont">
                            <div class="cont intro">
                                <dl class="desc">
                                    <dt>푸른코끼리는 친사회적 역량*을 실천하며 사이버폭력 없는 안전한 사이버세상을 만드는 가디언이에요.</dt>
                                    <dd>
                                        * 친사회적 역량: 서로의 이익을 위해 다른 사람을 돕거나 도우려고 행하는 모든 행동 / 6대 덕목(정직,약속,용서,책임,배려,소유)
                                        <div class="btn_area">
                                            <a href="/pages/activity/preventionEdu/NORMAL" class="btn btn_blue btn_pill_10">강의실 바로가기</a>
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                        </div> -->

                    </div>
                    <div class="edu_intro_area">
                        <div class="video_area">
                            <div class="intro01">
                                <a href="javascript:layerShow('popIntroVideo01');"><span class="blind">영상보기</span></a>
                                <span>푸른나무재단 소개</span>
                            </div>
                            <div class="intro02">
                                <a href="javascript:layerShow('popIntroVideo02');"><span class="blind">영상보기</span></a>
                                <span>푸른코끼리 소개</span>
                            </div>
                        </div>
                        <div class="virtue_area">
                            <h4 class="subtit blind">6가지 덕목</h4>
                            <p>청소년 사이버폭력 예방교육 사업 푸른코끼리를 통해 학생과 부모뿐 만 아니라<b></b>  일반 대중도 누구든지 사이버정글 가디언 푸른코끼리로 변신할 수 있어요.</p>
                            <ul class="clearfix">
                                <li class="honesty">
                                    <div>
                                        <strong>정직</strong>
                                        <span>사실을 거짓없이 있는 그대로 말하는</span>
                                    </div>
                                </li>
                                <li class="promise">
                                    <div>
                                        <strong>약속</strong>
                                        <span>먼저 한 약속을 지키는</span>
                                    </div>
                                </li>
                                <li class="forgive">
                                    <div>
                                        <strong>용서</strong>
                                        <span>상대방을 미워하지 않고 이해해주는</span>
                                    </div>
                                </li>
                                <li class="duty">
                                    <div>
                                        <strong>책임</strong>
                                        <span>주어진 일에 최선을 다하는</span>
                                    </div>
                                </li>
                                <li class="consider">
                                    <div>
                                        <strong>배려</strong>
                                        <span>남을 도와주거나 보살펴주려는</span>
                                    </div>
                                </li>
                                <li class="own">
                                    <div>
                                        <strong>소유</strong>
                                        <span>남의 것과 나의 것을 구분하여 욕심내지 않는</span>
                                    </div>
                                </li>
                            </ul>
                            <p>그럼, 강의실에서 만나요!</p>
                            <p class="caution">※ 본 자료는 사전동의 없이 가공 또는 수정하여 사용하거나 상업적으로 이용할 수 없습니다.</p>
                        </div>
                        <div class="config_area">
                            <h4 class="subtit">교육 구성</h4>
                            <div class="edu_model">
                                <div class="model_a">
                                    <div class="top"><strong>교육 모델 A</strong>친사회성 행동화 교육</div>
                                    <span>친사회성 이해</span><span>친사회적 행동</span>
                                </div>
                                <div class="model_b">
                                    <div class="top"><strong>교육 모델 B</strong>사이버교육 유형별 대처</div>
                                    <span>정의 및 유형</span><span>유형별 대처</span>
                                </div>
                            </div>
                            <div class="six_virtue">
                                <ul class="clearfix">
                                    <li class="honesty">정직</li>
                                    <li class="promise">약속</li>
                                    <li class="forgive">용서</li>
                                    <li class="duty">책임</li>
                                    <li class="consider">배려</li>
                                    <li class="own">소유</li>
                                </ul>
                                <strong>한국형 친사회적 덕목 6가지</strong>
                            </div>
                        </div>
                        <div class="develop_area">
                            <h4 class="subtit">교육 전개</h4>
                            <ul class="clearfix">
                                <li><strong>이론교육</strong><span>미디어컨텐츠(영상 등)를 활용한 이론 이해</span></li>
                                <li><strong>체험활동</strong><span>소그룹 팀단위 참여형 체험 프로그램</span></li>
                                <li><strong>감정인식</strong><span>체험활동을 통한 공감과 역동의 내재화</span></li>
                                <li><strong>성찰(토론)</strong><span>학습 리뷰(인지_알게 하기)<br/> 성찰(정서_느끼게 하기)<br/> 토론(행동_행동하기)</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </form>
        </div>
    </div>
    <th:block th:replace="fragments/footer"></th:block>
</div>
<div id="popIntroVideo01" class="layer_popup">
    <div class="dim" onclick="pauseVid('introVideo01')"></div>
    <div class="popup_area">
        <a href="javascript:layerHide('popIntroVideo01'); pauseVid('introVideo01')" class="btn_close"><span class="blind">팝업닫기</span></a>
        <div class="popup">
            <div class="video_area">
                <video id="introVideo01" src="http://qmfrjbfusyhx5463976.cdn.ntruss.com/푸른나무재단 소개영상.mp4"
                       width="100%" controls controlsList="nodownload"></video>
            </div>
        </div>
    </div>
</div>
<div id="popIntroVideo02" class="layer_popup">
    <div class="dim" onclick="pauseVid('introVideo02')"></div>
    <div class="popup_area">
        <a href="javascript:layerHide('popIntroVideo02'); pauseVid('introVideo02')" class="btn_close"><span class="blind">팝업닫기</span></a>
        <div class="popup">
            <div class="video_area">
                <video id="introVideo02" src="http://qmfrjbfusyhx5463976.cdn.ntruss.com/(%EC%B5%9C%EC%A2%85)%20%ED%91%B8%EB%A5%B8%EC%BD%94%EB%81%BC%EB%A6%AC%20%EC%82%AC%EC%97%85%EC%86%8C%EA%B0%9C%EC%98%81%EC%83%81.mp4"
                       width="100%" controls controlsList="nodownload"></video>
            </div>
        </div>
    </div>
</div>
<script>
    // 인트로영상 팝업창 닫기 & 딤 클릭시 영상 일시정지
    function pauseVid(introVideo) {
        var introVideo = document.getElementById(introVideo);
        introVideo.pause();
    }
</script>
</body>
</html>
