<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header"></th:block>
    <script type="text/javascript">
        $(function () {

        });

        function fn_factualTest(user) {

            alert('2021년 3월에 오픈예정입니다.');
            return;

            if (user == false) {
                if (confirm('로그인 후 이용할 수 있습니다 \n로그인 페이지로 이동하시겠습니까?')) {
                    location.href = '/login';
                }
                return false;
            }

            var jsonData = {

            }
            $.ajax({
                type: 'post',
                url: '/api/activity/factualTestCheck',
                contentType: "application/json",
                data: JSON.stringify(jsonData),
                datatype: 'text',
                success: function (data) {
                    if(data.id != null){
                        alert('이미 실태조사에 참여하였습니다.');
                        return false;
                    }else{
                        location.href = '/pages/activity/factualSurveyTest';
                    }
                },
                error: function (error) {
                    //alert('save error!!!');
                    alert('error::' + error.statusText);
                }
            });
        }
    </script>
</head>
<body oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>
<div id="wrap">
    <th:block th:include="fragments/header_gnb"></th:block>
    <div id="container">
        <th:block th:include="fragments/mo_menu"></th:block>
        <div class="sub_container">
            <th:block th:include="fragments/dept_menu"></th:block>

        <form id="form1" name="form1" method="post" th:object="${form}">

            <!--<div class="contents">
                <div class="page_top pc">
                    <h3 class="page_tit">연구</h3>
                    <span>사이버폭력 예방을 위한 연구 / 조사 자료를 확인하세요.</span>
                </div>
                <div class="page_cont">
                    <div class="btn_area">
                        <a href="#" th:onclick="|return fn_factualTest(${#authentication.principal != 'anonymousUser'});|"
                           class="btn btn_lg btn_blue btn_pill_10">조사하기</a>
                        <a href="/pages/news/list/6"
                           class="btn btn_lg btn_blue btn_pill_10">간행물 바로가기</a>
                        <a href="https://www.edujikim.com/bookmall/list_b.asp" target="_blank"
                           class="btn btn_lg btn_blue btn_pill_10">보고서 구매하기</a>
                    </div>
                </div>
            </div>-->
            <div class="inner">
                <div class="page_cont">

                    <h4 class="subtit pc review_title">실태조사</h4>
                    <div class="sub_text_box family_text_box">
                        <div class="text">
                            지금 대한민국 사이버폭력, 학교폭력의 현주소는?<br>
                            사이버폭력 및 학교폭력의 피해, 가해, 목격, 정책 등 현재 실태는 어떠할까요?<br>
                            푸른코끼리는 매년 전국 17개 시도의 청소년 사이버폭력 및 학교폭력의 실태를 파악하여,<br>
                            청소년이 안전한 사이버 환경 그리고 학교 환경을 만들고자 해요.<br>
                            <!--<span class="sub">사이버폭력 및 학교폭력의 피해, 가해, 목격, 정책 등 현재 실태는 어떠할까요? 푸른코끼리는 매년 전국 17개 시도의 실태를 파악하여, 청소년이 안전한 사이버 환경 그리고 학교 환경을 만들고자 해요.
                                </span>-->
                        </div>
                    </div>

                    <div class="test_01">
                        <h1>지금 사이버폭력에 대한 <i>당신의 상태를 진단</i>해 보세요
                        </h1>
                        <div>
                            <img src="/ClientUI/user/images/contents/test1.png">
                        </div>
                        <p>
                            푸른코끼리는 청소년들이 스스로 사이버폭력에 노출된 정도를 쉽게 파악할 수 있도록 간단한 테스트를 제공합니다.<b></b>사이버정글 가디언즈 푸른코끼리에 얼마나 가까워졌는지 자가 진단을 통해 확인할 수 있습니다.
                        </p>
                        <a class="text1_btn" href="#none">진단하기</a>
                    </div>

                </div>
            </div>



        </form>
        </div>
    </div>
    <th:block th:replace="fragments/footer"></th:block>
</div>
</body>
</html>
