<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header"></th:block>
</head>
<body oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>
<div id="wrap">
    <th:block th:include="fragments/header_gnb"></th:block>
    <div id="container">
        <th:block th:include="fragments/mo_menu"></th:block>
        <div class="sub_container">
            <th:block th:include="fragments/dept_menu"></th:block>

        <form id="form1" name="form1" method="post" th:object="${form}">

            <div class="inner">
                <div class="page_cont">
                    <h4 class="subtit pc review_title">가족테라피</h4>
                    <div class="sub_text_box family_text_box">
                        <div class="text">
                                <span class="sub">
                                    가족테라피에서는 사이버폭력에 노출된  청소년의 가족들도, 디지털 기기 사용시간이 늘어  대화가 줄어든 가족들도 소통과 이해를 통해
                                    <b></b>대화하고 서로 이해하는 시간을 가질 수 있어요
                                </span>
                        </div>
                    </div>
                    <div class="family_info">
                        <div class="sec_write family_the">
                            <div class="tbl_write contour">
                                <ul>
                                    <li>
                                        <div class="th">
                                            <label>캠프안내</label>
                                        </div>
                                        <div class="td">
                                            <span>가족구성원간의 평등한 소통을 통한 가족 역량 강화 프로그램 (2박 3일)</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="th">
                                            <label>목적</label>
                                        </div>
                                        <div class="td">
                                            <span>가족캠프를 통해 부모 자녀간 소통을 증진하고 문제해결역량을 강화하도록 함.</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="th">
                                            <label>내용</label>
                                        </div>
                                        <div class="td">
                                            <p>
                                                <span>초등학생을 자녀로 둔 가족 </span>
                                                <span>※ 가족 형태의 제한이 없으므로 2인 이상의 가족이라면 신청 가능함.</span>
                                            </p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="th">
                                            <label>모집대상</label>
                                        </div>
                                        <div class="td">
                                                    <span>
                                                        기타 |  푸른코끼리 티셔츠 단체 사진[1]
                                                    </span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="th">
                                            <label>신청자격</label>
                                        </div>
                                        <div class="td">
                                            <span>캠프 기간 중 핸드폰을 운영진에게 제출 가능한 가족</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="th">
                                            <label>우대사항</label>
                                        </div>
                                        <div class="td">
                                            <p>
                                                <span>① 가족구성원간 소통에 도움이 필요한 가족 </span>
                                                <span>② 디지털기기 사용으로 가족간 갈등을 겪는 가족</span>
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="program">
                        <h1>활동 프로그램 예시</h1>
                        <div class="program_inner">
                            <ul>
                                <li>
                                    <div class="tr">
                                        <img src="/ClientUI/user/images/contents/program_01.png">
                                    </div>
                                    <div class="td">
                                        <p>
                                            <span>가족구성원간의 평등한 소통을 통한 가족 역량 강화 프로그램 (2박 3일)</span>
                                            <small>털어내기 체조 등을 통해 통증/정체된 부분을 이완시키며, 마음풀기</small>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="tr">
                                        <img src="/ClientUI/user/images/contents/program_02.png">
                                    </div>
                                    <div class="td">
                                        <p>
                                            <span>가족끼리 콘타모플레이</span>
                                            <small>‘콘타모’라는 학습도구로 창의적인 아이디어를 접목해 작품만들기</small>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="tr">
                                        <img src="/ClientUI/user/images/contents/program_03.png">
                                    </div>
                                    <div class="td">
                                        <p>
                                            <span>가족놀이(창의발상)</span>
                                            <small>놀이를 통해 가족미션을 달성하며 협동심과 창의성을 발휘해볼 수 있음</small>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="tr">
                                        <img src="/ClientUI/user/images/contents/program_04.png">
                                    </div>
                                    <div class="td">
                                        <p>
                                            <span>가족끼리 마사지</span>
                                            <small>가족이 짝을 지어 머리끝부터 발끝까지 마사지 해주기</small>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="tr">
                                        <img src="/ClientUI/user/images/contents/program_05.png">
                                    </div>
                                    <div class="td">
                                        <p>
                                            <span>가족끼리 힐링무브먼트</span>
                                            <small>스킨쉽을 통해 교감할 수 있는 방법을 알아보기</small>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="tr">
                                        <img src="/ClientUI/user/images/contents/program_06.png">
                                    </div>
                                    <div class="td">
                                        <p>
                                            <span>가족이 함께하는 칭찬대화</span>
                                            <small>타인을 칭찬하고 나를 칭찬하는 법을 배우며 칭찬대화법을 익혀보기</small>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="tr">
                                        <img src="/ClientUI/user/images/contents/program_07.png">
                                    </div>
                                    <div class="td">
                                        <p>
                                            <span>가족 음악콘서트</span>
                                            <small>전 세대가 함께 즐길 수 있는 음악으로 소통하기</small>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="tr">
                                        <img src="/ClientUI/user/images/contents/program_08.png">
                                    </div>
                                    <div class="td">
                                        <p>
                                            <span>고도원 작가 ‘꿈너머 꿈특강’</span>
                                            <small>나의 꿈과 꿈너머꿈의 방향을 알려주는 인문학 특강</small>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="tr">
                                        <img src="/ClientUI/user/images/contents/program_09.png">
                                    </div>
                                    <div class="td">
                                        <p>
                                            <span>선한빛의 예술치유</span>
                                            <small>그림그리기, 클레이만들기 등으로 말로 하지 못했던 표현해보기</small>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="tr">
                                        <img src="/ClientUI/user/images/contents/program_10.png">
                                    </div>
                                    <div class="td">
                                        <p>
                                            <span>스탬프투어 + 가족사진찍기</span>
                                            <small>가족과 함께 인증샷을 찍고 스탬프 미션 달성하기</small>
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="inquiry_box">
                        <h3>문의처</h3>
                        <div class="box pc">
                            <div>
                                <span>070-7165-1091</span>
                            </div>
                            <div>
                                <span>cybersoscenter@btf.or.kr</span>
                            </div>
                        </div>
                        <div class="box mobile">
                            <div>
                                <span>070-7165-1094</span>
                            </div>
                            <div>
                                <span>cybersoscenter@btf.or.kr</span>
                            </div>
                        </div>
                    </div>
                </div>
               <!-- <th:block
                        th:replace="/fragments/paging :: pagingbody(list=${postscripts}, link='/pages/activity/postscript', formId='form1')"></th:block>-->
            </div>

        </form>
        </div>
    </div>
    <th:block th:replace="fragments/footer"></th:block>
</div>
</body>
</html>
