<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header"></th:block>
</head>
<body oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>
<div id="wrap">
    <th:block th:include="fragments/header_gnb"></th:block>
    <div id="container">
        <th:block th:include="fragments/mo_menu"></th:block>
        <div class="sub_container">
            <th:block th:include="fragments/dept_menu"></th:block>

        <form id="form1" name="form1" method="post" th:object="${form}">

            <div class="inner">
                <div class="page_cont">
                    <!--<h4 class="subtit pc review_title">심리상담</h4>-->
                    <div class="sub_text_box help_text_box activity_bx">
                        <img src="/ClientUI/user/images/contents/lecture/intro_text_box.png">
                        <div class="text">
                            <p class="title">누구나 고민이 있다면 푸코에게 상담을  요청할 수 있어요.</p>
                            <span class="sub">
                                    상담 내용은 절대 비밀!  푸코가 다양한 전문상담과 상황에 따라 적절한 도움도 줄거에요. 기다리고 있을 테니  언제든지 편하게 이야기해주세요.<b></b>푸코는 여러분에게 꼭 필요한 도움을 주고싶어요. <b></b>구체적인 내용을 자세히 적고 증거자료를  첨부해준다면 정확한 상황을 파악하여  도움을 줄 수 있어요.
                                </span>
                        </div>
                    </div>
                    <div class="therapy_info">
                        <div class="item_01">
                            <h2>1588-9128(구원의 팔)</h2>
                            <p>
                                전국 사이버폭력 상담전화 <b></b>사이버폭력으로 고통받는 청소년, 부모님, 학교 선생님들께<b></b>푸른나무재단에서”구원의 팔”을 내밀어 드립니다.
                            </p>
                            <div class="more_info">
                                <small>운영시간</small>
                                <div>
                                    <span>월요일 ~ 금요일 09:00~20:00</span>
                                    <span>토요일 09:00~13:00</span>
                                </div>
                                <i>(점심시간 12:00~13:00 제외)</i>
                            </div>
                            <div class="btn_inner">
                                <button class="call_btn">전화하기</button>
                            </div>
                        </div>
                        <div class="item_02">
                            <h2>117 사이버폭력 신고센터</h2>
                            <p>
                                학교/여성폭력 및 성매매 피해 긴급지원센터 피해자의 <b></b>인권보호 및 신속구조 대응합니다.
                            </p>
                            <div class="more_info">
                                <ul>
                                    <li>
                                        <span>전화</span>
                                        <i>전국에서 국번없이117 (요금무료)</i>
                                    </li>
                                    <li>
                                        <span>문자신고</span>
                                        <i>#0117 (요금무료)</i>
                                    </li>
                                    <li>
                                        <span>인터넷</span>
                                        <i>안전 Dream(검색어 117)</i>
                                    </li>
                                    <li>
                                        <span>방문</span>
                                        <i>117센터 방문하여 신고/상담</i>
                                    </li>
                                </ul>
                            </div>
                            <div class="btn_inner">
                                <button class="call_btn">전화하기</button>
                            </div>
                        </div>
                    </div>
                    <div class="therapy_icon">
                        <div class="icon_pc_inner">
                            <div class="icon_inner">
                                <a class="item" href="/pages/activity/helpRequest">
                                    <div>
                                        <img src="/ClientUI/user/images/contents/therapy_01.png" alt="">
                                    </div>
                                    <span>게시판 상담</span>
                                </a>
                                <a class="item" href="/pages/activity/chatCounseling">
                                    <div>
                                        <img src="/ClientUI/user/images/contents/therapy_02.png" alt="">
                                    </div>
                                    <span>채팅 1:1 상담</span>
                                </a>
                                <a class="item" href="/pages/activity/callCounseling">
                                    <div>
                                        <img src="/ClientUI/user/images/contents/therapy_03.png" alt="">
                                    </div>
                                    <span>전화 상담</span>
                                </a>
                            </div>
                            <div class="icon_inner">
                                <a class="item" href="/pages/activity/meetingCounseling">
                                    <div>
                                        <img src="/ClientUI/user/images/contents/therapy_04.png" alt="">
                                    </div>
                                    <span>대면 상담</span>
                                </a>
                                <a class="item" href="/pages/activity/legalCounseling">
                                    <div>
                                        <img src="/ClientUI/user/images/contents/therapy_05.png" alt="">
                                    </div>
                                    <span>법률 상담</span>
                                </a>
                                <a class="item" href="/pages/activity/settlement">
                                    <div>
                                        <img src="/ClientUI/user/images/contents/therapy_06.png" alt="">
                                    </div>
                                    <span>화해 분쟁 조정</span>
                                </a>
                            </div>
                        </div>
                        <div class="icon_m_inner">
                            <div class="icon_inner">
                                <a class="item" href="/pages/activity/helpRequest">
                                    <div>
                                        <img src="/ClientUI/user/images/contents/therapy_01.svg" alt="">
                                    </div>
                                    <span>게시판 상담</span>
                                </a>
                                <a class="item" href="/pages/activity/chatCounseling">
                                    <div>
                                        <img src="/ClientUI/user/images/contents/therapy_02.svg" alt="">
                                    </div>
                                    <span>채팅 1:1 상담</span>
                                </a>
                            </div>
                            <div class="icon_inner">
                                <a class="item" href="/pages/activity/callCounseling">
                                    <div>
                                        <img src="/ClientUI/user/images/contents/therapy_03.svg" alt="">
                                    </div>
                                    <span>전화 상담</span>
                                </a>
                                <a class="item" href="/pages/activity/meetingCounseling">
                                    <div>
                                        <img src="/ClientUI/user/images/contents/therapy_04.svg" alt="">
                                    </div>
                                    <span>대면 상담</span>
                                </a>
                            </div>
                            <div class="icon_inner">
                                <a class="item" href="/pages/activity/legalCounseling">
                                    <div>
                                        <img src="/ClientUI/user/images/contents/therapy_05.svg" alt="">
                                    </div>
                                    <span>법률 상담</span>
                                </a>
                                <a class="item" href="/pages/activity/settlement">
                                    <div>
                                        <img src="/ClientUI/user/images/contents/therapy_06.svg" alt="">
                                    </div>
                                    <span>화해 분쟁 조정</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<th:block
                        th:replace="/fragments/paging :: pagingbody(list=${postscripts}, link='/pages/activity/postscript', formId='form1')"></th:block>-->
            </div>

        </form>
        </div>
    </div>
    <th:block th:replace="fragments/footer"></th:block>
</div>
</body>
</html>
