<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header"></th:block>
</head>
<body oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>
<div id="wrap">
    <th:block th:include="fragments/header_gnb"></th:block>
    <div id="container">
        <th:block th:include="fragments/mo_menu"></th:block>
        <div class="sub_container">
            <th:block th:include="fragments/dept_menu"></th:block>

        <form id="form1" name="form1" method="post" th:object="${form}">

            <div class="inner">
                <div class="page_cont">
                    <!--<h4 class="subtit pc review_title">심리상담</h4>-->
                    <div class="sub_text_box help_counsel_box">
                        <img src="/ClientUI/user/images/contents/lecture/intro_text_box.png">
                        <div class="text">
                            <p class="title">우리는 학급의 가디언!
                                <span class="sub">우리는 학급의 가디언! 학교에서 일어나는  사이버폭력을 무찌르지! 학교에서 발생하는  사이버폭력 이야기를 들려줘~
                                </span>
                            </p>
                        </div>
                    </div>

                    <div class="btn_tab pc_btn">
                        <th:block th:if="${#authentication.principal eq 'anonymousUser'}"> <!--로그인 X-->
                            <a href="javascript:alert('로그인 후 이용 가능합니다.');"
                               class="write_btn">글쓰기</a>
                        </th:block>
                        <th:block th:unless="${#authentication.principal eq 'anonymousUser'}"> <!--로그인 O-->
                            <a href="/pages/activity/CounselingForm"
                               class="write_btn">글쓰기</a>
                        </th:block>
                    </div>


                    <!--<div class="board_top review_board">
                        <div class="select_bx">
                            <div class="select w160 title">
                                <label th:for="srchGbnParent">
                                    <th:block th:if="*{srchGbnParent eq '' or srchGbnParent eq null}">전체</th:block>
                                    <th:block th:each="item : ${commonCodes}">
                                        <th:block th:if="${searchForm.srchGbnParent eq item.id}" th:text="${item.codeNm}">제목</th:block>
                                    </th:block>
                                </label>
                                <select th:field="*{srchGbnParent}" onchange="fn_codeList(this)">
                                    <option value="" selected>전체</option>
                                    <th:block th:each="item : ${commonCodes}">
                                        <option th:value="${item.id}" th:text="${item.codeNm}"></option>
                                    </th:block>
                                </select>
                            </div>
                            <div class="select w160 subject">
                                <label id="srchGbnChildLabel" th:for="srchGbnChild">
                                    <th:block th:if="*{srchGbnChild eq '' or srchGbnChild eq null}">전체</th:block>
                                </label>
                                <select th:field="*{srchGbnChild}">
                                    <option value="" selected>전체</option>
                                </select>
                            </div>
                        </div>
                        <div class="select_bx2">
                            <div class="search news">
                                <input type="search" th:field="*{srchWord}" placeholder="검색어를 입력해 주세요" />
                            </div>
                            <button type="submit" class="btn btn_blue btn_pill_10">검색</button>
                        </div>
                    </div>-->


                    <div class="select_2 counsel_btn">
                        <div class="option_btn">
                            <button>전체</button>
                            <button>우리반이야기</button>
                            <button>과제</button>
                            <button>기타</button>
                        </div>
                        <a href="/pages/activity/CounselingForm" class="write_btn">글쓰기</a>
                    </div>
                    <ul class="board_tbl_list helpcounsel_list">
                        <li class="thead">
                            <strong class="no">No</strong>
                            <strong class="tit">제목</strong>
                            <strong class="date02">등록/답변일</strong>
                            <strong class="state">상태</strong>
                        </li>
                        <li class="nodata" th:if="${adviceRequests == null or adviceRequests.isEmpty()}"><!--등록된 글 없을경우-->
                            <div>등록된 게시글이 없습니다.</div>
                        </li>
                        <li th:each="item,idx : ${adviceRequests}">
                            <div class="no" th:text="${adviceRequests.totalElements - adviceRequests.pageable.pageSize * adviceRequests.pageable.pageNumber - idx.index}"></div>
                            <th:block th:if="${#authentication.principal == 'anonymousUser'}"><!--로그인 안함-->
                                <div class="tit ico_lock"><a href="javascript:;" th:text="${item.ttl}" th:onclick="|fn_openLayer(${item.id})|">상담을 신청합니다.</a></div>
                            </th:block>
                            <th:block th:unless="${#authentication.principal == 'anonymousUser'}">
                                <th:block th:if="${#authentication.principal.account.mberDvTy eq T(kr.or.btf.web.domain.web.enums.UserRollType).COUNSELOR}"><!--상담사일경우-->
                                    <div class="tit ico_lock"><a href="javascript:;" th:text="${item.ttl}" th:onclick="|fn_moveDetail(${item.id})|">상담을 신청합니다.</a></div>
                                </th:block>
                                <th:block th:unless="${#authentication.principal.account.mberDvTy eq T(kr.or.btf.web.domain.web.enums.UserRollType).COUNSELOR}"><!--상담사아닐경우-->
                                    <div class="tit ico_lock"><a href="javascript:;" th:text="${item.ttl}" th:onclick="|fn_openLayer(${item.id})|">상담을 신청합니다.</a></div>
                                </th:block>
                            </th:block>
                            <th:block th:if="${item.processTy eq T(kr.or.btf.web.domain.web.enums.ProcessType).REQUEST}">
                                <div class="date02">
                                    <span class="th">등록/답변일 :</span>
                                    <th:block th:text="${#temporals.format(item.regDtm,'yyyy-MM-dd(HH:mm)')}">2020.09.23</th:block>
                                </div>
                                <div class="state" th:text="${item.processTy.getName()}">상담대기</div>
                            </th:block>
                            <th:block th:if="${item.processTy eq T(kr.or.btf.web.domain.web.enums.ProcessType).COMPLETE}">
                                <div class="date02">
                                    <span class="th">등록/답변일 :</span>
                                    <th:block th:text="${#temporals.format(item.regDtm,'yyyy-MM-dd(HH:mm)')}">2020.09.23</th:block>
                                    <th:block th:text="|/ ${#temporals.format(item.answerDtm,'yyyy-MM-dd(HH:mm)')}|">2020.09.28</th:block>
                                </div>
                                <div class="state"><b class="fc_blue" th:text="${item.processTy.getName()}">상담완료</b></div>
                            </th:block>
                        </li>
                    </ul>
                </div>

                <!--<th:block
                        th:replace="/fragments/paging :: pagingbody(list=${postscripts}, link='/pages/activity/postscript', formId='form1')"></th:block>-->
            </div>

        </form>
        </div>
    </div>
    <th:block th:replace="fragments/footer"></th:block>
</div>
</body>
</html>