<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header"></th:block>
</head>
<body oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>
<div id="wrap">
    <th:block th:include="fragments/header_gnb"></th:block>
    <div id="container">
        <th:block th:include="fragments/snb"></th:block>

        <form id="form1" name="form1" method="post" th:object="${form}">

            <div class="contents">
                <div class="page_top pc">
                    <h3 class="page_tit">치유</h3>
                    <span>사이버폭력으로 인한 상담과 도움을 요청하세요.</span>
                </div>
                <div class="page_cont">
                    <div class="tab_ico_area">
                        <a href="javascript:;" class="tit">도움상담</a>
                        <ul class="tab_type_ico">
                            <li class="help active"><a href="/pages/activity/helpCounseling">도움상담</a></li>
                            <li class="therapy"><a href="/pages/activity/familyTherapy">가족테라피</a></li>
                            <li class="mind"><a href="/pages/activity/mindSharing">마음나눔</a></li>
                        </ul>
                        <p class="mo_page_txt">사이버폭력으로 인한 상담과 도움을 요청하세요.</p>
                    </div>
                    <h4 class="subtit pc">도움 요청 자료실</h4>
                    <div class="detail_cont">
                        <div class="top">
                            <div class="thumb"><img th:src="${rootPath+'/boardData/'+thumbFile.flNm}" th:alt="${thumbFile.flNm}" onerror="this.src='/ClientUI/user/images/contents/nodata01.png'" /></div>
                            <div class="info_area">
                                <th:block th:if="*{sntncHead ne ''}">
                                    <strong class="tit" th:text="|[*{sntncHead}]  *{ttl}|">OO중학교 사이버 폭력 근절단</strong>
                                </th:block>
                                <th:block th:unless="*{sntncHead ne ''}">
                                    <strong class="tit" th:text="*{ttl}">OO중학교 사이버 폭력 근절단</strong>
                                </th:block>
                                <p class="count">
                                    <!--<span>조회수 : <th:block th:text="*{readCnt}"></th:block>회</span>
                                    <span>다운로드 : <th:block th:text="${downloadCnt}"></th:block>회</span>-->
                                    <span class="date" th:text="|등록일 : *{#temporals.format(ntceDt,'yyyy.MM.dd')}|">등록일 : 2020.12.31</span>
                                </p>
                                <div class="file">
                                    <p>첨부파일 <span>(파일명을 클릭하면 다운로드 됩니다.)</span></p>
                                    <th:block th:each="item : ${fileList}">
                                        <th:block th:if="${T(kr.or.btf.web.domain.web.enums.FileDvType).ATTACH.name() eq item.dvTy}">
                                            <!--<a th:href="${rootPath+'/boardData/'+item.flNm}" download th:text="${item.flNm}"></a>-->
                                            <a href="javascript:void(0);" th:onclick="fn_fileDownload([[${item.flPth}]], [[${item.chgFlNm}]])" class="btn_down" th:text="${item.flNm}"></a>
                                            <!--<a href="파일주소" download>사이버폭력예방 가이드2.pdf</a>
                                            <a href="파일주소" download>사이버폭력예방 가이드3.pdf</a>
                                            <a href="파일주소" download>사이버폭력예방 가이드4.pdf</a>-->
                                        </th:block>
                                    </th:block>
                                </div>
                            </div>
                        </div>
                        <div class="bottom editor" th:utext="*{cn}">
                            상세내용
                        </div>
                        <div class="btn_area">
                            <a href="/pages/activity/helpDataRoom" class="btn btn_lg btn_line_blue btn_pill_10">목록</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:replace="fragments/footer"></th:block>
</div>
</body>
</html>
