<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header"></th:block>
    <script type="text/javascript">
        ////-------- page load
        $(function () {
        });
    </script>
</head>
<body oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>
<div id="wrap">
    <th:block th:include="fragments/header_gnb"></th:block>
    <div id="container">
        <th:block th:include="fragments/mo_menu"></th:block>
        <div class="sub_container">
            <th:block th:include="fragments/dept_menu"></th:block>

        <form id="form1" name="form1" method="post" th:object="${form}">
            <input type="hidden" id="advcReqPid" name="advcReqPid" th:value="*{id}">
            <div class="contents">
                <div class="page_top pc">
                    <h3 class="page_tit">치유</h3>
                    <span>사이버폭력으로 인한 상담과 도움을 요청하세요.</span>
                </div>
                <div class="page_cont">
                    <div class="tab_ico_area">
                        <a href="javascript:;" class="tit">도움상담</a>
                        <p class="mo_page_txt">사이버폭력으로 인한 상담과 도움을 요청하세요.</p>
                    </div>
                    <h4 class="subtit pc">상담내용</h4>
                    <div class="detail_cont">
                        <div class="top">
                            <div class="info_area">
                                <strong class="tit" th:text="*{ttl}">저는 5개월전부터 사이버폭력을 당하고 있습니다.</strong>
                                <p class="count"><span th:text="|등록시간 : *{#temporals.format(regDtm,'yyyy.MM.dd (HH:mm)')}|">등록시간 : 2020.09.23 (22:50)</span></p>
                                <div class="file">
                                    <span>첨부파일 :&nbsp;</span>
                                    <th:block th:each="item : ${fileList}">
                                        <th:block th:if="${T(kr.or.btf.web.domain.web.enums.FileDvType).ATTACH.name() eq item.dvTy}">
                                            <a th:href="${filePath+'/'+item.flNm}" download th:text="${item.flNm}">사이버폭력예방 가이드2.pdf</a>
                                        </th:block>
                                    </th:block>
                                </div>
                            </div>
                        </div>
                        <div class="bottom pdrl">

                            <div class="editor" th:utext="*{#strings.replace(cn, T(System).getProperty('line.separator'), '&lt;br /&gt;')}">
                                안녕하세요.. 저는 중학교 3학년에 재학중인 김새론입니다. <br>
                                저는 5개월전부터 사이버폭력을 당하고 있습니다. <br>
                                ..
                            </div>
                        </div>
                        <!--답변이 없을경우-->
                        <div th:if="${loadAnswer == null}" class="answer">

                        </div>
                        <!--답변이 있을 경우에만 노출-->
                        <div th:if="${loadAnswer != null}" class="answer">
                            <input type="hidden" th:field="${loadAnswer.id}">
                            <div class="info">
                                <span th:text="|상담자 : ${loadAnswer.nm} (${loadAnswer.loginId})|">상담자 : 김새론 (9158helpme)</span>
                                <span id="answer_reg_dtm" class="date" th:text="|등록시간 : ${#temporals.format(loadAnswer.regDtm,'yyyy.MM.dd (HH:mm)')}|">등록시간 : 2020.09.24 (22:50)</span></p>
                            </div>
                            <div class="editor" th:utext="${#strings.replace(loadAnswer.cn, T(System).getProperty('line.separator'), '&lt;br /&gt;')}">
                                안녕하세요.<br>
                                푸른코끼리 상담원 홍길동입니다.<br><br>

                                보내주신 내용에 대해 말씀드립니다. 말씀하신 내용을 보니 지금 광장히..
                            </div>
                        </div>
                        <div class="btn_area">
                            <th:block th:if="${loadAnswer == null}">
                                <a th:href="|/pages/activity/helpRequestRegister/*{id}|" class="btn btn_md btn_line_blue btn_pill_10">수정</a>
                            </th:block>
                            <a href="/pages/activity/helpRequest" class="btn btn_md btn_line_blue btn_pill_10">목록</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        </div>
    </div>
    <th:block th:replace="fragments/footer"></th:block>
</div>
</body>
</html>
