<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header"></th:block>

</head>
<body oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>
<div id="wrap">
    <th:block th:include="fragments/header_gnb"></th:block>
    <div id="container">
        <th:block th:include="fragments/mo_menu"></th:block>
        <div class="sub_container">
            <th:block th:include="fragments/dept_menu"></th:block>

            <div class="inner">
                <div class="page_cont">
                    <!--<h4 class="subtit pc review_title">심리상담</h4>-->
                    <div class="help_text_box activity_bx">
                        <img class="pc_banner" src="/ClientUI/user/images/contents/pc_banner_02.png">
                        <img class="m_banner" src="/ClientUI/user/images/contents/m_banner_02.png">
<!--                        <img src="/ClientUI/user/images/contents/lecture/intro_text_box.png">-->
<!--                        <div class="text">-->
<!--                            <p class="title">누구나 고민이 있다면 푸코에게 상담을  요청할 수 있어요.</p>-->
<!--                            <span class="sub">-->
<!--                                    상담 내용은 절대 비밀!  푸코가 다양한 전문상담과 상황에 따라 적절한 도움도 줄거에요. 기다리고 있을 테니  언제든지 편하게 이야기해주세요.<b></b>푸코는 여러분에게 꼭 필요한 도움을 주고싶어요. <b></b>구체적인 내용을 자세히 적고 증거자료를  첨부해준다면 정확한 상황을 파악하여  도움을 줄 수 있어요.-->
<!--                                </span>-->
<!--                        </div>-->
                    </div>
                    <div class="help_item_05 help_item_inner">
                       <!-- <h2>법률상담</h2>-->
                        <div class="top_desc">
                            <b>“청소년 지킴이 변호사”와 함께하는<i></i> 학교폭력 법률상담 서비스 절차 </b>
                        </div>
                        <div class="help_desc6">
                            <div class="item_inner pc">
                                <div class="item">
                                    <div>
                                        <img src="/ClientUI/user/images/contents/help_01.png" alt="">
                                    </div>
                                    <span>전화문의</span>
                                </div>
                                <div class="item">
                                    <div>
                                        <img src="/ClientUI/user/images/contents/help_02.png" alt="">
                                    </div>
                                    <span>신청서 접수</span>
                                </div>
                                <div class="item">
                                    <div>
                                        <img src="/ClientUI/user/images/contents/help_05.png" alt="">
                                    </div>
                                    <span>마무리</span>
                                </div>
                            </div>
                            <div class="item_inner mobile">
                                <div class="inner">
                                    <div class="item">
                                        <div>
                                        </div>
                                        <span>전화문의
                                            </span>
                                    </div>
                                    <div class="item">
                                        <div>
                                        </div>
                                        <span>신청서 접수
                                            </span>
                                    </div>
                                    <div class="item">
                                        <div>
                                        </div>
                                        <span>마무리
                                            </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="help_info6">
                            <div class="sec_write family_the">
                                <span>운영안내</span>
                                <div class="tbl_write contour">
                                    <ul>
                                        <li>
                                            <div class="th">
                                                <label for="">상담진행</label>
                                            </div>
                                            <div class="td">
                                                <span>매주 월요일 14:00 ~ 17:00 (사전 예약제 운영)</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="th">
                                                <label for="">상담비용</label>
                                            </div>
                                            <div class="td">
                                                <span>무료</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="th">
                                                <label for="">상담문의</label>
                                            </div>
                                            <div class="td">
                                                <span>전화 : 02-598-1610 | 팩스 : 02-598-1641 | 이메일 : sos@btf.or.kr</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
        <th:block th:replace="fragments/footer"></th:block>
    </div>
</body>
</html>
