<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header"></th:block>

</head>
<body oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>
<div id="wrap">
    <th:block th:include="fragments/header_gnb"></th:block>
    <div id="container">
        <th:block th:include="fragments/mo_menu"></th:block>
        <div class="sub_container">
            <th:block th:include="fragments/dept_menu"></th:block>
            <div class="contents">
                <div class="page_top">
                    <h3 class="page_tit bg">법률상담</h3>
                </div>
                <div class="page_cont preparing">
                    <!--준비중 img-->
                    <div class="img">
                        <img src="/ClientUI/user/images/common/under_construction.png" alt="공사중"/>
                    </div>
                    <div class="word">
                        푸하!(푸코하이란뜻)<br/><br/>
                        여러분이 더 쉽게 교육/푸코활동을 신청할 수 있도록 <br/>폼을 만들고 있어요.<br/>
                        당분간은 메일/전화로 연락주세요.<br/><br/>

                        메일 : cybersoscenter@btf.or.kr<br/>
                        전화 : 070-7165-1091<br/>
                    </div>
                </div>
            </div>
        </div>
        <th:block th:replace="fragments/footer"></th:block>
    </div>
</body>
</html>
