<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:include="fragments/header"></th:block>

</head>
<body oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>
<div id="wrap">
  <th:block th:include="fragments/header_gnb"></th:block>
  <div id="container">
    <th:block th:include="fragments/mo_menu"></th:block>
    <div class="sub_container">
      <th:block th:include="fragments/dept_menu"></th:block>

      <div class="inner">
        <div class="page_cont">
          <!--<h4 class="subtit pc review_title">심리상담</h4>-->
          <div class="sub_text_box help_text_box">
            <img src="/ClientUI/user/images/contents/lecture/intro_text_box.png">
            <div class="text">
              <p class="title">누구나 고민이 있다면 푸코에게 상담을  요청할 수 있어요.</p>
              <span class="sub">
                                    상담 내용은 절대 비밀!  푸코가 다양한 전문상담과 상황에 따라 적절한 도움도 줄거게요. 기다리고 있을 테니  언제든지 편하게 이야기해주세요.<b></b>푸코는 여러분에게 꼭 필요한 도움을 주고싶어요. <b></b>구체적인 내용을 자세히 적고 증거자료를  첨부해준다면 정확한 상황을 파악하여  도움을 줄 수 있어요.
                                </span>
            </div>
          </div>
          <div class="help_item_04 help_item_inner">
            <h2>대면상담 안내</h2>
            <div class="help_info6">
              <div class="sec_write family_the">
                <div class="tbl_write contour">
                  <ul>
                    <li>
                      <div class="th">
                        <label for="">이용대상</label>
                      </div>
                      <div class="td">
                        <span>부모/교원/청소년 누구나</span>
                      </div>
                    </li>
                    <li>
                      <div class="th">
                        <label for="">운영시간</label>
                      </div>
                      <div class="td">
                        <span>월요일 ~ 금요일 9:00 ~ 18:00</span>
                      </div>
                    </li>
                    <li>
                      <div class="th">
                        <label for="">장소</label>
                      </div>
                      <div class="td">
                        <span>푸른나무재단 |  서울특별시 서초구 서초대로 46길 88 (서초동) 3F (서초동 1566-2 청예단빌딩)</span>
                      </div>
                    </li>
                    <li>
                      <div class="th">
                        <label for="">이용문의</label>
                      </div>
                      <div class="td">
                        <span>- 대표번호 : 02-598-1610, 02-598-1640<i></i>- 이메일 : withwee@btf.or.kr</span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="help_desc6 help_desc4">
              <span>상담순서</span>
              <div class="item_inner pc">
                <div class="item">
                  <div>
                    <img src="/ClientUI/user/images/contents/help_02.png" alt="">
                  </div>
                  <span>신청
                                            <p>
                                                <small>일정조절</small>
                                            </p>
                                        </span>
                </div>
                <div class="item">
                  <div>
                    <img src="/ClientUI/user/images/contents/help_08.png" alt="">
                  </div>
                  <span>접수
                                            <p>
                                                <small>접수면접 실시</small>
                                                <small>사전검사 실시</small>
                                                <small>개별 시간표 계획</small>
                                            </p>
                                        </span>
                </div>
                <div class="item">
                  <div>
                    <img src="/ClientUI/user/images/contents/help_06.png" alt="">
                  </div>
                  <span>프로그램참여
                                            <p>
                                                <small>단기(1주)</small>
                                                <small>중기(2주~1개월)</small>
                                                <small>장기(1개월 이상)</small>
                                                <small>기간별 맞춤 프로그램 진행</small>
                                            </p>
                                        </span>
                </div>
                <div class="item">
                  <div>
                    <img src="/ClientUI/user/images/contents/help_07.png" alt="">
                  </div>
                  <span>마무리
                                            <p>
                                                <small>만족도 실시</small>
                                                <small>사후검사 실시</small>
                                                <small>사후관리</small>
                                            </p>
                                        </span>
                </div>
              </div>
              <div class="item_inner mobile">
                <div class="inner">
                  <div class="item">
                    <div>
                    </div>
                    <span>신청
                                                <p>
                                                    <small>일정조절</small>
                                                </p>
                                            </span>
                  </div>
                  <div class="item">
                    <div>
                    </div>
                    <span>접수
                                                <p>
                                                    <small>접수면접 실시</small>
                                                    <small>사전검사 실시</small>
                                                    <small>개별 시간표 계획</small>
                                                </p>
                                            </span>
                  </div>
                </div>
                <div class="inner">
                  <div class="item">
                    <div>
                    </div>
                    <span>프로그램참여
                                                <p>
                                                    <small>단기(1주)</small>
                                                    <small>중기(2주~1개월)</small>
                                                    <small>장기(1개월 이상)</small>
                                                    <small>기간별 맞춤 프로그램 진행</small>
                                                </p>
                                            </span>
                  </div>
                  <div class="item">
                    <div>
                    </div>
                    <span>마무리
                                                <p>
                                                    <small>만족도 실시</small>
                                                    <small>사후검사 실시</small>
                                                    <small>사후관리</small>
                                                </p>
                                            </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="school_info help_desc4">
              <div class="top_tit">
                <span>상세정보</span>
                <span class="aster">*</span>
              </div>
              <div class="sec_write join">
                <div class="tbl_write">
                  <ul>
                    <li class="col">
                      <div class="th">
                        <label for="">이름</label>
                        <span class="aster">*</span>
                      </div>
                      <div class="td">
                        <input type="text" id="" placeholder="이름을 입력하세요">
                      </div>
                    </li>
                    <li class="col">
                      <div class="th">
                        <label for="">지역</label>
                        <span class="aster">*</span>
                      </div>
                      <div class="td">
                        <input type="text">
                      </div>
                    </li>
                    <li class="col">
                      <div class="th">
                        <label for="">제목</label>
                        <span class="aster">*</span>
                      </div>
                      <div class="td">
                        <input type="text" placeholder="제목를 업로드하세요"s>
                      </div>
                    </li>
                    <li class="col txtbox">
                      <div class="th">
                        <label for="">내용</label>
                        <span class="aster">*</span>
                      </div>
                      <div class="td">
                        <textarea name="" id="" cols="30" rows="10" placeholder="최대 1,000자 이내"></textarea>
                      </div>
                    </li>
                    <li class="col">
                      <div class="th">
                        <label for="">연락처</label>
                        <span class="aster">*</span>
                      </div>
                      <div class="td">
                        <input type="text">
                      </div>
                    </li>
                    <li class="col">
                      <div class="th">
                        <label for="">희망일자</label>
                        <span class="aster">*</span>
                      </div>
                      <div class="td">
                        <input type="text">
                      </div>
                    </li>
                    <li class="col time_inner">
                      <div class="th">
                        <label for="">희망시간</label>
                        <span class="aster">*</span>
                      </div>
                      <div class="td">
                        <div class="time_chk_inner checkbox">
                          <input type="radio" id="time_chk1" name="time_chk">
                          <label class="sns" for="time_chk1">
                            <span>09:00 ~ 10:00</span>
                          </label>
                        </div>
                        <div class="time_chk_inner checkbox">
                          <input type="radio" id="time_chk2" name="time_chk" >
                          <label class="sns" for="time_chk2">
                            <span>10:00 ~ 11:00</span>
                          </label>
                        </div>
                        <div class="time_chk_inner checkbox">
                          <input type="radio" id="time_chk3" name="time_chk">
                          <label class="sns" for="time_chk3">
                            <span>11:00 ~ 12:00</span>
                          </label>
                        </div>
                        <div class="time_chk_inner checkbox">
                          <input type="radio" id="time_chk4" name="time_chk">
                          <label class="sns" for="time_chk4">
                            <span>15:00 ~ 16:00</span>
                          </label>
                        </div>
                        <div class="time_chk_inner checkbox">
                          <input type="radio" id="time_chk5" name="time_chk">
                          <label class="sns" for="time_chk5">
                            <span>16:00 ~ 17:00</span>
                          </label>
                        </div>
                        <div class="time_chk_inner checkbox">
                          <input type="radio" id="time_chk6" name="time_chk">
                          <label class="sns" for="time_chk6">
                            <span>17:00 ~ 18:00</span>
                          </label>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="partners_edu_btn">
              <a class="save_btn" href="#none">저장</a>
              <a class="join_btn" href="/pages/activity/healIntro">목록</a>
            </div>


          </div>
        </div>

      </div>



    </div>
    <th:block th:replace="fragments/footer"></th:block>
  </div>
</body>
</html>
