<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header"></th:block>
</head>
<body oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>
<div id="wrap">
    <th:block th:include="fragments/header_gnb"></th:block>
    <div id="container">
        <th:block th:include="fragments/mo_menu"></th:block>
        <div class="sub_container">
            <th:block th:include="fragments/dept_menu"></th:block>
        <form id="form1" name="form1" method="post" th:object="${form}">

            <div class="inner">
                <!--<div class="page_top pc">
                    <h3 class="page_tit">치유</h3>
                    <span>사이버폭력없는 세상을 만드는데 동참해주세요.</span>
                </div>-->
                <!--<div class="page_cont mind_area">
                    <div class="tab_ico_area">
                        <a href="javascript:;" class="tit">마음나눔</a>
                        <p class="mo_page_txt">사이버폭력으로 인한 상담과 도움을 요청하세요.</p>
                        <div class="tab_cont mo_thumb">
                            <div class="cont mind active">
                                <div class="thumb">
                                    <p>마음나눔</p>
                                </div>
                                <dl class="desc">
                                    <dt>당신의 <em>도움</em>으로 폭력에 노출된 아이들을 구할 수 있습니다. <span>당신의 <em>마음</em>이 온기가 필요한 청소년들에게 전달됩니다.</span></dt>
                                    <dd>
                                        <div class="hashtag">
                                            <span>#help</span><span>#hope</span>
                                        </div>
                                        <div class="btn_area">
                                            <a href="javascript:;" onclick="return fn_linkUrl('https://mrmweb.hsit.co.kr/v2/Member/MemberJoin.aspx?action=join&server=8A0qKbUTSxXKiaFQCm7xBw==&_ga=2.69546768.163200047.1602728354-1602796120.1593159639', true)" class="btn btn_lg btn_blue btn_pill_10">정기기부</a>
                                            <a href="javascript:;" onclick="return fn_linkUrl('https://mrmweb.hsit.co.kr/v2/Member/SupportOnce.aspx?action=once&server=8A0qKbUTSxXKiaFQCm7xBw==&_ga=2.69546768.163200047.1602728354-1602796120.1593159639', true)" class="btn btn_lg btn_line_blue btn_pill_10">일시기부</a>
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>-->
                <h4 class="subtit review_title mind_tit">마음나눔</h4>
                <div class="review_text_box2 mind_share_box">
                    <div class="text">
                        <p class="title">
                        </p>
                        <span class="sub">
                            당신의 도움으로 사이버(학교)폭력에 노출된  아이들을 구할 수 있어요.<b></b>
당신의 마음이 온기가 필요한 청소년들에게 전달됩니다.
                            </span>
                        <b> #help #hope</b>
                    </div>
                </div>
                <div class="help_btn mind_btn">
                    <a class="shortcut_btn" href="#none">정기기부</a>
                    <a class="list_btn" href="#none">일시기부</a>
                </div>

            </div>
        </form>
        </div>
    </div>
    <th:block th:replace="fragments/footer"></th:block>
</div>
</body>
</html>
