<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header"></th:block>
    <script type="text/javascript">
        $(function () {

        });

        //공감 저장
        function fn_commentSave() {
            var comt = $('#comment');
            var dataPid = [[${form.id}]];
            var tableNm = '[[${T(kr.or.btf.web.domain.web.enums.TableNmType).TBL_BOARD_DATA.name()}]]';
            var mstPid = [[${form.mstPid}]];

            var jsonData = {
                'dataPid' : dataPid,
                'comt' : comt.val(),
                'tableNm' : tableNm
            }
            $.ajax({
                type: 'post',
                url: '/api/comment/save/one',
                contentType: "application/json",
                data: JSON.stringify(jsonData),
                datatype: 'text',
                success: function (data) {
                    if (data === 'ok') {
                        alert('공감하였습니다.');
                        location.reload();
                    } else if (data === 'self') {
                        alert('자신의 글에는 공감할 수 없습니다.');
                    } else if (data === 'dup') {
                        alert('이미 공감하셨습니다.');
                    } else {
                        alert('실패되었습니다 관리자에게 문의 하세요');
                    }
                },
                error: function (error) {
                    //alert('save error!!!');
                    alert('error::' + error.statusText);
                }
            });
        }

        //공감삭제
        function fn_commentDelete(id) {
            if (!confirm('공감을 삭제하시겠습니까?')) {
                return;
            }
            var jsonData = {
                'id' : id
            }
            $.ajax({
                type: 'post',
                url: '/api/comment/delete',
                contentType: "application/json",
                data: JSON.stringify(jsonData),
                datatype: 'text',
                success: function (data) {
                    if (data === 'ok') {
                        alert('공감을 삭제하였습니다.');
                        location.reload();
                    }
                },
                error: function (error) {
                    //alert('save error!!!');
                    alert('error::' + error.statusText);
                }
            });
        }

        function fn_moveLogin() {
            alert("로그인이 필요한 기능입니다.");
            location.href = ("/login");
        }
    </script>
</head>
<body oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>
<div id="wrap">
    <th:block th:include="fragments/header_gnb"></th:block>
    <div id="container">
        <th:block th:include="fragments/snb"></th:block>

        <form id="form1" name="form1" method="post" th:object="${form}">
            <div class="contents">
                <div class="page_top pc">
                    <h3 class="page_tit">제안</h3>
                    <span>연구결과를 바탕으로 국내법 개정과 정책 입안을 이끌어 갑니다.</span>
                </div>
                <div class="page_cont">
                    <div class="tab_ico_area">
                        <a href="javascript:;" class="tit">정책제안</a>
                        <ul class="tab_type_ico">
                            <li class="proposal active">
                                <a href="/pages/activity/policyProposal">정책제안</a>
                            </li>
                            <li class="contest">
                                <a href="/pages/activity/contest">공모전</a>
                            </li>
                        </ul>
                        <p class="mo_page_txt">연구결과를 바탕으로 국내법 개정과 정책 입안을 이끌어 갑니다.</p>
                    </div>
                    <h4 class="subtit pc">정책제안 상세</h4>
                    <div class="detail_cont">
                        <div class="top">
                            <div class="info_area">
                                <th:block th:if="*{sntncHead ne ''}">
                                    <strong class="tit" th:text="|[*{sntncHead}]  *{ttl}|">청소년의 교실 밖 수업을 늘려주세요</strong>
                                </th:block>
                                <th:block th:unless="*{sntncHead ne ''}">
                                    <strong class="tit" th:text="*{ttl}">청소년의 교실 밖 수업을 늘려주세요</strong>
                                </th:block>
                                <p class="count">
                                    <span th:text="|제안자 : *{wrterNm}|">제안자 : 홍길동</span>
                                    <span th:text="|공감수 : *{#numbers.formatInteger(likeCnt, 0, 'COMMA')}|">공감수 : 19,000명</span>
                                    <span th:text="|조회수 : *{#numbers.formatInteger(readCnt, 0, 'COMMA')}|">조회수 : 16회</span>
                                    <span class="date" th:text="|등록일 : *{#temporals.format(regDtm,'yyyy.MM.dd')}|">등록일 : 2020.10.13</span>
                                </p>
                                <div class="file">
                                    <span>첨부파일 :&nbsp;</span>
                                    <th:block th:each="item : ${fileList}">
                                        <th:block th:if="${T(kr.or.btf.web.domain.web.enums.FileDvType).ATTACH.name() eq item.dvTy}">
                                            <a th:href="${filePath+'/'+item.flNm}" download th:text="${item.flNm}">첨부파일.pdf</a>
                                        </th:block>
                                    </th:block>
                                </div>
                            </div>
                        </div>
                        <div class="bottom pdrl">
                            <div class="editor"th:utext="*{#strings.replace(cn, T(System).getProperty('line.separator'), '&lt;br /&gt;')}"></div>
                        </div>

                        <div class="comment">
                            <div class="comment_write">
                                <div class="inner">
                                    <label for="comment" class="blind">공감 입력</label>
                                    <!--<textarea name="comment" id="comment">공감해요</textarea>
                                    <button type="button" class="btn btn_blue btn_pill_10">공감</button>-->
                                    <th:block th:if="${#authentication.principal != 'anonymousUser'}">
                                        <textarea name="comment" id="comment">공감해요</textarea>
                                        <a th:if="*{regPsId eq #authentication.principal.account.loginId}" href="javascript:alert('자신의 글에는 공감할 수 없습니다.');" type="button" class="btn btn_blue btn_pill_10">공감하기</a> <!--자신글일때-->
                                        <button th:unless="*{regPsId eq #authentication.principal.account.loginId}" type="button" onclick="fn_commentSave()" class="btn btn_blue btn_pill_10">공감하기</button>
                                    </th:block>
                                    <th:block th:unless="${#authentication.principal != 'anonymousUser'}">
                                        <textarea placeholder="로그인이 필요한 기능입니다." readonly onclick="fn_moveLogin()"></textarea>
                                        <button type="button" class="btn btn_blue btn_pill_10" onclick="fn_moveLogin()">등록</button>
                                    </th:block>
                                </div>
                            </div>
                            <!--<ul class="comment_list">
                                <li>
                                    <dl>
                                        <dt>bongbong11 <span>(2020.09.12)</span></dt>
                                        <dd>
                                            <div>공감해요</div>
                                            <a href="javascript:;" class="btn">삭제</a>
                                        </dd>
                                    </dl>
                                </li>
                            </ul>-->
                            <th:block th:if="${commonComments ne null and commonComments.content.size() ne 0}">
                                <ul class="comment_list">
                                    <li th:each="item : ${commonComments}">
                                        <dl>
                                            <dt th:text="${item.regPsId}"></dt>
                                            <dd>
                                                <div th:text="${item.comt}"></div>
                                                <th:block th:if="${#authentication.principal != 'anonymousUser'}">
                                                    <a th:if="${#authentication.principal.account.loginId eq item.regPsId}" th:onclick="|fn_commentDelete(${item.id})|" href="javascript:;" class="btn">삭제</a>
                                                </th:block>
                                            </dd>
                                        </dl>
                                    </li>
                                </ul>
                                <th:block th:replace="/fragments/paging :: pagingbody(list=${commonComments}, link='/pages/activity/policyProposalDetail/' + *{id}, formId='form1')"></th:block>
                            </th:block>
                            <div class="btn_area">
                                <th:block th:if="${#authentication.principal != 'anonymousUser'}">
                                    <th:block th:if="*{#authentication.principal.account.loginId eq regPsId}">
                                        <a th:if="${commonComments == null or commonComments.isEmpty()}" th:href="|/pages/activity/policyProposalRegister/*{id}|" class="btn btn_lg btn_blue btn_pill_10">수정</a>
                                        <a th:unless="${commonComments == null or commonComments.isEmpty()}" href="javascript:alert('공감받은 글은 관리자만 수정할 수 없습니다.');" class="btn btn_lg btn_blue btn_pill_10">수정</a>
                                    </th:block>
                                </th:block>
                                <a href="/pages/activity/policyProposal" class="btn btn_lg btn_line_blue btn_pill_10">목록</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:replace="fragments/footer"></th:block>
</div>
</body>
</html>
