<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header"></th:block>
    <script type="text/javascript">

        ////-------- page load
        $(function () {
        });
    </script>
</head>
<body oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>
<div id="wrap">
    <th:block th:include="fragments/header_gnb"></th:block>
    <div id="container">
        <th:block th:include="fragments/mo_menu"></th:block>
        <div class="sub_container">
            <th:block th:include="fragments/dept_menu"></th:block>

            <form id="form1" name="form1" method="post">
                <div class="contents">
                    <div class="page_top pc">
                        <h3 class="page_tit">강의실</h3>
                        <span>다양한 강의가 빠르게 업데이트 됩니다. </span>
                    </div>
                    <div class="page_cont">
                        <ul class="thumb_list clearfix">
                            <th:block th:if="${masterSeqs == null or masterSeqs.isEmpty()}"><!--등록된 글이 없을 경우-->
                                <li class="nodata">
                                    <div>등록된 게시글이 없습니다.</div>
                                </li>
                            </th:block>
                            <li th:each="item,idx:${masterSeqs}">
                                <a th:href="${'/pages/activity/eduMasterClass/'+item.id}">
                                <span class="thumb">
                                    <img th:src="${filePath +'/'+ item.imgFl}" th:alt="${item.crsNm}"
                                         onerror="this.src='/ClientUI/user/images/contents/data01.jpg '"/>
                                </span>
                                    <strong class="tit">
                                        <th:block th:text="${item.crsNm}"/>
                                    </strong>
                                    <th:block th:if="${item.atnlcReqPid eq null}">
                                        <span class="lbl lbl_apply">수강신청</span>
                                    </th:block>
                                    <th:block th:unless="${item.atnlcReqPid eq null}">
                                        <th:block th:if="${item.completeCnt < 6}">
                                            <span class="lbl lbl_ing">수강중</span>
                                        </th:block>
                                        <th:block th:if="${item.completeCnt eq 6}">
                                            <span class="lbl lbl_end">수강완료</span>
                                        </th:block>

                                    </th:block>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <th:block
                            th:replace="/fragments/paging :: pagingbody(list=${masterSeqs}, link='/pages/activity/preventionEdu/' + ${userGbn}, formId='form1')"></th:block>
                </div>
            </form>
        </div>
    </div>
    <th:block th:replace="fragments/footer"></th:block>
</div>

<div id="popIntroVideo01" class="layer_popup">
    <div class="dim" onclick="pauseVid('introVideo01')"></div>
    <div class="popup_area">
        <a href="javascript:layerHide('popIntroVideo01'); pauseVid('introVideo01')" class="btn_close"><span class="blind">팝업닫기</span></a>
        <div class="popup">
            <div class="video_area">
                <video id="introVideo01" src="http://qmfrjbfusyhx5463976.cdn.ntruss.com/푸른나무재단 소개영상.mp4"
                       width="100%" controls controlsList="nodownload"></video>
            </div>
        </div>
    </div>
</div>
<script>
    // 인트로영상 팝업창 닫기 & 딤 클릭시 영상 일시정지
    function pauseVid(introVideo) {
        var introVideo = document.getElementById(introVideo);
        introVideo.pause();
    }
</script>
</body>
</html>
