<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:include="fragments/header"></th:block>

</head>
<body oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>
<div id="wrap">
  <th:block th:include="fragments/header_gnb"></th:block>
  <div id="container">
    <th:block th:include="fragments/mo_menu"></th:block>
    <div class="sub_container">
      <th:block th:include="fragments/dept_menu"></th:block>

      <div class="inner">
        <div class="page_cont">
          <!-- <h4 class="subtit pc review_title">심리상담</h4> -->
          <div class="sub_text_box help_text_box form_text_box">
            <img src="/ClientUI/user/images/contents/lecture/intro_text_box.png">
            <div class="text">
              <p class="title">누구나 고민이 있다면 푸코에게 상담을  요청할 수 있어요.</p>
              <span class="sub">
                                    상담 내용은 절대 비밀!  푸코가 다양한 전문상담과 상황에 따라 적절한 도움도 줄거예요. 기다리고 있을 테니  언제든지 편하게 이야기해주세요.<b></b>푸코는 여러분에게 꼭 필요한 도움을 주고싶어요. <b></b>구체적인 내용을 자세히 적고 증거자료를  첨부해준다면 정확한 상황을 파악하여  도움을 줄 수 있어요.
                                </span>
            </div>
          </div>
          <div class="help_item_06 help_item_inner">
            <!--<h2>화해분쟁조정</h2>-->
            <div class="top_desc">
              <span>소개 및 절차안내</span>
              <p>
                푸른나무재단에서는 학교폭력으로 어려움을 겪고있는 전국 학생 및 보호자, 교사를 대상으로 학교폭력으로 인한 갈등 감소 및 분쟁 해결을 통해 <b></b>안정한 학교생활을 할 수 있도록 화해·분쟁조정 서비스를 지원을 하고 있습니다.
              </p>
            </div>
            <div class="help_info6">
              <div class="sec_write family_the">
                <div class="tbl_write contour">
                  <ul>
                    <li>
                      <div class="th">
                        <label for="">이용대상</label>
                      </div>
                      <div class="td">
                        <span>학교폭력으로 도움이 필요한 학생, 보호자, 교사 등</span>
                      </div>
                    </li>
                    <li>
                      <div class="th">
                        <label for="">상담비용</label>
                      </div>
                      <div class="td">
                        <span>월요일 ~ 금요일 9:00 ~ 18:00</span>
                      </div>
                    </li>
                    <li>
                      <div class="th">
                        <label for="">이용문의</label>
                      </div>
                      <div class="td">
                        <span>02)598-1640</span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="help_desc6">
              <span>학교폭력 화해·분쟁조정 서비스 절차</span>
              <div class="item_inner pc">
                <div class="item">
                  <div>
                    <img src="/ClientUI/user/images/contents/help_01.png" alt="">
                  </div>
                  <span>전화문의</span>
                </div>
                <div class="item">
                  <div>
                    <img src="/ClientUI/user/images/contents/help_02.png" alt="">
                  </div>
                  <span>신청서 접수</span>
                </div>
                <div class="item">
                  <div>
                    <img src="/ClientUI/user/images/contents/help_03.png" alt="">
                  </div>
                  <span>화해・분쟁조정 진행</span>
                </div>
                <div class="item">
                  <div>
                    <img src="/ClientUI/user/images/contents/help_04.png" alt="">
                  </div>
                  <span>회복/사후관리</span>
                </div>
              </div>
              <div class="item_inner mobile">
                <div class="inner">
                  <div class="item">
                    <div>
                    </div>
                    <span>전화문의
                                            </span>
                  </div>
                  <div class="item">
                    <div>
                    </div>
                    <span>신청서 접수
                                            </span>
                  </div>
                </div>
                <div class="inner">
                  <div class="item">
                    <div>
                    </div>
                    <span>화해・분쟁조정 진행
                                            </span>
                  </div>
                  <div class="item">
                    <div>
                    </div>
                    <span>회복/사후관리
                                            </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="help_btn">
              <a class="shortcut_btn" href="#none">바로가기</a>
              <a class="list_btn" href="/pages/activity/healIntro">목록</a>
            </div>

          </div>
        </div>
      </div>


    </div>
    <th:block th:replace="fragments/footer"></th:block>
  </div>
</body>
</html>
