<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--
        생성일 21.08.17
        생성자 : 김재일
        단체 회원가입 폼
    -->
    <th:block th:include="fragments/header"></th:block>
    <script>
        // 공통정보
        let frm;
        let loginId;
        let idDupBool;
        let email;
        let email01;
        let email02;
        let email03;
        let tempKey;
        let idNm;
        let eMsg;
        let authEmailChk;
        let authMobileChk;
        let emailAttcAt;
        let mobileAttcAt;
        let passChk = false;
        let sendEmailBtn;
        let chkTempKeyBtn;

        // 일반단체
        let groupNm;
        let chargerNm;
        let position;
        let bNum;
        let attachedFile
        let bLicenseAttc;

        // 지지크루
        let crewNm;
        let crewAffi;
        let crewFNum;
        let rptName;
        let rptEmail;
        let rptEmail01;
        let rptEmail02;
        let rptEmail03;
        let mberDvTy;


        $(function(){
            $('#authMobileChk').val(1);
            mberDvTy = $("#mberDvTy");
            fn_chgCrewDvTy(mberDvTy.val());
            tempKey = $('#tempKey');
            $('#load').hide();
            $(document).ajaxStart(function () {
                $("#load").show();
            }).ajaxStop(function () {
                $("#load").hide();
            });
        });

        function fn_chgCrewDvTy(gbn){
            authEmailChk = $('#authEmailChk');
            authMobileChk = $('#authMobileChk');
            if(authEmailChk.val() == 2 || authMobileChk.val() == 2) {
                alert('본인인증을 완료한 후 가입 구분을 변경할 수 없습니다. \n새로고침 후 다시 가입을 진행해주세요');
                location.reload()
            } else {
                if(gbn == "GROUP"){
                    $('#authMobileChk').val(1)
                    $('.ggCrew').hide();
                    $('.nmCrew').show();
                    mberDvTy.val('GROUP');
                }else if(gbn == "CREW"){
                    $('#authMobileChk').val(1)
                    $('.ggCrew').show();
                    $('.nmCrew').hide();
                    mberDvTy.val('CREW');
                }
            }
        }
        /*
        * fn_chkField() input 체크 함수
        * 생성일 : 21.08.17
        * 생성자 : 김재일
        * */
        function fn_alert(msg) {
            alert(msg)
        }

        function fn_chkField(gbn) {
            attachedFile = $('input[id=attachedFile]');
            groupNm = $('input[id=groupNm]');
            chargerNm = $('input[id=chargerNm]');
            position = $('input[id=position]');
            bNum = $('input[id=bNum]');
            authMobileChk = $('#authMobileChk');
            bLicenseAttc = $('#b_license_attc');
            mobileAttcAt = $('#mobileAttcAt');
            crewNm = $('#crewNm');
            crewAffi = $('#crewAffi');
            crewFNum = $('#crewFNum');
            rptName = $('#rptName');

            if(!idDupBool) {
                fn_alert('아이디 중복확인을 진행해주세요.')
                return false;
            }

            if(!passChk) {
                fn_alert('비밀번호를 확인하세요.')
                return false;
            }

            if(gbn=='GROUP')
            {
                if(!groupNm.val()) {
                    fn_alert('단체명 입력은 필수입니다.')
                    focusAndEmpty(groupNm)
                    return false;
                }
                if(!chargerNm.val()) {
                    fn_alert('담당자 입력은 필수입니다.')
                    focusAndEmpty(chargerNm)
                    return false;
                }
                if(!position.val()) {
                    fn_alert('직책 입력은 필수입니다.')
                    focusAndEmpty(position)
                    return false;
                }
                if(!bNum.val()) {
                    fn_alert('사업자등록번호 입력은 필수입니다.')
                    focusAndEmpty(bNum)
                    return false;
                }
                if(authMobileChk.val() == 1) {
                    fn_alert('휴대폰 인증은 필수입니다.')
                    return false;
                }
                return true;
            }
            else if(gbn=='CREW')
            {
                if($("input:checkbox[id=agree005]").is(":checked") == false) {
                    fn_alert('크루 약관에 동의해주세요.')
                    return false;
                }
                if(!crewNm) {
                    fn_alert('크루명 입력은 필수입니다.')
                    focusAndEmpty(crewNm)
                    return false;
                }
                if(!crewAffi) {
                    fn_alert('소속명 입력은 필수입니다.')
                    focusAndEmpty(crewAffi)
                    return false;
                }
                if(!crewFNum) {
                    fn_alert('기수를 입력하세요.')
                    focusAndEmpty(crewFNum)
                    return false;
                }
                if(!rptName) {
                    fn_alert('대표자명을 입력하세요.')
                    focusAndEmpty(rptName)
                    return false;
                }
                if(authMobileChk.val() == 1) {
                    fn_alert('휴대폰 인증은 필수입니다.')
                    return false;
                }
                return true
            }
            rptEmailChk();
        }

        function rptEmailChk(){
            let emailStr = "";
            email = $('#email');
            email01 = $('#email01');
            email02 = $('#email02');
            email03 = $('#email03');

            rptEmail.siblings('.err.emph').remove();
            if ($.trim(email01.val())) {
                emailStr += $.trim(email01.val());
                emailStr += "@"
            }else{
                alert('이메일을 입력하세요');
                email01.focus();
                return false;
            }

            if ($.trim(email02.val()) != "직접입력") {
                if(!$.trim(email02.val())){
                    alert('이메일을 입력하세요');
                    email02.focus();
                    return false;
                }else{
                    emailStr += $.trim(email02.val());
                }
            }

            if ($.trim(email02.val()) == "직접입력") {
                if(!$.trim(email03.val())){
                    alert('이메일을 입력하세요');
                    email03.focus();
                    return false;
                }else{
                    emailStr += $.trim(email03.val());
                }
            }
            email.val(emailStr);
        }
        function imgChk(){
            let fileNm = $('#attachedFile')[0].files[0].name;
            if (fileNm != "") {
                let ext = fileNm.slice(fileNm.lastIndexOf(".") + 1).toLowerCase();
                if (!(ext == "gif" || ext == "jpg" || ext == "png")) {
                    alert("이미지파일 (.jpg, .png, .gif ) 만 업로드 가능합니다.");
                    return false;
                }
            }

        }
        /*
        * focusAndEmpty(param) this 필드 초기화 및 포커싱
        * 생성일 : 21.08.20
        * 생성자 : 김재일
        * */
        function focusAndEmpty(obj){
            obj.val('')
            obj.focus()
        }

        /*
        * fn_comparePwd() 암호 필드 체크
        * 생성일 : 21.08.17
        * 생성자 : 김재일
        * */
        function fn_comparePwd() {
            pwd = $("#pwd");
            pwdChk = $('#pwdChk');
            pwdChk.siblings('.err.emph').remove();
            if (pwd.val() != pwdChk.val()) {
                pwdChk.after('<p class="err emph">비밀번호가 일치하지 않습니다.</p>');
                passChk = false;
            } else {
                passChk = true;
            }
        }

        /*
        * fn_checkSpacebar() 공백제거
        * 생성일 : 21.08.17
        * 생성자 : 김재일
        * */
        function fn_emailValidate(obj) {
            if ($(obj).val().includes('@')) {
                alert('잘못된 이메일 형식입니다.');
                $(obj).val('');
                return false;
            }
        }

        function fn_checkSpacebar() {
            let keyCode = event.keyCode;
            if(keyCode == 32) event.returnValue = false;
        }

        /*
        * fn_chkIdDup() id 중복확인
        * 생성일 : 21.08.17
        * 생성자 : 김재일
        * */
        function fn_chkIdDup(){
            loginId = $("#loginId");
            loginId.siblings('.err.emph').remove();

            if(!loginIdCheck(loginId)) {
                return false;
            }

            $.ajax({
                type: "POST",
                url: "/api/member/isExistsByLoginId",
                data: {
                    "loginId": loginId.val()
                },
                success: function (data) {
                    if(loginId.val() != ''){
                        alert('사용가능한 아이디 입니다.');
                        idDupBool = true;
                    }
                },
                error: function (error) {
                    alert(error.responseText);
                    idDupBool = false;
                    loginId.val('');
                    loginId.focus();
                }
            });
        }

        /*
        * fn_niceCallPopup() 휴대폰 인증 팝업
        * 생성일 : 21.08.15
        * 생성자 : 김재일
        * */
        window.name ="Parent_window";
        function fn_niceCallPopup(){
            window.open('/api/nice/call', 'popupNiceCall', 'width=500, height=550, top=100, left=100, fullscreen=no, menubar=no, status=no, toolbar=no, titlebar=yes, location=no, scrollbar=no');
        }

        window.addEventListener('message', function (e) {
            if (e.origin !== "https://nice.checkplus.co.kr") {
                return ;
            }
        });

        $(function () {
            frm = $('#form1');
            $('#btnSave').click(function () {
                mberDvTy = $('#mberDvTy').val();
                $('#btnSave').prop('disabled', true);

                if(mberDvTy=='GROUP')
                {
                    if(!fn_chkField(mberDvTy)){
                        $('#btnSave').prop('disabled', false);
                        return false;
                    }
                    if(mberDvTy=='GROUP' && bLicenseAttc.val()=="N"){
                        let conf = confirm("첨부파일이 등록되지않았습니다. 진행하시겠습니까?");
                        if(conf){
                            frm.submit();
                        } else {
                            return false
                        }
                    }
                    frm.submit();
                }

                if(mberDvTy=='CREW') {
                    if(!fn_chkField(mberDvTy)){
                        $('#btnSave').prop('disabled', false);
                        return false;
                    }
                }
                frm.submit();
            });
        })

        $(document).ready(function (e) {
            $('#attachedFile').on('change',function (e){
                let filename = $(this)[0].files[0].name;
                if (filename) {
                    let ext = filename.slice(filename.lastIndexOf(".") + 1).toLowerCase();
                    if (!(ext == "jpg" || ext == "png" || ext == "jpeg")) {
                        alert("이미지파일 (.jpg, .png, .jpeg ) 만 업로드 가능합니다.");
                        $('#b_license_attc').val("N")
                        return false;
                    } else {
                        $('#box').text(filename);
                        $('#b_license_attc').val("Y")
                    }
                }
            })
        })


    </script>
</head>

<body oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>
<div id="load">
    <img class="loadImg" src="/ClientUI/user/images/common/loader.gif" alt="loading..">
</div>
<input type="hidden" id="tempKey" value="0"/>
<div id="wrap">
    <th:block th:include="fragments/header_gnb"></th:block>
    <div id="container">
        <th:block th:include="fragments/snb"></th:block>
        <div class="inner">
            <div class="page_top">
                <h3 class="page_tit">단체 회원가입</h3>
                <span>입력하신 정보를 안전하고 정확하게 관리하기 위해 최선을 다하겠습니다.</span>
            </div>
            <div class="page_cont join_form_area">
                <form id="form1" name="form1" method="post" action="/api/member/groupInsert" enctype="multipart/form-data">
                    <input type="hidden" name="mberDvTy" id="mberDvTy" value="GROUP"/>
                    <input type="hidden" name="emailAttcAt" id="emailAttcAt" value="N"/>
                    <input type="hidden" name="mobileAttcAt" id="mobileAttcAt" value="N"/>
                    <div class="tbl_select">
                        <ul class="tab tab_type02">
                            <li class="btn_line_default btn_pill_registerSelect active"><a href="javascript:fn_chgCrewDvTy('CREW');">지지크루</a></li>
                            <li class="btn_line_default btn_pill_registerSelect"><a href="javascript:fn_chgCrewDvTy('GROUP');">일반</a></li>

                        </ul>
                    </div>
                    <div class="agree_contents ggCrew">
                        <h1>지지크루 회원 이용시 주의사항에 대한 동의(필수)</h1>
                        <div class="agree_top mobile">
                            <div class="checkbox txt">
                                <input type="checkbox" id="agree003" />
                                <label for="agree003">
                                    <span class="pc">지지크루 회원 이용시 주의사항에 대한 동의(필수)</span>
                                    <span class="mo">지지크루 회원 이용시 주의사항에 대한 동의(필수)</span>
                                </label>
                            </div>
                        </div>
                        <div class="group_agree">
                            <p>
                                지지크루 단체회원은 푸른코끼리 지지크루로 합격된 단체만 가입이 가능합니다. <b></b>지지크루ID는 승인 후 지지크루 게시판 글 작성이 가능한 권한이 부여됩니다.<b></b> 또한 지지크루 게시판 확인 및 댓글 작성 권한이 있는 지지크루 개인회원(팀원)을 등록할 수 있는 권한이 있습니다. <b></b>작성된 글에 대한 책임은 작성자에게 있으며, 게시판 성격과 맞지 않은 글은 관리자에 의해 삭제될 수 있습니다.<b></b> 지지크루의 성격과 맞지 않는 활동 시 관리자에 의해 글 작성 권한이 취소될 수 있는 점 유의 바랍니다.
                            </p>
                        </div>
                        <div class="btn_area pc">
                            <div class="checkbox txt">
                                <input type="checkbox" id="agree005" />
                                <label for="agree005">
                                    <span class="pc">(필수) 지지크루 이용시 주의사항에 대해 동의합니다.</span>
                                    <span class="mo">지지크루 이용시 주의사항(필수)</span>
                                </label>
                            </div>
                            <a href="javascript:;" class="btn_view">보기</a>
                        </div>
                    </div>

                    <div class="sec_write">
                        <div class="tbl_write">
                            <div class="tbl_write contour b_no">
                                <ul>
                                    <li class="id_btn">
                                        <div class="th">
                                            <label for="loginId">아이디</label>
                                            <span class="aster">*</span>
                                        </div>
                                        <div class="td">
                                            <input type="text" id="loginId" name="loginId" placeholder="6~12자 영문 소문자, 숫자 사용" onkeydown="fn_checkSpacebar(this)" />
                                            <button type="button" class="btn btn_lg" onclick="return fn_chkIdDup();">중복확인</button>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="th"><label for="pwd">비밀번호</label><span class="aster">*</span></div>
                                        <div class="td">
                                            <input type="password" id="pwd" name="pwd" placeholder="8~16자(특수 문자 포함)" onkeyup="fn_comparePwd()" onkeydown="fn_checkSpacebar(this)" />
                                        </div>
                                    </li>
                                    <li>
                                        <div class="th"><label for="pwdChk">비밀번호 확인</label><span class="aster">*</span></div>
                                        <div class="td"><input type="password" name="pwdChk" id="pwdChk" placeholder="비밀번호 확인" onkeyup="fn_comparePwd()" onkeydown="fn_checkSpacebar(this)" /></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="sec_write">
                        <h4 class="subtit jointit">기본정보 입력<span class="aster">*</span></h4>
                        <input type="hidden" id="authBothChk" value="0"/>
                        <div class="tbl_write contour">
                                <ul>
                                    <li class="nmCrew">
                                        <div class="th">
                                            <label for="groupNm">단체명</label>
                                            <span class="aster">*</span>
                                        </div>
                                        <div class="td">
                                            <input type="text" id="groupNm" name="groupNm" placeholder="단체명을 입력하세요">
                                        </div>
                                    </li>
                                    <li class="nmCrew">
                                        <div class="th">
                                            <label for="chargerNm">담당자명</label>
                                            <span class="aster">*</span>
                                        </div>
                                        <div class="td">
                                            <input type="text" id="chargerNm" name="chargerNm" placeholder="담당자명을 입력하세요">
                                        </div>
                                    </li>
                                    <li class="nmCrew">
                                        <div class="th">
                                            <label for="position">직위/직책</label>
                                            <span class="aster">*</span>
                                        </div>
                                        <div class="td">
                                            <input type="text" id="position" name="position" placeholder="직위/직책을 입력하세요">
                                        </div>
                                    </li>

                                    <li class="ggCrew">
                                        <div class="th">
                                            <label for="loginId">지지크루이름</label>
                                            <span class="aster">*</span>
                                        </div>
                                        <div class="td">
                                            <input type="text" id="crewNm" name="crewNm" placeholder="지지크루명을 입력하세요." />
                                        </div>
                                    </li>
                                    <li class="ggCrew">
                                        <div class="th">
                                            <label for="loginId">소속</label>
                                            <span class="aster">*</span>
                                        </div>
                                        <div class="td">
                                            <input type="text" id="crewAffi" name="crewAffi" placeholder="소속명을 입력하세요." />
                                        </div>
                                    </li>
                                    <li class="ggCrew">
                                        <div class="th">
                                            <label for="loginId">기수</label>
                                            <span class="aster">*</span>
                                        </div>
                                        <div class="td">
                                            <input type="text" id="crewFNum" name="crewFNum" placeholder="기수를 입력하세요." oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"/>
                                        </div>
                                    </li>
                                    <li class="ggCrew">
                                        <div class="th">
                                            <label for="loginId">대표이름</label>
                                            <span class="aster">*</span>
                                        </div>
                                        <div class="td">
                                            <input type="text" id="rptNm" name="rptNm" placeholder="대표명을 입력하세요." />
                                        </div>
                                    </li>
                                    <li class="emailAuth">
                                        <div class="th">대표이메일<span class="aster">*</span></div>
                                        <div class="td">
                                            <div class="email_form clearfix">
                                                <input type="text" name="email01" id="email01" title="이메일 아이디 입력" oninput="fn_emailValidate(this)" onkeydown="fn_checkSpacebar(this)" />
                                                <span class="at">@</span>
                                                <div class="select">
                                                    <label for="email02" id="email02_label">선택</label>
                                                    <select name="email02" id="email02">
                                                        <option value="">선택</option>
                                                        <option value="naver.com">naver.com</option>
                                                        <option value="gmail.com">gmail.com</option>
                                                        <option value="hanmail.net">hanmail.net</option>
                                                        <option value="nate.com">nate.com</option>
                                                        <option value="daum.net">daum.net</option>
                                                        <option value="직접입력">직접입력</option>
                                                    </select>
                                                </div>
                                                <input type="text" name="email03" id="email03" class="email_inp" title="이메일주소 직접입력" onkeydown="fn_checkSpacebar(this)" />
                                            </div>
                                            <input type="hidden" name="email" id="email"/>
                                        </div>
                                    </li>

                                    <li class="phoneAuth row email_f">
                                        <input type="hidden" id="authMobileChk" name="authMobileChk" value="1"/>
                                        <div class="th">
                                            <label for="moblphon">본인인증</label>
                                            <span class="aster" id="moblphonLabel">*</span>
                                        </div>
                                        <div class="td">
                                            <ul class="tabs">
                                                <li class="tab">
                                                    <input type="radio" id="auth_01" name="tabauth" checked>
                                                    <label for="auth_01">휴대폰인증</label>
                                                    <div class="auth_contents_01 auth_contents">
                                                        <b>휴대폰</b>
                                                        <input type="text" id="moblphon" name="moblphon" onclick="return fn_niceCallPopup();" placeholder="휴대폰 인증을 진행하세요" readonly>
                                                        <input type="hidden" id="sRequestNumber" name="sRequestNumber"/>
                                                        <input type="hidden" id="sResponseNumber" name="sResponseNumber"/>
                                                        <button type="button" class="btn btn_lg" onclick="return fn_niceCallPopup();">휴대폰인증</button>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="col nmCrew">
                                        <div class="th">
                                            <label for="loginId">사업자(고유)등록증 번호</label>
                                        </div>
                                        <div class="td">
                                            <input type="text" id="bNum" name="bNum" placeholder="숫자만 입력가능" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"/>
                                        </div>
                                    </li>

                                    <li class="notice col nmCrew">
                                        <div class="th">
                                            <label for="loginId">사업자(고유)등록증 첨부파일</label>
                                        </div>
                                        <small>※ 사업자등록증 또는 공문 등 단체를 증명할 수 있는 자료를 업로드하세요.</small>
                                        <div class="td">
                                            <input type="file" id= "attachedFile" name="attachedFile" maxlength="1"/>
                                            <label for="attachedFile" id="box">증빙서류업로드</label>
                                            <label for="attachedFile"><span>파일검색</span></label>
                                            <small>※ 사업자등록증 또는 공문 등 단체를 증명할 수 있는 자료를 업로드하세요.</small>
                                            <input type="hidden" name="b_license_attc" id="b_license_attc" value="N">
                                        </div>
                                    </li>
                                </ul>
                        </div>
                    </div>
                    <div class="btn_area"><button id="btnSave" class="btn btn_lg btn_blue btn_pill_10">회원 가입</button></div>
                </form>
            </div>
        </div>
    </div>
    <th:block th:replace="fragments/footer"></th:block>
</div>
</body>
</html>