<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--
        생성일 21.08.17
        생성자 : 김재일
        단체 회원가입 폼
    -->
    <th:block th:include="fragments/header"></th:block>
    <script>
        // 공통정보
        let loginId;
        let idDupBool;
        let email;
        let email01;
        let email02;
        let email03;
        let tempKey;
        let idNm;
        let eMsg;
        let authEmailChk;
        let authMobileChk;
        let passChk = false;

        // 일반단체
        let groupNm;
        let chargerNm;
        let position;
        let bNum;
        let attachedFile
        let bLicenseAttc;

        // 지지크루
        let crewNm;
        let crewAffi;
        let crewFNum;
        let rptName;

        let dvTy = $("#dvTy");

        $(function(){
            fn_chgCrewDvTy('NM');
        });

        function fn_chgCrewDvTy(gbn){
            if(gbn == "NM"){
                $('#authEmailChk').val(0)
                $('#authMobileChk').val(0)
                $('.ggCrew').hide();
                $('.nmCrew').show();
                dvTy.val('GROUP');
            }else if(gbn == "GG"){
                $('#authEmailChk').val(0)
                $('#authMobileChk').val(0)
                $('.ggCrew').show();
                $('.nmCrew').hide();
                dvTy.val('CREW');
            }
        }
        /*
        * fn_chkField() input 체크 함수
        * 생성일 : 21.08.17
        * 생성자 : 김재일
        * */
        function fn_alert(msg) {
            alert(msg)
        }
        function fn_chkField(gbn) {
            if(gbn=='GROUP')
            {
                attachedFile = $('input[id=attachedFile]');
                groupNm = $('input[id=groupNm]');
                chargerNm = $('input[id=chargerNm]');
                position = $('input[id=position]');
                bNum = $('input[id=bNum]');
                authEmailChk = $('#authEmailChk');
                authMobileChk = $('#authMobileChk');
                bLicenseAttc = $('#b_license_attc');
                if(!idDupBool) {
                    fn_alert('아이디 중복확인을 진행해주세요.')
                    return false;
                }

                if(!passChk) {
                    fn_alert('비밀번호를 확인하세요.')
                    return false;
                }

                if(!groupNm.val()) {
                    fn_alert('단체명 입력은 필수입니다.')
                    focusAndEmpty(groupNm)
                    return false;
                }
                if(!chargerNm.val()) {
                    fn_alert('담당자 입력은 필수입니다.')
                    focusAndEmpty(chargerNm)
                    return false;
                }
                if(!position.val()) {
                    fn_alert('직책 입력은 필수입니다.')
                    focusAndEmpty(position)
                    return false;
                }
                if(!bNum.val()) {
                    fn_alert('사업자등록번호 입력은 필수입니다.')
                    focusAndEmpty(bNum)
                    return false;
                }
                if(authEmailChk.val()!=2){
                    fn_alert('이메일 인증은 필수입니다.')
                    return false;
                }
                if(authMobileChk.val()!=2){
                    fn_alert('휴대폰 인증은 필수입니다.')
                    return false;
                }
                if(!attachedFile.val()){
                    bLicenseAttc.val("N")
                } else {
                    bLicenseAttc.val("Y")
                }
                return true;
            }
            else if(gbn=='GG')
            {
                authEmailChk = $('#g_authEmailChk');
                if(!idDupBool) {
                    fn_alert('아이디 중복확인을 진행해주세요.')
                    return false;
                }
                if(crewNm=='' || crewNm==null) {
                    fn_alert('크루명 입력은 필수입니다.')
                    focusAndEmpty(crewNm)
                    return false;
                }
                if(crewAffi=='' || crewAffi==null) {
                    fn_alert('소속명 입력은 필수입니다.')
                    focusAndEmpty(crewAffi)
                    return false;
                }
                if(crewFNum=='' || crewFNum==null) {
                    fn_alert('기수를 입력하세요.')
                    focusAndEmpty(crewFNum)
                    return false;
                }
                if(rptName=='' || rptName==null) {
                    fn_alert('대표자명을 입력하세요.')
                    focusAndEmpty(rptName)
                    return false;
                }
                if(authEmailChk.val()!=2) {
                    fn_alert('이메일 인증은 필수입니다.')
                    return false;
                }
                return true
            }
            else
            {
                return false
            }
        }

        /*
        * focusAndEmpty(param) this 필드 초기화 및 포커싱
        * 생성일 : 21.08.20
        * 생성자 : 김재일
        * */
        function focusAndEmpty(obj){
            obj.val('')
            obj.focus()
        }

        /*
        * fn_comparePwd() 암호 필드 체크
        * 생성일 : 21.08.17
        * 생성자 : 김재일
        * */
        function fn_comparePwd() {
            pwd = $("#pwd");
            pwdChk = $('#pwdChk');
            pwdChk.siblings('.err.emph').remove();
            if (pwd.val() != pwdChk.val()) {
                pwdChk.after('<p class="err emph">비밀번호가 일치하지 않습니다.</p>');
                passChk = false;
            } else {
                passChk = true;
            }
        }

        /*
        * fn_checkSpacebar() 공백제거
        * 생성일 : 21.08.17
        * 생성자 : 김재일
        * */
        function fn_checkSpacebar() {
            let keyCode = event.keyCode;
            if(keyCode == 32) event.returnValue = false;
        }

        /*
        * fn_chkIdDup() id 중복확인
        * 생성일 : 21.08.17
        * 생성자 : 김재일
        * */
        function fn_chkIdDup(){
            loginId = $("#loginId");
            loginId.siblings('.err.emph').remove();

            if(!loginIdCheck(loginId)){
                return false;
            }

            $.ajax({
                type: "POST",
                url: "/api/member/isExistsByLoginId",
                data: {
                    "loginId": loginId.val()
                },
                success: function (data) {
                    if(loginId.val() != ''){
                        alert('사용가능한 아이디 입니다.');
                        idDupBool = true;
                    }
                },
                error: function (error) {
                    alert(error.responseText);
                    idDupBool = false;
                    loginId.val('');
                    loginId.focus();
                }
            });
        }

        /*
        * fn_niceCallPopup() 휴대폰 인증 팝업
        * 생성일 : 21.08.15
        * 생성자 : 김재일
        * */
        window.name ="Parent_window";
        function fn_niceCallPopup(){
            window.open('/api/nice/call', 'popupNiceCall', 'width=500, height=550, top=100, left=100, fullscreen=no, menubar=no, status=no, toolbar=no, titlebar=yes, location=no, scrollbar=no');
        }

        window.addEventListener('message', function (e) {
            if (e.origin !== "https://nice.checkplus.co.kr") {
                return ;
            }
        });

        /*
        *  fn_chkEmailDup 인증번호 확인 메서드
        *  작성일 : 21.08.15
        *  작성자 : 김재일
        *  이메일 확인 함수
        * */
        function fn_chkEmailDup(g){
            let emailStr = "";
            if(g == 'g') {
                email = $("#g_email");
                email01 = $("#g_email01");
                email02 = $("#g_email02");
                email03 = $("#g_email03");
                idNm = 'g_email'
            } else {
                email = $("#email");
                email01 = $("#email01");
                email02 = $("#email02");
                email03 = $("#email03");
                idNm = 'email'
            }

            email.siblings('.err.emph').remove();
            if ($.trim(email01.val())) {
                emailStr += $.trim(email01.val());
                emailStr += "@"
            }else{
                alert('이메일을 입력하세요');
                email01.focus();
                return false;
            }

            if ($.trim(email02.val()) != "직접입력") {
                if(!$.trim(email02.val())){
                    alert('이메일을 입력하세요');
                    email02.focus();
                    return false;
                }else{
                    emailStr += $.trim(email02.val());
                }
            }

            if ($.trim(email02.val()) == "직접입력") {
                if(!$.trim(email03.val())){
                    alert('이메일을 입력하세요');
                    email03.focus();
                    return false;
                }else{
                    emailStr += $.trim(email03.val());
                }
            }

            email.val(emailStr);

            if(email.val()){
                if(!emailCheck(email)){
                    email.val("");
                    email01.focus();
                    emailDupBool = false;
                }
            }
            $.ajax({
                type: "POST",
                url: "/api/member/CheckMail",
                data: {
                    'email': email.val()
                },
                success: function (data) {
                    if(data > 0){
                        tempKey = data;
                        alert('인증번호를 전송하였습니다.');
                        $('#sendEmailBtn').text('재전송');
                        $('#chkTempKeyBtn').show();
                        $('.eKey').val('');
                        $('.eKey').attr("disabled", false);
                        $('.eKey').focus();
                        emailDupBool = true;
                        email01.attr("disabled", true);
                        email02.attr("disabled", true);
                        email03.attr("disabled", true);
                    } else {
                        alert('이미 사용중인 이메일입니다.');
                        emailDupBool = false;
                        email.val('');
                        email01.val('');
                        email02.val('').trigger("change");
                        email03.val('');
                        email01.focus();
                    }
                },
                error: function (error) {
                    alert(error.responseText);
                    emailDupBool = false;
                    email.val('');
                    email01.val('');
                    email02.val('').trigger("change");
                    email03.val('');
                    email01.focus();
                }
            });
        }

        /*
        *  fn_chkEmailTempKey() 인증번호 확인 메서드
        *  작성일 : 21.08.15
        *  작성자 : 김재일
        *  이메일 전송 및 난수 생성 후 인증키를 비교하여 처리한다.
        * */
        function fn_chkEmailTempKey() {
            if(tempKey == $('.eKey').val()) {
                alert('인증되었습니다.');
                $('.eKey').attr("disabled", true);
                $('#authEmailChk').val(2);
                $('#sendEmailBtn').attr('disabled',true);
                $('#chkTempKeyBtn').attr('disabled',true);
                $('#chkTempKeyBtn').text("인증 완료");
            } else {
                alert('인증번호가 올바르지않습니다.');
                $('.eKey').text('');
                $('.eKey').focus();
            }
        }
        $(function(){
            $('#btnSave').click(function () {
                dvTy = $('#dvTy').val();
                $('#btnSave').prop('disabled', true);
                if(dvTy=='GROUP')
                {
                    if(!fn_chkField(dvTy)){
                        $('#btnSave').prop('disabled', false);
                        return false;
                    }
                    if(bLicenseAttc.val()=="N"){
                        let conf = confirm("첨부파일이 등록되지않았습니다. 진행하시겠습니까?");
                        if(conf){
                            return true
                        } else {
                            return false
                        }
                    }
                }
                // 지지크루
                else if(dvTy == 'CREW')
                {
                    if(fn_chkField(dvTy)){
                        alert('gg')
                    }
                } else {
                    alert('정상적인 경로를 이용하세요.')
                    return false
                }

                let formData = $("#form1").serialize();
                $.ajax({
                    cache : false,
                    url: "/api/member/insert",
                    type : 'POST',
                    data : formData,
                    success : function(data) {
                        alert(data);
                        location.href = "/login";
                    },
                    error : function(error) {
                        makeErrField(error);
                        $('#btnSave').prop('disabled', false);
                    }
                });
            });
        })
    </script>
    <style>
        .file_form label {
            display: inline-block;
            height: 35px;
            margin-left: 0px;
            padding: 0 15px;
            color: #ffffff;
            font-size: 14px;
            font-weight: 500;
            line-height: 34px;
            vertical-align: top;
            text-align: center;
            border: 1px solid #5981ba;
            border-radius: 10px;
            background-color: #5981ba;
            cursor: pointer;
        }
    </style>
</head>

<body oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>
<div id="wrap">
    <th:block th:include="fragments/header_gnb"></th:block>
    <div id="container">
        <th:block th:include="fragments/snb"></th:block>
        <div class="contents">
            <div class="page_top">
                <h3 class="page_tit">단체 회원가입</h3>
                <span>입력하신 정보를 안전하고 정확하게 관리하기 위해 최선을 다하겠습니다.</span>
            </div>
            <div class="page_cont join_form_area">
                <form id="form1" name="form1" method="post" modelAttribute="groupForm" enctype="multipart/form-data" >
                    <input type="hidden" name="dvTy" id="dvTy" value="GROUP"/>
                    <div class="tbl_select">
                        <ul class="tab tab_type02">
                            <li class="btn_line_default btn_pill_registerSelect active"><a href="javascript:fn_chgCrewDvTy('NM');">일반</a></li>
                            <li class="btn_line_default btn_pill_registerSelect"><a href="javascript:fn_chgCrewDvTy('GG');">지지크루</a></li>
                        </ul>
                    </div>
                    <div class="sec_write">
                        <h4 class="subtit">기본 정보 입력<span class="aster">*</span></h4>
                        <div class="tbl_write">
                            <div class="tbl_write contour">
                                <ul>
                                    <li>
                                        <div class="th">
                                            <label for="loginId">아이디</label>
                                            <span class="aster">*</span>
                                        </div>
                                        <div class="td">
                                            <input type="text" id="loginId" name="loginId" placeholder="6~12자 영문 소문자, 숫자 사용" onkeydown="fn_checkSpacebar()" />
                                            <button type="button" class="btn btn_lg btn_line_blue btn_pill_10" onclick="return fn_chkIdDup();">중복확인</button>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="th"><label for="pwd">비밀번호</label><span class="aster">*</span></div>
                                        <div class="td">
                                            <input type="password" id="pwd" name="pwd" placeholder="8~16자(특수 문자 포함)" onkeyup="fn_comparePwd()" onkeydown="fn_checkSpacebar()" />
                                        </div>
                                    </li>
                                    <li>
                                        <div class="th"><label for="pwdChk">비밀번호 확인</label><span class="aster">*</span></div>
                                        <div class="td"><input type="password" name="pwdChk" id="pwdChk" placeholder="비밀번호 확인" onkeyup="fn_comparePwd()" onkeydown="fn_checkSpacebar()" /></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="sec_write nmCrew">
                        <h4 class="subtit">단체회원 정보 입력<span class="aster">*</span></h4>
                        <input type="hidden" id="authBothChk" value="0"/>
                        <div class="tbl_write contour">
                                <ul>
                                    <li>
                                        <div class="th">
                                            <label for="groupNm">단체명</label>
                                            <span class="aster">*</span>
                                        </div>
                                        <div class="td">
                                            <input type="text" id="groupNm" name="groupNm" placeholder="단체명을 입력하세요">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="th">
                                            <label for="chargerNm">담당자명</label>
                                            <span class="aster">*</span>
                                        </div>
                                        <div class="td">
                                            <input type="text" id="chargerNm" name="chargerNm" placeholder="담당자명을 입력하세요">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="th">
                                            <label for="position">직책</label>
                                            <span class="aster">*</span>
                                        </div>
                                        <div class="td">
                                            <input type="text" id="position" name="position" placeholder="직책을 입력하세요">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="th">
                                            <label for="bNum">사업자등록번호</label>
                                            <span class="aster">*</span>
                                        </div>
                                        <div class="td">
                                            <input type="text" id="bNum" name="bNum" placeholder="사업자등록번호를 입력하세요">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="th">첨부파일<span class="aster">*</span></div>
                                        <div class="td">
                                            <div class="file_form">
                                                <div th:if="${fileList != null and !fileList.isEmpty()}">
                                                    <p class="file" th:each="item: ${fileList}">
                                                        <span th:text="${item.sil_re_file_nm}">첨부파일.txt</span>
                                                        <a href="javascript:;" class="btn_del" th:onclick="fn_deleteFile('[[${item.fl_pid}]]', this)">
                                                            <span class="blind">삭제</span>
                                                        </a>
                                                    </p>
                                                </div>
                                                <input type="file" name="attachedFile" id="attachedFile" class="multi" th:accept="${allAccept}" />
                                                <label for="attachedFile">파일찾기</label>
                                                <input type="hidden" name="b_license_attc" id="b_license_attc" value="N">
                                            </div>
                                        </div>
                                    </li>
                                    <li class="emailAuth">
                                        <input type="hidden" id="authEmailChk" name="authEmailChk" value="0"/>
                                        <div class="th">이메일 주소<span class="aster">*</span></div>
                                        <div class="td">
                                            <div class="email_form clearfix">
                                                <input type="text" name="email01" id="email01" title="이메일 아이디 입력" oninput="fn_emailValidate(this)" onkeydown="fn_checkSpacebar()" />
                                                <span class="at">@</span>
                                                <div class="select">
                                                    <label for="email02" id="email02_label">선택</label>
                                                    <select name="email02" id="email02">
                                                        <option value="">선택</option>
                                                        <option value="naver.com">naver.com</option>
                                                        <option value="gmail.com">gmail.com</option>
                                                        <option value="hanmail.net">hanmail.net</option>
                                                        <option value="nate.com">nate.com</option>
                                                        <option value="daum.net">daum.net</option>
                                                        <option value="직접입력">직접입력</option>
                                                    </select>
                                                </div>
                                                <input type="text" name="email03" id="email03" class="email_inp" title="이메일주소 직접입력" onkeydown="fn_checkSpacebar()" />
                                            </div>
                                            <button type="button" class="btn btn_lg btn_line_blue btn_pill_10" id="sendEmailBtn" onclick="return fn_chkEmailDup('n');">이메일인증</button>
                                            <input type="hidden" name="email" id="email"/>
                                            <input class="eKey emph" type="text" name="emailKey" placeholder="인증번호 입력" maxlength="8" disabled>
                                            <button type="button" class="btn btn_lg btn_line_blue btn_pill_10" id="chkTempKeyBtn" onclick="return fn_chkEmailTempKey();">인증번호확인</button>
                                            <p class="tip emph">※ 아이디/패스워드 찾기, 회원가입 인증에 사용됩니다. 정확하게 입력해주세요.</p>
                                        </div>
                                    </li>
                                    <li class="phoneAuth">
                                        <input type="hidden" id="authMobileChk" name="authMobileChk" value="0"/>
                                        <div class="th"><label for="moblphon">휴대전화</label><span class="aster" id="moblphonLabel">*</span></div>
                                        <div class="td">
                                            <input type="text" id="moblphon" name="moblphon" placeholder="'-' 구분없이 입력 ex)01012345678" readonly>
                                            <input type="hidden" id="sRequestNumber" name="sRequestNumber"/>
                                            <input type="hidden" id="sResponseNumber" name="sResponseNumber"/>
                                            <button type="button" class="btn btn_lg btn_line_blue btn_pill_10" onclick="return fn_niceCallPopup();">휴대폰번호인증</button>
                                        </div>
                                    </li>
                                </ul>
                        </div>
                    </div>

                    <div class="sec_write ggCrew">
                        <h4 class="subtit">지지크루 정보 입력<span class="aster">*</span></h4>
                        <div class="tbl_write">
                            <div class="tbl_write contour">
                                <ul>
                                    <li>
                                        <div class="th">
                                            <label for="loginId">지지크루명</label>
                                            <span class="aster">*</span>
                                        </div>
                                        <div class="td">
                                            <input type="text" id="crewNm" name="crewNm" placeholder="지지크루명을 입력하세요." />
                                        </div>
                                    </li>
                                    <li>
                                        <div class="th">
                                            <label for="loginId">소속</label>
                                            <span class="aster">*</span>
                                        </div>
                                        <div class="td">
                                            <input type="text" id="crewAffi" name="crewAffi" placeholder="소속명을 입력하세요." />
                                        </div>
                                    </li>
                                    <li>
                                        <div class="th">
                                            <label for="loginId">기수</label>
                                            <span class="aster">*</span>
                                        </div>
                                        <div class="td">
                                            <input type="text" id="crewFNum" name="crewFNum" placeholder="기수를 입력하세요." />
                                        </div>
                                    </li>
                                    <li>
                                        <div class="th">
                                            <label for="loginId">대표명</label>
                                            <span class="aster">*</span>
                                        </div>
                                        <div class="td">
                                            <input type="text" id="rptNm" name="rptNm" placeholder="대표명을 입력하세요." />
                                        </div>
                                    </li>
                                    <li class="emailAuth">
                                        <input type="hidden" id="g_authEmailChk" name="g_authEmailChk" value="0"/>
                                        <div class="th">이메일 주소<span class="aster">*</span></div>
                                        <div class="td">
                                            <div class="email_form clearfix">
                                                <input type="text" name="g_email01" id="g_email01" title="이메일 아이디 입력" oninput="fn_emailValidate(this)" onkeydown="fn_checkSpacebar()" />
                                                <span class="at">@</span>
                                                <div class="select">
                                                    <label for="g_email02" id="g_email02_label">선택</label>
                                                    <select name="g_email02" id="g_email02">
                                                        <option value="">선택</option>
                                                        <option value="naver.com">naver.com</option>
                                                        <option value="gmail.com">gmail.com</option>
                                                        <option value="hanmail.net">hanmail.net</option>
                                                        <option value="nate.com">nate.com</option>
                                                        <option value="daum.net">daum.net</option>
                                                        <option value="직접입력">직접입력</option>
                                                    </select>
                                                </div>
                                                <input type="text" name="gg_email03" id="g_email03" class="email_inp" title="이메일주소 직접입력" onkeydown="fn_checkSpacebar()" />
                                            </div>
                                            <button type="button" class="btn btn_lg btn_line_blue btn_pill_10" id="g_sendEmailBtn" onclick="return fn_chkEmailDup('g');">이메일인증</button>
                                            <input type="hidden" name="g_email" id="g_email"/>
                                            <input class="eKey emph" type="text" name="g_emailKey" placeholder="인증번호 입력" maxlength="8" disabled>
                                            <button type="button" class="btn btn_lg btn_line_blue btn_pill_10" id="g_chkTempKeyBtn" onclick="return fn_chkEmailTempKey();">인증번호확인</button>
                                            <p class="tip emph">※ 아이디/패스워드 찾기, 회원가입 인증에 사용됩니다. 정확하게 입력해주세요.</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="btn_area"><button id="btnSave" class="btn btn_lg btn_blue btn_pill_10">단체 등록</button></div>
                </form>
            </div>
        </div>
    </div>
    <th:block th:replace="fragments/footer"></th:block>
</div>
</body>
</html>
