<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--
    수정일 : 21.08.12
    수정자 : 김재일
    수정내용 : 클래스 수정, 구분 스크립트 추가

    수정일 : 21.08.18
    수정자 : 고선호
    수정내용 : style태그 css로 이동, 소제목 구분선 추가, 마진값 추가
-->
<head>
    <th:block th:include="fragments/header"></th:block>
</head>

<body oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>
<div id="wrap">
    <th:block th:include="fragments/header_gnb"></th:block>
    <div class="sub_container">

        <!-- sub_inner -->
        <th:block th:include="fragments/snb"></th:block>
        <div class="inner">
            <div class="page_top">
                <h3 class="page_tit">회원가입</h3>
                <span>푸른코끼리의 다양한 서비스를 이용하고 싶다면<b></b>
                            회원가입을 해주세요.</span>
            </div>
            <div class="page_cont join_agree_area">
                <div class="page_cnt join_form_area">
                    <div class="page_top_gradient">
                        <div>
                            <ul class="img_join_pick">
                                <!--<center>
                                    <input id="emp" name="registerType" type="radio" class="employee"value="e"/>
                                    <label for="emp"></label>
                                    <input id="group" name="registerType" type="radio" class="group" value="g"/>
                                    <label for="group"></label>
                                    <input type="hidden" id="selected" value="0">
                                </center>-->
                                <li>
                                    <input type="radio" id="emp" name="registerType" class="join_person" value="e" checked>
                                    <label for="emp">
                                        <span>개인</span>
                                    </label>
                                    <input type="radio" id="group" name="registerType" class="join_person" value="g">
                                    <label for="group">
                                        <span>단체</span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                        <div class="btn_area">
                            <button id="rest" class="btn ">회원가입</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <th:block th:replace="fragments/footer"></th:block>
    </div>
</body>
</html>

<script type="text/javascript">
    var type = '';
    $(function(){
        type = $("input:radio[name=registerType]").val();
        $("input:radio[name=registerType]").click(function()
        {
            type = this.value;
            $('#selected').val(type);
        });


        $("#rest").click(function()
        {
            if(type==''){
                alert('가입 구분을 선택하세요.');
                return false;
            } else if(type=='e') {
                location.href='/pages/member/joinAgree?dv=nm';
                return true;
            } else {
                location.href='/pages/member/joinAgree?dv=crew';
                return false;
            }
        });
    });
</script>
