<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="soulGod/fragments/header"></th:block>
    <script type="text/javascript">

        function fn_search() {
            var frm = $('#form1');
            frm.prop('action', '?');
            frm.submit();
        }

        function fn_reset() {
            $('#srchGbn').val('').niceSelect('update');
            $('#srchWord').val('');

            fn_search();
        }

        /*function fn_complete() {
            var cmplHistPids = $("input[name$=cmplHistPids]:checkbox:checked").length;
            var checkbox = $("input[name$=cmplHistPids]:checkbox:checked");
            if (cmplHistPids == 0) {
                alert('선택된 항목이 없습니다.');
                return false;
            }
            var completeCnt = 0;
            checkbox.each(function (i) {
                var tr = checkbox.parent().parent().parent().eq(i);
                var td = tr.children();
                var cmplOpetrNm = td.eq(9).text();
                if (cmplOpetrNm != "-") {
                    completeCnt++;
                }
            });
            if (completeCnt > 0) {
                alert('완료처리된 항목이 포함되어 있습니다.');
                return false;
            }
            if (!confirm('수강완료 처리 하시겠습니까?')) {
                return false;
            }
            var frm = $('#form1');
            frm.prop('action', '/api/fieldEdu/cmplUpdate');
            frm.submit();
        }*/

        ////-------- page load
        $(function () {
            /*$("#chkAll").click(function(){
                if($("#chkAll").prop("checked")) {
                    $("input[name=cmplHistPids]").prop("checked",true);
                } else {
                    $("input[name=cmplHistPids]").prop("checked",false);
                }
            });
            $("input[name=cmplHistPids]").click(function(){
                $("#chkAll").prop("checked",false);
            });*/
        });
    </script>
</head>
<body>
<div id="wrap">
    <th:block th:include="soulGod/fragments/menu"></th:block>

    <div id="container">
        <div class="container_box">
            <script type="text/javascript">
                $(function () {
                });
            </script>

            <form id="form1" name="form1" method="post" th:object="${form}">
                <input type="hidden" id="crsMstPid" name="crsMstPid" th:value="${crsMstPid}" />
                <div class="contents">

                    <ul class="breadcrumb">
                        <li><i class="material-icons">home</i></li>
                        <li>교육관리</li>
                        <li>과정마스터 수강현황</li>
                    </ul>

                    <div class="search_area clearfix">
                        <dl class="col">
                            <dt>이름</dt>
                            <dd>
                                <input type="text" th:field="*{srchWord}" placeholder="검색어를 입력하세요." style="width:313px"  />
                            </dd>
                        </dl>
                        <div class="col">
                            <button type="button" class="btn btn_sm btn_gray" onclick="fn_search()">
                                <i class="material-icons">search</i>조회
                            </button>
                            <button type="button" class="btn btn_sm btn_gray" onclick="fn_reset()">
                                <i class="material-icons">refresh</i>초기화
                            </button>
                        </div>
                    </div>

                    <div class="board_list">
                        <h4 class="sec_tit">수강신청 현황</h4>
                        <div class="board_top clearfix">
                            <div class="fl">
                                <div class="total_num">총 <b th:text="${#numbers.formatInteger(requests.totalElements, 0, 'COMMA')}">2</b>
                                    건
                                </div>
                                <!--<select name="perPageNum" id="perPageNum" class="w80">
                                    <option value="10" th:selected="${cri.perPageNum eq 10}">10</option>
                                    <option value="15" th:selected="${cri.perPageNum eq 15}">15</option>
                                    <option value="20" th:selected="${cri.perPageNum eq 20}">20</option>
                                </select>-->
                            </div>
                        </div>
                        <div class="board_detail clearfix">
                            <table class="tbl_list" id="resultList">
                                <colgroup>
                                    <col style="width: 5%"/>
                                    <col style="width: auto"/>
                                    <col style="width: 8%"/>
                                    <col style="width: 10%"/>
                                    <col style="width: 5%"/>

                                    <col style="width: 5%"/>
                                    <col style="width: 5%"/>
                                    <col style="width: 10%"/>
                                    <col style="width: 10%"/>
                                    <col style="width: 10%"/>
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>순번</th>
                                    <th>과정마스터명</th>
                                    <th>지역</th>
                                    <th>학교명</th>
                                    <th>학년</th>

                                    <th>반</th>
                                    <th>번호</th>
                                    <th>이름</th>
                                    <th>진행단계</th><!--TODO 진행상태 퍼센트값-->
                                    <th>진행상태</th>
                                </tr>
                                </thead>
                                <tbody>
                                <!-- 등록된 데이터가 없을 때만 노출 : s -->
                                <tr th:if="${requests == null or requests.isEmpty()}">
                                    <td colspan="10">등록된 정보 없습니다.</td>
                                </tr>
                                <!-- 등록된 이벤트가 없을 때만 노출 : e -->
                                <tr th:each="item,idx:${requests}">
                                    <td th:text="${requests.totalElements - requests.pageable.pageSize * requests.pageable.pageNumber - idx.index}"></td>
                                    <td th:text="${item.masterCrsNm}"></td>
                                    <td th:text="${item.areaNm eq null ? '-' : item.areaNm}"></td>
                                    <td th:text="${item.schlNm eq null ? '-' : item.schlNm}"></td>
                                    <td th:text="${item.grade eq null ? '-' : item.grade}"></td>

                                    <td th:text="${item.ban eq null ? '-' : item.ban}"></td>
                                    <td th:text="${item.no eq null ? '-' : item.no}"></td>
                                    <td th:text="${item.mberNm}"></td>
                                    <!--<td th:text="${T(kr.or.btf.web.domain.web.enums.CompleteStatusType).valueOf(item.cmplSttTy).getName()}"></td>
                                    <td th:text="${T(kr.or.btf.web.domain.web.enums.CompleteStatusType).valueOf(item.cmplSttTy).getName()}"></td>-->
                                    <td th:if="${item.progressSn eq 2}">사전검사</td>
                                    <td th:if="${item.progressSn eq 3}">사전교육</td>
                                    <td th:if="${item.progressSn eq 4}">현장교육</td>
                                    <td th:if="${item.progressSn eq 5}">사후교육</td>
                                    <td th:if="${item.progressSn eq 6}">사후검사</td>
                                    <td th:if="${item.progressSn eq 7 or item.progressSn eq null}">만족도검사</td>
                                    <th:block th:if="${item.totalLen eq null}">
                                        <td>0%</td>
                                    </th:block>
                                    <th:block th:unless="${item.totalLen eq null}">
                                        <th:block th:if="${item.myHour eq null}">
                                            <td>0%</td>
                                        </th:block>
                                        <th:block th:unless="${item.myHour eq null}">
                                            <td th:text="|${#numbers.formatDecimal((item.myHour + 0.0)/item.totalLen*100,0,0)}%|"></td>
                                        </th:block>
                                    </th:block>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <th:block th:replace="/soulGod/fragments/paging :: pagingbody(list=${requests},
                                            link='/soulGod/courseMasterStatus/detail/'+ ${crsMstPid}, formId='form1')"></th:block>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <th:block th:replace="soulGod/fragments/footer"></th:block>
</div>
</body>
</html>
