<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="soulGod/fragments/header"></th:block>
    <script type="text/javascript">
        let chkedVal = [];
        let eduType = [];
        let i = 0;
        let crewForm;
        let groupForm;
        let selectedVal;

        function fn_search() {
            var frm = $('#form1');
            frm.prop('action', '?');
            frm.submit();
        }

        function fn_reset() {
            $('#srchGbn').val('').niceSelect('update');
            $('#srchStDt').val('');
            $('#srchEdDt').val('');
            $('#srchField').val('1').niceSelect('update');
            $('#srchWord').val('');
            fn_search();
        }
    </script>
</head>
<body>
<div id="wrap">
    <th:block th:include="soulGod/fragments/menu"></th:block>
    <div id="container">
        <div class="container_box">
            <form id="form1" name="form1" method="post" th:object="${form}">
                <input type="hidden" id="id" name="id"/>
                <div class="contents">
                    <ul class="breadcrumb">
                        <li><i class="material-icons">home</i></li>
                        <li>신청관리</li>
                        <li>예방강사</li>
                    </ul>
                    <div class="board_list">
                        <h4 class="sec_tit">회원 리스트</h4>
                        <div class="board_top clearfix">
                            <div class="fl">
                                <div class="total_num">
                                    <b>
                                        신청수:
                                        <th:block
                                                th:text="${#numbers.formatInteger(preInsList.totalElements, 0, 'COMMA')}">
                                            000
                                        </th:block>
                                        명
                                    </b>
                                </div>
                            </div>
                        </div>
                        <div class="board_detail clearfix">
                            <table class="tbl_list">
                                <colgroup>
                                    <col style="width: 60px"/>
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>No</th>
                                    <th>이름</th>
                                    <th>신청일</th>
                                    <th>승인여부</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:if="${preInsList == null or preInsList.isEmpty()}">
                                    <td colspan="9">등록된 정보 없습니다.</td>
                                </tr>
                                <tr th:each="item,idx:${preInsList}">
                                    <td th:text="${preInsList.totalElements - preInsList.pageable.pageSize * preInsList.pageable.pageNumber - idx.index}"></td>
                                    <td >
                                        <a th:href="|/soulGod/application/inseduDetail/${item.id}|">
                                            <b th:text="${item.nm}"></b>
                                        </a>
                                    </td>
                                    <td>
                                        <th:block th:text="${#temporals.format(item.regDtm, 'yyyy-MM-dd')}"></th:block>
                                    </td>
                                    <td th:text="${item.approval == 'Y' ? '승인' : '미승인'}" th:style="${item.approval == 'Y' ? 'font-weight: bold; color:#8bb3ff' : 'font-weight: bold; color:red'}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <th:block th:replace="/soulGod/fragments/paging :: pagingbody(list=${preInsList},
                                            link='/soulGod/application/preInsList', formId='form1')"></th:block>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <th:block th:replace="soulGod/fragments/footer"></th:block>
</div>

</body>
</html>
