<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="soulGod/fragments/header"></th:block>
    <script>
        function fn_setStatus(id,gbn,uid) {
            if(gbn == 'N') {
                let result = confirm("반려 처리하시겠습니까?");
                if(result){
                    $.ajax({
                        cache : false,
                        url: "/api/soulGod/application/updateInsApporaval/"+id+"/"+gbn+"/"+uid,
                        type : 'GET',
                        contentType: "application/json",
                        success : function(data) {
                            if(data == false) {
                                alert('통신 에러')
                            } else {
                                alert('변경되었습니다.')
                                location.reload()
                            }
                        }
                    });
                } else {
                    return false;
                }
            }
            if(gbn == 'W') {
                let result = confirm("대기 처리하시겠습니까?");
                if(result){
                    $.ajax({
                        cache : false,
                        url: "/api/soulGod/application/updateInsApporaval/"+id+"/"+gbn+"/"+uid,
                        type : 'GET',
                        contentType: "application/json",
                        success : function(data) {
                            if(data == false) {
                                alert('통신 에러')
                            } else {
                                alert('변경되었습니다.')
                                location.reload()
                            }
                        }
                    });
                } else {
                    return false;
                }
            }
            if(gbn == 'Y') {
                let result = confirm("승인 처리하시겠습니까?");
                if(result){
                    $.ajax({
                        cache : false,
                        url: "/api/soulGod/application/updateInsApporaval/"+id+"/"+gbn+"/"+uid,
                        type : 'GET',
                        contentType: "application/json",
                        success : function(data) {
                            if(data == false) {
                                alert('통신 에러')
                            } else {
                                alert('변경되었습니다.')
                                location.reload()
                            }
                        }
                    });
                } else {
                    return false;
                }
            }
        }
        function fn_chgEduType(t){
            selectedVal = $('.'+t).children('.list').children('.option.selected').data('value');
            let jsonData = {
                'id' : t,
                'InsDvTy' : selectedVal
            }
            $.ajax({
                cache : false,
                url: "/api/soulGod/application/updateInsType/"+t+"/"+selectedVal,
                type : 'POST',
                contentType: "application/json",
                datatype: 'json',
                success : function(data) {
                    alert('변경되었습니다.')
                }
            });
        }
    </script>
</head>
<body>
<div id="wrap">
    <th:block th:include="soulGod/fragments/menu"></th:block>
    <div id="container">
        <div class="container_box">
            <form id="form1" name="form1" method="post" enctype="multipart/form-data" th:object="${form}">
                <input type="hidden" th:fiedl />
                <div class="contents">
                    <ul class="breadcrumb">
                        <li><i class="material-icons">home</i></li>
                        <li>신청관리</li>
                        <li><a href="/soulGod/application/inseducation"> 예방교육</a></li>
                    </ul>
                    <div class="board_detail clearfix">
                        <div class="sec">
                            <div class="board_top clearfix">
                                <div class="fl">
                                    <h4 class="sec_tit" th:text="|*{schlNm}님 기본정보|">상세정보</h4>
                                </div>
                            </div>

                            <table class="tbl_write">
                                <colgroup>
                                    <col style="width:5%"/>
                                    <col style="width:15%"/>
                                    <col style="width:20%"/>
                                    <col style="width:20%"/>
                                    <col style="width:10%"/>
                                    <col style="width:auto"/>
                                </colgroup>
                                <tbody>
                                <tr>
                                    <th scope="row"><label>학교명</label></th>
                                    <td th:text="*{schlNm}"></td>
                                    <th scope="row"><label>주소</label></th>
                                    <td th:text="*{address}"></td>
                                    <th scope="row"><label>전화번호</label></th>
                                    <td th:text="*{tel}"></td>
                                    <th scope="row"><label>처리</label></th>
                                    <td colspan="2">
                                        <a class="btn btn_sm btn_blue" href="#" th:onclick="|fn_setStatus(*{id},'Y',*{mberPid});|">
                                            <i class="material-icons fz17">done</i>승인
                                        </a>
                                        <a class="btn btn_sm btn_blue" href="#" th:onclick="|fn_setStatus(*{id},'Y',*{mberPid});|">
                                            <i class="material-icons fz17">done</i>승인
                                        </a>
                                    </td>
                                </tr>

                                <tr>
                                    <th scope="row"><label>성명</label></th>
                                    <td th:text="*{schlNm}"></td>
                                    <th scope="row"><label>이메일</label></th>
                                    <td th:text="*{address}"></td>
                                    <th scope="row"><label>직통번호</label></th>
                                    <td th:text="*{tel}"></td>
                                    <th scope="row"><label>휴대폰</label></th>
                                    <td th:text="*{tel}"></td>
                                    <th scope="row"><label>담당업무</label></th>
                                    <td th:text="*{tel}"></td>
                                </tr>

                                <tr>
                                    <th scope="row"><label>이름</label></th>
                                    <td th:text="*{schlNm}"></td>
                                </tr>
                                <tr>
                                    <th scope="row">생년월일</th>
                                    <td th:text="*{schlNm}"></td>
                                </tr>
                                <tr>
                                    <th scope="row">휴대전화</th>
                                    <td th:text="*{schlNm}"></td>
                                </tr>

                                <tr>
                                    <th scope="row">이메일</th>
                                    <td th:text="*{schlNm}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="sec">
                            <div class="board_top clearfix">
                                <div class="fl">
                                    <h4 class="sec_tit" th:text="|*{schlNm}님 예방강사 신청정보|">상세정보</h4>
                                </div>
                            </div>

                            <table class="tbl_write">
                                <colgroup>
                                    <col style="width:10%"/>
                                    <col style="width:auto"/>
                                </colgroup>
                                <tbody>

                                <tr>
                                    <th scope="row"><label>재학기간</label></th>
                                    <td th:text="*{schlNm}"></td>
                                </tr>
                                <tr>
                                    <th scope="row"><label>학교명</label></th>
                                    <td th:text="*{schlNm}"></td>
                                </tr>
                                <tr>
                                    <th scope="row">전공</th>
                                    <td th:text="*{schlNm}"></td>
                                </tr>
                                <tr>
                                    <th scope="row">졸업여부</th>
                                    <td th:text="*{schlNm}"></td>
                                </tr>

                                <tr>
                                    <th scope="row"><label>근무기간</label></th>
                                    <td th:text="*{schlNm}"></td>
                                </tr>
                                <tr>
                                    <th scope="row"><label>근무처명</label></th>
                                    <td th:text="*{schlNm}"></td>
                                </tr>
                                <tr>
                                    <th scope="row">직책</th>
                                    <td th:text="*{schlNm}"></td>
                                </tr>
                                <tr>
                                    <th scope="row">직무내용</th>
                                    <td th:text="*{schlNm}"></td>
                                </tr>

                                <tr>
                                    <th scope="row"><label>자격사항</label></th>
                                    <td th:text="*{schlNm}"></td>
                                </tr>

                                <tr>
                                    <th scope="row">최종 등록일</th>
                                    <td th:text="*{regDtm}"></td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="btn_area">
                                <a class="btn btn_sm btn_red" href="#" th:onclick="|fn_setStatus(*{id},'N',*{mberPid});|">
                                    <i class="material-icons fz17">done</i>반려
                                </a>
                                <a class="btn btn_sm" href="#" th:onclick="|fn_setStatus(*{id},'W',*{mberPid});|">
                                    <i class="material-icons fz17">done</i>대기
                                </a>
                                <a class="btn btn_sm btn_blue" href="#" th:onclick="|fn_setStatus(*{id},'Y',*{mberPid});|">
                                    <i class="material-icons fz17">done</i>승인
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <th:block th:replace="soulGod/fragments/footer"></th:block>
</div>
</body>
</html>
