<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="soulGod/fragments/header"></th:block>
    <script type="text/javascript">
        let chkedVal = [];
        let eduType = [];
        let i = 0;
        let crewForm;
        let groupForm;
        let selectedVal;

        ////-------- page load
        $(document).ready(function() {
            groupForm = $('.detailGroupForm');
            crewForm = $('.detailCrewForm');
            crewForm.hide()
            groupForm.hide()
            let chkNum = $('input[id^=agree]').length,idx = 0;
            let chkNum1 = $('input[id^=agree1]').length,idx1 = 0;

            $('#allChk').on('change',function(){
                if($(this).is(':checked')){
                    idx = chkNum;
                    $('input[id^=agree]').prop('checked',true)
                }else{
                    idx = 0;
                    $('input[id^=agree]').prop('checked',false)
                }
            });
            $('input[id^=agree]').on('change',function(){
                if($(this).is(':checked')){
                    idx--;
                    if(idx == chkNum){
                        $('#allChk').prop('checked',true)
                    }else{
                        idx++;
                        $('#allChk').prop('checked',false)
                    }
                }
            });

            $('#memAllChk').on('change',function(){
                if($(this).is(':checked')){
                    idx1 = chkNum1;
                    $('input[id^=agree1]').prop('checked',true)
                }else{
                    idx1 = 0;
                    $('input[id^=agree1]').prop('checked',false)
                }
            });
            $('input[id^=agree1]').on('change',function(){
                if($(this).is(':checked')){
                    idx1--;
                    if(idx1 == chkNum1){
                        $('#memAllChk').prop('checked',true)
                    }else{
                        idx1++;
                        $('#memAllChk').prop('checked',false)
                    }
                }
            });

            fn_setDatePicker('#srchStDt', {
                onShow:function( ct ){
                    this.setOptions({
                        maxDate:$('#srchEdDt').val()?$('#srchEdDt').val():false
                    });
                }
            });
            fn_setDatePicker('#srchEdDt', {
                onShow:function( ct ){
                    this.setOptions({
                        minDate:$('#srchStDt').val()?$('#srchStDt').val():false
                    });
                }
            });
        });

        function fn_getFile(idx) {
            $.ajax({
                cache : false,
                url: "/api/soulGod/member/getLicenseFile/"+idx,
                type : 'POST',
                dataType : 'JSON',
                success : function(data) {
                    location.href='/upload/license/'+data.flNm;
                    //$('#fl_path').attr("src", data.flNm);
                },
                error : function(error) {

                }
            });
        }

        function fn_search() {
            var frm = $('#form1');
            frm.prop('action', '?');
            frm.submit();
        }

        function fn_reset() {
            $('#srchGbn').val('').niceSelect('update');
            $('#srchStDt').val('');
            $('#srchEdDt').val('');
            $('#srchField').val('1').niceSelect('update');
            $('#srchWord').val('');
            fn_search();
        }
    </script>
</head>
<body>
<div id="wrap">
    <th:block th:include="soulGod/fragments/menu"></th:block>
    <div id="container">
        <div class="container_box">
            <form id="form1" name="form1" method="post" th:object="${form}">
                <input type="hidden" id="id" name="id"/>
                <div class="contents">

                    <ul class="breadcrumb">
                        <li><i class="material-icons">home</i></li>
                        <li>신청관리</li>
                        <li>예방강의</li>
                    </ul>
                    <div class="board_list">
                        <h4 class="sec_tit">학교 리스트</h4>
                        <div class="board_top clearfix">
                            <div class="fl">
                                <div class="total_num">
                                    <b>
                                        학교명을 클릭하면 상세보기페이지로 이동합니다.
                                    </b>
                                </div>
                            </div>
                        </div>
                        <div class="board_detail clearfix">
                            <table class="tbl_list">
                                <colgroup>
                                    <col style="width: 60px"/>
                                </colgroup>
                                <thead>
                                <tr>
                                    <th><input type="checkbox" id="allChk"></th>
                                    <th>No</th>
                                    <th>학교명</th>
                                    <th>주소지</th>
                                    <th>학급수</th>
                                    <th>신청일</th>
                                    <th>승인여부</th>
                                </tr>
                                </thead>
                                <tbody>
                                <!-- 등록된 데이터가 없을 때만 노출 : s -->
                                <tr th:if="${preeducation == null or preeducation.isEmpty()}">
                                    <td colspan="9">등록된 정보 없습니다.</td>
                                </tr>
                                <!-- 등록된 이벤트가 없을 때만 노출 : e -->
                                <tr th:each="item,idx:${preeducation}">
                                    <td><input type="checkbox" id="agree" name="agree" th:value="${item.id}"></td>
                                    <td th:text="${preeducation.totalElements - preeducation.pageable.pageSize * preeducation.pageable.pageNumber - idx.index}"></td>
                                    <td>
                                        <a th:text="${item.schlNm}" th:href="|/soulGod/application/preeduDetail/${item.id}|"></a>
                                    </td>
                                    <td th:text="${item.address}"></td>
                                    <td th:text="${item.classesNum}"></td>
                                    <td>
                                        <th:block th:text="${#temporals.format(item.regDtm, 'yyyy-MM-dd')}"></th:block>
                                    </td>
                                    <td th:text="${item.approval == 'Y' ? '승인' : '미승인'}" th:style="${item.approval == 'Y' ? 'font-weight: bold; color:#8bb3ff' : 'font-weight: bold; color:red'}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <th:block th:replace="/soulGod/fragments/paging :: pagingbody(list=${preeducation},
                                            link='/soulGod/application/preeducation', formId='form1')"></th:block>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <th:block th:replace="soulGod/fragments/footer"></th:block>
</div>

</body>
</html>
