<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="soulGod/fragments/header"></th:block>
    <script>
        let hp1
        let hp2

        function fn_setStatus(id, gbn, uid) {

            /*var jsonData = {
                'hp1' : hp1.val() ,
                'hp2' : hp2.val()
            }*/

            if (gbn == 'N') {
                let result = confirm("반려 처리하시겠습니까?");
                if (result) {
                    $.ajax({
                        cache: false,
                        url: "/api/soulGod/application/updatePreApporaval/" + id + "/" + gbn + "/" + uid,
                        type: 'GET',
                        contentType: "application/json",
                        success: function (data) {
                            if (data == false) {
                                alert('통신 에러')
                            } else {
                                alert('변경되었습니다.')
                                location.reload()
                            }
                        }
                    });
                } else {
                    return false;
                }
            }
            if (gbn == 'W') {
                let result = confirm("대기 처리하시겠습니까?");
                if (result) {
                    $.ajax({
                        cache: false,
                        url: "/api/soulGod/application/updatePreApporaval/" + id + "/" + gbn + "/" + uid,
                        type: 'GET',
                        contentType: "application/json",
                        success: function (data) {
                            if (data == false) {
                                alert('통신 에러')
                            } else {
                                alert('변경되었습니다.')
                                location.reload()
                            }
                        }
                    });
                } else {
                    return false;
                }
            }
            if (gbn == 'Y') {

                hp1 = $('#hp1')
                hp2 = $('#hp2')

                if($(':radio[name="hp"]:checked').length < 1){
                    alert('희망일정을 선택해주세요.');
                    hp1.focus();
                    return false;
                }

                let result = confirm("승인 처리하시겠습니까?");
                if (result) {
                    if($(hp1).is(':checked')) {
                        $.ajax({
                            cache: false,
                            url: "/api/soulGod/application/updatePreApporaval/" + id + "/" + gbn + "/" + uid,
                            type: 'GET',
                            data:  {'hp' : hp1.val()},
                            contentType: "application/json",
                            success: function (data) {
                                if (data == false) {
                                    alert('통신 에러')
                                } else {
                                    alert('변경되었습니다.')
                                    location.reload()
                                }
                            }
                        });
                    }

                    if($(hp2).is(':checked')){
                        $.ajax({
                            cache: false,
                            url: "/api/soulGod/application/updatePreApporaval/" + id + "/" + gbn + "/" + uid,
                            type: 'GET',
                            data:  {'hp' : hp2.val()},
                            contentType: "application/json",
                            success: function (data) {
                                if (data == false) {
                                    alert('통신 에러')
                                } else {
                                    alert('변경되었습니다.')
                                    location.reload()
                                }
                            }
                        });
                    }
                    } else {
                        return false;
                }
            }
        }

        function fn_chgEduType(t) {
            selectedVal = $('.' + t).children('.list').children('.option.selected').data('value');
            let jsonData = {
                'id': t,
                'InsDvTy': selectedVal
            }
            $.ajax({
                cache: false,
                url: "/api/soulGod/application/updateInsType/" + t + "/" + selectedVal,
                type: 'POST',
                contentType: "application/json",
                datatype: 'json',
                success: function (data) {
                    alert('변경되었습니다.')
                }
            });
        }
        function fn_chkcontroll(){

            if(hp1.isChecked()){
                hp2.checked(false)
            }
            if(hp2.isChecked()){
                hp1.checked(false)
            }
        }

        $(document).ready(function () {
            fn_chkcontroll();
        })
    </script>
</head>
<body>
<div id="wrap">
    <th:block th:include="soulGod/fragments/menu"></th:block>
    <div id="container">
        <div class="container_box">
            <form id="form1" name="form1" method="post" enctype="multipart/form-data" th:object="${form}">
                <input type="hidden" th:fiedl/>
                <div class="contents">
                    <ul class="breadcrumb">
                        <li><i class="material-icons">home</i></li>
                        <li>신청관리</li>
                        <li><a href="/soulGod/application/inseducation"> 예방교육</a></li>
                    </ul>
                    <div class="board_detail clearfix">

                        <div class="sec">
                            <div class="board_top clearfix">
                                <div class="fl">
                                    <h4 class="sec_tit" th:text="|신청학교 기본정보 (*{schlNm})|">상세정보</h4>
                                </div>
                            </div>

                            <table class="tbl_write">
                                <colgroup>
                                    <col style="width:10%"/>
                                    <col style="width:10%"/>
                                    <col style="width:10%"/>
                                    <col style="width:20%"/>
                                    <col style="width:10%"/>
                                    <col style="width:15%"/>
                                    <col style="width:auto"/>
                                </colgroup>
                                <tbody>
                                <tr>
                                    <th scope="row"><label>학교명</label></th>
                                    <td th:text="*{schlNm}"></td>

                                    <th scope="row"><label>주소</label></th>
                                    <td th:text="*{address}"></td>

                                    <th scope="row"><label>대표번호</label></th>
                                    <td th:text="*{tel}"></td>

                                    <th scope="row"><label>처리</label></th>
                                    <td th:if="*{approval == 'N'}" th:text="|반려|" style="font-weight: bold; color:red;"></td>
                                    <td th:if="*{approval == 'W'}" th:text="|승인대기|" style="font-weight: bold; color:#9a9a9a;"></td>
                                    <td th:if="*{approval == 'Y'}" th:text="|승인|" style="font-weight: bold; color:#8bb3ff;"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="sec">
                            <div class="board_top clearfix">
                                <div class="fl">
                                    <h4 class="sec_tit" th:text="|교육 신청정보|">상세정보</h4>
                                </div>
                            </div>

                            <table class="tbl_write">
                                <colgroup>
                                    <col style="width:10%"/>
                                    <col style="width:auto"/>
                                </colgroup>
                                <tbody>
                                <th scope="row"><label>학년</label></th>
                                <td th:text="*{grade}"></td>
                                <th scope="row"><label>학급수</label></th>
                                <td th:text="*{classesNum}"></td>
                                <th scope="row">인원</th>
                                <td th:text="|*{personnel} 명|"></td>
                                </tbody>
                            </table>
                        </div>




                        <div class="sec">
                            <div class="board_top clearfix">
                                <div class="fl">
                                    <h4 class="sec_tit" th:text="|신청자 정보|">상세정보</h4>
                                </div>
                            </div>


                            <table class="tbl_write">
                                <colgroup>
                                    <col style="width:10%"/>
                                    <col style="width:10%"/>
                                    <col style="width:10%"/>
                                    <col style="width:13%"/>
                                    <col style="width:10%"/>
                                    <col style="width:10%"/>
                                    <col style="width:auto"/>
                                </colgroup>

                                <tbody>
                                <tr>

                                    <th scope="row"><label>성명</label></th>
                                    <td th:text="*{nm}"></td>

                                    <th scope="row"><label>이메일</label></th>
                                    <td th:text="*{email}"></td>

                                    <th scope="row"><label>직통번호</label></th>
                                    <td th:text="*{tel}"></td>

                                    <th scope="row"><label>휴대폰</label></th>
                                    <td th:text="*{moblphon}"></td>

                                    <th scope="row"><label>담당업무</label></th>
                                    <td th:text="*{task}"></td>

                                </tr>
                                </tbody>
                            </table>
                        </div>




                        <div class="sec">
                            <div class="board_top clearfix">
                                <div class="fl">
                                    <h4 class="sec_tit" th:text="|희망일정 (1안)|"></h4>
                                    <input id="hp1" name="hp" type="radio" th:value="|*{hpSchd1Et}|" th:radiogroup="hp2" style="margin: 6px"/>
                                </div>
                            </div>

                            <table class="tbl_write">

                                <colgroup>
                                    <col style="width:10%"/>
                                    <col style="width:auto"/>
                                </colgroup>

                                <tbody>
                                    <tr>
                                        <th scope="row"><label>1안 인원</label></th>
                                        <td th:text="|*{hpSchd1Personnel} 명|"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><label>1안 교육시간</label></th>
                                        <td th:text="|*{hpSchd1Et}|"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">1안 일과시간</th>
                                        <td th:text="|*{hpSchd1Wt}|"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="sec">
                            <div class="board_top clearfix">
                                <div class="fl">
                                    <h4 class="sec_tit" th:text="|희망일정 (2안)|"></h4>
                                    <input id="hp2" name="hp" type="radio" th:value="|*{hpSchd2Et}|" th:radiogroup="hp2" style="margin: 6px"/>
                                </div>
                            </div>
                            <table class="tbl_write">

                                <colgroup>
                                    <col style="width:10%"/>
                                    <col style="width:auto"/>
                                </colgroup>

                                <tbody>
                                <tr>
                                    <th scope="row"><label>2안 인원</label></th>
                                    <td th:text="|*{hpSchd2Personnel} 명|"></td>
                                </tr>
                                <tr>
                                    <th scope="row"><label>2안 교육시간</label></th>
                                    <td th:text="|*{hpSchd2Et}|"></td>
                                </tr>
                                <tr>
                                    <th scope="row">2안 일과시간</th>
                                    <td th:text="|*{hpSchd2Wt}|"></td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="btn_area">
                                <a class="btn btn_sm btn_red" href="#"
                                   th:onclick="|fn_setStatus(*{id},'N',*{mberPid});|">
                                    <i class="material-icons fz17">done</i>반려
                                </a>
                                <a class="btn btn_sm" href="#" th:onclick="|fn_setStatus(*{id},'W',*{mberPid});|">
                                    <i class="material-icons fz17">done</i>대기
                                </a>
                                <a class="btn btn_sm btn_blue" href="#"
                                   th:onclick="|fn_setStatus(*{id},'Y',*{mberPid});|">
                                    <i class="material-icons fz17">done</i>승인
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <th:block th:replace="soulGod/fragments/footer"></th:block>
</div>
</body>
</html>
