<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header"></th:block>
    <!--    <script>-->
    <!--        $(function () {-->
    <!--            $(window).on('load resize', function () {-->
    <!--                //secScroll()-->
    <!--                $('.nav_sec > li').each(function () {-->
    <!--                    var navLi = $(this),-->
    <!--                        navLiIdx = navLi.index(),-->
    <!--                        secTop = $('.sec').eq(navLiIdx).offset().top - 115,-->
    <!--                        secTop2 = $('.sec').eq(navLiIdx).offset().top - 30;-->

    <!--                    navLi.children('a').on('click', function () {-->
    <!--                        if (navLiIdx == 2) {-->
    <!--                            $('html, body').stop().animate({'scrollTop': secTop2});-->
    <!--                        } else {-->
    <!--                            $('html, body').stop().animate({'scrollTop': secTop});-->
    <!--                        }-->
    <!--                    });-->
    <!--                });-->
    <!--                $(window).scroll(function () {-->
    <!--                    secScroll();-->
    <!--                });-->
    <!--            });-->
    <!--        });-->

    <!--        function secScroll() {-->
    <!--            var sct = $(window).scrollTop(),-->
    <!--                winH = $(window).height(),-->
    <!--                sec01 = $('.sec').eq(0).offset().top - 115,-->
    <!--                sec02 = $('.sec').eq(1).offset().top - 115,-->
    <!--                sec03 = $('.sec').eq(2).offset().top - 115,-->
    <!--                navIdx;-->

    <!--            if (sct >= sec01 && sct < sec02) {-->
    <!--                navIdx = 0;-->
    <!--            } else if (sct >= sec02 && sct < sec03) {-->
    <!--                navIdx = 1;-->
    <!--            } else if (sct >= sec03) {-->
    <!--                navIdx = 2;-->
    <!--            }-->
    <!--            $('.nav_sec > li').eq(navIdx).addClass('active').siblings().removeClass('active')-->
    <!--        }-->
    <!--    </script>-->
</head>
<body oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>
<div id="wrap">
    <th:block th:include="fragments/header_gnb"></th:block>
    <div id="container">
        <th:block th:include="fragments/mo_menu"></th:block>
        <div class="sub_container">
            <th:block th:include="fragments/dept_menu"></th:block>
                <div class="inner">
                    <div class="page_cont">
                        <div class="page_top">
                            <div class="top_banner intro_banner">
                                <h1><span>푸른코끼리</span> 사이버폭력솔루션</h1>
                                <p>
                                    ‘푸른나무재단 - 교육부 - 사랑의열매 - 삼성’이 청소년의 친사회적 역량 향상을 위한 청소년 사이버폭력 예방교육 사업<b></b> 사이버정글 가디언
                                    푸른코끼리를 10년간(2020-2029년) 함께 운영합니다.

                                </p>
                            </div>
                        </div>
                        <div class="sec sec_puco_01">
                            <div class="pucoabout_inner">
                                <div class="puco_site">
                                    <div class="site_desc">
                                        <div class="site_img">
                                            <img src="/ClientUI/user/images/contents/about_puco.png" alt="">
                                        </div>
                                        <div class="about_btn">
                                            <a class="btn_download down-btn">사이버폭력이란?</a>
                                            <a class="btn_download gide_btn">캐릭터다운로드</a>
                                        </div>
                                    </div>
                                    <h1 class="gyeonggi_tit">
                                        “보이지 않는 사이버폭력 문제는<b></b>
                                        한 사람의 노력만으로 해결할 수 없습니다.”
                                    </h1>
                                </div>
<!--                                <div class="puco_items">-->
<!--                                    <div class="bg_inner">-->
<!--                                        <div class="item_inner">-->
<!--                                            <div class="item">-->
<!--                                                <div class="item_01">-->
<!--                                                    <div class="item_tit">예방교육</div>-->
<!--                                                    <div class="desc">-->
<!--                                                        <p>-->
<!--                                                            처벌과 선도가 아닌 교육적 접근을<br>통해 아이들의 내적 변화 유도-->
<!--                                                        </p>-->
<!--                                                        <span>-->
<!--                                                            <small>#청소년</small>-->
<!--                                                            <small>#부모</small>-->
<!--                                                            <small>#강사</small>-->
<!--                                                            <small>#교사</small><b></b>-->
<!--                                                            <small>#온라인</small>-->
<!--                                                            <small>#지지크루</small>-->
<!--                                                        </span>-->
<!--                                                    </div>-->
<!--                                                    <a class="more_btn" href="#none">더보기</a>-->
<!--                                                </div>-->
<!--                                                <div class="item_02">-->
<!--                                                    <div class="item_tit">상담치유</div>-->
<!--                                                    <div class="desc">-->
<!--                                                        <p>-->
<!--                                                            개인-가정-학교-지역사회의 자원을<br>연계한 전문적 회복 지원-->
<!--                                                        </p>-->
<!--                                                        <span>-->
<!--                                                            <small>#핫라인상담</small>-->
<!--                                                            <small>#현장출동</small>-->
<!--                                                            <small>#사례관리</small><b></b>-->
<!--                                                            <small>#치유테라피</small>-->
<!--                                                            <small>#화해분쟁조정</small>-->
<!--                                                        </span>-->
<!--                                                    </div>-->
<!--                                                    <a class="more_btn" href="#none">더보기</a>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <div class="item">-->
<!--                                                <div class="item_03">-->
<!--                                                    <div class="item_tit">예방문화</div>-->
<!--                                                    <div class="desc">-->
<!--                                                        <p>-->
<!--                                                            청소년과 기성세대의 자발적 참여를<br> 통해 사이버폭력 예방문화 발굴˙확산-->

<!--                                                        </p>-->
<!--                                                        <span>-->
<!--                                                            <small>#학교장선언운동</small>-->
<!--                                                            <small>#대국민비폭력캠페인</small><b></b>-->
<!--                                                            <small>#청소년공모전</small>-->
<!--                                                            <small>#푸코포럼</small>-->
<!--                                                        </span>-->
<!--                                                    </div>-->
<!--                                                    <a class="more_btn" href="#none">더보기</a>-->
<!--                                                </div>-->
<!--                                                <div class="item_04">-->
<!--                                                    <div class="item_tit">학술연구</div>-->
<!--                                                    <div class="desc">-->
<!--                                                        <p>-->
<!--                                                            사이버폭력 원인을 규명하여 근거중심<br>예방교육 실시 및 제도적 기반 구축-->

<!--                                                        </p>-->
<!--                                                        <span>-->
<!--                                                            <small>#사이버폭력검사도구</small>-->
<!--                                                            <small>#법률제안</small><b></b>-->
<!--                                                            <small>#사이버폭력실태조사</small>-->
<!--                                                            <small>#정책제안</small>-->
<!--                                                        </span>-->
<!--                                                    </div>-->
<!--                                                    <a class="more_btn" href="#none">더보기</a>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <div class="item">-->
<!--                                                <div class="item_05">-->
<!--                                                    <div class="item_tit">플랫폼</div>-->
<!--                                                    <div class="desc">-->
<!--                                                        <p>-->
<!--                                                            급변하는 사이버환경에서 선제적이고<b></b> 지속가능한<span></span> 국내외 사이버폭력<b></b> 예방-->
<!--                                                            시스템 구축-->
<!--                                                        </p>-->
<!--                                                        <span>-->
<!--                                                            <small>#푸코앱</small>-->
<!--                                                            <small>#파트너스</small>-->
<!--                                                            <small>#UN</small>-->
<!--                                                        </span>-->
<!--                                                    </div>-->
<!--                                                    <a class="more_btn" href="#none">더보기</a>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <th:block th:replace="fragments/footer"></th:block>
    </div>
</div>
</body>
</html>
