<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header"></th:block>
    <!--    <script>-->
    <!--        $(function () {-->
    <!--            $(window).on('load resize', function () {-->
    <!--                //secScroll()-->
    <!--                $('.nav_sec > li').each(function () {-->
    <!--                    var navLi = $(this),-->
    <!--                        navLiIdx = navLi.index(),-->
    <!--                        secTop = $('.sec').eq(navLiIdx).offset().top - 115,-->
    <!--                        secTop2 = $('.sec').eq(navLiIdx).offset().top - 30;-->

    <!--                    navLi.children('a').on('click', function () {-->
    <!--                        if (navLiIdx == 2) {-->
    <!--                            $('html, body').stop().animate({'scrollTop': secTop2});-->
    <!--                        } else {-->
    <!--                            $('html, body').stop().animate({'scrollTop': secTop});-->
    <!--                        }-->
    <!--                    });-->
    <!--                });-->
    <!--                $(window).scroll(function () {-->
    <!--                    secScroll();-->
    <!--                });-->
    <!--            });-->
    <!--        });-->

    <!--        function secScroll() {-->
    <!--            var sct = $(window).scrollTop(),-->
    <!--                winH = $(window).height(),-->
    <!--                sec01 = $('.sec').eq(0).offset().top - 115,-->
    <!--                sec02 = $('.sec').eq(1).offset().top - 115,-->
    <!--                sec03 = $('.sec').eq(2).offset().top - 115,-->
    <!--                navIdx;-->

    <!--            if (sct >= sec01 && sct < sec02) {-->
    <!--                navIdx = 0;-->
    <!--            } else if (sct >= sec02 && sct < sec03) {-->
    <!--                navIdx = 1;-->
    <!--            } else if (sct >= sec03) {-->
    <!--                navIdx = 2;-->
    <!--            }-->
    <!--            $('.nav_sec > li').eq(navIdx).addClass('active').siblings().removeClass('active')-->
    <!--        }-->
    <!--    </script>-->
</head>
<body oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>
<div id="wrap">
    <th:block th:include="fragments/header_gnb"></th:block>
    <div id="container">
        <th:block th:include="fragments/mo_menu"></th:block>
        <div class="sub_container">
            <th:block th:include="fragments/dept_menu"></th:block>

            <div class="inner">
                <div class="page_cont">
                    <div class="page_top">
                        <div class="top_banner character_banner">
                            <h1>푸코는 이렇게 태어났어요!</h1>
                        </div>
                    </div>
                    <div class="sec sec_intro_01">
                        <div class="intro_item_01">
                            <div class="sec_tit ci">
                                <h1>CI</h1>
                                <div class="ci_inner">
                                    <div class="ci_sum">
                                        <img src="/ClientUI/user/images/contents/ci.png" alt="">
                                    </div>
                                    <div class="ci_desc">
                                        <p>
                                            푸른코끼리는 ‘푸른나무재단-삼성’의 평온과 안정을 상징하는 푸른색과 무리를 지어 생활하고 맹수의 위협으로부터 서로를 지키는 코끼리를
                                            결합하여 탄생한 캐릭터예요!
                                            <span>
                                                폭력과 불안, 유혹이 난무하는 사이버라는 새로운 정글에서 상처받고  소외된 이웃을 돕는 우리의 친구랍니다.
                                            </span>
                                        </p>
                                        <a class="ci_download">CI다운로드</a>
                                    </div>
                                </div>
                            </div>
                            <div class="sec_tit puco_ch">
                                <h1>푸른코끼리 캐릭터</h1>
                                <div class="ci_inner">
                                    <div class="ci_sum">
                                        <div>
                                            <img src="/ClientUI/user/images/contents/obj_mascot.png" alt="">
                                            <small>기본 푸코</small>
                                            <img src="/ClientUI/user/images/contents/obj_mascot_2.png" alt="">
                                            <small>가디언 푸코</small>
                                        </div>
                                    </div>
                                    <div class="ci_desc">
                                        <div class="ch_01">
                                            <ul class="character_info">
                                                <li>
                                                    <b> 이름</b>
                                                    <span>푸른코끼리</span>
                                                </li>
                                                <li>
                                                    <b>국적</b>
                                                    <span>대한민국</span>
                                                </li>
                                                <li>
                                                    <b>생년월일</b>
                                                    <span>2020년 02월 20일</span>
                                                </li>
                                                <li>
                                                    <b>좋아하는것</b>
                                                    <span>안전한 사이버세상</span>
                                                </li>
                                                <li>
                                                    <b>싫어하는것</b>
                                                    <span>사이버폭력</span>
                                                </li>
                                                <li>
                                                    <b>취미</b>
                                                    <span>친구들과 친사회적 역량* 실천하기</span>
                                                </li>
                                                <li>
                                                    <b>특기</b>
                                                    <span>상처받고, 소외된 이웃돕기</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <small>*친사회적 역량 6가지(정직, 약속, 용서, 책임, 배려, 소유)</small>
                                        <div class="ch_02">
                                            <div class="about_puco">
                                                <h4>푸코를 소개해요!</h4>
                                                <a href="#none">더 알아보기</a>
                                            </div>
                                            <p class="about_puco_desc">
                                                푸른코끼리는 사이버폭력 예방교육, 상담치유, 예방문화, 학술연구, 플랫폼을 통해<b></b>
                                                사이버세상에서 발생하는 언어폭력, 따돌림, 명예훼손, 개인정보 유출 등의 맹수로부터 <b></b>
                                                우리를 지켜주는 가디언이예요.
                                                <span>정직하고, 약속을 잘 지키고, 용서도 먼저 구할 줄 알고, 책임감 있고, 다른 사람을 배려할 줄  알고, 남의 것을 탐내지 않고 나의 것만 소유할 줄 아는 친사회적 역량 마스터 푸른코끼리!</span>
                                                푸른코끼리는 친구들과 함께 친사회적 역량을 실천하며 사이버폭력이<b></b> 없는 안전한 사이버세상을 만들 거예요!
                                            </p>
                                        </div>
                                        <div class="character_down">
                                            <a class="btn_download ch_down_btn">캐릭터다운로드</a>
                                            <a class="btn_download">가이드다운로드</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sec_tit puco_level">
                                <h1>캐릭터 레벨업 가이드</h1>
                                <div class="level_inner">
                                    <div class="level_puco">
                                        <div class="level_pc">
                                            <img src="/ClientUI/user/images/contents/img_character.jpg" alt="">
                                        </div>
                                        <div class="level_m">
                                            <img src="/ClientUI/user/images/contents/m_img_character.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="level_graph">
                                        <div class="graph_01">
                                            <table>
                                                <tr class="graph_top">
                                                    <td>알</td>
                                                    <td>탄생</td>
                                                    <td>아기</td>
                                                    <td>어린이</td>
                                                    <td>청소년</td>
                                                    <td>청년</td>
                                                    <td>성인</td>
                                                    <td>가디언</td>
                                                </tr>
                                                <tr>
                                                    <td>1단계</td>
                                                    <td>2단계</td>
                                                    <td>3단계</td>
                                                    <td>4단계</td>
                                                    <td>5단계</td>
                                                    <td>6단계</td>
                                                    <td>7단계</td>
                                                    <td>8단계</td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="graph_02">
                                            <table>
                                                <tr class="graph_top">
                                                    <td>카테고리</td>
                                                    <td>Point</td>
                                                    <td colspan="2">다음단계로 성장하기 위한 미션</td>
                                                    <td>1일최대</td>
                                                </tr>
                                                <tr>
                                                    <td rowspan="3">출석수</td>
                                                    <td>3</td>
                                                    <td colspan="2">앱 1번접속</td>
                                                    <td>1번</td>
                                                </tr>
                                                <tr>
                                                    <td>8</td>
                                                    <td colspan="2">5일연속 접속시 추가점수</td>
                                                    <td>1번</td>
                                                </tr>
                                                <tr>
                                                    <td>15</td>
                                                    <td colspan="2">10일 연속 접속시 추가점수</td>
                                                    <td>1번</td>
                                                </tr>
                                                <tr>
                                                    <td>활동</td>
                                                    <td>5</td>
                                                    <td colspan="2">사이버폭력 체험, 피해자목소리, 위로메세지 듣기, 자가진단</td>
                                                    <td>1번</td>
                                                </tr>
                                                <tr>
                                                    <td>교육</td>
                                                    <td>10</td>
                                                    <td colspan="2">3일간 미접속</td>
                                                    <td>영상당 1번</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <th:block th:replace="fragments/footer"></th:block>
    </div>
</div>
</body>
</html>
