
<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header"></th:block>
</head>
<body oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>
<div id="wrap">
    <th:block th:include="fragments/header_gnb"></th:block>
    <div id="container">
        <th:block th:include="fragments/mo_menu"></th:block>
        <div class="sub_container">
            <th:block th:include="fragments/dept_menu"></th:block>

            <div class="inner">
                <div class="page_cont">
                    <div class="page_top">
                        <div class="top_banner character_banner">
                            <h1>푸코 친구들을 소개할게요!</h1>
                        </div>
                    </div>
                    <div class="sec sec_intro_01">
                        <div class="intro_item_01">
                            <div class="sec_tit friends_01">
                                <h1>푸코홍보대사</h1>
                                <div class="friends_inner">
                                    <div class="friends_item">
                                        <div class="idol_puco">
                                            <img src="/ClientUI/user/images/contents/idol_puco.png" alt="">
                                        </div>
                                        <div class="idol_inner">
                                            <div>
                                                <img src="/ClientUI/user/images/contents/ab6ix_mem01.jpg" alt="">
                                            </div>
                                            <div>
                                                <img src="/ClientUI/user/images/contents/ab6ix_mem02.jpg" alt="">
                                            </div>
                                            <div>
                                                <img src="/ClientUI/user/images/contents/ab6ix_mem03.jpg" alt="">
                                            </div>
                                            <div>
                                                <img src="/ClientUI/user/images/contents/ab6ix_mem04.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="firends_tit">멤버 자체 프로듀싱 안무를 제작,<span></span> 글로벌 뮤지션으로 인정받는 보이그룹</div>
                                    <div class="firends_desc">
                                        <div class="item">
                                            <div class="idol_tit">
                                                멤버
                                            </div>
                                            <div class="idol_desc">
                                                박우진, 이대휘, 전 웅, 김동현
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="idol_tit">
                                                소속사
                                            </div>
                                            <div class="idol_desc">
                                                브랜뉴뮤직
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="idol_tit">
                                                위촉일
                                            </div>
                                            <div class="idol_desc">
                                                2020년 2월 20일
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="idol_tit">
                                                활동내용
                                            </div>
                                            <div class="idol_desc">
                                                대국민 비폭력 캠페인<br>
                                                사이버폭력 예방송 제작<br>
                                                찾아가는 푸른코끼리 콘서트<br>
                                                푸코포럼 축하공연<br>
                                                나눔문화 확산
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="sec_tit friends_02">
                                <h1>푸코파트너스</h1>
                                <div class="friends_inner">
                                    <div class="partner_top">
                                        <span>청소년 사이버폭력 예방을 위해 <b>푸른코끼리</b>와<span></span> 함께 동행하여 주실 <b>파트너스</b>를 기다립니다.
                                        </span>
                                    </div>
                                    <div class="partner_inner">
                                        <div class="item_inner pat_1">
                                            <div class="partners_item">
                                                <div class="partners_tit">운영</div>
                                                <div class="partners_img">
                                                    <img src="/ClientUI/user/images/contents/partners_01.png" alt="">
                                                </div>
                                                <div class="partners_desc">
                                                    <p>
                                                        비영리의 전반적인<span></span>사업의 운영방향, <span></span>추진전략 논의
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="partners_item">
                                                <div class="partners_tit">홍보</div>
                                                <div class="partners_img">
                                                    <img src="/ClientUI/user/images/contents/partners_02.png" alt="">
                                                </div>
                                                <div class="partners_desc">
                                                    <p>
                                                        예방교육 문화확산을 위한 <span></span>청소년, 시민의 적극적<span></span> 참여방안 마련 및 사업홍보
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="partners_item">
                                                <div class="partners_tit">IT</div>
                                                <div class="partners_img">
                                                    <img src="/ClientUI/user/images/contents/partners_03.png" alt="">
                                                </div>
                                                <div class="partners_desc">
                                                    <p>
                                                        모바일 플랫폼 기획 아이디어<span></span> 공유 및 기술적 자문
                                                        <small>(모바일 앱, AI 및 빅데이터 등)</small>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="partners_item">
                                                <div class="partners_tit">연구</div>
                                                <div class="partners_img">
                                                    <img src="/ClientUI/user/images/contents/partners_04.png" alt="">
                                                </div>
                                                <div class="partners_desc">
                                                    <p>
                                                        사이버폭력 예방 연구참여 및 <span></span>결과 모니터링
                                                        <small>(문화연구, FGI, 컨퍼런스, 포럼 등)</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item_inner pat_2">
                                            <div class="partners_item">
                                                <div class="partners_tit">정책</div>
                                                <div class="partners_img">
                                                    <img src="/ClientUI/user/images/contents/partners_05.png" alt="">
                                                </div>
                                                <div class="partners_desc">
                                                    <p>
                                                        관련법률/제도개선 및 <span></span>옹호활동 참여
                                                        <small>(법률 및 정책제안, 국회청원 등)</small>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="partners_item">
                                                <div class="partners_tit">교육</div>
                                                <div class="partners_img">
                                                    <img src="/ClientUI/user/images/contents/partners_06.png" alt="">
                                                </div>
                                                <div class="partners_desc">
                                                    <p>
                                                        찾아가는 예방교육 콘텐츠 <span></span>개발 및 교육 모니터링 등
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="partners_item">
                                                <div class="partners_tit">상담</div>
                                                <div class="partners_img">
                                                    <img src="/ClientUI/user/images/contents/partners_07.png" alt="">
                                                </div>
                                                <div class="partners_desc">
                                                    <p>
                                                        사이버폭력 신고상담 체계 구축
                                                        <small>(피해자 상담 및 회복지원 매뉴얼,<span></span> 가족캠프, 사이버 또래 멘토링 등)</small>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="partners_item">
                                                <div class="partners_tit">국제</div>
                                                <div class="partners_img">
                                                    <img src="/ClientUI/user/images/contents/partners_08.png" alt="">
                                                </div>
                                                <div class="partners_desc">
                                                    <p>
                                                        사이버폭력 예방을 위한 국외<span></span>네트워크 및 성공모델 확산
                                                        <small>(컨퍼런스, 국제네트워크, 국외포럼 등)</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="partners_btn">
                                        <button  type="button" onclick="location.href='/pages/application/partners'">파트너스 지원하기</button>
                                    </div>
                                </div>
                            </div>
                            <div class="sec_tit friends_03">
                                <h1>푸코약정기관</h1>
                                <div class="friends_inner">
                                    <div class="other_ch">
                                        <div class="other_ch_inner">
                                            <div>
                                                <img class="ch" src="/ClientUI/user/images/contents/m_agency_ele02.png" alt="">
                                                <img src="/ClientUI/user/images/common/logo_family02.png" alt="">
                                                <p>
                                                    사이버폭력 예방교육,<br> 상담, 문화, 연구,<br>
                                                    플랫폼 기획 및 운영
                                                </p>
                                            </div>
                                            <div>
                                                <img class="ch" src="/ClientUI/user/images/contents/m_agency_ele01.png" alt="">
                                                <img src="/ClientUI/user/images/common/logo_family01.png" alt="">
                                                <p>
                                                    시도교육청 및 <br>전국 초 중 고 <br>사업인계 및 홍보
                                                </p>
                                            </div>
                                        </div>
                                        <div class="other_ch_inner">
                                            <div>
                                                <img class="ch" src="/ClientUI/user/images/contents/m_agency_ele03.png" alt="">
                                                <img src="/ClientUI/user/images/common/logo_family03.png" alt="">
                                                <p>
                                                    대외홍보 및<br> 인프라 제공
                                                </p>
                                            </div>
                                            <div>
                                                <img class="ch" src="/ClientUI/user/images/contents/m_agency_ele04.png" alt="">
                                                <img src="/ClientUI/user/images/common/logo_family04.png" alt="">
                                                <p>
                                                    사이버폭력 예방교육,<br> 상담, 문화, 연구,<br>
                                                    플랫폼 기획 및 운영
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ch_down_btn">
                                        <button>4사 캐릭터 다운로드</button>
                                    </div>
                                </div>
                                <div class="friends_inner">
                                    <h2 class="gyeonggi_tit">안전한 사이버세상을 만드는 일에 공감하는<span></span> 여러 사람들이 함께 참여합니다.</h2>
                                    <div class="puco_platform">
                                        <div class="item">
                                            <div class="platform_img">
                                                <img src="/ClientUI/user/images/contents/platform_01.png" alt="">
                                            </div>
                                            <div class="platform_desc">
                                                <span>푸코플랫폼</span>
                                                <p>
                                                    <b>전체 사업 주기</b>
                                                    •  3년 100만명 회원/<br>
                                                    10년간 1억명 이용
                                                    </ul>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="platform_img">
                                                <img src="/ClientUI/user/images/contents/platform_02.png" alt="">
                                            </div>
                                            <div class="platform_desc">
                                                <span>교육부</span>
                                                <p>
                                                    <b>정책 수렴 및 입안</b>
                                                    •  정책 홍보/학교 홍보<br>
                                                    •  학교 참여 독려/연계
                                                    </ul>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="platform_img">
                                                <img src="/ClientUI/user/images/contents/platform_03.png" alt="">
                                            </div>
                                            <div class="platform_desc">
                                                <span>지자체</span>
                                                <p>
                                                    <b>지역사회 시민 연계</b>
                                                    •  캠페인 및 정책참여<br>
                                                    •  시범사업 공동운영
                                                    </ul>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="platform_img">
                                                <img src="/ClientUI/user/images/contents/platform_04.png" alt="">
                                            </div>
                                            <div class="platform_desc">
                                                <span>청소년</span>
                                                <p>
                                                    <b>주도적 디지털 시민참여</b>
                                                    •  재미/흥미/참여유도<br>
                                                    •  신고/상담/체험/교육<br>
                                                    •  리워드혜택 참여활동 포트폴리오
                                                    </ul>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="platform_img">
                                                <img src="/ClientUI/user/images/contents/platform_05.png" alt="">
                                            </div>
                                            <div class="platform_desc">
                                                <span>협력자</span>
                                                <p>
                                                    <b>전체 사업 주기</b>
                                                    •  콘텐츠 제공<br>
                                                    •  교육.상담.IT 등 분야별 자문<br>
                                                    •  사회적 연결망 확산지원
                                                    </ul>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <th:block th:replace="fragments/footer"></th:block>
    </div>
</div>
</body>
</html>
