<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header"></th:block>
<!--    <script>-->
<!--        $(function(){-->
<!--			//secScroll()-->
<!--            $(window).on('load resize',function(){-->
<!--                $('.nav_sec > li').each(function(){-->
<!--                    var navLi = $(this),-->
<!--                        navLiIdx = navLi.index(),-->
<!--                        secTop = $('.sec').eq(navLiIdx).offset().top - 100,-->
<!--                        secTop3 = $('.sec').eq(navLiIdx).offset().top - 110;-->

<!--                    navLi.children('a').on('click', function(){-->
<!--                        if(navLiIdx == 3){-->
<!--                            $('html, body').stop().animate({'scrollTop':secTop3})-->
<!--                        }else{-->
<!--                            $('html, body').stop().animate({'scrollTop':secTop})-->
<!--                        }-->
<!--                    });-->
<!--                });-->
<!--                $(window).scroll(function(){-->
<!--                   secScroll()-->
<!--                });-->
<!--            });-->
<!--        });-->

<!--        function secScroll(){-->
<!--            var sct = $(window).scrollTop(),-->
<!--				winH = $(window).height(),-->
<!--                sec01 = $('.sec').eq(0).offset().top - 115,-->
<!--                sec02 = $('.sec').eq(1).offset().top - 115,-->
<!--                sec03 = $('.sec').eq(2).offset().top - 115,-->
<!--                sec04 = $('.sec').eq(3).offset().top - 115,-->
<!--                navIdx;-->

<!--            if(sct >= sec01 && sct < sec02){-->
<!--                navIdx = 0;-->
<!--            }else if(sct >= sec02 && sct < sec03){-->
<!--                navIdx = 1;-->
<!--            }else if(sct >= sec03 && sct < sec04){-->
<!--                navIdx = 2;-->
<!--            }else if(sct >= sec04 && sct < sec04 + 300){-->
<!--                navIdx = 3;-->
<!--            }else if(sct > sec04 + 300){-->
<!--                navIdx = 4;-->
<!--            }-->
<!--            $('.nav_sec > li').eq(navIdx).addClass('active').siblings().removeClass('active')-->
<!--        }-->
<!--    </script>-->
</head>
<body oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>
<div id="wrap">
    <th:block th:include="fragments/header_gnb"></th:block>
    <div id="container">
        <th:block th:include="fragments/mo_menu"></th:block>
        <div class="sub_container">
            <th:block th:include="fragments/dept_menu"></th:block>
            <form id="form1" name="form1" method="post">
                <div class="contents general_education">
                    <!-- 일반 교육 contents -->
                    <h1 class="edu_title">일반교육</h1>
                    <div class="edu_des">
                        학교로 찾아가는 예방교육 전문강사를 양성하고 모든 사람들이 사이버폭력 예방-대처방법을 알 수 있도록 교육을 진행합니다.<br/>
                        ※ 본 교육 프로그램은 푸른나무재단이 기획하고 개발한 프로그램으로 이를 무단으로 배포하거나 영리목적으로 사용할 수 없습니다.
                    </div>
                    <div class="edu_video">
                        <iframe src="https://www.youtube.com/embed/Ob5-y39FHSo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="edu_form">
                        <div class="edu_list_box">
                            <a href="#" class="lecture_sumnail">
                                <img src="/ClientUI/user/images/contents/lecture/lecture.jpg" alt="lecture_sumnail" class="sumnail">
                            </a>
                            <div class="edu_text_box">
                                <span class="edu_tag">온라인교육</span>
                                <p class="edu_form_title">[청소년] 푸른코끼리 사이버폭력 예방교육</p>
                            </div>
                            <div class="edu_btn_box">
                                <a href="#" class="edu_btn">
                                    <button>수강신청</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="edu_form">
                        <div class="edu_list_box">
                            <a href="#" class="lecture_sumnail">
                                <img src="/ClientUI/user/images/contents/lecture/lecture.jpg" alt="lecture_sumnail" class="sumnail">
                            </a>
                            <img src="" alt="">
                            <div class="edu_text_box">
                                <span class="edu_tag">온라인교육</span>
                                <p class="edu_form_title">[청소년] 푸른코끼리 사이버폭력 예방교육</p>
                            </div>
                            <div class="edu_btn_box">
                                <a href="#" class="edu_btn">
                                    <button>수강신청</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="inner">
                <div class="page_cont">
                    <div class="page_top">
                        <div class="top_banner">
                            <h1>사이버폭력이란?</h1>
                            <p>
                                의사소통을 목적으로 하는 다양한 전자기기를 매개로 발생하며, 연령과 상관없는 대상(개인 혹은 집단, 또래 혹인 성인)으로 부터 본인이 <b></b>원하지 않는 피해를 받았다고 인식하고, 일회적 혹은 반복적으로 발생하여 피해를 주는 부정적인 모든행위
                                <small>*푸른나무재단(2000).청소년 사이버 폭력 예방을 위한 정책 및 실천적 함의 연구</small>
                            </p>
                        </div>
                    </div>
                    <div class="sec sec_intro_01">
                        <div class="intro_item_01">
                            <div class="sec_tit">
                                <h1>사이버폭력, 왜 문제인가?</h1>
                                <p class="desc">
                                    눈에 보이는 학교폭력은 감소했으나,<br>
                                    사이버세상의 <b>따돌림, 스토킹, 성폭력</b> 등 유형이 변화한<span></span> <b>사이버폭력이 증가</b>하고 있습니다.
                                </p>
                            </div>
                            <div class="small_tit">
                                <h3>전국 학교폭력/사이버폭력 실태조사
                                </h3>
                                <a class="btn_more" href="#none">자세히보기</a>
                            </div>
                            <div class="graph"></div>
                            <p class="desc">
                                <b>1995년 이후 꾸준히 감소</b>하던 <b>학교폭력 수치</b>는 본 디지털(Born-Digital) 세대의 저연령화 현상 및 스마트 기기의 보급과 <span></span> 코로나19로 인한 온라인 개학에 따라 새로운 학교폭력 유형인 사이버폭력으로 진화해 <b>증가 추세</b>를 보이고 있습니다.
                            </p>
                            <div class="box_item">
                                <div class="item boy">
                                    <div class="boy">
                                        <img src="/ClientUI/user/images/contents/m_char_boy.png" alt="">
                                    </div>
                                    <div class="box">
                                        <p>
                                            사이버폭력은 관계 속에서 은밀하고 <br>교묘하게 이루어지며,  <br>명확한 처벌과 법률이 부재하여 <br>주변에 도움을 청하기 어려워요.
                                        </p>
                                    </div>
                                </div>
                                <div class="item girl">
                                    <div class="box">
                                        <p>
                                            <b>‘장난인데 어때’</b> 하고 넘어가거나<br><b>‘너의 문제가 있겠지’</b> 하고 <br>방관하는 분위기가 힘들어요.<br>사회 전체의 변화가 필요해요.
                                        </p>
                                    </div>
                                    <div class="girl">
                                        <img src="/ClientUI/user/images/contents/m_char_girl.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="btns">
                                <a class="btn_more_01">사이버폭력의<b></b> 징후​
                                </a>
                                <a class="btn_more_02">사이버폭력의<b></b> 대처방법
                                </a>
                                <a class="btn_more_03">사이버폭력의<b></b> 예방</a>
                            </div>
                            <div class="box_item_2">
                                <div class="list_inner">
                                    <b>징후</b>
                                    <ul class="list">
                                        <li>불안한 기색으로 정보통신기기를 자주 확인하고  민감하게 반응한다.</li>
                                        <li>단체 채팅방에서 집단에게 혼자만 반복적으로  심리적 공격을 당한다.</li>
                                        <li>부모가 자신의 스마트 폰 등 기기를 만지거나 보는 것을 극도로 싫어하고 민감하게 반응한다.</li>
                                        <li>온라인에 접속한 후 혹은 문자메시지나 메신저를 본 후에 당황하거나 정서적으로 괴로워 보인다.</li>
                                        <li>사이버상에서 이름보다는 비하성 별명이나 욕으로 호칭되거나 야유나 험담이 많이 올라온다.</li>
                                        <li>SNS의 상태 글귀나 사진의 분위기가 갑작스럽게 우울하거나 부정적으로 바뀐다.</li>
                                        <li>잘 모르는 사람들이 자녀의 이야기나 소문을 알고 있다.</li>
                                        <li>자녀가 SNS계정을 탈퇴하거나 아이디가 없다.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="intro_item_02">
                            <div class="sec_tit">
                                <h1>어떻게 해결할 것인가?</h1>
                            </div>
                            <div class="sec_intro_02">
                                <div class="problem_inner">
                                    <img src="/ClientUI/user/images/icon/number_1_m.png" alt="">
                                    <div class="problem_item">
                                        <p>
                                            새로운 사회문제에 대한 정의, 실태조사를 통한<span></span><b>예측, 조사/연구를 통해 원인 파악, 해결책제시</b>
                                        </p>
                                    </div>
                                </div>
                                <div class="problem_inner">
                                    <img src="/ClientUI/user/images/icon/number_2_m.png" alt="">
                                    <div class="problem_item">
                                        <p>
                                            선도와 처벌이 아닌 재미와 흥미, 자발적 참여를 <span></span>  유도하는 문화적 접근을 통해 <b>내적변화 유도</b>
                                        </p>
                                    </div>
                                </div>
                                <div class="problem_inner">
                                    <img src="/ClientUI/user/images/icon/number_3_m.png" alt="">
                                    <div class="problem_item">
                                        <p>
                                            새로운 사회문제에 대한 정의, 실태조사를 통한<span></span><b>예측, 조사/연구를 통해 원인 파악, 해결책제시</b>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="btn_puco">
                                <a class="puco_more_btn" href="#none">푸른코끼리 더 알아보기</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:replace="fragments/footer"></th:block>
</div>
</body>
</html>
