<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header"></th:block>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=q4r5fr8c03&callback=initMap"></script>
    <script>
        let map = null;

        function initMap() {
            let map = new naver.maps.Map('map', {
                center: new naver.maps.LatLng(37.489852, 127.012842),
                zoom: 18
            });

            let marker = new naver.maps.Marker({
                position: new naver.maps.LatLng(37.489852, 127.012842),
                map: map
            });
        }
    </script>
</head>
<body oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>
<div id="wrap">
    <th:block th:include="fragments/header_gnb"></th:block>
    <div id="container">
        <th:block th:include="fragments/mo_menu"></th:block>
        <div class="sub_container">
            <th:block th:include="fragments/dept_menu"></th:block>
            <div class="inner location_inner">
                <div class="page_cont">
                    <div class="sec sec_intro_01">
                        <div class="intro_item_01">
                            <div class="sec_tit puco_info">
                                <h1>푸코사무국</h1>
                            </div>
                            <div class="info_inner puco_office_1">
                                <div class="map" id="map">
                                </div>
                                <div class="map_info">
                                    <div class="map_item item_01">
                                        <span>회사주소</span>
                                        <div>
                                            <small>서울특별시 서초구 서초대로 46길 88(청예단빌딩)</small>
                                        </div>
                                    </div>
                                    <div class="map_item item_02">
                                        <span>연락처</span>
                                        <div>
                                            <small>02-585-0098</small>
                                            <small>02-585-0038</small>
                                        </div>
                                    </div>
                                    <div class="map_item item_03">
                                        <div class="tel">
                                            <b>전국 사이버폭력 상담전화</b>
                                            <div>
                                                <u>1588-9128<i>(구원의팔)</i></u>
                                                <u>060-700-1479<i>(천사친구)1통 3천원</i></u>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="sns">
                                    <span>sns/사무국</span>
                                    <div class="sns_inner">
                                        <a href="https://www.instagram.com/be_puco/" class="sns_item insta" target="_blank">
                                            <small>인스타그램</small>
                                        </a>
                                        <a href="https://www.facebook.com/bepuco/" class="sns_item facebook" target="_blank">
                                            <small>페이스북</small>
                                        </a>
                                        <a href="https://pf.kakao.com/_xexeFxeV" class="sns_item kakao" target="_blank">
                                            <small>카카오</small>
                                        </a>
                                        <a href="https://twitter.com/bepuco" class="sns_item twitter" target="_blank">
                                            <small>트위터</small>
                                        </a>
                                        <a href="https://blog.naver.com/bakbht" class="sns_item blog" target="_blank">
                                            <small>블로그</small>
                                        </a>
                                        <a href="https://www.youtube.com/c/%ED%91%B8%EB%A5%B8%EC%BD%94%EB%81%BC%EB%A6%AC" class="sns_item yutube" target="_blank">
                                            <small>유튜브</small>
                                        </a>
                                        <a href="http://www.btf.or.kr/" class="sns_item puco" target="_blank">
                                            <small>푸른나무재단</small>
                                        </a>
                                    </div>
                                </div>
                                <div class="tel_m">
                                    <b>전국 사이버폭력 상담전화</b>
                                    <div>
                                        <u>1588-9128<i>(구원의팔)</i></u>
                                        <u>060-700-1479<i>(천사친구)1통 3천원</i></u>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="intro_item_02">
                            <div class="sec_tit puco_info">
                                <h1>찾아오시는길</h1>
                            </div>
                            <div class="info_inner puco_office_2">
                                <div class="info_item subway">
                                    <span>지하철 이용 시</span>
                                    <div class="desc">
                                        <p class="desc_inner_1">
                                            <span class="tag">
                                                <img src="/ClientUI/user/images/icon/tag_01.png" alt="">
                                                <img src="/ClientUI/user/images/icon/tag_02.png" alt="">
                                            </span>
                                            <span>교대역14번 출구</span>
                                            <span>직진200m</span><u></u>
                                            <span>GS주유소 골목으로 우회전</span>
                                            <span>직진300m 좌측 청예단빌딩 (도보5분)</span>
                                        </p>
                                    </div>
                                </div>
                                <div class="info_item bus">
                                    <span>버스 이용 시</span>
                                    <div class="desc">
                                        <p class="desc_inner_2">
                                            <small>교대역 하차</small>
                                            <span class="tag">
                                                <img src="/ClientUI/user/images/icon/tag_03.png" alt="">
                                            </span>
                                            <span>144, N61</span>
                                            <span class="tag">
                                                <img src="/ClientUI/user/images/icon/tag_04.png" alt="">
                                            </span>
                                            <span>3012</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:replace="fragments/footer"></th:block>
</div>
</body>
</html>
