<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header"></th:block>
</head>
<body oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>
    <div id="wrap">
        <th:block th:include="fragments/header_gnb"></th:block>
        <div id="container">
            <th:block th:include="fragments/dept_menu"></th:block>
            <div class="contents">
                <div class="page_top">
                    <h3 class="page_tit">QR CODE</h3>
                    <span>고객님께서 등록하신 이미지와 텍스트로 QR CODE를 생성합니다.</span>
                </div>
                <div class="page_cont join_form_area">
                    <form action="/test/getQrImg" method="post" enctype="multipart/form-data">
                        <div class="sec_write">
                            <h4 class="subtit">DATA<span class="aster">*</span></h4>
                            <input type="hidden" id="authBothChk" value="0"/>
                            <div class="tbl_write contour">
                                <ul>
                                    <li>
                                        <div class="th">이미지 회전<span class="aster">*</span></div>
                                        <div class="td">
                                            <div class="register_radio">
                                                <input type="radio" id="rotationType1" name="rotationType" value="HORIZONTAL" checked>
                                                <label for="rotationType1" text="가로">가로</label>
                                            </div>
                                            <div class="register_radio">
                                                <input type="radio" id="rotationType2" name="rotationType" value="VERTICAL">
                                                <label for="rotationType2" text="세로">세로</label>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="th">
                                            <label for="printText">메세지</label>
                                            <span class="aster">*</span>
                                        </div>
                                        <div class="td">
                                            <input type="text" id="printText" name="printText" placeholder="QR코드에 삽입될 메세지명을 입력하세요.">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="th">첨부파일<span class="aster">*</span></div>
                                        <div class="td">
                                            <div class="file_form">
                                                <input type="file" name="attachedFile" maxlength="1"  id="attachedFile" class="multi" />
                                                <label for="attachedFile">파일찾기</label>
                                                <input type="hidden" name="b_license_attc" id="b_license_attc" value="N">
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="btn_area">
                            <button type="submit" id="btnSave" class="btn btn_lg btn_blue btn_pill_10">전송</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <th:block th:replace="fragments/footer"></th:block>
    </div>
</body>
</html>
