<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header"></th:block>
    <!--    <script>-->
    <!--        $(function(){-->
    <!--			//secScroll()-->
    <!--            $(window).on('load resize',function(){-->
    <!--                $('.nav_sec > li').each(function(){-->
    <!--                    var navLi = $(this),-->
    <!--                        navLiIdx = navLi.index(),-->
    <!--                        secTop = $('.sec').eq(navLiIdx).offset().top - 100,-->
    <!--                        secTop3 = $('.sec').eq(navLiIdx).offset().top - 110;-->

    <!--                    navLi.children('a').on('click', function(){-->
    <!--                        if(navLiIdx == 3){-->
    <!--                            $('html, body').stop().animate({'scrollTop':secTop3})-->
    <!--                        }else{-->
    <!--                            $('html, body').stop().animate({'scrollTop':secTop})-->
    <!--                        }-->
    <!--                    });-->
    <!--                });-->
    <!--                $(window).scroll(function(){-->
    <!--                   secScroll()-->
    <!--                });-->
    <!--            });-->
    <!--        });-->

    <!--        function secScroll(){-->
    <!--            var sct = $(window).scrollTop(),-->
    <!--				winH = $(window).height(),-->
    <!--                sec01 = $('.sec').eq(0).offset().top - 115,-->
    <!--                sec02 = $('.sec').eq(1).offset().top - 115,-->
    <!--                sec03 = $('.sec').eq(2).offset().top - 115,-->
    <!--                sec04 = $('.sec').eq(3).offset().top - 115,-->
    <!--                navIdx;-->

    <!--            if(sct >= sec01 && sct < sec02){-->
    <!--                navIdx = 0;-->
    <!--            }else if(sct >= sec02 && sct < sec03){-->
    <!--                navIdx = 1;-->
    <!--            }else if(sct >= sec03 && sct < sec04){-->
    <!--                navIdx = 2;-->
    <!--            }else if(sct >= sec04 && sct < sec04 + 300){-->
    <!--                navIdx = 3;-->
    <!--            }else if(sct > sec04 + 300){-->
    <!--                navIdx = 4;-->
    <!--            }-->
    <!--            $('.nav_sec > li').eq(navIdx).addClass('active').siblings().removeClass('active')-->
    <!--        }-->
    <!--    </script>-->


    <script>
        let tap1;
        let tap2;
        let tap3;
        let btn_more_01;
        let btn_more_02;
        let btn_more_03;
        $(function (e){
            btn_more_01 = $('#btn_more_01');
            btn_more_02 = $('#btn_more_02');
            btn_more_03 = $('#btn_more_03');
            tap1 = $('#tap1');
            tap2 = $('#tap2');
            tap3 = $('#tap3');

            tap2.hide();
            tap3.hide();

            btn_more_01.on('click',function (e){
                btn_more_01.addClass('btn_more_01')
                btn_more_02.removeClass('btn_more_01');
                btn_more_03.removeClass('btn_more_01');
                tap1.show();
                tap2.hide();
                tap3.hide();
            })

            btn_more_02.on('click',function (e){
                btn_more_02.addClass('btn_more_01')
                btn_more_01.removeClass('btn_more_01');
                btn_more_03.removeClass('btn_more_01');
                tap1.hide();
                tap2.show();
                tap3.hide();
            })

            btn_more_03.on('click',function (e){
                btn_more_03.addClass('btn_more_01')
                btn_more_02.removeClass('btn_more_01');
                btn_more_01.removeClass('btn_more_01');
                tap1.hide();
                tap2.hide();
                tap3.show();
            })
        });
    </script>
</head>
<body oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>
<div id="wrap">
    <th:block th:include="fragments/header_gnb"></th:block>
    <div id="container">
        <th:block th:include="fragments/mo_menu"></th:block>
        <div class="sub_container">
            <th:block th:include="fragments/dept_menu"></th:block>
            <div class="inner">
                <div class="page_cont">
                    <div class="sec sec_intro_01">
                        <div class="intro_item_01">
                            <div class="sec_tit years">
                                <h1>푸코연혁</h1>
                            </div>
                            <div class="year_inner inner_21">
                                <div class="years_img_wrapper">
                                    <img class="years_mobile" src="/ClientUI/user/images/contents/m_img_schedule01.png" />
                                    <img class="years_mobile" src="/ClientUI/user/images/contents/m_img_schedule02.png" />
                                    <img class="years_pc" src="/ClientUI/user/images/contents/img_schedule01.png" />
                                    <img class="years_pc" src="/ClientUI/user/images/contents/img_schedule02.png" />
                                </div>
                                </img>
                                <div class="years_desc">
                                    <label for="year_chk1">2021</label>
                                    <input id="year_chk1" type="checkbox" name="year_chk" checked>
                                    <ul class="detail_desc">
                                        <li>
                                            <span>10월</span>
                                            <ul>
                                                <li>비폭력의 달 이벤트 진행</li>
                                                <li>제2회 푸코포럼 개최(10/29)</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <span>9월</span>
                                            <ul>
                                                <li>제2회 푸코가족테라피</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <span>7월</span>
                                            <ul>
                                                <li>학교로 찾아가는 예방교육 2학기 런칭
                                                    청소년 아이디어 공모전 개최</li>
                                                <li>학교로 찾아가는 예방교육 2학기 런칭
                                                    청소년 아이디어 공모전 개최</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <span>6월</span>
                                            <ul>
                                                <li>온라인교육 영상 리뉴얼</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <span>5월</span>
                                            <ul>
                                                <li>사이버폭력 예방교육 3기 강사 위촉식</li>
                                                <li>사이버폭력 예방교육 주간 특별 컨텐츠 업로드</li>
                                                <li>관악경찰서 MOU</li>
                                                <li>아시아 청소년 해외강연 <NextGen Leadership Program> 강연</li>
                                                <li>국제사이버범죄관리 세미나 참석</li>
                                                <li><2021 National Research on School&Cyber Violence> (2021 전국 학교폭력ㆍ사이버폭력 실태조사 영문본) 발간</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <span>4월</span>
                                            <ul>
                                                <li>대국민 비폭력 캠페인 ‘푸코의 N행시 캠페인‘ 시작</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <span>3월</span>
                                            <ul>
                                                <li>사이버폭력 예방교육 2기 강사 위촉식</li>
                                                <li>지지크루(동아리) 3기 선정</li>
                                                <li>2021 사이버폭력 실태조사 기자회견(4/20)</li>
                                                <li><2021 전국 학교폭력ㆍ사이버폭력 실태조사> 발간</li>
                                                <li>UN본부 활동보고서 제출</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <span>2월</span>
                                            <ul>
                                                <li>사이버폭력 법률자문 변호사위촉 (노윤호 변호사)</li>
                                                <li>UN 경제사회이사회 사회개발위원회 59차 본회의 구두/서면성명문 발표, 사이드이벤트 개최</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <span>1월</span>
                                            <ul>
                                                <li>사이버폭력 예방송 제작 (브랜뉴뮤직 범키)</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="year_inner inner_20">
                                <div class="years_img_wrapper">
                                    <img class="years_pc" src="/ClientUI/user/images/contents/img_schedule03.png" />
                                </div>
                                <div class="years_desc">
                                    <label for="year_chk2">2020</label>
                                    <input id="year_chk2" type="checkbox" name="year_chk">
                                    <ul class="detail_desc">
                                        <li>
                                            <span>12월</span>
                                            <ul>
                                                <li>지지크루(동아리) 2기 선정</li>
                                                <li>애플스토어 앱 ‘푸른코끼리’ 출시</li>
                                                <li>청소년 사이버폭력 예방 게릴라 토크 콘서트 ‘푸른코끼리 GO해쇼’ 진행</li>
                                                <li><사이버폭력 검사도구 개발을 위한 기초 연구> 발간</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <span>11월</span>
                                            <ul>
                                                <li>사이버폭력 예방교육 1기 강사 위촉식</li>
                                                <li>학교로 찾아가는 예방교육 런칭</li>
                                                <li>제1회 푸코가족테라피 (11/6~8)</li>
                                                <li>안드로이드 앱 ‘푸른코끼리‘ 출시</li>
                                                <li>제1회 푸코포럼 개최(11/27)</li>
                                                <li><청소년 사이버폭력 예방을 위한 정책 및 실천적 함의 연구> 발간</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <span>10월</span>
                                            <ul>
                                                <li>푸른코끼리 유튜브 채널 생성</li>
                                                <li>2020 학교장 선언운동 시작</li>
                                                <li>Better Today Conversations 라이브토크 연사참여</li>
                                                <li>국제 비폭력의 날 기념 ‘대국민 비폭력 캠페인’ 진행</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <span>9월</span>
                                            <ul>
                                                <li>푸른코끼리 캐릭터(PUCO) 제작/탄생</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <span>8월</span>
                                            <ul>
                                                <li>지지크루(동아리) 1기 선정</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <span>7월</span>
                                            <ul>
                                                <li>UN 경제사회이사회 여성지위위원회 공청회 참석</li>
                                                <li>2020 세계사회복지대회 참석</li>
                                                <li>막사이사이재단과 함께하는 청소년 사이버폭력 온라인포럼 개최</li>
                                                <li></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <span>6월</span>
                                            <ul>
                                                <li><청소년 사이버폭력 예방을 위한 정책 및 실천적 함의 연구> 시작</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <span>5월</span>
                                            <ul>
                                                <li><사이버폭력 검사도구 개발을 위한 연구> 시작</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <span>4월</span>
                                            <ul>
                                                <li>푸른코끼리 플랫폼 기획 시작</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <span>3월</span>
                                            <ul>
                                                <li>찾아가는 학교교육 교안 TFT 결성</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <span>2월</span>
                                            <ul>
                                                <li><b>푸른코끼리 프로젝트 착수 및 MOU</b></li>
                                                <li>(푸른나무재단, 교육부, 사랑의열매, 삼성)</li>
                                                <li>푸른코끼리 특허(상표)권 등록</li>
                                                <li>UN 경제사회이사회 사회개발위원회 58차 본회의 참석</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="year_inner inner_19">
                                <div class="years_img_wrapper">
                                    <img class="years_pc" src="/ClientUI/user/images/contents/img_schedule04.png" />
                                </div>
                                <div class="years_desc">
                                    <label for="year_chk3">2019</label>
                                    <input id="year_chk3" type="checkbox" name="year_chk">
                                    <ul class="detail_desc">
                                        <li>
                                            <span>11월</span>
                                            <ul>
                                                <li>9~11차 기획워크숍</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <span>8월</span>
                                            <ul>
                                                <li>8차 기획워크숍</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <span>7월</span>
                                            <ul>
                                                <li>4~7차 기획워크숍</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <span>6월</span>
                                            <ul>
                                                <li>2~3차 기획워크숍</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <span>5월</span>
                                            <ul>
                                                <li>1차 기획워크숍</li>
                                            </ul>
                                        </li>
                                        <li>
                                            <span>4월</span>
                                            <ul>
                                                <li>푸른코끼리 프로젝트 기획</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:replace="fragments/footer"></th:block>
</div>
</body>
</html>

