<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="soulGod/fragments/header"></th:block>
    <script type="text/javascript">
        ////-------- page load
        $(function () {
        });
    </script>
</head>
<body>
<div id="wrap">
    <th:block th:include="soulGod/fragments/menu"></th:block>

    <div id="container">
        <div class="container_box">
            <script type="text/javascript">

                $(function () {

                    /*$('#btnDelete').click(function () {
                        if (!confirm('삭제하시겠습니까?')) {
                            return;
                        }

                        var frm = $('#form1');
                        frm.prop('action', '/api/soulGod/campaign/delete');
                        frm.submit();
                    });*/
                });
            </script>

            <form id="form1" name="form1" method="post" th:object="${form}">
                <input type="hidden" th:field="*{id}"/>
                <div class="contents">

                    <ul class="breadcrumb">
                        <li><i class="material-icons">home</i></li>
                        <li>교육관리</li>
                        <li>캠페인관리</li>
                    </ul>

                    <div class="board_detail clearfix">
                        <div class="sec">
                            <div class="board_top clearfix">
                                <div class="fl">
                                    <h4 class="sec_tit">상세정보</h4>
                                </div>
                            </div>
                            <div class="alert alert-warning alert-dismissible fade show" role="alert"
                                 th:if="${message}">
                                <strong th:text="${message}">message!</strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <table class="tbl_write">
                                <colgroup>
                                    <col style="width:10%"/>
                                    <col style="width:auto"/>
                                </colgroup>
                                <tbody>
                                <tr>
                                    <th scope="row"><label>구분</label></th>
                                    <td th:text="${dvCodeNm}"></td>
                                </tr>
                                <tr>
                                    <th scope="row"><label>제목</label></th>
                                    <td th:text="*{ttl}"></td>
                                </tr>
                                <tr>
                                    <th scope="row"><label>개요</label></th>
                                    <td>
                                        <div class="scrollbar h100 editor"
                                             th:utext="*{#strings.replace(cn, T(System).getProperty('line.separator'), '&lt;br /&gt;')}">

                                        </div>
                                    </td>
                                </tr>
                                <th:block th:if="${#numbers.formatInteger(form.dvCodePid, 0) ne @environment.getProperty('common.code.crewBoardCdPid')}">
                                    <tr th:if="${form.dvCodePid eq crewCdPid}">
                                        <th scope="row"><label>활동기록</label></th>
                                        <td>
                                            <div class="scrollbar h100 editor"
                                                 th:utext="*{#strings.replace(actCn, T(System).getProperty('line.separator'), '&lt;br /&gt;')}">

                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><label>썸네일</label></th>
                                        <td>
                                            <div class="file_form" th:if="*{imgFl ne null}">
                                                <p class="file">
                                                    <span th:text="*{imgFl}"></span>
                                                    <a th:href="${filePath+'/'+ form.imgFl}" class="btn_down" download><span class="blind">다운로드</span></a>
                                                </p>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><label>CDN/유튜브</label></th>
                                        <td th:text="*{cntntsDvTy.getName()}"></td>
                                    </tr>
                                    <tr>
                                        <th scope="row"><label>영상 URL</label></th>
                                        <td th:text="*{cntntsUrl}"></td>
                                    </tr>
                                </th:block>
                                <tr th:if="${#numbers.formatInteger(form.dvCodePid, 0) eq @environment.getProperty('common.code.crewBoardCdPid')}">
                                    <th scope="row"><label>첨부파일</label></th>
                                    <td>
                                        <div class="file_form" th:if="${fileList != null and !fileList.isEmpty()}">
                                            <th:block th:each="item: ${fileList}">
                                                <p class="file" th:if="${T(kr.or.btf.web.domain.web.enums.FileDvType).ATTACH.name() eq item.dvTy}">
                                                    <span th:text="${item.flNm}"></span>
                                                    <a th:href="${filePath+'/'+item.chgFlNm}" class="btn_down" download><span class="blind">다운로드</span></a>
                                                </p>
                                            </th:block>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <div class="btn_area">
                                <!--<button id="btnDelete" class="btn btn_sm btn_red" type="button">
                                    <i class="material-icons">delete</i>삭제
                                </button>-->
                                <a class="btn btn_sm btn_blue"th:href="|/soulGod/campaign/modify/*{id}|">
                                    <i class="material-icons fz17">done</i>수정
                                </a>
                                <a class="btn btn_sm btn_lightgray" th:href="|/soulGod/campaign/list/*{dvCodePid}|">
                                    <i class="material-icons">list</i>목록
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <th:block th:replace="soulGod/fragments/footer"></th:block>
</div>
</body>
</html>
