<div class="gnb_tit"
     th:classappend="${mc eq 'blueElephant' ? 'gnb01' : ''} + ${mc eq 'activity' ? 'gnb02' : ''} + ${mc eq 'news' ? 'gnb03' : ''} + ${mc eq 'classRegis' ? 'gnb04' : ''} + ${mc eq 'memberJoin' ? 'gnb05' : ''} + ${mc eq 'crewJoin' ? 'gnb05' : ''} + ${mc eq 'myPage' ? 'gnb06' : ''} + ${mc eq 'customerCenter' ? 'gnb07' : ''} + ${mc eq 'searchResult' ? 'gnb08' : ''} + ${mc eq 'privacy' ? 'gnb08' : ''} + ${mc eq 'terms' ? 'gnb08' : ''} + ${mc eq 'mailDeny' ? 'gnb08' : ''} + ${mc eq 'sitemap' ? 'gnb08' : ''} + ${mc eq 'application' ? 'gnb07' : ''}"
     xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <h2 th:if="${mc eq 'blueElephant'}">푸른코끼리</h2>
    <h2 th:if="${mc eq 'activity'}">활동</h2>
    <h2 th:if="${mc eq 'news'}">푸코소식</h2>
    <h2 th:if="${mc eq 'classRegis'}">강의신청</h2>
    <h2 th:if="${mc eq 'memberJoin'}">회원</h2>
    <h2 th:if="${mc eq 'crewJoin'}">단체</h2>
    <h2 th:if="${mc eq 'myPage'}">마이페이지</h2>
    <h2 th:if="${mc eq 'customerCenter'}">고객센터</h2>
    <h2 th:if="${mc eq 'searchResult'}">검색결과</h2>
    <h2 th:if="${mc eq 'privacy'}">개인정보취급방침</h2>
    <h2 th:if="${mc eq 'terms'}">이용약관</h2>
    <h2 th:if="${mc eq 'mailDeny'}">이메일무단수집거부</h2>
    <h2 th:if="${mc eq 'sitemap'}">사이트맵</h2>
    <h2 th:if="${mc eq 'application'}">푸른코끼리 신청</h2>
</div>

<div class="depths_02_inner" xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <th:block th:if="${mc eq 'myPage'}">
        <div class="slider slide_menu">
            <div class="sm_tit">
                <h3 th:classappend="${pageTitle eq '계정정보' ? 'sd_on pageon' : ''}">
                    <a href="/pages/myPage/profile">계정정보</a></h3>
            </div>
            <!--<div class="sm_tit">
                <h3 th:classappend="${pageTitle eq '교육신청관리' ? 'sd_on pageon' : ''}" sec:authorize="hasAnyRole('ROLE_INSTRUCTOR')">
                    <a href="/pages/myPage/insWorkPreEduList">교육신청관리</a></h3>
            </div>
            <div class="sm_tit">
                <h3 th:classappend="${pageTitle eq '프로필관리' ? 'sd_on pageon' : ''}" sec:authorize="hasAnyRole('ROLE_INSTRUCTOR')">
                    <a href="/pages/myPage/selfTestResult">프로필관리</a></h3>
            </div>-->
            <div class="sm_tit">
                <h3 th:classappend="${pageTitle eq '활동내역' ? 'sd_on pageon' : ''}"sec:authorize="!hasAnyRole('ROLE_INSTRUCTOR')">
                    <a href="/pages/myPage/activity">활동내역</a></h3>
            </div>
            <!--<div class="sm_tit">
                <h3 th:classappend="${pageTitle eq '학습현황' ? 'sd_on pageon' : ''}" sec:authorize="hasAnyRole('ROLE_TEACHER')">
                    <a href="/pages/myPage/learningStatus">우리반 학습현황</a>
            </div>
            <div class="sm_tit">
                <h3 th:classappend="${pageTitle eq '학습현황' ? 'sd_on pageon' : ''}" sec:authorize="hasAnyRole('ROLE_PARENT')">
                    <a href="/pages/myPage/learningStatusDetail">우리아이 학습현황</a></h3>
            </div>-->
<!--            <div class="sm_tit"> 임시 주석 21.09.29-->
<!--                <h3 th:classappend="${pageTitle eq '또래지명' ? 'sd_on pageon' : ''}" sec:authorize="hasAnyRole('ROLE_STUDENT')">-->
<!--                    <a href="/pages/myPage/peer">또래지명</a></h3>-->
<!--            </div>-->
<!--            <div class="sm_tit">-->
<!--                <h3 th:classappend="${pageTitle eq '또래지명' ? 'sd_on pageon' : ''}" sec:authorize="hasAnyRole('ROLE_TEACHER')">-->
<!--                    <a href="/pages/myPage/peerStatus">또래지명</a></h3>-->
<!--            </div>-->
            <div class="sm_tit">
                <h3 th:classappend="${pageTitle eq 'My 상담' ? 'sd_on pageon' : ''}" sec:authorize="!hasAnyRole('ROLE_INSTRUCTOR')">
                    <a href="/pages/myPage/counseling">My 상담</a></h3>
            </div>
            <div class="sm_tit">
                <h3 th:classappend="${pageTitle eq 'My 강의실' ? 'sd_on pageon' : ''}" sec:authorize="!hasAnyRole('ROLE_INSTRUCTOR')">
                    <a href="/pages/myPage/classroom">My 강의실</a></h3>
            </div>
            <div class="sm_tit">
                <h3 th:classappend="${pageTitle eq 'My 제안' ? 'sd_on pageon' : ''}" sec:authorize="!hasAnyRole('ROLE_INSTRUCTOR')">
                    <a href="/pages/myPage/proposal">My 제안</a></h3>
            </div>
<!--            <div class="sm_tit"> 임시 주석 09.29-->
<!--                <h3 th:classappend="${pageTitle eq 'My 진단' ? 'sd_on pageon' : ''}" sec:authorize="!hasAnyRole('ROLE_STUDENT')">-->
<!--                    <a href="/pages/myPage/diagnosis">My 진단</a></h3>-->
<!--            </div>-->
            <div class="sm_tit">
                <h3 th:classappend="${pageTitle eq '능력카드' ? 'sd_on pageon' : ''}" sec:authorize="!hasAnyRole('ROLE_INSTRUCTOR')">
                    <a href="/pages/myPage/abilityCard">능력카드</a></h3>
            </div>
<!--            <div class="sm_tit">-->
<!--                <h3 th:classappend="${pageTitle eq 'My 신청' ? 'sd_on pageon' : ''}" sec:authorize="!hasAnyRole('ROLE_STUDENT')">-->
<!--                    <a href="/pages/myPage/application">My 신청</a></h3>-->
<!--            </div> 수정해야댐-->
            <!--<div class="sm_tit">
                <h3 th:classappend="${pageTitle eq '자가진단결과' ? 'sd_on pageon' : ''}" sec:authorize="!hasAnyRole('ROLE_INSTRUCTOR')">
                    <a href="/pages/myPage/selfTestResult">자가진단결과</a></h3>
            </div>-->
        </div>
    </th:block>
    <th:block th:if="${mc eq 'blueElephant'}">
        <div class="slider slide_menu">
            <div>
                <div class="sm_tit">
                    <h3 th:classappend="${pageTitle eq '사이버폭력' ? 'sd_on pageon' : ''}">
                        <a href="/pages/blueElephant/cyberBullying">사이버폭력이란</a></h3>
                </div>
            </div>
            <div>
                <div class="sm_tit">
                    <h3 th:classappend="${pageTitle eq '푸른코끼리' ? 'sd_on pageon' : ''}">
                        <a href="/pages/blueElephant/blueElephant">푸른코끼리</a></h3>
                </div>
            </div>
            <div>
                <div class="sm_tit">
                    <h3 th:classappend="${pageTitle eq '푸른캐릭터' ? 'sd_on pageon' : ''}">
                        <a href="/pages/blueElephant/character">푸른캐릭터</a></h3>
                </div>
            </div>
            <div>
                <div class="sm_tit">
                    <h3 th:classappend="${pageTitle eq '푸른친구들' ? 'sd_on pageon' : ''}">
                        <a href="/pages/blueElephant/friends">푸른친구들</a></h3>
                </div>
            </div>
            <div>
                <div class="sm_tit">
                    <h3 th:classappend="${pageTitle eq '푸코연혁' ? 'sd_on pageon' : ''}">
                        <a href="/pages/blueElephant/schedule">푸코연혁</a></h3>
                </div>
            </div>
            <div>
                <div class="sm_tit">
                    <h3 th:classappend="${pageTitle eq '푸코사무국' ? 'sd_on pageon' : ''}">
                        <a href="/pages/blueElephant/location">푸코사무국</a></h3>
                </div>
            </div>
        </div>
    </th:block>
    <th:block th:if="${mc eq 'activity'}">
        <div class="slider slide_menu">
            <div>
                <div class="sm_tit">
                    <h3 th:classappend="${pageTitle eq '예방교육' ? 'sd_on pageon' : ''}">
                        <a href="#none">예방교육</a>
                    </h3>
                </div>
                <ul th:classappend="${pageTitle eq '예방교육' ? 'slide_sub' : ''}" class="slide_sub">
                    <li><a href="/pages/activity/eduIntro">소개</a></li>
                    <li><a href="/pages/activity/preventionEdu">강의실</a></li>
                    <li><a href="/pages/activity/eduDataRoom">자료실</a></li>
                    <li><a href="/pages/activity/postscript">교육후기</a></li>
                    <li><a href="/pages/activity/abilityCardIntro">능력카드제작소</a></li>
                </ul>
            </div>
            <div>
                <div class="sm_tit">
                    <h3 th:classappend="${pageTitle eq '도움요청' ? 'sd_on pageon' : ''}">
                        <a href="#none">도움요청</a>
                    </h3>
                </div>
                <ul th:classappend="${pageTitle eq '도움요청' ? 'slide_sub' : ''}" class="slide_sub">
                    <li><a href="/pages/activity/healIntro">소개</a></li>
                    <li><a href="/pages/activity/helpCounseling">심리상담</a></li>
                    <li><a href="/pages/activity/helpCounseling">또래상담</a></li>
                    <li><a href="/pages/activity/familyTherapy">가족테라피</a></li>
                    <li><a href="/pages/activity/mindSharing">마음나눔</a></li>
                </ul>
            </div>
            <div>
                <div class="sm_tit">
                    <h3 th:classappend="${pageTitle eq '진단하기' ? 'sd_on pageon' : ''}">
                        <a href="#none">진단하기</a>
                    </h3>
                </div>
                <ul th:classappend="${pageTitle eq '진단하기' ? 'slide_sub' : ''}" class="slide_sub">
                    <li><a href="/pages/activity/selfTest">자가진단</a></li>
                    <li><a href="/pages/activity/preciseDiagnosis">정밀진단</a></li>
                    <li><a href="/pages/activity/factualSurvey">실태조사</a></li>
                    <!--<li><a href="/pages/activity/research">연구조사</a></li>-->
                    <li><a href="/pages/activity/oxQuiz">OX퀴즈</a></li>
                </ul>
            </div>
            <div>
                <div class="sm_tit">
                    <h3 th:classappend="${pageTitle eq '문화만들기' ? 'sd_on pageon' : ''}">
                        <a href="#none">문화만들기</a>
                    </h3>
                </div>
                <ul th:classappend="${pageTitle eq '문화만들기' ? 'slide_sub' : ''}" class="slide_sub">
                    <li><a href="/pages/activity/cultureIntro">소개</a></li>
                    <li><a href="/pages/activity/cultureList/8">대국민캠페인</a></li>
                    <li>
                        <a href="http://btf.or.kr/board/board_online_survey/board_form.asp?scrID=0000000169&pageNum=5&subNum=1&ssubNum=1#area_05_sub01">지지서명</a>
                    </li>
                    <li><a href="/pages/activity/cultureList/9">지지선언</a></li>
                    <li><a href="/pages/application/zzcrew">지지크루</a></li>
                    <li><a href="#none">피해자체험</a></li>
                    <li><a href="#none">피해자목소리</a></li>
                    <li><a href="#none">위로메세지</a></li>
                    <li><a href="#none">국제()</a></li>
                </ul>
            </div>
            <div>
                <div class="sm_tit">
                    <h3 th:classappend="${pageTitle eq '제안하기' ? 'sd_on pageon' : ''}">
                        <a href="#none">제안하기</a>
                    </h3>
                </div>
                <ul th:classappend="${pageTitle eq '제안하기' ? 'slide_sub' : ''}" class="slide_sub">
                    <li><a href="/pages/activity/contestProposal">공모전</a></li>
                    <li><a href="/pages/activity/policyProposal">정책제안</a></li>
                </ul>
            </div>
            <div>
                <div class="sm_tit">
                    <h3 th:classappend="${pageTitle eq '푸코포럼' ? 'sd_on pageon' : ''}">
                        <a href="#none">푸코포럼</a></h3>
                </div>
            </div>
        </div>
    </th:block>
    <!--신청 모바일 dept-->
    <th:block th:if="${mc eq 'application'}">
        <div class="slider slide_menu">
            <div>
                <div class="sm_tit">
                    <h3 th:classappend="${pageTitle eq '예방교육' ? 'sd_on pageon' : ''}">
                        <a href="/pages/application/preeducationList">예방교육</a></h3>
                </div>
            </div>
            <div>
                <div class="sm_tit">
                    <h3 th:classappend="${pageTitle eq '강사교육' ? 'sd_on pageon' : ''}">
                        <a href="/pages/application/insInfo">강사교육</a></h3>
                </div>
            </div>
            <div>
                <div class="sm_tit">
                    <h3 th:classappend="${pageTitle eq '지지크루' ? 'sd_on pageon' : ''}">
                        <a href="/pages/application/zzcrew">지지크루</a></h3>
                </div>
            </div>
            <div>
                <div class="sm_tit">
                    <h3 th:classappend="${pageTitle eq '지지선언' ? 'sd_on pageon' : ''}">
                        <a href="/pages/application/zzdeclaration">지지선언</a></h3>
                </div>
            </div>
            <div>
                <div class="sm_tit">
                    <h3 th:classappend="${pageTitle eq '파트너스' ? 'sd_on pageon' : ''}">
                        <a href="/pages/application/partners">파트너스</a></h3>
                </div>
            </div>
            <div>
                <div class="sm_tit">
                    <h3 th:classappend="${pageTitle eq '공모전' ? 'sd_on pageon' : ''}">
                        <a href="/pages/application/contestList">공모전</a></h3>
                </div>
            </div>
            <div>
                <div class="sm_tit">
                    <h3 th:classappend="${pageTitle eq '행사' ? 'sd_on pageon' : ''}">
                        <a href="/pages/application/eventList">행사</a></h3>
                </div>
            </div>
        </div>
    </th:block>
    <th:block th:if="${mc eq 'blueElephant'}">
        <div class="pc_menu">
            <ul class="pc_menu_inner">
                <li th:class="${pageTitle eq '사이버폭력' ? 'pc_on' : ''}">
                    <a href="/pages/blueElephant/cyberBullying">사이버폭력이란</a>
                </li>
                <li th:class="${pageTitle eq '푸른코끼리' ? 'pc_on' : ''}">
                    <a href="/pages/blueElephant/blueElephant">푸른코끼리</a>
                </li>
                <li th:class="${pageTitle eq '푸른캐릭터' ? 'pc_on' : ''}">
                    <a href="/pages/blueElephant/character">푸른캐릭터</a>
                </li>
                <li th:class="${pageTitle eq '푸른친구들' ? 'pc_on' : ''}">
                    <a href="/pages/blueElephant/friends">푸른친구들</a>
                </li>
                <li th:class="${pageTitle eq '푸코연혁' ? 'pc_on' : ''}">
                    <a href="/pages/blueElephant/schedule">푸코연혁</a>
                </li>
                <li th:class="${pageTitle eq '푸코사무국' ? 'pc_on' : ''}">
                    <a href="/pages/blueElephant/location">푸코사무국</a>
                </li>
            </ul>
        </div>
    </th:block>
    <th:block th:if="${mc eq 'activity'}">
        <div class="pc_menu">
            <ul class="pc_menu_inner">
                <li th:class="${pageTitle eq '예방교육' ? 'pc_on' : ''}">
                    <a href="/pages/activity/eduIntro">예방교육</a>
                    <ul class="pc_menu_sub">
                        <li><a href="/pages/activity/preventionEdu">강의실</a></li>
                        <li><a href="/pages/activity/eduDataRoom">자료실</a></li>
                        <li><a href="/pages/activity/postscript">교육후기</a></li>
                        <li><a href="/pages/activity/abilityCardIntro">능력카드제작소</a></li>
                    </ul>
                </li>
                <li th:class="${pageTitle eq '도움요청' ? 'pc_on' : ''}">
                    <a href="/pages/activity/helpRequest">도움요청</a>
                    <ul class="pc_menu_sub">
                        <li><a href="/pages/activity/healIntro">심리상담</a></li>
                        <li><a href="/pages/activity/helpCounseling">또래상담</a></li>
                        <li><a href="/pages/activity/familyTherapy">가족테라피</a></li>
                        <li><a href="/pages/activity/mindSharing">마음나눔</a></li>
                    </ul>
                </li>
                <li th:class="${pageTitle eq '진단하기' ? 'pc_on' : ''}">
                    <a href="/pages/activity/factualSurvey">진단하기</a>
                    <ul class="pc_menu_sub">
                        <li><a href="/pages/activity/selfTest">자가진단</a></li>
                        <li><a href="/pages/activity/preciseDiagnosis">정밀진단</a></li>
                        <li><a href="/pages/activity/factualSurvey">실태조사</a></li>
                        <!--<li><a href="/pages/activity/research">연구조사</a></li>-->
                        <li><a href="/pages/activity/oxQuiz">OX퀴즈</a></li>
                    </ul>
                </li>
                <li th:class="${pageTitle eq '문화만들기' ? 'pc_on' : ''}">
                    <a href="/pages/activity/cultureIntro">문화만들기</a>
                    <ul class="pc_menu_sub">
                        <li><a href="/pages/activity/cultureList/8">대국민캠페인</a></li>
                        <li>
                            <a href="http://btf.or.kr/board/board_online_survey/board_form.asp?scrID=0000000169&pageNum=5&subNum=1&ssubNum=1#area_05_sub01">지지서명</a>
                        </li>
                        <li><a href="/pages/activity/cultureList/9">지지선언</a></li>
                        <li><a href="/pages/application/zzcrew">지지크루</a></li>
                        <li><a href="#none">피해자체험</a></li>
                        <li><a href="#none">피해자목소리</a></li>
                        <li><a href="#none">위로메세지</a></li>
                        <li><a href="#none">국제(푸코글로벌 가제)</a></li>
                    </ul>
                </li>
                <li th:class="${pageTitle eq '제안하기' ? 'pc_on' : ''}">
                    <a href="/pages/activity/policyProposal">제안하기</a>
                    <ul class="pc_menu_sub">
                        <li><a href="/pages/activity/contestProposal">공모전</a></li>
                        <li><a href="/pages/activity/policyProposal">정책제안</a></li>
                    </ul>
                </li>
                <li th:class="${pageTitle eq '푸코포럼' ? 'pc_on' : ''}">
                    <a href="#none">푸코포럼</a>
                </li>
            </ul>
        </div>
    </th:block>
    <!--신청 pc-->
    <th:block th:if="${mc eq 'application'}">
        <div class="pc_menu">
            <ul class="pc_menu_inner">
                <li th:class="${pageTitle eq '예방교육' ? 'pc_on' : ''}">
                    <a href="/pages/application/preeducationList">예방교육</a>
                </li>
                <li th:class="${pageTitle eq '강사교육' ? 'pc_on' : ''}">
                    <a href="/pages/application/insInfo">강사교육</a>
                </li>
                <li th:class="${pageTitle eq '지지크루' ? 'pc_on' : ''}">
                    <a href="/pages/application/zzcrew">지지크루</a>
                </li>
                <li th:class="${pageTitle eq '지지선언' ? 'pc_on' : ''}">
                    <a href="/pages/application/zzdeclaration">지지선언</a>
                </li>
                <li th:class="${pageTitle eq '파트너스' ? 'pc_on' : ''}">
                    <a href="/pages/application/partners">파트너스</a>
                </li>
                <li th:class="${pageTitle eq '공모전' ? 'pc_on' : ''}">
                    <a href="/pages/application/contestList">공모전</a>
                </li>
                <li th:class="${pageTitle eq '행사' ? 'pc_on' : ''}">
                    <a href="/pages/application/eventList">행사</a>
                </li>
            </ul>
        </div>
    </th:block>
    <!--소식 시작-->
    <th:block th:if="${mc eq 'news'}">
        <div class="slider slide_menu">
            <div>
                <div class="sm_tit">
                    <h3 th:classappend="${pageTitle eq '공지사항' ? 'sd_on pageon' : ''}">
                        <a href="/pages/news/notice">공지사항</a></h3>
                </div>
            </div>
            <div>
                <div class="sm_tit">
                    <h3 th:classappend="${pageTitle eq '소식/행사' ? 'sd_on pageon' : ''}">
                        <a th:href="|/pages/news/list/${@environment.getProperty('common.code.newsCdPid')}|">소식/행사</a></h3>
                </div>
            </div>
            <div>
                <div class="sm_tit">
                    <h3 th:classappend="${pageTitle eq '캘린더' ? 'sd_on pageon' : ''}">
                        <a href="/pages/news/event">캘린더</a></h3>
                </div>
            </div>
            <div>
                <div class="sm_tit">
                    <h3 th:classappend="${pageTitle eq '언론보도' ? 'sd_on pageon' : ''}">
                        <a th:href="|/pages/news/list/${@environment.getProperty('common.code.mediaCdPid')}|">언론보도</a></h3>
                </div>
            </div>
            <div>
                <div class="sm_tit">
                    <h3 th:classappend="${pageTitle eq '간행물' ? 'sd_on pageon' : ''}">
                        <a th:href="|/pages/news/list/${@environment.getProperty('common.code.publicationCdPid')}|">간행물</a></h3>
                </div>
            </div>
        </div>
    </th:block>
    <th:block th:if="${mc eq 'news'}">
        <div class="pc_menu">
            <ul class="pc_menu_inner">
                <li th:class="${pageTitle eq '공지사항' ? 'pc_on' : ''}">
                    <a href="/pages/news/notice">공지사항</a>
                </li>
                <li th:class="${pageTitle eq '소식/행사' ? 'pc_on' : ''}">
                    <a th:href="|/pages/news/list/${@environment.getProperty('common.code.newsCdPid')}|">소식/행사</a>
                </li>
                <li th:class="${pageTitle eq '캘린더' ? 'pc_on' : ''}">
                    <a href="/pages/news/event">캘린더</a>
                </li>
                <li th:class="${pageTitle eq '언론보도' ? 'pc_on' : ''}">
                    <a th:href="|/pages/news/list/${@environment.getProperty('common.code.mediaCdPid')}|">언론보도</a>
                </li>
                <li th:class="${pageTitle eq '간행물' ? 'pc_on' : ''}">
                    <a th:href="|/pages/news/list/${@environment.getProperty('common.code.publicationCdPid')}|">간행물</a>
                </li>
            </ul>
        </div>
    </th:block>
    <!--소식 끝-->

    <th:block th:if="${mc eq 'myPage'}">
        <div class="pc_menu">
            <ul class="pc_menu_inner">
                <li th:classappend="${pageTitle eq '계정정보' ? 'pc_on' : ''}"><a href="/pages/myPage/profile">계정정보</a></li>
                <!--<li th:classappend="${pageTitle eq '교육신청관리' ? 'pc_on' : ''}" sec:authorize="hasAnyRole('ROLE_INSTRUCTOR')"><a href="/pages/myPage/insWorkPreEduList">교육신청관리</a></li>
                <li th:classappend="${pageTitle eq '프로필관리' ? 'pc_on' : ''}" sec:authorize="hasAnyRole('ROLE_INSTRUCTOR')"><a href="/pages/myPage/selfTestResult">프로필관리</a></li>-->
                <li th:classappend="${pageTitle eq '활동내역' ? 'pc_on' : ''}" sec:authorize="!hasAnyRole('ROLE_INSTRUCTOR')"><a href="/pages/myPage/activity">활동내역</a></li>
                <!--<li th:classappend="${pageTitle eq '학습현황' ? 'pc_on' : ''}" sec:authorize="hasAnyRole('ROLE_TEACHER')"><a href="/pages/myPage/learningStatus">우리반 학습현황</a></li>
                <li th:classappend="${pageTitle eq '학습현황' ? 'pc_on' : ''}" sec:authorize="hasAnyRole('ROLE_PARENT')"><a href="/pages/myPage/learningStatusDetail">우리아이 학습현황</a></li>
                <li th:classappend="${pageTitle eq '학생관리' ? 'pc_on' : ''}" sec:authorize="hasAnyRole('ROLE_TEACHER')"><a href="/pages/myPage/management">학생관리</a></li>-->
                <!--<li th:classappend="${pageTitle eq '또래지명' ? 'pc_on' : ''}" sec:authorize="hasAnyRole('ROLE_STUDENT')"><a href="/pages/myPage/peer">또래지명</a></li>
                <li th:classappend="${pageTitle eq '또래지명' ? 'pc_on' : ''}" sec:authorize="hasAnyRole('ROLE_TEACHER')"><a href="/pages/myPage/peerStatus">또래지명</a></li> 임시주석 09.29 -->
                <!--<li th:classappend="${pageTitle eq '예방교육관리' ? 'pc_on' : ''}" sec:authorize="hasAnyRole('ROLE_TEACHER')"><a href="/pages/myPage/myWorkPreEduList">예방교육</a></li>-->
                <li th:classappend="${pageTitle eq 'My 상담' ? 'pc_on' : ''}" sec:authorize="!hasAnyRole('ROLE_INSTRUCTOR')"><a href="/pages/myPage/counseling">My 상담</a></li>
<!--                <li th:classappend="${pageTitle eq 'My 진단' ? 'pc_on' : ''}" sec:authorize="!hasAnyRole('ROLE_INSTRUCTOR')"><a href="/pages/myPage/diagnosis">My 진단</a></li> 임시주석 09.29-->
                <li th:classappend="${pageTitle eq '능력카드' ? 'pc_on' : ''}" sec:authorize="!hasAnyRole('ROLE_INSTRUCTOR')"><a href="/pages/myPage/abilityCard">능력카드</a></li>
<!--                <li th:classappend="${pageTitle eq 'My 신청' ? 'pc_on' : ''}" sec:authorize="!hasAnyRole('ROLE_INSTRUCTOR')"><a href="/pages/myPage/application">My 신청</a></li> 수정해야댐-->
                <li th:classappend="${pageTitle eq 'My 강의실' ? 'pc_on' : ''}" sec:authorize="!hasAnyRole('ROLE_INSTRUCTOR')"><a href="/pages/myPage/classroom">My 강의실</a>
                    <ul th:classappend="${pageTitle eq '강의실' ? 'slide_sub' : ''}" class="pc_menu_sub">
                        <li><a href="/pages/myPage/classroom">My 강의실</a></li>
                        <!--<li><a href="/pages/myPage/eduDataRoom">My 교육자료실</a></li>-->
                        <li><a href="/pages/myPage/certificate">교육이수증발급</a></li>
                    </ul>
                </li>
                <li th:classappend="${pageTitle eq 'My 제안' ? 'pc_on' : ''}" sec:authorize="!hasAnyRole('ROLE_INSTRUCTOR') && !hasAnyRole('ROLE_TEACHER')"><a href="/pages/myPage/proposal">My 제안</a></li>
                <li th:classappend="${pageTitle eq '자가진단결과' ? 'pc_on' : ''}" sec:authorize="!hasAnyRole('ROLE_INSTRUCTOR') && !hasAnyRole('ROLE_TEACHER')"><a href="/pages/myPage/selfTestResult">자가진단결과</a></li>
            </ul>
        </div>
    </th:block>
</div>
