<a href="javascript:;" class="btn_top"><span>TOP</span></a>

<div id="footer">
    <div class="top">
        <div class="contents">
            <ul class="clearfix">
                <li><a href="/pages/etc/privacy">개인정보취급방침</a></li>
                <li><a href="/pages/etc/terms">이용약관</a></li>
                <li><a href="/pages/blueElephant/location">오시는길</a></li>
                <li><a href="/pages/customerCenter/qna">고객센터</a></li>
                <li class="sitemap"><a href="/pages/etc/sitemap">사이트맵</a></li>
            </ul>
            <div class="info_item">
                <span>사이버폭력, 도움이 필요할 때 <b>1588-9128<small>(구원의팔)</small></b></span>
                <span>사이버폭력, 도움이 주고싶을 때 <b>060-700-1479<small>(천사친구)1통 3천원</small></b></span>
            </div>
        </div>
    </div>
    <div class="bottom contents">
        <div class="info_area clearfix">
            <strong><a href="javascript:;">사이버 정글 가디언 푸른코끼리</a></strong>
            <div class="txt_area">
                <p class="text_m">
                    <span><b>주소</b> <small>(06650)서울특별시 서초구 서초대로 46길 88(청예단 빌딩)</small></span>
                    <span><b>대표전화</b><small>02-585-0098 strong <i></i> 팩스 02-585-0038</small></span>
                    <span><b>이메일</b><small>cybersosenter@btf.or.kr</small></span>
                </p>
                <!-- <p class="txt01"><strong>푸른나무재단</strong><span>사업자등록번호 : 105-82-10003</span><a href="javascript:;" class="btn_mo_open">하단 정보 열림/닫힘 버튼</a></p>
                <p class="txt02">
                    <span>대표자 : 문용린</span>
                    <span>개인정보책임자 : 김창호</span>
                    <span>대표 이메일 : jikim0098@bft.or.kr</span>
                </p>
                <address>06650 서울특별시 서초구 서초대로 46길 88(청예단빌딩) 1,2,3,4,5층</address>
                <p class="txt03">
                    <span>지번주소: 서초동 1566-2 청예단빌딩</span>
                    <span>대표전화: 02-585-0098</span>
                    <span>팩스: 02-585-0038</span>
                </p> -->
                <p class="copyright">Copyright©<strong>푸른나무재단</strong> All Right Reserved.</p>
            </div>
            <ul class="logo_area">
                <li>
                    <a href="javascript:;">
                        <img src="/ClientUI/user/images/common/logo_family01.png" alt="교육부" class="pc">
                        <img src="/ClientUI/user/images/common/m_logo_family01.png" alt="교육부" class="mo">
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <img src="/ClientUI/user/images/common/logo_family02.png" alt="푸른나무재단" class="pc">
                        <img src="/ClientUI/user/images/common/m_logo_family02.png" alt="푸른나무재단" class="mo">
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <img src="/ClientUI/user/images/common/logo_family03.png" alt="사랑의열매" class="pc">
                        <img src="/ClientUI/user/images/common/m_logo_family03.png" alt="사랑의열매" class="mo">
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <img src="/ClientUI/user/images/common/logo_family04.png" alt="삼성" class="pc">
                        <img src="/ClientUI/user/images/common/m_logo_family04.png" alt="삼성" class="mo">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>