<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="cache-control" content="no-cache" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<title>푸른코끼리</title>
<meta property="og:keywords" content="푸른나무재단 푸른코끼리" />
<meta property="og:description" content="Let's be PUCO! &nbsp 푸른코끼리와 함께 사이버폭력 없는 안전한세상을 만들어요. 레츠끼리!" />
<meta property="og:image" content="/ClientUI/user/images/common/sns.png" />
<meta name="format-detection" content="telephone=no" />
<link rel="shortcut icon" type="image/x-icon" href="/ClientUI/images/icon/favicon.ico" />

<link rel="stylesheet" href="/ClientUI/plugins/simplebar/simplebar.css"/>
<link rel="stylesheet" href="/ClientUI/plugins/datetimepicker/jquery.datetimepicker.min.css"/>
<link rel="stylesheet" href="/ClientUI/plugins/dhtmlxSuite_v51/skins/material/dhtmlx.css"/>
<link rel="stylesheet" href="/ClientUI/plugins/dhtmlxVault/codebase/vault.css"/>
<link rel="stylesheet" href="/ClientUI/plugins/slick/slick.css"/>
<link rel="stylesheet" href="/ClientUI/plugins/slick/slick-theme.css"/>
<link href="/webjars/video-js/7.1.0/video-js.css" rel="stylesheet" />

<link rel="stylesheet" href="/ClientUI/plugins/fullcalendar/fullcalendar.min.css"> <!-- 달력 css 추가 -->
<link rel="stylesheet" href="/ClientUI/user/css/common.css"/>
<link rel="stylesheet" href="/ClientUI/user/css/style.css"/>
<link rel="stylesheet" href="/ClientUI/user/css/responsive.css">
<link rel="stylesheet" href="/ClientUI/user/css/custom.css"/>

<script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<!--<script type="text/javascript" src="/ClientUI/plugins/jquery.mobile-1.5.0-alpha.min.js"></script>-->
<script type="text/javascript" src="/ClientUI/plugins/fullcalendar/lib/moment.min.js"></script> <!-- 달력 스크립트 추가 -->
<script type="text/javascript" src="/ClientUI/plugins/fullcalendar/fullcalendar.min.js"></script> <!-- 달력 스크립트 추가 -->
<script type="text/javascript" src="/ClientUI/plugins/fullcalendar/locale/ko.js"></script> <!-- 달력 스크립트 추가 -->
<script type="text/javascript" src="/ClientUI/plugins/datetimepicker/jquery.datetimepicker.full.js"></script>
<script type="text/javascript" src="/ClientUI/plugins/multifile/jquery.MultiFile.min.js"></script>
<script type="text/javascript" src="/ClientUI/plugins/jquery.nice-select.min.js"></script>
<script type="text/javascript" src="/ClientUI/plugins/jquery.table2excel.js"></script>

<script type="text/javascript" src="/ClientUI/plugins/Ckeditor4/ckeditor.js"></script>
<script type="text/javascript" src="/ClientUI/plugins/simplebar/simplebar.js"></script>
<script type="text/javascript" src="/ClientUI/plugins/dhtmlxSuite_v51/codebase/dhtmlx.js"></script>
<script type="text/javascript" src="/ClientUI/plugins/dhtmlxVault/codebase/vault.js"></script>
<script type="text/javascript" src="/ClientUI/plugins/slick/slick.min.js"></script>
<script type="text/javascript" src="/ClientUI/plugins/jquery.ellipsis.min.js"></script>
<script type="text/javascript" src="/ClientUI/user/js/style.js"></script>

<script type="text/javascript" src="/ClientUI/common/js/common.js"></script>
<script src="/ClientUI/plugins/underscore/underscore-min.js"></script>

<!-- <script src="https://unpkg.com/wavesurfer.js"></script> -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/wavesurfer.js/1.0.30/wavesurfer.min.js"></script>
<script type="text/javascript" src="/ClientUI/plugins/wavesurfer/wavesurfer.swf.js"></script>
<script src="https://kit.fontawesome.com/331abc235d.js" crossorigin="anonymous"></script>
<!-- Resources -->
<script src="/ClientUI/plugins/amcharts4/core.js"></script>
<script src="/ClientUI/plugins/amcharts4/charts.js"></script>
<script src="/ClientUI/plugins/amcharts4/themes/animated.js"></script>
<script src="/webjars/video-js/7.1.0/video.js"></script>
<script src="/ClientUI/plugins/Youtube.js"></script>
<script src="//d3js.org/d3.v3.min.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZRCMQNXCJ9"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-ZRCMQNXCJ9');
</script>