
<div class="sec_write mt">
    <h5 class="subtit">소개 및 절차안내</h5>
    <p class="submsg">푸른나무재단에서는 학교폭력으로 어려움을 겪고있는 전국 학생 및 보호자, 교사를 대상으로 학교폭력으로 인한 갈등 감소 및 분쟁 해결을 통해 안정한 학교생활을 할 수 있도록 화해·분쟁조정 서비스를 지원을 하고 있습니다. </p>
    <div class="tbl_write">
        <ul>
            <li>
                <div class="th">이용대상</div>
                <div class="td td_txt">학교폭력으로 도움이 필요한 학생, 보호자, 교사 등</div>
            </li>
            <li>
                <div class="th">운영시간</div>
                <div class="td td_txt">월요일 ~ 금요일 9:00 ~ 18:00</div>
            </li>
            <li>
                <div class="th">이용문의</div>
                <div class="td td_txt">02)598-1640</div>
            </li>
        </ul>
    </div>
</div>
<div class="sec_write">
    <h5 class="subtit">학교폭력 화해·분쟁조정 서비스 절차</h5>
    <div class="help_request_box">
        <ul class="help_step">
            <li>
                <i class="ico ico_tel"></i>
                <strong class="tit">전화 문의</strong>
            </li>
            <li>
                <i class="ico ico_receipt"></i>
                <strong class="tit">신청서 접수</strong>
            </li>
            <li>
                <i class="ico ico_reconcile"></i>
                <strong class="tit">화해·분쟁조정 진행</strong>
            </li>
            <li>
                <i class="ico ico_recovery"></i>
                <strong class="tit">회복/사후관리</strong>
            </li>
        </ul>
    </div>
</div>
<div class="btn_area btn_num02">
    <a href="http://btf.or.kr/business/bus01_03.asp?scrID=0000000108&pageNum=3&subNum=1&ssubNum=1" class="btn btn_lg btn_blue btn_pill_10" target="_blank">바로가기</a>
    <a href="/pages/activity/helpRequest" class="btn btn_lg btn_line_blue btn_pill_10">목록</a>
</div>