
<div class="sec_write mt0">
    <div class="tbl_write bdt0">
        <ul>
            <li>
                <dl class="txt_guide">
                    <dt>학교폭력으로 고민하고 있나요? “ONE-CLICK”으로 고민을 함께 나누어 보아요.</dt>
                    <dd>
                        <p>푸른나무재단 카카오톡 플러스 친구를 통해 언제 어디서든 편리하고 폭넓은 학교폭력 상담 서비스를 제공합니다. <br />학교폭력으로 고민되고 답답한 마음을 카카오톡으로 이야기할 수 있어요.</p>
                        <div class="btn_form">
                            <a href="https://pf.kakao.com/_sksexb" target="_blank" class="btn btn_lg btn_blue btn_pill_10">카카오톡 연결</a>
                            <p>월요일 ~ 금요일 09:00 ~ 18:00 <br />(점심시간 12:00 ~ 13:00 제외)</p>
                        </div>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>
</div>
<div class="btn_area">
    <a href="/pages/activity/helpRequest" class="btn btn_lg btn_line_blue btn_pill_10">목록</a>
</div>