
<div class="sec_write mt0">
    <dl class="law_guide">
        <dt>“청소년 지킴이 변호사”와 함께하는 학교폭력 법률상담 서비스 절차 </dt>
        <dd>
            <div class="help_request_box">
                <ul class="help_step">
                    <li>
                        <i class="ico ico_tel"></i>
                        <strong class="tit">전화 문의</strong>
                    </li>
                    <li>
                        <i class="ico ico_receipt"></i>
                        <strong class="tit">신청서 접수</strong>
                    </li>
                    <li>
                        <i class="ico ico_counseling"></i>
                        <strong class="tit">신청서 접수</strong>
                    </li>
                </ul>
            </div>
        </dd>
    </dl>
</div>
<div class="sec_write">
    <h5 class="subtit">운영안내</h5>
    <div class="tbl_write">
        <ul>
            <li>
                <div class="th">상담진행</div>
                <div class="td td_txt">매주 월요일 14:00 ~ 17:00(사전 예약제 운영)</div>
            </li>
            <li>
                <div class="th">상담비용</div>
                <div class="td td_txt">무료</div>
            </li>
            <li>
                <div class="th">상담문의</div>
                <div class="td td_txt">전화 : 02-598-1610 <span class="pc">/ </span><br class="mo">팩스 : 02-598-1641 / 이메일 : sos@btf.or.kr</div>
            </li>
        </ul>
    </div>
</div>
<div class="btn_area btn_num02">
    <!--<a href="javascript:;" class="btn btn_lg btn_blue btn_pill_10">더보기</a>
    <a href="/pages/activity/helpRequest" class="btn btn_lg btn_line_blue btn_pill_10">목록</a>-->
</div>