<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:include="fragments/header"></th:block>
  <script type="text/javascript">
    $(function(){
      // 메인배너 슬라이드
      $('.main_banner').slick({
        arrow: true,
        dots: true,
        infinite: true,
        autoplay: true,
        autoplaySpeed: 3000,
      })

      // 모바일용 배너이미지 (임시)
      $(window).on('load resize',function(){
        var winW = $(window).outerWidth();
        if(winW > 1023){
          //$('.section01 .slick-slide img').attr('src','/ClientUI/user/images/contents/img_banner02.jpg');
          $('.section07 .imgbox img').attr('src','/ClientUI/user/images/contents/img_campaign.jpg');
        }else{
          //$('.section01 .slick-slide img').attr('src','/ClientUI/user/images/contents/m_img_banner02.jpg');
          $('.section07 .imgbox img').attr('src','/ClientUI/user/images/contents/m_img_campaign.jpg');
        }
      });

      // 푸코소식 thumb list
      $(window).on('load resize',function() {
        $('.section06 .bottom ul li').each(function () {
          var imgW = Math.ceil($(this).width() * 0.59)
          $(this).find('.imgbox > img').css({'height': imgW})
        })
      });

      var src = "https:\/\/www.youtube.com\/watch?v=UTE9rcchkU0";
      var cntntsDvTy = "YOUTUBE";
      var ty = "video/mp4";
      var options = {
        width : 678 ,
        heigth : 381 ,
        controls : true
      }
      if (cntntsDvTy == 'YOUTUBE') {
        ty = 'video/youtube';
        options.techOrder = ['youtube', 'html5'];
      } else if (cntntsDvTy == 'CDN') {
        ty = 'video/mp4';
      }
      options.sources = [{type: ty, src: src}];

      initVideo(true, options);
    });

    function videoPlay(obj){
      player.play();
      $('.video .btn_play').stop().fadeOut();
    }

    function fn_getMainGraph() {
      var jsonData = {
      }
      $.ajax({
        type: 'post',
        url: '/api/openData/graph/load/1',
        contentType: "application/json",
        data: JSON.stringify(jsonData),
        datatype: 'json',
        success: function (data) {
          data = JSON.parse(data);
          if (data) {
            fn_makeChart_XY_V("mainChart", data.list);
            fn_makeChart_XY_H("m_mainChart", data.list);
          }
        }
      });
    }

    am4core.ready(function() {
      fn_getMainGraph();
    }); // end am4core.ready()

    function fn_makeChart_XY_V(chartId, data) {

// Themes begin
      am4core.useTheme(am4themes_animated);
// Themes end

      var chart = am4core.create(chartId, am4charts.XYChart)
      chart.colors.step = 2;

      /*chart.legend = new am4charts.Legend()
      chart.legend.position = 'top'
      chart.legend.paddingBottom = 20
      chart.legend.labels.template.maxWidth = 95*/

      var xAxis = chart.xAxes.push(new am4charts.CategoryAxis())
      xAxis.dataFields.category = 'category'
      xAxis.renderer.cellStartLocation = 0.1
      xAxis.renderer.cellEndLocation = 0.9
      xAxis.renderer.grid.template.location = 0;
      xAxis.numberFormatter.numberFormat = "#,###.##";

      var yAxis = chart.yAxes.push(new am4charts.ValueAxis());
      yAxis.min = 0;
      //yAxis.max = 100;

      function createSeries(value, name, color) {
        var series = chart.series.push(new am4charts.ColumnSeries())
        series.dataFields.valueY = value
        series.dataFields.categoryX = 'category'
        series.name = name
        series.columns.template.width = am4core.percent(80);
        series.columns.template.fill = am4core.color(color);
        series.columns.template.stroke = am4core.color(color);
        //series.tooltip.label.textAlign = "top";
        series.tooltip.label.textAlign = "middle";

        series.events.on("hidden", arrangeColumns);
        series.events.on("shown", arrangeColumns);

        var bullet = series.bullets.push(new am4charts.LabelBullet())
        bullet.interactionsEnabled = false
        //bullet.dy = 0;
        bullet.label.dy = -10;
        bullet.label.text = '{valueY}%'
        bullet.label.fill = am4core.color('#000000')

        return series;
      }

      chart.data = data


      createSeries('col1', '학교폭력 가해자', "#6f8fc2");
      createSeries('col2', '학교폭력 피해자', "#6dba7e");

      function arrangeColumns() {

        var series = chart.series.getIndex(0);

        var w = 1 - xAxis.renderer.cellStartLocation - (1 - xAxis.renderer.cellEndLocation);
        if (series.dataItems.length > 1) {
          var x0 = xAxis.getX(series.dataItems.getIndex(0), "categoryX");
          var x1 = xAxis.getX(series.dataItems.getIndex(1), "categoryX");
          var delta = ((x1 - x0) / chart.series.length) * w;
          if (am4core.isNumber(delta)) {
            var middle = chart.series.length / 2;

            var newIndex = 0;
            chart.series.each(function(series) {
              if (!series.isHidden && !series.isHiding) {
                series.dummyData = newIndex;
                newIndex++;
              }
              else {
                series.dummyData = chart.series.indexOf(series);
              }
            })
            var visibleCount = newIndex;
            var newMiddle = visibleCount / 2;

            chart.series.each(function(series) {
              var trueIndex = chart.series.indexOf(series);
              var newIndex = series.dummyData;

              var dx = (newIndex - trueIndex + middle - newMiddle) * delta

              series.animate({ property: "dx", to: dx }, series.interpolationDuration, series.interpolationEasing);
              series.bulletsContainer.animate({ property: "dx", to: dx }, series.interpolationDuration, series.interpolationEasing);
            })
          }
        }
      }

      var lineSeries = chart.series.push(new am4charts.LineSeries());
      //lineSeries.name = "Expenses";
      lineSeries.dataFields.valueY = "col3";
      lineSeries.dataFields.categoryX = "category";
      lineSeries.stroke = am4core.color("#fdd400");
      lineSeries.strokeWidth = 3;

      var circleBullet = lineSeries.bullets.push(new am4charts.CircleBullet());
      //circleBullet.circle.radius = 10;
      circleBullet.circle.fill = am4core.color("#fdd400");
      //circleBullet.circle.fillOpacity = 0.5;
      circleBullet.circle.stroke = am4core.color("#fdd400");
      //circleBullet.circle.strokeOpacity = 0.5;

      var valueLabel = lineSeries.bullets.push(new am4charts.LabelBullet());
      valueLabel.label.dy = -15;
      valueLabel.label.text = '{valueY}%';
      //valueLabel.label.fill = am4core.color('#fdd400');

    }

    function fn_makeChart_XY_H(chartId, data) {
      // Themes begin test
      am4core.useTheme(am4themes_animated);
      // Themes end

      // Create chart instance
      var chart = am4core.create(chartId, am4charts.XYChart);
      chart.width = am4core.percent(95);

      // Add data
      chart.data = data;

      // Create axes
      var categoryAxis = chart.yAxes.push(new am4charts.CategoryAxis());
      categoryAxis.dataFields.category = "category";
      categoryAxis.numberFormatter.numberFormat = "#,###.##";
      categoryAxis.renderer.inversed = true;
      categoryAxis.renderer.grid.template.location = 0;
      categoryAxis.renderer.cellStartLocation = 0.1;
      categoryAxis.renderer.cellEndLocation = 0.9;
      categoryAxis.renderer.minGridDistance = 25;

      var  valueAxis = chart.xAxes.push(new am4charts.ValueAxis());
      valueAxis.renderer.opposite = true;
      valueAxis.min= 0;

      function createSeries(value, name, color) {
        var series = chart.series.push(new am4charts.ColumnSeries());
        series.dataFields.valueX = value;
        series.dataFields.categoryY = "category";
        series.name = name
        series.columns.template.width = am4core.percent(60);
        series.columns.template.fill = am4core.color(color);
        series.columns.template.stroke = am4core.color(color);
        //series.tooltip.label.textAlign = "top";
        series.tooltip.label.textAlign = "middle";
        series.sequencedInterpolation = true;

        var bullet = series.bullets.push(new am4charts.LabelBullet());
        bullet.interactionsEnabled = false
        bullet.label.text = "{valueX}%";
        bullet.label.horizontalCenter = "right";
        bullet.label.dx = 40;
        bullet.label.fill = am4core.color('#000000')
        //valueLabel.label.hideOversized = false;
        //valueLabel.label.truncate = false;

        return series;
      }

      createSeries('col1', '학교폭력 가해자', "#6f8fc2");
      createSeries('col2', '학교폭력 피해자', "#6dba7e");
    }
  </script>
</head>
<body oncontextmenu="return false" onselectstart="return false" ondragstart="return false" class="">
<div id="wrap" class="main">
  <th:block th:include="fragments/header_gnb"></th:block>
  <div id="container" class="">
    <th:block th:include="fragments/mo_menu"></th:block>
    <div class="main_bg"></div>
    <nav id="quick" style="top: 1526.84px;">
      <ul>
        <li><a href="https://blog.naver.com/bakbht" target="_blank">네이버블로그</a></li>
        <li><a href="http://happylog.naver.com/jikim.do" target="_blank">네이버해피빈</a></li>
        <li><a href="https://pf.kakao.com/_sksexb" target="_blank">카카오톡</a></li>
        <li><a href="https://www.facebook.com/bepuco" target="_blank">페이스북</a></li>
        <li><a href="https://twitter.com/bepuco" target="_blank">트위터</a></li>
        <li><a href="https://www.instagram.com/be_puco/?hl=ko" target="_blank">인스타그램</a></li>
        <li><a href="https://www.youtube.com/channel/UCV1h3b2SrtK0JEZ69l9zvmw" target="_blank">유튜브</a></li>
      </ul>
    </nav>


    <div class="intro_inner">
    <div class="section section01 main_banner">
      <th:block th:if="${bannerList == null or bannerList.size() == 0}">
        <th:block th:if="${!isMobile}"><!--pc-->
          <div><img src="https://www.bepuco.or.kr/ClientUI/user/images/contents/img_banner01.jpg" alt="푸른코끼리 온라인 포럼 신청하기"><a href="/pages/blueElephant/intro" class="btn_more">자세히보기</a></div>
        </th:block>
        <th:block th:if="${isMobile}"><!--mobile-->
          <div><img src="https://www.bepuco.or.kr/ClientUI/user/images/contents/m_img_banner01.jpg" alt="푸른코끼리 온라인 포럼 신청하기"><a href="/pages/blueElephant/intro" class="btn_more">자세히보기</a></div>
        </th:block>
      </th:block>
      <th:block th:each="item,idx : ${bannerList}">
        <th:block th:if="${!isMobile}"><!--pc-->
          <div>
            <img th:src="'https://www.bepuco.or.kr'+${bannerFilePath + '/' + item.pcFlNm}" th:alt="${item.pcFlNm}">
            <th:block th:if="${item.banLink eq '' or item.banLink eq null}">
              <a href="javascript:;" class="btn_more">자세히보기</a>
            </th:block>
            <th:block th:unless="${item.banLink eq '' or item.banLink eq null}">
              <a href="javascript:;" th:onclick="return fn_linkUrl([[${item.banLink}]],[[${item.linkTrgtTy eq T(kr.or.btf.web.domain.web.enums.LinkTargetType).SELF ? false : true}]])" class="btn_more">자세히보기</a>
            </th:block>
          </div>
        </th:block>
        <!--mobile-->
        <th:block th:if="${isMobile}">
          <div>
            <th:block th:if="${item.mobileFlNm ne null}">
              <img th:src="'https://www.bepuco.or.kr'+${bannerFilePath + '/' + item.mobileFlNm}" th:alt="${item.mobileFlNm}">
            </th:block>
            <th:block th:if="${item.mobileFlNm eq null}">
              <img th:src="'https://www.bepuco.or.kr'+${bannerFilePath + '/' + item.pcFlNm}" th:alt="${item.pcFlNm}">
            </th:block>
            <th:block th:if="${item.banLink eq '' or item.banLink eq null}">
              <a href="javascript:;" class="btn_more">자세히보기</a>
            </th:block>
            <th:block th:unless="${item.banLink eq '' or item.banLink eq null}">
              <a href="javascript:;" th:onclick="return fn_linkUrl([[${item.banLink}]],[[${item.linkTrgtTy eq T(kr.or.btf.web.domain.web.enums.LinkTargetType).SELF ? false : true}]])" class="btn_more">자세히보기</a>
            </th:block>





          </div>
        </th:block>
      </th:block>
    </div>
    </div>

    <div class="section section02">
      <div class="contents">
        <div class="tit_area">
          <h2>안전한 사이버세상을 만드는<br> 푸른코끼리가 되어주세요.</h2>
        </div>
        <ul class="clearfix">
          <li><a href="/pages/activity/eduIntro">
            <div class="intro_icon">
              <!--0<img src="/ClientUI/user/images/main/puco_icon.svg" alt="">-->
              <!-- <img src="/ClientUI/user/images/main/icon_intro_01.png" alt=""> -->
            </div>
            예방교육 <span>푸른코끼리와 함께 사이버폭력<br>예방교육을 배워보아요</span></a></li>
          <li><a href="/pages/activity/helpRequest">
            <div class="intro_icon">
              <!-- <img src="/ClientUI/user/images/main/icon_intro_02.png" alt=""> -->
            </div>도움요청 <span>사이버폭력으로 누구와도 이야기할 수 <br>없을 때, 도움을 요청해보세요</span></a></li>
          <li><a href="/pages/activity/cultureList/8">
            <div class="intro_icon">
              <!-- <img src="/ClientUI/user/images/main/icon_intro_03.png" alt=""> -->
            </div>캠페인 <span>우리 함께 사이버세상을 지키는 <br>문화를 만들어요</span></a></li>
<!--          <li><a href="/pages/activity/experienceList/17">-->
          <li><a href="/pages/activity/factualSurvey">
            <div class="intro_icon">
              <!-- <img src="/ClientUI/user/images/main/icon_intro_04.png" alt=""> -->
            </div>체험 <span>사이버폭력을 진단 및 체험하고 <br>위로메세지를 전해요</span></a></li>
          <li><a href="/pages/activity/eduDataRoom">
            <div class="intro_icon">
              <!-- <img src="/ClientUI/user/images/main/icon_intro_05.png" alt=""> -->
            </div>자료실 <span>사이버폭력 예방 교육자료를 보고 <br>어떻게 해야 할지 알아보아요.</span></a></li>
          <li><a href="/pages/activity/mindSharing">
            <div class="intro_icon">
              <!-- <img src="/ClientUI/user/images/main/icon_intro_06.png" alt=""> -->
            </div>나눔 <span>푸른코끼리와 함께<br>이웃에게 사랑을 전해요</span></a></li>
          <li><a href="/pages/news/list/7">
            <div class="intro_icon">
              <!-- <img src="/ClientUI/user/images/main/icon_intro_07.png" alt=""> -->
            </div>소식 <span>푸른코끼리의 일정들을 <br>확인하고 함께해보세요</span></a></li>
          <li><a href="/pages/activity/policyProposal">
            <div class="intro_icon">
              <!-- <img src="/ClientUI/user/images/main/icon_intro_01.png" alt=""> -->
            </div>제안 <span>상상하는 사이버폭력 예방정책 <br>함께 만들어가요</span></a></li>
        </ul>
      </div>
    </div>


    <div class="section section06">
      <div class="top">
        <div class="contents">
          <div class="news_area clearfix">
            <div class="left_area">
              <div class="emotion_box">
                <div class="emt_inner">
                  <div>
                    <span>오늘 친구들의</span>
                    <h1>감정신호등은?</h1>
                    <small>검사하러 <img src="/ClientUI/user/images/main/go.png" alt=""></small>
                  </div>
                  <a class="emotion_btn" href="/pages/activity/factualSurvey">
                                    <span>
                                        좋음
                                    </span>
                  </a>
                </div>
                <div class="puco_icon">
                  <img src="/ClientUI/user/images/main/puco_icon.svg" alt="">
                </div>
              </div>
            </div>
            <div class="right_area">
              <div class="board_area">
                <div class="tit">공지사항
                  <div>
                    <a href="/pages/news/notice">더보기</a>
                    <span class="arrow-right"></span>
                  </div>
                </div>
                <ul class="list">
                  <th:block th:if="${noticeList == null or noticeList.isEmpty()}">
                    <li class="nodata">
                      <div>등록된 게시글이 없습니다.</div>
                    </li>
                  </th:block>
                  <li th:each="item,idx : ${noticeList}">

                    <a th:href="|/pages/news/detail/${item.id}|">
                      <th:block th:if="${idx.index} == 0">
                        <span class="New">New</span>
                      </th:block>
                      <span class="link" th:text="${item.ttl}">사이버폭력 예방 활동을 위한 교육</span>
                      <span class="date" th:text="${#temporals.format(item.regDtm,'yyyy.MM.dd')}">2020.08.29</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>


  </div>
  <th:block th:replace="fragments/footer"></th:block>
</div>
</html>