@charset 'UTF-8';

/*
수정일 : 21.08.11
수정내용 : 체크박스 이미지 추가
수정 태그 : .checkbox label
*/

/***** font *****/
@font-face {
	font-family:'Noto Sans KR';
	src:url('/ClientUI/font/NotoSansKR-Black.eot') format('embedded-opentype');
	src:url('/ClientUI/font/NotoSansKR-Black.woff') format('woff'),
	url('/ClientUI/font/NotoSansKR-Black.ttf') format('truetype');
	font-weight:900;
	font-style:normal;
}
@font-face {
	font-family:'Noto Sans KR';
	src:url('/ClientUI/font/NotoSansKR-Bold.eot') format('embedded-opentype');
	src:url('/ClientUI/font/NotoSansKR-Bold.woff') format('woff'),
	url('/ClientUI/font/NotoSansKR-Bold.ttf') format('truetype');
	font-weight:700;
	font-style:normal;
}
@font-face {
	font-family:'Noto Sans KR';
	src:url('/ClientUI/font/NotoSansKR-Medium.eot') format('embedded-opentype');
	src:url('/ClientUI/font/NotoSansKR-Medium.woff') format('woff'),
	url('/ClientUI/font/NotoSansKR-Medium.ttf') format('truetype');
	font-weight:500;
	font-style:normal;
}
@font-face {
	font-family:'Noto Sans KR';
	src:url('/ClientUI/font/NotoSansKR-Regular.eot') format('embedded-opentype');
	src:url('/ClientUI/font/NotoSansKR-Regular.woff') format('woff'),
	url('/ClientUI/font/NotoSansKR-Regular.ttf') format('truetype');
	font-weight:400;
	font-style:normal;
}
@font-face {
	font-family:'Noto Sans KR';
	src:url('/ClientUI/font/NotoSansKR-Light.eot') format('embedded-opentype');
	src:url('/ClientUI/font/NotoSansKR-Light.woff') format('woff'),
	url('/ClientUI/font/NotoSansKR-Light.ttf') format('truetype');
	font-weight:300;
	font-style:normal;
}

/***** reset *****/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var, b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup, menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;font-size:100%;vertical-align:baseline;border:0;box-sizing:border-box;-webkit-text-size-adjust:none}
dl,ul,ol,menu,li{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
fieldset,img{vertical-align:top;border:0}
hr,legend,caption{display:none}
table{width:100%;table-layout:fixed;border-collapse:collapse;border-spacing:0}
input,select,textarea,button,label{font-family:inherit;vertical-align:middle}
input,select,textarea{border:1px solid #ccc;border-radius:0;box-shadow:none;box-sizing:border-box;outline:none;appearance:none;-webkit-appearance:none;-moz-appearance:none}
::placeholder{color:#a5a5a5;opacity:1}
:-ms-input-placeholder{color:#a5a5a5;vertical-align:top}
::-ms-input-placeholder{color:#a5a5a5}
::-moz-focus-inner{padding:0;border:0}
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button{height:auto;-webkit-appearance:none}
input::-webkit-search-cancel-button, input::-webkit-search-decoration{-webkit-appearance:none}
input:-ms-clear{display:none}
input::-ms-clear{display:none}
input[readonly], input[disabled], textarea[readonly], textarea[disabled]{color:#808080;background-color:#f8fafb;outline:none;cursor:default}
input{width:100%;height:44px;padding:0 10px;line-height:42px;border-radius: 8px;}
input[type="number"]{-moz-appearance:textfield}
input[type="radio"],input[type="checkbox"]{position:absolute;width:0 !important;height:0;margin:0;padding:0;opacity:0}
select{width:100%;height:44px;border-radius: 8px;}
select::-ms-expand{display:none}
option{color:#5a5a5a;font-size:15px}
option[disabled]{display:none}
textarea{width:100%;padding:10px 15px;font-size:15px;resize:none}
button, input[type="submit"]{border:0;background-color:transparent;cursor:pointer}
address,em,i{font-style:normal}
a{color:#333;text-decoration:none}
img{max-width:100%}
/*body{color:#333;font-size:14px;font-family:'Noto Sans KR', Malgun Gothic, '맑은고딕', Dotum, '굴림', Gulim, Helvetica, sans-serif}*/
body{color:#54586a;font-size:14px;font-family:'Noto Sans KR', Malgun Gothic, '맑은고딕', Dotum, '굴림', Gulim, Helvetica, sans-serif}
.tbl_write .td .eKey {
	margin-top: 10px;
}
.tbl_write .td #chkTempKeyBtn{
	margin-top: 10px;
	display: none;
}
/***** component *****/
.clearfix:after{content:'';display:block;clear:both}
.clearfix > *{float:left}
.clearfix > .fr{float:right}
.blind{position:absolute;top:-9999px;text-indent:-9999px}
.no_after:after{display:none !important}
.no_before:after{display:none !important}
/*** display ***/
.dn{display:none !important}
.db{display:block !important}
.dib{display:inline-block !important}
.dt{display:table !important}
.dtc{display:table-cell !important}
.vh{visibility:hidden !important}
.vv{visibility:visible !important}
/*** position ***/
.posr{position:relative !important}
.posa{position:absolute !important}
.posf{position:fixed !important}
.poss{position:static !important}
/*** width ***/
.wa{width:auto !important}
.w100p{width:100% !important}.w90p{width:90% !important}.w80p{width:80% !important}.w70p{width:70% !important}.w60p{width:60% !important}.w50p{width:50% !important}.w40p{width:40% !important}.w30p{width:30% !important}.w20p{width:20% !important}.w10p{width:10% !important}
.w300{width:300px !important}.w200{width:200px !important}.w190{width:190px !important}.w180{width:180px !important}.w160{width:160px !important}.w150{width:150px !important}.w130{width:130px !important}.w100{width:100px !important}.w60{width:60px !important}
/*** height ***/
.ha{height:auto !important}
.h100p{height:100% !important}
.h300{height:300px !important}.h200{height:200px !important}.h170{height:170px}
/*** margin, padding ***/
.ma{margin:auto !important}
.m0{margin:0 !important}
.mt0{margin-top:0 !important}.mt5{margin-top:5px !important}.mt10{margin-top:10px !important}.mt15{margin-top:15px !important}.mt20{margin-top:20px !important}.mt25{margin-top:25px !important}.mt30{margin-top:30px !important}.mt35{margin-top:35px !important}.mt40{margin-top:40px !important}.mt45{margin-top:45px !important}.mt50{margin-top:50px !important}.mt55{margin-top:55px !important}.mt60{margin-top:60px !important}
.mr0{margin-right:0 !important}.mr5{margin-right:5px !important}.mr10{margin-right:10px !important}.mr15{margin-right:15px !important}.mr20{margin-right:20px !important}.mr25{margin-right:25px !important}.mr30{margin-right:30px !important}.mr35{margin-right:35px !important}.mr40{margin-right:40px !important}.mr45{margin-right:45px !important}.mr50{margin-right:50px !important}.mr55{margin-right:55px !important}.mr60{margin-right:60px !important}
.mb0{margin-bottom:0 !important}.mb5{margin-bottom:5px !important}.mb10{margin-bottom:10px !important}.mb15{margin-bottom:15px !important}.mb20{margin-bottom:20px !important}.mb25{margin-bottom:25px !important}.mb30{margin-bottom:30px !important}.mb35{margin-bottom:35px !important}.mb40{margin-bottom:40px !important}.mb45{margin-bottom:45px !important}.mb50{margin-bottom:50px !important}.mb55{margin-bottom:55px !important}.mb60{margin-bottom:60px !important}
.ml0{margin-left:0 !important}.ml5{margin-left:5px !important}.ml10{margin-left:10px !important}.ml15{margin-left:15px !important}.ml20{margin-left:20px !important}.ml25{margin-left:25px !important}.ml30{margin-left:30px !important}.ml35{margin-left:35px !important}.ml40{margin-left:40px !important}.ml45{margin-left:45px !important}.ml50{margin-left:50px !important}.ml55{margin-left:55px !important}.ml60{margin-left:60px !important}
.p0{padding:0 !important}
.pt0{padding-top:0 !important}.pt5{padding-top:5px !important}.pt10{padding-top:10px !important}.pt15{padding-top:15px !important}.pt20{padding-top:20px !important}.pt25{padding-top:25px !important}.pt30{padding-top:30px !important}.pt35{padding-top:35px !important}.pt40{padding-top:40px !important}.pt45{padding-top:45px !important}.pt50{padding-top:50px !important}.pt55{padding-top:55px !important}.pt60{padding-top:60px !important}
.pr0{padding-right:0 !important}.pr5{padding-right:5px !important}.pr10{padding-right:10px !important}.pr15{padding-right:15px !important}.pr20{padding-right:20px !important}.pr25{padding-right:25px !important}.pr30{padding-right:30px !important}.pr35{padding-right:35px !important}.pr40{padding-right:40px !important}.pr45{padding-right:45px !important}.pr50{padding-right:50px !important}.pr55{padding-right:55px !important}.pr60{padding-right:60px !important}
.pb0{padding-bottom:0 !important}.pb5{padding-bottom:5px !important}.pb10{padding-bottom:10px !important}.pb15{padding-bottom:15px !important}.pb20{padding-bottom:20px !important}.pb25{padding-bottom:25px !important}.pb30{padding-bottom:30px !important}.pb35{padding-bottom:35px !important}.pb40{padding-bottom:40px !important}.pb45{padding-bottom:45px !important}.pb50{padding-bottom:50px !important}.pb55{padding-bottom:55px !important}.pb60{padding-bottom:60px !important}
.pl0{padding-left:0 !important}.pl5{padding-left:5px !important}.pl10{padding-left:10px !important}.pl15{padding-left:15px !important}.pl20{padding-left:20px !important}.pl25{padding-left:25px !important}.pl30{padding-left:30px !important}.pl35{padding-left:35px !important}.pl40{padding-left:40px !important}.pl45{padding-left:45px !important}.pl50{padding-left:50px !important}.pl55{padding-left:55px !important}.pl60{padding-left:60px !important}
/*** font color ***/
.fc_blue{color:#8bb3ff !important}
.fc_oceanblue{color:#0076a3 !important}
.fc_darkskyblue{color:#50a5dc !important}
.fc_red{color:#e51937 !important}
.fc_green{color:#197b30 !important}
/*** font size ***/
.fz10{font-size:10px !important}.fz11{font-size:11px !important}.fz12{font-size:12px !important}.fz13{font-size:13px !important}.fz14{font-size:14px !important}.fz15{font-size:15px !important}
.fz16{font-size:16px !important}.fz17{font-size:17px !important}.fz18{font-size:18px !important}.fz19{font-size:19px !important}.fz20{font-size:20px !important}.fz21{font-size:21px !important}
.fz22{font-size:22px !important}.fz23{font-size:23px !important}.fz24{font-size:24px !important}.fz25{font-size:25px !important}.fz26{font-size:26px !important}.fz27{font-size:27px !important}.fz28{font-size:28px !important}.fz29{font-size:29px !important}.fz30{font-size:30px !important}
/*** font weight ***/
.fw300{font-weight:300 !important}.fw400{font-weight:400 !important}.fw500{font-weight:500 !important}.fw700{font-weight:700 !important}.fw900{font-weight:900 !important}
/*** letter spacing ***/
.ls0{letter-spacing:0 !important}.ls_05{letter-spacing:-0.5px}ls_1{letter-spacing:-1px !important}
/*** align ***/
.tal{text-align:left !important}
.tac{text-align:center !important}
.tar{text-align:right !important}
.taj{text-align:justify !important}
.vt{vertical-align:top !important}
.vm{vertical-align:middle !important}
.vb{vertical-align:bottom !important}
/*** border ***/
.bd0{border:0 !important}
.bdt0{border-top:0 !important}
.bdr0{border-right:0 !important}
.bdb0{border-bottom:0 !important}
.bdl0{border-left:0 !important}
/*** border radius ***/
.bdrs0{border-radius:0 !important}.bdrs4{border-radius:4px !important}.bdrs5{border-radius:5px !important}.bdrs10{border-radius:10px !important}
/*** 말줄임 ***/
.ellip{display:block;height:100%}
.ellip-line{display:inline-block;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal}
.ellip, .ellip-line{position:relative;overflow:hidden;max-width:100%}
.eps1{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.eps2 span, .eps3 span, .eps4 span, .eps5 span{vertical-align:top}
/*** checkbox, radio ***/
.checkbox, .radio{display:inline-block;position:relative;vertical-align:top}
.checkbox input[disabled] + label, .checkbox input[readonly] + label, .radio input[disabled] + label, .radio input[readonly] + label{cursor:default}
.checkbox label, .radio label{display:block;min-height:16px;padding-left:16px;cursor:pointer}
.checkbox label:after, .radio label:after{content:'';position:absolute;top:0;left:0;width:16px;height:16px;background-color:#fff;/*border:2px solid #ccc;*/box-sizing:border-box}
.checkbox label:after{border-radius:3px;background:url("/ClientUI/user/images/button/btn_uncheck.png") no-repeat 50%; background-size: 18px;border-color:#8bb3ff}
.radio label:after{border-radius:50%}
.checkbox :checked + label:after, .radio :checked + label:after{background:url("/ClientUI/user/images/button/btn_checked.png") no-repeat 50%; background-size: 18px;border-color:#8bb3ff}
.checkbox input[disabled] + label:after, .radio input[disabled] + label:after{background-position:100% -26px}
.checkbox.txt label, .radio.txt label{padding-left:25px;font-size:17px;line-height:18px}
.checkbox.txt label:after, .radio.txt label:after{top:2px}

.register_radio{display:inline-block;position:relative;vertical-align:top}
.register_radio input[disabled] + label, .register_radio input[readonly] + label{cursor:default}
.register_radio label{display:block;min-height:16px;padding-left:26px;cursor:pointer}
.register_radio label:after{content:'';position:absolute;top:4px;left:0;width:17px;height:17px;background-color:#fff;border:4px solid #ccc;box-sizing:border-box; margin-left:4px}
.register_radio label:after{border-radius:50%}
.register_radio :checked + label:after{background-size: 18px;border:4px solid #8bb3ff}
.register_radio input[disabled] + label:after{background-position:100% -26px}
.register_radio.txt label{padding-left:25px;line-height:18px}
.register_radio.txt label:after{top:2px}
/*** select ***/
.select{display:inline-block;position:relative;width:160px;height:44px;vertical-align:top;cursor:pointer}
.select label{display:block;overflow:hidden;position:absolute;top:0;left:0;width:100%;padding:0 58px 0 16px;color:#5a5a5a;font-size:15px;line-height:42px;text-overflow:ellipsis;white-space:nowrap;border:1px solid #cacaca;box-sizing:border-box;cursor:pointer}
.select label:after{content:'';position:absolute;top:0;right:0;bottom:0;width:42px;border-left:1px solid #ccc;background:#eaeaea url(../images/button/select.png) no-repeat 50% 50%}
.select select{width:100%;height:100%;opacity:0;cursor:pointer}
/*.select select[multiple]:focus{height:120px;opacity:1}*/
/*** btn ***/
.btn{display:inline-block;position:relative;vertical-align:top;border:1px solid;box-sizing:border-box}
/* 기본 사각 버튼 */
.btn_basic{width:150px;padding:0 25px;font-size:15px;font-weight:700;line-height:46px}
/* 작은 사각 버튼 */
.btn_sm{min-width:75px;padding:0 10px;font-size:13px;line-height:28px;text-align:center}
.btn_md{min-width:78px;padding:0 10px;font-size:16px;line-height:38px;text-align:center}
.btn_lg{padding:0 23px;font-size:17px;font-weight:500;line-height:42px;text-align:center}
.btn_hg{padding:0 34px;font-size:20px;font-weight:500;line-height:59px;text-align:center}
/* 알약 버튼 */
.btn_pill_8{border-radius:8px}
.btn_pill_10{border-radius:10px}
.btn_pill{border-radius:24px}
.btn_pill_registerSelect{ padding:0 1%; margin:2%; border-radius: 10px 20px 10px;}
/* 버튼 컬러 */
.btn_white{color:#808080 !important;border-color:#e7e8e9;background-color:#fff}
.btn_blue{color:#fff !important;border-color:#8bb3ff;background-color:#8bb3ff}
.btn_skyblue{color:#8bb3ff !important;border-color:#dee6f1;background-color:#6d95e1}
.btn_green{color:#fff !important;border-color:#8bae53;background-color:#8bae53}
.btn_gray{color:#808080 !important;border-color:#e7e8e9;background-color:#e7e8e9}
.btn_lightgray{color:#4a4a4a !important;border-color:#cacaca;background-color:#f8fafb}
.btn_darkgray{color:#fff !important;border-color:#373737;background-color:#4a4a4a}
.btn_darkgray.disabled{border-color:#808080;background-color:#808080;cursor:default}
.btn_line_blue{color: #85b4f7!important;border: 2px solid #85b4f7;background-color: #fff;}
.btn_line_default{color:#8c90a5 !important;border:0; background-color:#fff}
/* 버튼 영역 */
.btn_area{padding-top:40px;font-size:0;text-align:center}
.btn_area .btn{margin-right:10px}
.btn_area .btn:last-child{margin-right:0}
/*** tab ***/
.tab{display:flex;justify-content:space-between;width:100%}
/* .tab > li{display:table-cell;position:relative;width:12.5%} */
.tab > li a{display:block;position:relative;color:#5a5a5a;font-size:18px;line-height:65px;text-align:center;margin: 10px}
.tab > li.active a{color:#fff;font-weight:700;background-color:#8bb3ff;border-radius:10px 20px 10px; padding:0 20px;}
.tab > li.active a:after{content:'';position:absolute;top:0;left:0;width:100%;height:100%;}
.tab_type01{max-width:1280px;margin:0 auto}
.tab_type01 > li:after{content:'';display:block;position:absolute;top:25px;right:0;width:1px;height:16px;background-color:#eaeaea}
.tab_type01 > li:last-child:after{display:none}
.tab_type02{display:block;font-size:0}
.tab_type02 > li{display:inline-block;}
/*.tab_type02 > li:first-child{margin-left:0}*/
.tab_type02 > li a{font-size:16px;color:#8c90a5 !important;border:0; border-radius: 10px 20px 10px; line-height:35px; background-color:#fff; padding: 3px 20px;} /* 회원가입 멤버 선택 active 무*/
.tab_type02 > li.active a{color:#fff !important;border:0; border-radius: 10px 20px 10px; background-color:#85b4f7; padding: 3px 20px;} /* 회원가입 멤버 선택 active 유*/
.tab_type02 > li.active a:after{display:none}
/*** table ***/
/* list */
.tbl_list{width:100%;border-top:2px solid #8bb3ff}
.tbl_list thead th{height:61px;font-size:17px;font-weight:500;line-height:26px;text-align:center;vertical-align:middle;border-bottom:1px solid #ccc;background-color:#dee6f1}
.tbl_list thead .bg th{font-weight:400;background-color:#f7f7f7}
.tbl_list tbody th{font-weight:500;background-color:#f7f7f7}
.tbl_list tbody th,
.tbl_list tbody td{height:61px;padding:14px 0;font-size:17px;line-height:26px;text-align:center;vertical-align:middle;word-break:keep-all;border-bottom:1px solid #ccc}
.tbl_list tbody td.tit{padding-left:30px;text-align:left}
.tbl_list tbody td .num{display:inline-block;width:31px;height:31px;line-height:28px;text-align:center;vertical-align:top;border-radius:50%;background-color:#dee6f1}
.tbl_list tfoot th, .tbl_list tfoot td{height:61px;font-size:17px;font-weight:400;text-align:center;vertical-align:middle;border-bottom:1px solid #ccc;background-color:#f7f7f7}
/* write */
.tbl_write.mt{margin-top:24px}
.tbl_write > ul{font-size:0}
.tbl_write > ul > li{display:table;width:100%;border-bottom:1px solid #ccc}
.tbl_write .th, .tbl_write .td{display:table-cell;height:61px;vertical-align:middle}
.tbl_write .th{width:23%;padding:16px 0;font-size:17px;font-weight:500;text-align:center;background-color:#dee6f1;box-sizing:border-box}
.tbl_write .th .aster{color:#8bb3ff;font-weight:500;vertical-align:middle}
.tbl_write .th .ico{display:inline-block;position:relative;width:132px;padding-left:30px;text-align:left}
.tbl_write .th .ico:before{content:'';position:absolute;top:0;left:0;width:21px;height:25px;background:url(../images/icon/sp_ico_location.png) no-repeat}
.tbl_write .th .ico.subway:before{background-position:-90px -4px}
.tbl_write .th .ico.bus:before{background-position:-132px -4px}
.tbl_write .td{width:77%;padding:8px 15px;color:#4a4a4a;font-size:15px;box-sizing:border-box}
.tbl_write .td input{width:500px;font-size:15px}
.tbl_write .td input + .btn{margin-left:12px}
.tbl_write .td .mr{margin-right:12px}
.tbl_write .td .tip{margin-top:5px;padding-left:16px;text-indent:-16px;word-break:keep-all}
.tbl_write .td .tip.emph{color:#ef151e}
.tbl_write .td .err{margin-left:5px;margin-top:5px;padding-left:16px;text-indent:-16px;word-break:keep-all}
.tbl_write .td .err.emph{color:#e51937}
.tbl_write .td .checkbox.txt, .tbl_write .td .radio.txt{margin:5px 12px 6px 0;vertical-align:middle}
.tbl_write .td .checkbox.txt:last-child, .tbl_write .td .radio.txt:last-child{margin-right:0}
.tbl_write .td + .th{border-left:1px solid #e7e8e9}
.tbl_write .td.td_txt{padding-top:17px;padding-bottom:17px;font-size:17px}
.tbl_write .txt_guide{padding:32px 0 37px;text-align:center;word-break:keep-all}
.tbl_write .txt_guide > dt{color:#8bb3ff;font-size:22px;font-weight:500}
.tbl_write .txt_guide > dd{margin-top:9px;font-size:17px;line-height:155%}
.tbl_write .txt_guide > dd .file_form{margin:17px 0 3px}
.tbl_write .txt_guide > dd .btn_form{margin-top:15px}
.tbl_write .txt_guide > dd .btn_form p{margin-top:8px;font-size:16px}
.tbl_write .txt_serious{display:inline-block;margin-right:16px;vertical-align:top}
.tbl_write .txt_serious:last-child{margin-right:0}
.tbl_write .txt_serious > dt, .tbl_write .txt_serious > dd{display:inline-block;vertical-align:middle}
.tbl_write .txt_serious > dt{margin-right:6px}
.tbl_write .txt_serious > dd .select{width:130px}
/*.tbl_write .td.type01 .select{display:none}*/
.tbl_select { text-align: center; margin: 0; border-top: 4px solid transparent; background-image: linear-gradient(#fff, #fff), linear-gradient(to right, #fff, #8bb3ff, #fff); background-origin: border-box; background-clip: content-box, border-box;}
.contour{border-top: 4px solid; border-color:#8bb3ff; margin: 12px 0 12px 0;}
/* view */
.board_view > dt{display:table;width:100%;border-top:2px solid #8bb3ff;border-bottom:1px solid #ccc;background-color:#dee6f1}
.board_view > dt .tit_area{display:table-cell;width:auto;padding:36px 30px 37px;font-weight:normal;box-sizing:border-box}
.board_view > dt .tit_area .tit{font-size:20px;font-weight:700;line-height:24px;vertical-align:middle;word-break:break-all}
.board_view > dt .tit_area .cate{display:block;margin-bottom:10px;color:#8bb3ff}
.board_view > dt .date{display:table-cell;width:140px;color:#4a4a4a;font-size:14px;text-align:center;vertical-align:middle}
.board_view > dd{min-height:300px;padding:30px;font-size:14px;line-height:24px;border-bottom:1px solid #ccc;box-sizing:border-box}
.board_view > dd.attached_file{min-height:auto;padding-top:10px;padding-bottom:10px}
.board_view > dd.attached_file .file_tit{margin-right:30px}
.board_view > dd.answer{background-color:#dee6f1}
/* 이전글, 다음글 */
.board_prev_next > li{border-bottom:1px solid #ccc;background-color:#f7f7f7}
.board_prev_next > li dl{font-size:0}
.board_prev_next > li dl dt{display:inline-block;position:relative;width:100px;font-size:16px;line-height:45px;text-align:center}
.board_prev_next > li dl dt:after{content:'';position:absolute;top:50%;right:0;width:11px;height:7px;margin-top:-4px;background:url(../images/contents/sp_arr_prev_next.png) no-repeat 0 0}
.board_prev_next > li dl dd{display:inline-block;max-width:calc(100% - 130px);padding-left:20px;color:#767676;font-size:16px;line-height:45px;vertical-align:top}
.board_prev_next > li dl dd a{display:inline-block;overflow:hidden;max-width:100%;color:#333;font-size:16px;vertical-align:top;text-overflow:ellipsis;white-space:nowrap}
.board_prev_next > li.next dl dt:after{background-position:-21px 0}
/*** form ***/
/* 날짜 폼 */
.term_form, .tbl_write .td .term_form{display:inline-block;font-size:0;vertical-align:top}
.term_form input, .tbl_write .td .term_form input{width:180px;padding-right:53px;background:#fff url(../images/button/btn_calendar.png) no-repeat 100% 50%;cursor:pointer}
.term_form .swung, .tbl_write .td .term_form .swung{display:inline-block;margin:0 12px;font-size:14px;line-height:44px;vertical-align:top}
/* 생년월일 폼 */
.birth_form .select{width:130px;margin-left:14px}
.birth_form .select:first-child{width:180px;margin-left:0 !important}
/* 휴대전화 폼 */
.phone_form{display:inline-block;vertical-align:top}
.phone_form input{width:64px}
.phone_form .select{width:84px}
.phone_form .bar{margin:0 10px;line-height:33px}
/* 이메일 폼 */
.email_form{display:inline-block;margin-right:12px;vertical-align:top}
.email_form input{width:230px !important}
.email_form .select{width:230px}
.email_form .at{margin:0 12px;line-height:44px}
.email_form .email_inp{display:none;margin-left:10px}
.email_form .email_inp.active{display:block}
/* 주소 폼 */
.address_form .row + .row{margin-top:8px}
.address_form .row input{width:524px}
.address_form .row .inp_w200{width:200px}
.address_form .row .btn_zipcode{margin-left:10px;color:#4a4a4a !important;border-color:#cacaca}
.address_form .row .btn_zipcode:before{content:'';display:inline-block;width:13px;height:13px;margin-right:2px;vertical-align:middle;background:url(../../images/icon/zipcode.gif) no-repeat 0 0}
/* 파일첨부 폼 */
.file_form{display:inline-block;position:relative;vertical-align:top}
.file_form .file_name{overflow:hidden;width:373px;height:44px;padding:0 10px;color:#a5a5a5;font-size:15px;line-height:42px;text-align:left;text-overflow:ellipsis;white-space:nowrap;border:1px solid #ccc;background-color:#fff}
.file_form .file_name.active{color:#333}
.file_form input{position:absolute;width:0;height:0;margin:0;padding:0;border:0;opacity:0}
.file_form label{display:inline-block;height:44px;margin-left:15px;padding:0 24px;color:#8bb3ff;font-size:17px;font-weight:500;line-height:42px;vertical-align:top;text-align:center;border:1px solid #8bb3ff;border-radius:10px;background-color:#fff;cursor:pointer}
.file_form .btn_file_del{width:70px;height:33px;margin-left:5px;color:#4a4a4a;font-size:12px;line-height:32px;text-align:center;border:1px solid #cacaca;border-radius:3px;background-color:#f8fafb;box-sizing:border-box}
/* 파일첨부 멀티 폼 */
.file_form.multi{padding-right:113px}
.file_form.multi label{position:absolute;top:50%;right:0;width:113px;margin:-22px 0 0 0}
.file_form.multi > div:first-child{min-height:24px}
.MultiFile-wrap .MultiFile-label,  .file_form.multi span.multiFile-label > span.multiFile-label{color:#8bb3ff;font-size:16px;font-weight:500}
.file_form.multi span.multiFile-label > span.multiFile-label{padding-left:21px}
.MultiFile-wrap div.MultiFile-label, .file_form.multi > div > span.multiFile-label{display:inline-block;position:relative;margin-right:10px;padding-right:23px;vertical-align:top}
.MultiFile-wrap div.MultiFile-label:after{content:'';display:block;clear:both}
.MultiFile-wrap div.MultiFile-label > .MultiFile-remove, .file_form.multi > div > span.multiFile-label > .btn_del{display:inline-block;position:absolute;top:4px;right:0;width:18px;height:18px;font-size:0;vertical-align:top;background:#dee6f1 url(../images/icon/ico_close_blue.png) no-repeat 50% 50%;border-radius:50%}
.MultiFile-wrap div.MultiFile-label > span{float:left;padding-left:21px}
.MultiFile-wrap div.MultiFile-label > span:before, .file_form.multi > div > span.multiFile-label:before{content:'';display:inline-block;position:absolute;top:0;left:0;width:18px;height:14px;margin:5px 4px 0 0;vertical-align:top;background:url(../images/icon/ico_folder.png) no-repeat 0 0}

/* 첨부 파일 리스트 */
.file_list li{position:relative;margin-right:20px;padding-left:25px}
.file_list li:before{content:'';position:absolute;top:4px;left:0;width:16px;height:16px;background:url(../images/icon/attached_file.gif) no-repeat 0 0}
.file_list li a{color:#4a4a4a;font-size:14px}
/* 검색폼 */
.search{display:inline-block;position:relative;width:100%;vertical-align:top}
.search input{width:100%;padding-right:34px;padding-left:10px;border-color:#ccc;background-color:#fff}
.search .btn_search{position:absolute;top:1px;right:1px;width:34px;height:33px;background:url(../images/button/search.png) no-repeat 50% 50%}
/*** pagination ***/
.pagination{width:100%;max-width:1280px;margin:0 auto;padding-top:40px;text-align:center}
.pagination a{display:inline-block;width:39px;height:39px;margin:0 5.5px;color:#767676;font-size:15px;line-height:37px;vertical-align:top;border:1px solid #ccc;	border-radius:50%}
.pagination a.active{color:#fff;font-weight:700;background-color:#8bb3ff;border-color:#8bb3ff}
.pagination .arr{height:12px;margin:14px 0 0 0;background:url(../images/button/sp_pagination.png) no-repeat;border:0;border-radius:0}
.pagination .prev{width:7px;margin:14px 21.5px 0 13px;background-position:-23px 0}
.pagination .mostprev{width:13px;background-position:0 0}
.pagination .next{width:7px;margin:14px 13px 0 21.5px;background-position:-40px 0}
.pagination .mostnext{width:13px;background-position:-57px 0}
/*** editor ***/
.cke_contents{min-height:300px}
.editor img{height:auto !important}
.editor em{font-style:italic}
.editor ol, .editor ul{padding:0 40px}
.editor ol li{list-style:decimal}
.editor ul li{list-style:disc}
.editor blockquote{padding:2px 8px 2px 20px;font-style:italic;border-left:5px solid #ccc}
.editor hr{display:block}
.editor h1{font-size:2em}
.editor h2{font-size:1.5em}
.editor h3{font-size:1.17em}
.editor h4{font-size:1em}
.editor h5{font-size:0.83em}
.editor h6{font-size:0.67em}
.editor table, .editor table td{border:1px solid gray}
/*** list ***/
/* 블릿 타입 */
.list_bull > li{position:relative;padding-left:13px;line-height:23px;text-align:left;word-break:keep-all}
.list_bull > li:before{content:'';position:absolute;top:9px;left:0;width:3px;height:3px;background-color:#4a4a4a}
.list_type01{border-top:2px solid #8bb3ff}
.list_type01 > li{padding:8px 15px 9px;border-bottom:1px solid #ccc;background-color:#f7f7f7}
.list_type01 > li > p{display:inline-block;padding:9px 0 10px;font-size:17px;font-weight:500;vertical-align:top}
.list_type01 > li > p + .btn{margin-left:11px}
.list_type01 > li.add{background-color:#fff}
/*** no data ***/
.prepare{position:relative;margin-top:80px;text-align:center}
.prepare:before{content:'';display:block;position:relative;left:-18px;width:767px;height:433px;margin:0 auto -30px;background:url(../images/contents/bg_prepare.png) no-repeat 50% 0}
.popup .prepare:before{width:100%}
.prepare > dt{position:relative;font-size:35px}
.prepare > dd{margin-top:16px;font-size:18px;line-height:145%}
/***** 약관 *****/
.policy_area .tr .btn_sm{line-height:31px}
.policy_area .policy_list > li + li{margin-top:30px}
.policy_area .policy_list > li .policy_sec > dt{font-size:16px;font-weight:900}
.policy_area .policy_list > li .policy_sec > dd{padding-top:10px;line-height:24px}
.policy_area .policy_list > li .policy_sec > dd > .mt{margin-top:10px}
.policy_area .policy_list > li .policy_sec > dd a{text-decoration:underline}
.policy_area .policy_list > li .policy_sec strong{display:block;margin:10px 0 -5px;font-weight:normal}
.policy_area .policy_list > li .policy_sec li{word-break:keep-all}
.policy_area .policy_list > li .policy_sec .alpha_list > li > *,
.policy_area .policy_list > li .policy_sec .num_list > li > *,
.policy_area .policy_list > li .policy_sec .dash_list > li > *{padding-left:0;text-indent:0}
.policy_area .policy_list > li .policy_sec .alpha_list > li{margin-top:10px;padding-left:20px;text-indent:-20px}
.policy_area .policy_list > li .policy_sec .alpha_list.parenthesis > li{margin-top:0;padding-left:27px;text-indent:-27px}
.policy_area .policy_list > li .policy_sec .num_list > li{padding-left:20px;text-indent:-20px}
.policy_area .policy_list > li .policy_sec .alpha_list > li ol,
.policy_area .policy_list > li .policy_sec .dash_list{margin-top:5px}
.policy_area .policy_list > li .policy_sec .dash_list > li{padding-left:10px;text-indent:-10px}

/*** scrollbar ***/
.simplebar-content > p:first-child{margin-bottom:30px}
.simplebar-track.simplebar-vertical{width:27px;padding-bottom:27px;background-color:#fff;border-left:1px solid #ccc}
.simplebar-track.simplebar-vertical:before,
.simplebar-track.simplebar-vertical:after{content:'';display:block;position:absolute;left:50%;width:10px;height:7px;margin-left:-5px;background:url(../images/button/btn_scrollbar.png) no-repeat 0 0}
.simplebar-track.simplebar-vertical:before{top:10px}
.simplebar-track.simplebar-vertical:after{transform:rotate(180deg);bottom:10px}
.simplebar-scrollbar{right:8px;width:10px}
.simplebar-scrollbar:before{margin:27px 0;background-color:#ccc}

/*** skipnav ***/
#skipnav a{position:absolute;left:-3000%}
#skipnav a:focus{display:block;top:0;left:0;width:100%;height:30px;color:#fff;line-height:30px;text-align:center;background-color:#8bb3ff;z-index:10000000000}

/***** ie hack *****/
@media screen and (-ms-high-contrast:active), (-ms-high-contrast:none) {
	.file_form input{top:-9999px;left:-9999px}
}