<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header"></th:block>
</head>
<body oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>
<div id="wrap">
    <th:block th:include="fragments/header_gnb"></th:block>
    <div id="container">
        <th:block th:include="fragments/mo_menu"></th:block>
        <div class="sub_container">
            <th:block th:include="fragments/dept_menu"></th:block>
            <div class="inner">
                <div class="page_cont">
                    <div class="page_top">
                        <h3 class="page_tit">능력카드</h3>
                    </div>
                    <div class="page_cont my_item_5">
                        <h3>능력카드저장내역</h3>

                        <div class="card_list">
                            <div class="card_inner_pc">
                                <div>
                                    <a class="card" th:if="${list == null or list.isEmpty()}">
                                        <div class="card_phot">
                                        </div>
                                        <span>발급받은 능력카드가 없습니다.</span>
                                        <small></small>
                                    </a>
                                    <a class="card" th:each="item,idx:${list}" >
                                        <div class="card_phot">
                                            <img th:src="${item.timg}">
                                        </div>
                                        <span th:text="${item.yn eq 'N' ? '발급대기' : '배송중'}">능력카드 제목내용</span>
                                        <small th:text="${#temporals.format(item.regDtm,'yyyy-MM-dd')}">2021-10-11</small>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <th:block th:replace="fragments/footer"></th:block>
</div>
</body>
</html>