<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header"></th:block>
    <script>
        let areaNm;
        let schlNm;
        let grade;
        let ban;
        let batchArr;
        let loginId;
        let pwd;
        let pwdChk;
        let idDupBool;
        let err;

        //승인 ajax
        $(function (){
            $("#btnSave").on('click' , function() {
                $("#btnSave").prop('disabled' , true);


                if(!fn_chkField()){
                    $('#btnSave').prop('disabled' , false);
                    return false;

                } else {
                    batchArr = $("#batchArr").val();

                    var frm = $('#form1')
                    frm.prop('action' , '/pages/myPage/batchManagement/batchRegister');
                    frm.submit();
                    alert(batchArr+"개의 계정이 신청되었습니다.");
                }
            })
        })

        $(function() {
            $(document).ready(function() {
                $("#batchRegister").click(function() {
                    $("#batch_modal").css({
                        "display": "block"
                    });
                });
                $(".modal_cancel").click(function() {
                    $("#batch_modal").css({
                        "display": "none"
                    });
                });
                $("html").click(function(event) {
                    if (event.target.id === "batch_modal") {
                        $("#batch_modal").css({
                            "display": "none"
                        });
                    }
                });
            });
        })

        function fn_chkField(){
            loginId = $('#loginId');
            pwd = $('#pwd');
            pwdChk = $('#pwdChk');
            batchArr = $('#batchArr');
            btnchk = $('#btnchk');
            err = $('#err');

            if (batchArr.val() == "" || batchArr.val() == null) {
                alert('ID개수는 필수 값입니다.')
                batchArr.focus()
                return false
            }

            if(!idDupBool){
                alert("아이디 중복체크를 해주세요.");
                loginId.after('<p class="err emph">아이디 중복체크를 해주세요.</p>')
                loginId.focus();
                return false;
            }

            if (!$.trim(loginId.val())) {
                alert('아이디는 필수 값입니다.');
                loginId.focus();
                return false;
            } else {
                if (!loginIdCheck(loginId)) {
                    return false;
                }
            }

            if(!fn_chkPwdDup()){
                return false;
            }
            return true;
        }
        //선생님
        function fn_chkIdDup(){
            loginId = $("#loginId");
            batchArr = $("#batchArr");
            loginId.siblings('.err.emph').remove();
            let han = /[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]/
            let upper =  /[A-Z]/

            if(han.test(loginId.val()) || upper.test(loginId.val())) {
                loginId.focus();
                alert('계정 양식엔 소문자만 입력 가능합니다.');
                return false;
            }

            if(!$.trim(batchArr.val())) {
                alert('생성하실 계정의 개수를 먼저 입력 하세요.')
                batchArr.focus();
                return false;
            } else {

                if(!loginIdCheck(loginId)){
                    return false;
                }

                $.ajax({
                    type: "POST",
                    url: "/api/member/isExistByBatchLoginId",
                    data: {
                        "loginId": $.trim(loginId.val()),
                        "batchArr" : $.trim(batchArr.val())
                    },
                    success: function (data) {
                        if($.trim(loginId.val()) != ''){
                            alert('사용가능한 계정 양식 입니다.');
                            idDupBool = true;
                        }
                    },
                    error: function (error) {
                        alert(error.responseText);
                        idDupBool = false;
                        loginId.val('');
                        loginId.focus();
                    }
                });
            }
        }


        function fn_chkPwdDup() {
            pwd = $('#pwd');
            pwdChk = $('#pwdChk');

            pwd.siblings('.err.emph').remove();
            if(!$.trim(pwdChk.val())){
                alert('비밀번호는 필수입력사항 입니다.');
                pwd.focus();
                return false;
            } else {
                if(!pwdCheck(pwd)) {
                    pwd.val("");
                    pwd.focus();
                    return false;
                }
            }

            pwdChk.siblings('.err.emph').remove();
            if(!$.trim(pwdChk.val())){
                alert('비밀번호 재입력은 필수입력사항 입니다.');
                pwdChk.focus();
                return false;
            } else {
                if (!pwdCheck(pwdChk)){
                    pwdChk.val("");
                    pwdChk.focus();
                    return false;
                }
            }

            if($.trim(pwd.val()) != $.trim(pwdChk.val())){
                alert('비밀번호가 일치하지 않습니다.');
                pwdChk.focus();
                return false;
            } else {
                return true;
            }
        }
        function fn_comparePwd(){
            pwd = $("#pwd");
            pwdChk = $("#pwdChk");
            pwdChk.siblings('.err.emph').remove();
            if(pwd.val() != pwdChk.val()) {
                pwdChk.after('<p class="err emph">비밀번호가 일치하지 않습니다.</p>')
            }
        }
        function onlyNum(){
            if(event.keyCode<48 || event.keyCode>57) {
                event.returnValue=false;
                alert('비밀번호는 숫자 4자리만 입력해주세요.')
            }
        }
    </script>
    <style>
        .layer_popup .popup_area1{position:absolute;top:0;right:0;bottom:0;left:0;width:827px;max-height:calc(90% - 90px);margin:auto;border-radius:30px;background-color:#fff;box-sizing:border-box}
    </style>
</head>
<body oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>
<div id="wrap">
    <th:block th:include="fragments/header_gnb"></th:block>
    <div id="container">
        <th:block th:include="fragments/mo_menu"></th:block>
        <div class="sub_container">
            <th:block th:include="fragments/dept_menu"></th:block>
        <div class="contents">
            <div class="page_top">
                <h3 class="page_tit">일괄가입</h3>
                <span>선생님께서 등록하신 기본 데이터로 학생 계정을 생성합니다. <br> 예를 들어, 생성할 계정 양식을 puco라고 설정할 경우 puco01~puco11로 계정이 생성됩니다.</span>
            </div>
            <div class="page_cont join_form_area">
            <form id="form1" name="form1" method="post" th:object="${teacher}">
                <div class="sec_write">
                    <input type="hidden" id="authBothChk" value="0"/>
                    <div class="tbl_write">
                        <div class="sec_write">
                            <div class="tbl_write contour">
                                <ul>
                                    <li>
                                        <div class="th">지역명</div>
                                        <div class="td">
                                            <input type="text" id="areaNm" name="areaNm" th:value="*{areaNm}" readonly>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="th">학교명</div>
                                        <div class="td">
                                            <input type="text" id="schlNm" name="schlNm" th:value="*{schlNm}" readonly>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="th">학년</div>
                                        <div class="td">
                                            <input type="text" id="grade" name="grade" th:value="*{grade}" readonly>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="th">반</div>
                                        <div class="td">
                                            <input type="text" id="ban" name="ban" th:value="*{ban}" readonly>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="th">생성할 계정 개수<span class="aster">*</span></div>
                                        <div class="td">
                                            <input type="number" id="batchArr" name="batchArr" placeholder="생성할 계정(아이디) 개수를 입력해주세요. (최대 OO개)">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="th">
                                            <label for="loginId">생성할 계정 양식</label>
                                            <span class="aster">*</span>
                                        </div>
                                        <div>
                                            <label for="loginId" class="blind">로그인ID</label>
                                            <div class="td">
                                                <input type="text" id="loginId" name="loginId" placeholder="생성할 계정의 양식을 입력해주세요." >
                                            </div>
                                            <div class="td">
                                                <a id="btnchk" class="btn btn_lg btn_line_blue btn_pill_10" onclick="return fn_chkIdDup();">중복확인</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="th">초기 패스워드<span class="aster">*</span></div>
                                        <div class="td">
                                            <input type="password" id="pwd" name="pwd" placeholder="초기 패스워드는 숫자 4자리로 입력해주세요." onkeypress="onlyNum()" maxlength="4">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="th">비밀번호 재확인<span class="aster">*</span></div>
                                        <div class="td">
                                            <input type="password" id="pwdChk" name="pwdChk" placeholder="초기 패스워드를 다시 입력해주세요." onkeyup="fn_comparePwd()" onkeypress="onlyNum()" maxlength="4">
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            </div>
            <div class="btn_area">
                <button id="btnSave" class="btn btn_lg btn_blue btn_pill_10">가입</button>
            </div>
        </div>
        <!--<div class="batch_contents">
            <div class="page_cont">
                <div class="sec_write_area clearfix">
                    <div class="sec_write info">
                        <h4 class="year">&nbsp;2021&nbsp;2020&nbsp;2019&nbsp;</h4>
                        <ul class="board_tbl_list type02">
                            <li class="thead">
                                <strong class="id">ID</strong>
                                <strong class="name">이름</strong>
                                <strong class="no">번호</strong>
                                <strong class="process">진도</strong>
                                <strong class="test">사전검사</strong>
                                <strong class="test">사후검사</strong>
                            </li>
                                <li>
                                    <div class="id">puco0001</div>
                                    <div class="name"><a href="javascript:;" class="link fc_blue">유학생</a></div>
                                    <div class="no">6</div>
                                    <div class="state"><span class="th"></span>1차시</div>
                                    <div class="test"><span class="th"></span>완료</div>
                                    <div class="test"><span class="th"></span>완료</div>
                                </li>
                                <li>
                                    <div class="id">puco0002</div>
                                    <div class="name"><a href="javascript:;" class="link fc_blue">최학생</a></div>
                                    <div class="no">7</div>
                                    <div class="state"><span class="th"></span>2차시</div>
                                    <div class="test"><span class="th"></span>완료</div>
                                    <div class="test"><span class="th"></span>완료</div>
                                </li>
                                <li>
                                    <div class="id">puco0003</div>
                                    <div class="name"><a href="javascript:;" class="link fc_blue">김생학</a></div>
                                    <div class="no">9</div>
                                    <div class="state"><span class="th"></span>2차시</div>
                                    <div class="test"><span class="th"></span>진행중</div>
                                    <div class="test"><span class="th"></span>진행중</div>
                                </li>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
                <div class="btn_area"><a class="btn btn_lg btn_blue btn_pill_10" id="batchRegister" onclick="layerShow('popBatch')">일괄가입</a></div>
        </div>-->
        </div>
    </div>
</div>
<th:block th:replace="fragments/footer"></th:block>
</body>
</html>