<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header"></th:block>

    <script>

        $(function() {
            $(document).ready(function() {
                $("#batchRegister").click(function() {
                    $("#batch_modal").css({
                        "display": "block"
                    });
                });
                $(".modal_cancel").click(function() {
                    $("#batch_modal").css({
                        "display": "none"
                    });
                });
                $("html").click(function(event) {
                    if (event.target.id === "batch_modal") {
                        $("#batch_modal").css({
                            "display": "none"
                        });
                    }
                });
            });
        })
    </script>
</head>
<body oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>
<div id="wrap">
    <th:block th:include="fragments/header_gnb"></th:block>
    <div id="container">
        <th:block th:include="fragments/snb"></th:block>

        <div class="batch_contents">

<!--            <div class="page_top">
                <h3 class="page_tit">일괄관리</h3>
            </div>-->

            <div class="page_cont">
                <div class="sec_write_area clearfix">
                    <div class="sec_write info">
                        <h4 class="year">&nbsp;2021&nbsp;2020&nbsp;2019&nbsp;</h4>
                        <ul class="board_tbl_list type02">
                            <li class="thead">
                                <strong class="id">ID</strong>
                                <strong class="name">이름</strong>
                                <strong class="no">번호</strong>
                                <strong class="process">진도</strong>
                                <strong class="test">사전검사</strong>
                                <strong class="test">사후검사</strong>
                            </li>
                                <li>
                                    <div class="id">puco0001</div>
                                    <div class="name"><a href="javascript:;" class="link fc_blue">유학생</a></div>
                                    <div class="no">6</div>
                                    <div class="state"><span class="th"></span>1차시</div>
                                    <div class="test"><span class="th"></span>완료</div>
                                    <div class="test"><span class="th"></span>완료</div>
                                </li>
                                <li>
                                    <div class="id">puco0002</div>
                                    <div class="name"><a href="javascript:;" class="link fc_blue">최학생</a></div>
                                    <div class="no">7</div>
                                    <div class="state"><span class="th"></span>2차시</div>
                                    <div class="test"><span class="th"></span>완료</div>
                                    <div class="test"><span class="th"></span>완료</div>
                                </li>
                                <li>
                                    <div class="id">puco0003</div>
                                    <div class="name"><a href="javascript:;" class="link fc_blue">김생학</a></div>
                                    <div class="no">9</div>
                                    <div class="state"><span class="th"></span>2차시</div>
                                    <div class="test"><span class="th"></span>진행중</div>
                                    <div class="test"><span class="th"></span>진행중</div>
                                </li>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
                <div class="btn_area"><a class="btn btn_lg btn_blue btn_pill_10" id="batchRegister" href="#" onclick="batchRegister()">일괄가입</a></div>
        </div>
    </div>
</div>
<th:block th:replace="fragments/footer"></th:block>
    <div id="batch_modal" class="modal fade">
        <div id="modal-content" class="modal-content">
            <div class="modal_title">
                <span>일괄가입</span>
            </div>

            <input id="nm" name="nm" value="BATCH" type="hidden">
            <input id="sexPrTy" name="sexPrTy" value="BATCH" type="hidden">
            <input id="ncmm" name="ncmm" value="BATCH" type="hidden">
            <input id="brthdy" name="brthdy" value="BATCH" type="hidden">

            <div>
                <div class="modal_text">
                    <label>선생명</label>
                </div>
                <input id="teacherNm" name="teacherNm" type="text" class="modal_input"/>
            </div>

            <div>
                <div class="modal_text">
                    <label>지역명</label>
                </div>
                <input id="areaNm" name="areaNm"type="text"  class="modal_input"/>
            </div>
            <div>
                <div class="modal_text">
                    <label>학교명</label>
                </div>
                <input id="schlNm" name="schlNm"type="text"  class="modal_input"/>
            </div>
            <div>
                <div class="modal_text">
                    <label>학년</label>
                </div>
                <input id="grade" name="grade"type="text"  class="modal_input"/>
            </div>
            <div>
                <div class="modal_text">
                    <label>반</label>
                </div>
                <input id="ban" name="ban" type="text" class="modal_input"/>
            </div>

            <div>
                <div class="modal_text">
                    <label>신규로 생성하고자 하는 ID 개수</label>
                </div>
                <input id="batchArr" name="batchArr" type="text" class="modal_input"/>
            </div>

            <div>
                <div class="modal_text">
                    <label>일괄가입 되는 아이디 패턴</label>
                </div>
                <input id="loginId" name="loginId"type="text" class="modal_input"/>
            </div>
            <div>
                <div class="modal_text">
                    <label>초기 패스워드</label>
                </div>
                <input id="pwd" name="pwd" type="text" class="modal_input"/>
            </div>
            <div>
                <a id="modal_confirm" href="#" class="btn btn_lg btn_blue btn_pill_10">확인</a>
                <a id="modal_cancel" class="btn modal_cancel">취소</a>
            </div>
        </div>
    </div>
</body>
<script>
    let teacherNm;
    let areaNm;
    let schlNm;
    let grade;
    let ban;
    let batchArr;
    let loginId;
    let pwd;
    let nm;
    let sexPrTy;
    let ncmm;
    let brthdy;
    $("#modal_confirm").on("click" , function (){

        teacherNm = $("#teacherNm").val();
        areaNm   = $("#areaNm").val();
        schlNm   = $("#schlNm").val();
        grade    = $("#grade").val();
        ban      = $("#ban").val();
        batchArr = $("#batchArr").val();
        loginId  = $("#loginId").val();
        pwd      = $("#pwd").val();
        nm       = $("#nm").val();
        sexPrTy  = $("#sexPrTy").val();
        ncmm     = $("#ncmm").val();
        brthdy   = $("#brthdy").val();

        $.ajax({
            method : "POST" ,
            url : "/test/batchJoin" ,
            data : {

                    'teacherNm': teacherNm,
                    'areaNm'   : areaNm,
                    'schlNm'   : schlNm,
                    'grade'    : grade,
                    'ban'      : ban,
                    'batchArr' : batchArr,
                    'loginId'  : loginId,
                    'pwd'      : pwd,
                    'nm'       : nm,
                    'sexPrTy'  : sexPrTy,
                    'ncmm'     : ncmm,
                    'brthdy'   : brthdy

            },
            success(result) {
                if(result == 1) {
                    alert("전송성공");
                }else {
                    alert("전송실패");
                }
            }
        });
    });
</script>
</html>