<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header"></th:block>
</head>
<body oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>
<div id="wrap">
    <th:block th:include="fragments/header_gnb"></th:block>
    <div id="container">
        <th:block th:include="fragments/mo_menu"></th:block>
        <div class="sub_container">
            <th:block th:include="fragments/dept_menu"></th:block>

            <form id="form1" name="form1" method="post">
                <!--<div class="inner">
                    <div class="page_cont">
                        <div class="page_top">
                            <h3 class="page_tit">교육자료실</h3>
                        </div>
                        <div class="page_cont my_item_2">
                            <div class="my_item_top">
                                <button>최근자료</button>
                                <button>즐겨찾기</button>
                            </div>
                            <div class="my_item_edu">
                                <div class="item_inner">
                                    <small>이미지와제목을 클릭하시면, 제안 메인페이지로 이동합니다.</small>
                                    <table>
                                        <tr>
                                            <td>
                                                <div class="edu_item">
                                                    <div class="edu_img">
                                                        <div></div>
                                                    </div>
                                                    <div class="edu_desc">
                                                        <h5>[학교폭력 연구]  Preventing and …</h5>
                                                        <small>O X 퀴즈내역</small>
                                                        <span>등록일 |  2021.10.11</span>
                                                        <div class="tags">
                                                            <b class="tag1">청소년</b>
                                                            <b class="tag2">일반</b>
                                                            <b class="tag3">교원</b>
                                                            <b class="tag4">부모</b>
                                                            <b class="tag5">푸코강사</b>
                                                        </div>
                                                    </div>
                                                    <div class="remove_btn">
                                                        <a href="#none">삭제</a>
                                                        <button></button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
                <div class="inner">
                    <!--<div class="page_top pc">
                        <h3 class="page_tit">My 강의실</h3>

                    </div>-->
                    <div class="page_cont">

                        <h4 class="subtit pc">수강내역</h4>
                        <p class="tip_tbl mb">※ 강의 제목을 클릭하시면, 상세내역 페이지로 이동합니다.</p>
                        <ul class="board_tbl_list">
                            <li class="thead">
                                <strong class="no">No</strong>
                                <strong class="tit">강의 제목</strong>
                                <strong class="state">수강상태</strong>
                                <strong class="date">수강신청일</strong>
                            </li>
                            <!--수강 중인 강의가 없을경우 : s-->
                            <li class="nodata" th:if="${courseMasters == null or courseMasters.isEmpty()}">
                                <div>수강 중인 강의가 없습니다.</div>
                            </li>
                            <!--수강 중인 강의가 없을경우 : e-->
                            <li th:each="item,idx : ${courseMasters}">
                                <div class="no"
                                     th:text="${courseMasters.totalElements - courseMasters.pageable.pageSize * courseMasters.pageable.pageNumber - idx.index}">
                                    4
                                </div>
                                <div class="tit"><a th:href="|/pages/myPage/classroomDetail/${item.atnlcReqPid}|"
                                                    th:text="${item.crsNm}"> 사이버폭력예방교육 part1</a></div>
                                <div class="state" th:text="${item.ingCnt > 0 ? '수강중' : '수강완료'}"></div>
                                <div class="date"><span class="th">수강신청일 : </span>
                                    <th:block
                                            th:text="${#temporals.format(item.requestRegDtm,'yyyy-MM-dd')}"></th:block>
                                </div>
                            </li>

                        </ul>
                        <th:block
                                th:replace="/fragments/paging :: pagingbody(list=${courseMasters}, link='/pages/myPage/classroom', formId='form1')"></th:block>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <th:block th:replace="fragments/footer"></th:block>
</div>
</body>
</html>
