<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header"></th:block>
</head>
<body oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>
<div id="wrap">
    <th:block th:include="fragments/header_gnb"></th:block>
    <div id="container">
        <th:block th:include="fragments/mo_menu"></th:block>
        <div class="sub_container">
            <th:block th:include="fragments/dept_menu"></th:block>
        dasd
    </div>
    <th:block th:replace="fragments/footer"></th:block>
</div>
<div id="popPw" class="layer_popup">
    <form id="form2" name="form2" method="post">
        <div class="dim"></div>
        <div class="popup_area">
            <a href="javascript:layerHide('popPw')" class="btn_close"><span class="blind">팝업닫기</span></a>
            <div class="popup">
                <input type="text" style="display: none"/>
                <div class="pop_txt"><label for="pwd">비밀번호를 입력해 주세요.</label></div>
                <div class="inp_pw"><input type="password" id="pwd" name="pwd" /></div>
                <div class="btn_area">
                    <a href="javascript:;" onclick="fn_checkPw()" class="btn btn_lg btn_blue btn_pill_10">확인</a>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>
