<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header"></th:block>
</head>
<body oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>
<div id="wrap">
    <th:block th:include="fragments/header_gnb"></th:block>
    <div id="container">
        <th:block th:include="fragments/mo_menu"></th:block>
        <div class="sub_container">
            <th:block th:include="fragments/dept_menu"></th:block>
            <form id="form1" name="form1" method="post">
                <input type="hidden" id="qesitmPid" name="qesitmPid"/>

                <div class="inner">
                    <div class="page_cont">
                        <div class="page_top">
                            <h3 class="page_tit">학생관리</h3>
                        </div>
                        <div class="page_cont student_care">
                            <div class="care_btns">
                                <a href="#none">2021</a>
                                <a href="#none">2020</a>
                                <a href="#none">2019</a>
                            </div>
                            <table class="care_items">
                                <tr>
                                    <th>ID</th>
                                    <th>이름</th>
                                    <th>번호</th>
                                    <th>진도</th>
                                    <th>사전검사</th>
                                    <th>사후검사</th>
                                </tr>
                                <tr>
                                    <td>PUCO123456</td>
                                    <td>푸코님</td>
                                    <td>1</td>
                                    <td>2차시</td>
                                    <td>완료</td>
                                    <td>완료</td>
                                </tr>
                                <tr>
                                    <td>PUCO123456</td>
                                    <td>푸코님</td>
                                    <td>1</td>
                                    <td>2차시</td>
                                    <td>완료</td>
                                    <td>완료</td>
                                </tr>
                                <tr>
                                    <td>PUCO123456</td>
                                    <td>푸코님</td>
                                    <td>1</td>
                                    <td>2차시</td>
                                    <td>완료</td>
                                    <td>완료</td>
                                </tr>
                                <tr>
                                    <td>PUCO123456</td>
                                    <td>푸코님</td>
                                    <td>1</td>
                                    <td>2차시</td>
                                    <td>완료</td>
                                    <td>완료</td>
                                </tr>
                                <tr>
                                    <td>PUCO123456</td>
                                    <td>푸코님</td>
                                    <td>1</td>
                                    <td>2차시</td>
                                    <td>완료</td>
                                    <td>완료</td>
                                </tr>
                            </table>
                            <div class="student_care_btn">
                                <a class="join_btn" href="/pages/myPage/management/batchManagement">일괄가입</a>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <th:block th:replace="fragments/footer"></th:block>
</div>
</body>
</html>
