<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header"></th:block>
</head>
<body oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>
<div id="wrap">
    <th:block th:include="fragments/header_gnb"></th:block>
    <div id="container">
        <th:block th:include="fragments/mo_menu"></th:block>
        <div class="sub_container">
            <th:block th:include="fragments/dept_menu"></th:block>

            <form id="form1" name="form1" method="post">
                <input type="hidden" id="qesitmPid" name="qesitmPid"/>

                <div class="inner">
                    <div class="page_cont">
                        <div class="page_top">
                            <h3 class="page_tit">나의 학생</h3>
                        </div>
                        <div class="page_cont student_care">

                            <table class="care_items">
                                <tr>
                                    <th>ID</th>
                                    <th>이름</th>
                                    <th>가입일</th>
                                    <th>구분</th>
                                </tr>
                                <th:block th:if="${studentList == null or studentList.isEmpty()}">
                                    <tr>
                                        <div>나의 학생이 없습니다.</div>
                                    </tr>
                                </th:block>
                                <tr th:each="stulist,idx : ${studentList}">
                                    <td th:text="${stulist.loginId}">PUCO123456</td>
                                    <td th:text="${stulist.nm}"></td>
                                    <td th:text="${#temporals.format(stulist.regDtm, 'yyyy-MM-dd')}">20211011</td>
                                    <td th:text="${stulist.mberDvTy}">학생</td>
                                </tr>
                            </table>
                        </div>
                        <th:block
                                th:replace="/fragments/paging :: pagingbody(list=${studentList}, link='/pages/myPage/management', formId='form1')"></th:block>
                        <div class="student_care_btn">
                            <a class="join_btn" href="/pages/myPage/management/batchManagement">일괄가입</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <th:block th:replace="fragments/footer"></th:block>
</div>
</body>
</html>
