<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header"></th:block>
</head>
<body oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>
<div id="wrap">
    <th:block th:include="fragments/header_gnb"></th:block>
    <div id="container">
        <th:block th:include="fragments/mo_menu"></th:block>
        <div class="sub_container">
            <th:block th:include="fragments/dept_menu"></th:block>
            <form id="form1" name="form1" method="post">
                <div class="contents">
                    <div class="page_top pc">
                        <h3 class="page_tit">신청 강사 관리</h3>
                        <span>교육을 희망하는 예방 강사가 노출됩니다.</span>
                    </div>
                    <div class="page_cont">
                        <p class="tip_tbl mb">※ 수정중입니다.</p>
                        <ul class="board_tbl_list">
                            <li class="thead">
                                <strong class="no">No</strong>
                                <strong class="state">이름</strong>
                                <strong class="state">전화번호</strong>
                                <strong class="state">이메일</strong>
                                <strong class="date">지원일시</strong>
                                <strong class="date">승인</strong>
                            </li>
                            <li class="nodata" th:if="${preList == null or preList.isEmpty()}">
                                <div>강의를 희망하는 지원자가 없습니다.</div>
                            </li>
                            <li th:each="item,idx : ${preList}">
                                <div class="no"
                                     th:text="${preList.totalElements - preList.pageable.pageSize * preList.pageable.pageNumber - idx.index}">
                                </div>
                                <div class="state">
                                    <a th:href="|/pages/application/preeducationDetail/${item.id}|" th:text="${item.nm}">00초등학교</a>
                                </div>
                                <div class="state" th:text="${item.moblphon != '' ? item.moblphon : '전화 없음'}"></div>
                                <div class="state" th:text="${item.email != '' ? item.email : '이메일 없음'}"></div>
                                <div class="date">
                                    <span class="th">신청일 : </span>
                                    <th:block
                                            th:text="${#temporals.format(item.regDtm,'yyyy-MM-dd')}"></th:block>
                                </div>
                                <div class="date">
                                    <a href="javascript:;" onclick="fn_openLayer();" class="btn btn_lg btn_blue btn_pill_10">승인</a>
                                </div>
                            </li>
                        </ul>
                        <th:block
                                th:replace="/fragments/paging :: pagingbody(list=${preList}, link='/pages/myPage/insWorkPreEduList', formId='form1')"></th:block>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <th:block th:replace="fragments/footer"></th:block>
</div>
</body>
</html>
