<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header"></th:block>
    <script type="text/javascript">
        function fn_moveDetail(areaNm, schlNm, grade, ban, teacherNm) {
            //alert("준비중입니다.");
            $('#areaNm').val(areaNm);
            $('#schlNm').val(schlNm);
            $('#grade').val(grade);
            $('#ban').val(ban);
            $('#teacherNm').val(teacherNm);

            var frm = $('#form1');
            frm.prop('action', '/pages/myPage/peerStatusDetail');
            frm.submit();
        }
    </script>
</head>
<body oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>
<div id="wrap">
    <th:block th:include="fragments/header_gnb"></th:block>
    <div id="container">
        <th:block th:include="fragments/snb"></th:block>
        <form id="form1" name="form1" method="post">
            <input type="hidden" name="areaNm" id="areaNm" />
            <input type="hidden" name="schlNm" id="schlNm" />
            <input type="hidden" name="grade" id="grade" />
            <input type="hidden" name="ban" id="ban" />
            <input type="hidden" name="teacherNm" id="teacherNm" />

            <div class="contents">
                <div class="page_top">
                    <h3 class="page_tit">또래지명</h3>
                    <!--<span>회원정보를 최신정보로 관리해주세요. <br class="mo" />새로운 푸코소식과 보안을 위해 회원정보를 최신으로 업데이트 해주세요.</span>-->
                </div>
                <div class="page_cont my_learning">
                    <ul class="learn_list">
                        <li class="nodata" th:if="${memberTeacherLogDtoList == null or memberTeacherLogDtoList.isEmpty()}">
                            <div>등록된 데이터가 없습니다.</div>
                        </li>
                        <li th:each="item,idx : ${memberTeacherLogDtoList}">
                            <dl>
                                <dt th:text="|${item.schlNm} ${item.grade}학년 ${item.ban}반|">길동초등학교 1학년 5반</dt>
                                <dd>
                                    <p>총인원 <th:block th:text="${item.studentCnt}"></th:block>명</p>
                                    <a href="javascript:;" th:onclick="fn_moveDetail([[${item.areaNm}]], [[${item.schlNm}]], [[${item.grade}]], [[${item.ban}]], [[${item.nm}]])" class="btn btn_lg btn_blue btn_pill_10">또래지명 바로가기</a>
                                </dd>
                            </dl>
                        </li>
                        <!--<li>
                            <dl>
                                <dt>길동초등학교 1학년 5반</dt>
                                <dd>
                                    <p>총인원 25명</p>
                                    <a href="/pages/myPage/learningStatusDetail" class="btn btn_lg btn_blue btn_pill_10">학습현황 바로가기</a>
                                </dd>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dt>길동초등학교 1학년 5반</dt>
                                <dd>
                                    <p>총인원 25명</p>
                                    <a href="/pages/myPage/learningStatusDetail" class="btn btn_lg btn_blue btn_pill_10">학습현황 바로가기</a>
                                </dd>
                            </dl>
                        </li>-->
                    </ul>
                </div>
            </div>
        </form>
    </div>
    <th:block th:replace="fragments/footer"></th:block>
</div>
</body>
</html>
