<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header"></th:block>
    <script>
        $(function(){
            characSize();
            $(window).resize(function(){
                characSize();
            });

            $("#pwd").keydown(function(key) {
                if (key.keyCode == 13) {
                    //fn_moveDetail();
                    fn_checkPw();
                }
            });
        });

        function characSize(){
            var winW = $(window).width();

            if(winW > 1023){
                var characH = $('.sec_write.info > .tbl_write').outerHeight();
                $('.my_character').css({'height':characH});
            }else{
                $('.my_character').removeAttr('style');
            }
        }

        function fn_checkPw() {
            var pwd = $('#pwd').val();
            var jsonData = {
                'pwd': pwd
            }
            $.ajax({
                type: 'post',
                url: '/api/profile/checkPwd',
                contentType: "application/json",
                data: JSON.stringify(jsonData),
                datatype: 'text',
                success: function (data) {
                    if (data === 'ok') {
                        fn_moveDetail();
                    } else {
                        alert('비밀번호가 다릅니다.');
                        $('#pwd').val('');
                        $('#pwd').focus();
                    }
                },
                error: function (error) {
                    //alert('save error!!!');
                    alert('error::' + error.statusText);
                }
            });
        }

        function fn_moveDetail() {
            var frm = $('#form2');
            frm.prop("action", "/pages/myPage/profileRegister");
            frm.submit();
        }

        function fn_openLayer() {
            $('#pwd').val('');
            layerShow('popPw');
            $('#pwd').focus();
        }
    </script>
</head>
<body oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>
<div id="wrap">
    <th:block th:include="fragments/header_gnb"></th:block>
    <div id="container">
        <th:block th:include="fragments/mo_menu"></th:block>
        <div class="sub_container">
            <th:block th:include="fragments/dept_menu"></th:block>
        <form id="form1" name="form1" method="post" th:object="${form}">
            <div class="inner">
                <div class="page_cont">
                    <div class="page_top">
                        <h3 class="page_tit">계정정보</h3>
                        <span>회원정보를 최신정보로 관리해주세요. <br class="mo" />새로운 푸코소식과 보안을 위해 회원정보를<b></b> 최신으로 업데이트 해주세요.</span>
                    </div>
                    <div class="page_cont my_profile_2">
                        <div class="profile_inner">
                            <div class="my_info">
                                <h3>회원기본정보</h3>
                                <div class="my_info_item">
                                    <table>
                                        <tr>
                                            <td>이름</td>
                                            <td>홍길동</td>
                                        </tr>
                                        <tr>
                                            <td>아이디</td>
                                            <td>Pky2032</td>
                                        </tr>
                                        <tr>
                                            <td>생년월일</td>
                                            <td>20100123</td>
                                        </tr>
                                        <tr>
                                            <td>성별</td>
                                            <td>여</td>
                                        </tr>
                                        <tr>
                                            <td>이메일주소</td>
                                            <td>pky2032@gmail.net</td>
                                        </tr>
                                        <tr>
                                            <td>휴대전화</td>
                                            <td>01022452032</td>
                                        </tr>
                                        <tr>
                                            <td>닉네임</td>
                                            <td>푸코님</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="my_charact">
                                <h3>나의캐릭터</h3>
                                <div class="my_card">
                                    <div class="my_character">
                                        <img src="/ClientUI/user/images/contents/character/level01.png" alt="">
                                    </div>
                                    <div class="my_character_info">
                                            <span>
                                                캐릭터 레벨 <small>LV.1알</small>
                                            </span>
                                        <a class="levelup_btn" href="#none">레벨업 가이드</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn_area btn_info">
                        <a href="javascript:;" onclick="fn_openLayer();" class="btn">수정</a>
                        <!-- <a href="/pages/myPage/batchManagement" class="btn btn_lg btn_blue btn_pill_10">일괄관리</a> -->
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:replace="fragments/footer"></th:block>
</div>
<div id="popPw" class="layer_popup">
    <form id="form2" name="form2" method="post">
        <div class="dim"></div>
        <div class="popup_area">
            <a href="javascript:layerHide('popPw')" class="btn_close"><span class="blind">팝업닫기</span></a>
            <div class="popup">
                <input type="text" style="display: none"/>
                <div class="pop_txt"><label for="pwd">비밀번호를 입력해 주세요.</label></div>
                <div class="inp_pw"><input type="password" id="pwd" name="pwd" /></div>
                <div class="btn_area">
                    <a href="javascript:;" onclick="fn_checkPw()" class="btn btn_lg btn_blue btn_pill_10">확인</a>
                </div>
            </div>
        </div>
    </form>
</div>
</div>
</body>
</html>
