<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header"></th:block>
    <script>
        var year;
        var month;
        var day;
        var brthday;
        var email;
        var email01;
        var email02;
        var email03;



        $(function () {

            characSize();
            appendYear();

            $(window).resize(function () {
                characSize();
            });

            //자식삭제
            /*$('.list_type01 > li').each(function(){
                if(!$(this).hasClass('add')){
                    $(this).find('.btn').on('click', function(){
                        $(this).parent('li').remove()
                    })
                }
            })*/
        });

        function appendYear() {
            var date = new Date();
            var crrntYear = date.getFullYear();
            year = $("#year");
            year.append("<option value=''>선택</option>");
            // 올해 기준으로 -1년부터 -70년을 보여준다.
            for (var y = (crrntYear - 1); (crrntYear - 70) <= y; y--) {
                year.append("<option value='" + y + "'>" + y + "년" + "</option>");
            }

            prtctorYear = $("#prtctorYear");
            prtctorYear.append("<option value=''>선택</option>");
            // 올해 기준으로 -1년부터 -70년을 보여준다.
            for (var y = (crrntYear - 1); (crrntYear - 70) <= y; y--) {
                prtctorYear.append("<option value='" + y + "'>" + y + "년" + "</option>");
            }
        }

        function fn_memberRemove() {
            if (!confirm("회원탈퇴시 연결된 모든 정보가 사라질 수 있습니다.\n 회원을 탈퇴하시겠습니까?")) {
                return false;
            }

            var frm = $('#form1');

            frm.prop('action', '/api/myPage/memberRemove');
            frm.submit();
        }

        //자녀찾기 버튼 클릭
        function fn_searchChild() {
            var areaNm = $('#childSrchAreaNm').val();
            var schlNm = $('#childSrchSchlNm').val();
            var grade = $('#gradeChildren').val();
            var ban = $('#banChildren').val();
            var no = $('#noChildren').val();

            if (!schlNm) {
                alert('학교를 선택하세요.');
                return;
            }
            if (!grade) {
                alert('학년을 선택하세요.');
                return;
            }
            if (!ban) {
                alert('반을 선택하세요.');
                return;
            }
            if (!no) {
                alert('번호를 입력하세요.');
                return;
            }

            var jsonData = {
                'areaNm': areaNm,
                'schlNm': schlNm,
                'grade': grade,
                'ban': ban,
                'no': no
            }
            $.ajax({
                type: 'post',
                url: '/api/myPage/srchChild',
                contentType: "application/json",
                data: JSON.stringify(jsonData),
                datatype: 'json',
                success: function (data) {
                    var html = '';
                    if (data != '') {
                        html += '<div class="checkbox txt">' +
                            '<input type="checkbox" name="nameChildren" id="nameChildren' + data.mberPid + '" value="' + data.mberPid + '" />' +
                            '<label for="nameChildren' + data.mberPid + '">' + data.mberNm + '</label></div>' +
                            '<input type="hidden" name="childLonginId" id="childLonginId' + data.mberPid + '" value="' + data.mberLoginId + '" />' +
                            '<input type="hidden" name="childNm" id="childNm' + data.mberPid + '" value="' + data.mberNm + '" />' +
                            '<input type="hidden" name="childSchool" id="childSchool' + data.mberPid + '" value="' + data.schlNm + '" />' +
                            '<input type="hidden" name="childGrade" id="childGrade' + data.mberPid + '" value="' + data.grade + '" />' +
                            '<input type="hidden" name="childBan" id="childBan' + data.mberPid + '" value="' + data.ban + '" />' +
                            '<input type="hidden" name="childNo" id="childNo' + data.mberPid + '" value="' + data.no + '" />';
                    } else {
                        html += '<div class="checkbox txt">조회된 정보가 없습니다.</div>'
                    }
                    $('.children_name').html(html);
                },
                error: function (error) {
                    //alert('save error!!!');
                    alert('error::' + error.statusText);
                }
            });
        }

        //검색된 자녀 선택후 추가버튼 클릭
        function fn_selSchlChildNm() {
            var selectChk = $('input:checkbox[name=nameChildren]:checked');
            if (selectChk.length < 1) {
                alert('자녀를 선택하세요.');
                return;
            }
            var mberPid = selectChk.val();
            var id = $('#nameChildren' + mberPid).val();
            var loginId = $('#childLonginId' + mberPid).val();
            var nm = $('#childNm' + mberPid).val();
            var schlNm = $('#childSchool' + mberPid).val();
            var grade = $('#childGrade' + mberPid).val();
            var ban = $('#childBan' + mberPid).val();
            var no = $('#childNo' + mberPid).val();

            var html = '<li id="child_' + id + '">' +
                '<input type="hidden" name="childIdArr" value="' + loginId + '" />' +
                '<p>' + nm + ' ' + schlNm + ' ' + grade + '학년 ' + ban + '반 ' + no + '번 ' + '</p>' +
                '<a href="javascript:;" class="btn btn_lg btn_line_blue btn_pill_10" onclick="fn_deleteChild(' + id + ')">삭제</a>' +
                '</li>';
            $('.add').before(html);

            layerHide('popSchool');
        }

        function fn_setChildSrchGradeBan(chkSchlVal) {

            //areaNm = $('#areaNm');
            //schlNm = $('#schlNm');
            var sd_schul_code = chkSchlVal; //학교코드
            var lctn_sc_nm = $('input:hidden[name=' + 'lctn_sc_nm' + chkSchlVal + ']').val(); //지역
            var schul_nm = $('input:hidden[name=' + 'schul_nm' + chkSchlVal + ']').val(); //학교명
            var atpt_ofcdc_sc_code = $('input:hidden[name=' + 'atpt_ofcdc_sc_code' + chkSchlVal + ']').val();
            ; //교육청코드

            $('#childSrchAreaNm').val(lctn_sc_nm);
            $('#childSrchSchlNm').val(schul_nm);

            fn_setGrade(atpt_ofcdc_sc_code, sd_schul_code);

        }

        function fn_deleteChild(id) {
            /*if (!confirm("자식을 삭제하시겠습니까?")) {
                return false;
            }*/
            $('#child_' + id).remove();
        }

        function characSize() {
            var winW = $(window).width();

            if (winW > 1023) {
                var characH = $('.sec_write.info > .tbl_write').outerHeight()
                $('.my_character').css({'height': characH})
            } else {
                $('.my_character').removeAttr('style')
            }
        }

        function fn_setBan(grd) {
            grade = $('#grade');
            ban = $('#ban');
            banChildren = $('#banChildren');
            ban.empty();
            banChildren.empty();

            if (!grd) {
                alert('학년을 선택해주세요.');
                grade.focus();
                return;
            }

            var html = "<option value=\"\">선택</option>";
            ban.append(html);

            var banArr = _.where(classInfoArr, {GRADE: grd});
            banArr = _.uniq(banArr, 'CLASS_NM');
            banArr = _.sortBy(banArr, function (item) {
                return item;
            });
            for (var i = 0; i < banArr.length; i++) {
                var grd = banArr[i].CLASS_NM; //반
                html = "<option value=" + grd + ">" + grd + "반</option>";
                ban.append(html);
                banChildren.append(html);
            }
            $("label[for='ban']").text('선택');
            ban.val("");
            $("label[for='banChildren']").text('선택');
            banChildren.val("");
        }

        function fn_setTeacher() {
            var areaNm = $('#areaNm').val();
            var schlNm = $('#schlNm').val();
            var grade = $('#grade').val();
            var ban = $('#ban').val();

            var jsonData = {
                'areaNm': areaNm,
                'schlNm': schlNm,
                'grade': grade,
                'ban': ban
            };
            $.ajax({
                type: 'post',
                url: '/api/myPage/srchTeacher',
                contentType: "application/json",
                data: JSON.stringify(jsonData),
                datatype: 'json',
                success: function (data) {
                    if (data != '') {
                        $('#teacherNm').val(data.mberNm);
                    }
                },
                error: function (error) {
                    //alert('save error!!!');
                    alert('error::' + error.statusText);
                }
            });
        }

        function fn_srchSchlNm() {
            srchSchlNm = $('#srchSchlNm');
            if (!$.trim(srchSchlNm.val())) {
                alert('학교명을 입력하세요');
                srchSchlNm.focus();
                return false;
            }

            $.ajax({
                type: "GET",
                url: "/api/openData/schoolInfoToJson",
                dataType: "json",
                data: {
                    "scName": srchSchlNm.val()
                },
                success: function (data) {
                    var code = data.schoolInfo[0].head[1].RESULT.CODE;
                    var message = data.schoolInfo[0].head[1].RESULT.MESSAGE;
                    if (code != 'INFO-000') { //실패
                        alert(message);
                    } else { //성공
                        var html = "";
                        $('#srchSchlNmList').empty();
                        var scArr = data.schoolInfo[1].row;
                        for (var i = 0; i < scArr.length; i++) {
                            var lctn_sc_nm = scArr[i].LCTN_SC_NM; //지역
                            var schul_nm = scArr[i].SCHUL_NM; //학교명
                            var sd_schul_code = scArr[i].SD_SCHUL_CODE; //학교코드
                            var atpt_ofcdc_sc_code = scArr[i].ATPT_OFCDC_SC_CODE; //교육청코드

                            html += "<div class=\"radio txt\">";
                            html += "   <input type=\"radio\" name=\"school\" id=\"school" + sd_schul_code + "\" value=\"" + sd_schul_code + "\">";
                            html += "   <label for=\"school" + sd_schul_code + "\" onclick='fn_setChildSrchGradeBan(" + sd_schul_code + ")'>" + schul_nm + "(" + lctn_sc_nm + ")" + "</label>";
                            html += "   <input type=\"hidden\" name=\"lctn_sc_nm" + sd_schul_code + "\" id=\"" + lctn_sc_nm + "\" value=\"" + lctn_sc_nm + "\">";
                            html += "   <input type=\"hidden\" name=\"atpt_ofcdc_sc_code" + sd_schul_code + "\" id=\"" + atpt_ofcdc_sc_code + "\" value=\"" + atpt_ofcdc_sc_code + "\">";
                            html += "   <input type=\"hidden\" name=\"schul_nm" + sd_schul_code + "\" id=\"" + schul_nm + "\" value=\"" + schul_nm + "\">";
                            html += "</div>";
                        }
                        $('#nodata').hide();
                        $('#srchSchlNmList').append(html);
                    }
                },
                error: function (error) {
                    alert(error.responseText);
                    $('#srchSchlNmList').append('');
                    $('#nodata').show();
                }
            });
        }

        //적용버튼 눌렀을때
        function fn_selSchlNm() {
            srchSchlNm = $('#srchSchlNm');
            var chkSchl = $('input:radio[name=school]:checked');
            if (chkSchl.length < 1) {
                alert('학교를 선택해주세요.');
                return;
            }
            areaNm = $('#areaNm');
            schlNm = $('#schlNm');

            var sd_schul_code = chkSchl.val(); //학교코드
            var lctn_sc_nm = $('input:hidden[name=' + 'lctn_sc_nm' + chkSchl.val() + ']').val(); //지역
            var schul_nm = $('input:hidden[name=' + 'schul_nm' + chkSchl.val() + ']').val(); //학교명
            var atpt_ofcdc_sc_code = $('input:hidden[name=' + 'atpt_ofcdc_sc_code' + chkSchl.val() + ']').val();
            ; //교육청코드

            areaNm.val(lctn_sc_nm);
            schlNm.val(schul_nm);

            fn_setGrade(atpt_ofcdc_sc_code, sd_schul_code);

            srchSchlNm.val('');
            $('#nodata').show();
            $('#srchSchlNmList').empty();
            layerHide('popSchool');
        }

        function fn_setGrade(ofCode, scCode) {
            grade = $('#grade');
            gradeChildren = $('#gradeChildren');
            grade.empty();
            gradeChildren.empty();
            if (ofCode && scCode) {
                $.ajax({
                    type: "GET",
                    url: "/api/openData/classInfoToJson",
                    dataType: "json",
                    data: {
                        "ofCode": ofCode,
                        "scCode": scCode
                    },
                    success: function (data) {
                        var code = data.classInfo[0].head[1].RESULT.CODE;
                        var message = data.classInfo[0].head[1].RESULT.MESSAGE;
                        if (code != 'INFO-000') { //실패
                            alert(message);
                        } else { //성공
                            var html = "<option value=\"\">선택</option>";

                            grade.append(html);
                            gradeChildren.append(html);
                            classInfoArr = data.classInfo[1].row;

                            var gradeArr = _.uniq(classInfoArr, 'GRADE')
                            gradeArr = _.sortBy(gradeArr, function (item) {
                                return item;
                            });
                            for (var i = 0; i < gradeArr.length; i++) {
                                var grd = gradeArr[i].GRADE; //학년
                                html = "<option value=" + grd + ">" + grd + "학년</option>";
                                grade.append(html);
                                gradeChildren.append(html);
                            }
                        }
                    },
                    error: function (error) {
                        alert(error.responseText);
                    }
                });
            }
            $("label[for='grade']").text('선택');
            grade.val("");
            gradeChildren.val("");
        }

        function fn_modify() {
            var pwdChangeYn = $('#pwdChangeYn').val();

            if (pwdChangeYn == 'Y') {
                if (!fn_chkPwdDup()) {
                    return false;
                }
            }

            if (!fn_chkField()) {
                return false;
            }

            var frm = $('#form1');

            frm.prop('action', '/api/myPage/profileModify');
            frm.submit();
        }

        function fn_chkPwdDup() {
            var pwd = $("#pwd");
            var pwdChk = $('#pwdChk');
            pwd.siblings('.err.emph').remove();
            if (!$.trim(pwd.val())) {
                //alert('비밀번호를 입력하세요');
                pwd.after('<p class="err emph">비밀번호는 필수 값입니다.</p>');
                pwd.focus();
                return false;
            } else {
                if (!pwdCheck(pwd)) {
                    pwd.val("");
                    pwd.focus();
                    return false;
                }
            }

            pwdChk.siblings('.err.emph').remove();
            if (!$.trim(pwdChk.val())) {
                //alert('비밀번호 확인을 입력하세요');
                pwdChk.after('<p class="err emph">비밀번호 확인은 필수 값입니다.</p>');
                pwdChk.focus();
                return false;
            } else {
                if (!pwdCheck(pwdChk)) {
                    pwdChk.val("");
                    pwdChk.focus();
                    return false;
                }
            }

            if (pwd.val() != pwdChk.val()) {
                //alert('비밀번호가 일치하지 않습니다.');
                pwdChk.after('<p class="err emph">비밀번호가 일치하지 않습니다.</p>');
                pwdChk.focus();
                return false;
            } else {
                return true;
            }
        }

        function fn_chkField() {
            var moblphon = $('#moblphon');
            var brthdyStr = "";
            brthdy = $("#brthdy");
            year = $("#year");
            month = $("#month");
            day = $("#day");

            if ($.trim(year.val())) {
                brthdyStr += $.trim(year.val());
            }else{
                alert('출생년도를 입력하세요');
                brthdy.after('<p class="err emph">생년월일은 필수 값입니다.</p>');
                year.focus();
                return false;
            }

            if ($.trim(month.val())) {
                brthdyStr += $.trim(month.val());
            }else{
                alert('생년월일을 선택하세요');
                brthdy.after('<p class="err emph">생년월일은 필수 값입니다.</p>');g
                month.focus();
                return false;
            }

            if ($.trim(day.val())) {
                brthdyStr += $.trim(day.val());
            }else{
                alert('생년월일을 선택하세요');
                brthdy.after('<p class="err emph">생년월일은 필수 값입니다.</p>');
                day.focus();
                return false;
            }

            brthdy.val(brthdyStr);

            if($('input[name=sexPrTy]:checked').length < 1){
                alert('성별을 선택하세요');
                $('#sexPrTy').after('<p class="err emph">성별은 필수 값입니다.</p>');
                sexPrTy.focus();
                return false;
            }

            /*if (!moblphon.val()) {
                moblphon.after('<p class="err emph">휴대전화번호는 필수 값입니다.</p>');
                moblphon.focus();
                return false;
            } */else {
                return true;
            }
        }

        function fn_chkEmailDupAndAuth() {
            var emailStr = "";
            email = $("#email");
            email01 = $("#email01");
            email02 = $("#email02");
            email03 = $("#email03");
            email.siblings('.err.emph').remove();
            if ($.trim(email01.val())) {
                emailStr += $.trim(email01.val());
                emailStr += "@"
            } else {
                alert('이메일을 입력하세요');
                email01.focus();
                return false;
            }

            if ($.trim(email02.val()) != "직접입력") {
                if (!$.trim(email02.val())) {
                    alert('이메일을 입력하세요');
                    email02.focus();
                    return false;
                } else {
                    emailStr += $.trim(email02.val());
                }
            }

            if ($.trim(email02.val()) == "직접입력") {
                if (!$.trim(email03.val())) {
                    alert('이메일을 입력하세요');
                    email03.focus();
                    return false;
                } else {
                    emailStr += $.trim(email03.val());
                }
            }

            email.val(emailStr);
            if (email.val()) {
                if (!emailCheck(email)) {
                    email.val("");
                    email01.focus();
                    emailDupBool = false;
                }
            }

            $.ajax({
                type: "POST",
                url: "/api/member/isExistsByEmail",
                data: {
                    "email": email.val()
                },
                success: function (data) {
                    if (email.val() != '') {
                        alert('등록 가능한 이메일 입니다.');
                        emailDupBool = true;
                        email01.props("disabled", true);
                        email02.props("disabled", true);
                        email03.props("disabled", true);
                    }
                },
                error: function (error) {
                    alert(error.responseText);
                    emailDupBool = false;
                    email.val('');
                    email01.val('');
                    email02.val('');
                    email03.val('');
                    email01.focus();
                }
            });
        }

        function fn_pwdChange(gbn) {
            if (gbn == 'Y') {
                $('#btnPwdChgY').hide();
                $('#btnPwdChgN').show();
                $('#pwdChg').show();
                $('#pwdChangeYn').val(gbn);
            } else {
                $('#btnPwdChgY').show();
                $('#btnPwdChgN').hide();
                $('#pwdChg').hide();
                $('#pwdChangeYn').val(gbn);
            }
        }
    </script>
</head>
<body oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>
<div id="wrap">
    <th:block th:include="fragments/header_gnb"></th:block>
    <div id="container">
        <th:block th:include="fragments/mo_menu"></th:block>
        <div class="sub_container">
            <th:block th:include="fragments/dept_menu"></th:block>
            <form id="form1" name="form1" method="post" th:object="${form}">

                <div class="contents">
                    <div class="page_top">
                        <h3 class="page_tit">계정정보</h3>
                        <span>회원정보를 최신정보로 관리해주세요. <br class="mo"/>새로운 푸코소식과 보안을 위해 회원정보를 최신으로 업데이트 해주세요.</span>
                    </div>
                    <div class="page_cont my_profile ">
                        <div class="sec_write_area clearfix">
                            <div class="sec_write info">
                                <h4 class="subtit">회원 기본정보</h4>
                                <input type="hidden" th:field="*{id}">
                                <input type="hidden" th:field="*{mberDvTy}">
                                <div class="tbl_write contour info_bx">
                                    <ul>
                                        <li>
                                            <div class="th">이름</div>
                                            <div class="td">
                                                <input th:field="*{nm}"></input>
                                            </div>
                                            <!--<input type="hidden" th:field="*{nm}">-->
                                        </li>
                                        <li>
                                            <div class="th">아이디</div>
                                            <div class="td td_txt" th:text="*{loginId}">hong</div>
                                        </li>
                                        <li>
                                            <div class="th"><label for="pwd">비밀번호</label></div>
                                            <div class="td">
                                                <button type="button" id="btnPwdChgY"
                                                        class="btn btn_lg btn_line_blue btn_pill_10"
                                                        onclick="return fn_pwdChange('Y')">비밀번호변경
                                                </button>
                                                <button type="button" id="btnPwdChgN" style="display: none"
                                                        class="btn btn_lg btn_line_blue btn_pill_10"
                                                        onclick="return fn_pwdChange('N')">비밀번호변경취소
                                                </button>
                                            </div>
                                        </li>
                                        <li class="years_inner col">
                                            <div class="th">생년월일</div>
                                            <!--<th:block th:if="*{brthdy ne null}">
                                                <div class="td">
                                                    <input name="brthdy" th:placeholder="*b{rthdy}" th:value="*{brthdy}"/>
                                                </div>
                                            </th:block>-->
                                            <!--<th:block th:if="*{brthdy eq null}">-->
                                                <div class="td col">
                                                    <div class="birth_form clearfix">
                                                        <div class="select">
                                                            <label for="year">선택</label>
                                                            <select name="year" id="year">
                                                            </select>
                                                        </div>
                                                        <div class="select">
                                                            <label for="month">선택</label>
                                                            <select name="month" id="month">
                                                                <option value="">선택</option>
                                                                <option value="01">1월</option>
                                                                <option value="02">2월</option>
                                                                <option value="03">3월</option>
                                                                <option value="04">4월</option>
                                                                <option value="05">5월</option>
                                                                <option value="06">6월</option>
                                                                <option value="07">7월</option>
                                                                <option value="08">8월</option>
                                                                <option value="09">9월</option>
                                                                <option value="10">10월</option>
                                                                <option value="11">11월</option>
                                                                <option value="12">12월</option>
                                                            </select>
                                                        </div>
                                                        <div class="select">
                                                            <label for="day">선택</label>
                                                            <select name="day" id="day">
                                                                <option value="">선택</option>
                                                                <option value="01">1일</option>
                                                                <option value="02">2일</option>
                                                                <option value="03">3일</option>
                                                                <option value="04">4일</option>
                                                                <option value="05">5일</option>
                                                                <option value="06">6일</option>
                                                                <option value="07">7일</option>
                                                                <option value="08">8일</option>
                                                                <option value="09">9일</option>
                                                                <option value="10">10일</option>
                                                                <option value="11">11일</option>
                                                                <option value="12">12일</option>
                                                                <option value="13">13일</option>
                                                                <option value="14">14일</option>
                                                                <option value="15">15일</option>
                                                                <option value="16">16일</option>
                                                                <option value="17">17일</option>
                                                                <option value="18">18일</option>
                                                                <option value="19">19일</option>
                                                                <option value="20">20일</option>
                                                                <option value="21">21일</option>
                                                                <option value="22">22일</option>
                                                                <option value="23">23일</option>
                                                                <option value="24">24일</option>
                                                                <option value="25">25일</option>
                                                                <option value="26">26일</option>
                                                                <option value="27">27일</option>
                                                                <option value="28">28일</option>
                                                                <option value="29">29일</option>
                                                                <option value="30">30일</option>
                                                                <option value="31">31일</option>
                                                            </select>
                                                        </div>
                                                        <input type="hidden" name="brthdy" id="brthdy"/>
                                                    </div>
                                                </div>
                                            <!--</th:block>-->
                                        </li>
                                        <li>
                                            <div class="th">성별</div>
                                            <div class="td td_txt">
                                                <div class="register_radio">
                                                    <input type="radio" id="sexPrTyMALE" name="sexPrTy" value="MALE" checked>
                                                    <label for="sexPrTyMALE">남자</label>
                                                </div>
                                                <div class="register_radio">
                                                    <input type="radio" id="sexPrTyFEMALE" name="sexPrTy" value="FEMALE">
                                                    <label for="sexPrTyFEMALE">여자</label>
                                                </div>
                                                <!--<th:block th:each="tp : ${T(kr.or.btf.web.domain.web.enums.GenderType).values()}">
                                                    <th:block th:if="${form.sexPrTy eq tp.name()}" th:text="${tp.getName()}"></th:block>
                                                </th:block>-->
                                            </div>
                                        </li>
                                        <li>
                                            <div class="th">이메일 주소</div>
                                            <div class="td">
                                                <div class="email_form clearfix">
                                                    <!-- [D] active 클래스가 있어야 직접입력 인풋이 노출 됨(style.js 에 들어가 있음) -->
                                                    <input type="text" name="email01" id="email01" title="이메일 아이디 입력" th:value="*{#strings.substringBefore(email, '@')}"/>
                                                    <span class="at">@</span>
                                                    <div class="select">
                                                        <label for="email02" th:text="*{#strings.substringAfter(email, '@')}">선택</label>
                                                        <select name="email02" id="email02" th:value="*{#strings.substringAfter(email, '@')}">
                                                            <option value="">선택</option>
                                                            <option value="naver.com">naver.com</option>
                                                            <option value="gmail.com">gmail.com</option>
                                                            <option value="hanmail.net">hanmail.net</option>
                                                            <option value="nate.com">nate.com</option>
                                                            <option value="daum.net">daum.net</option>
                                                            <option value="직접입력">직접입력</option>
                                                        </select>
                                                    </div>
                                                    <input type="text" name="email03" id="email03" class="email_inp"
                                                           title="이메일주소 직접입력"/>
                                                    <input type="hidden" name="email" id="email"/>
                                                    <button type="button" class="btn btn_lg btn_line_blue btn_pill_10"
                                                            onclick="return fn_chkEmailDupAndAuth()">중복확인
                                                    </button>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="th">휴대전화</div>
                                            <div class="td"><input type="text" id="moblphon" name="moblphon"
                                                                   placeholder="'-' 구분없이 입력 ex)01012345678"
                                                                   th:value="*{moblphon}"/><br>
                                                <span class="info_more"> 개인정보 입력하는 칸에 휴대전화와 이메일은 비밀번호 찾기에 활용됩니다.<br>   미기입시, 비밀번호 찾기 기능 사용이 제한됩니다.</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="th">닉네임</div>
                                            <div class="td">
                                                <input th:field="*{ncnm}"/>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="sec_write character">
                                <h4 class="subtit">나의 캐릭터</h4>
                                <div class="my_character">
                                    <dl class="level lv01">
                                        <!-- TODO : 레벨 1~ 레벨 35까지 프로필 캐릭터 변경됨. (각 추가 클래스명 lv01 ~ lv35) -->
                                        <dt>캐릭터 레벨</dt>
                                        <dd>
                                            <b class="txt_lv">LV.01</b>
                                            <a href="/pages/blueElephant/character#guide"
                                               class="btn btn_lg btn_blue btn_pill_10">레벨업 가이드</a>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                        <div class="sec_write info" id="pwdChg" style="display: none">
                            <h4 class="subtit">비밀번호 변경</h4>
                            <div class="tbl_write">
                                <ul>
                                    <li>
                                        <div class="th"><label for="pwd">신규 비밀번호</label></div>
                                        <div class="td">
                                            <input type="hidden" id="pwdChangeYn" name="pwdChangeYn" value=""/>
                                            <input type="password" id="pwd" name="pwd" placeholder="8~16자(특수 문자 포함)"/>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="th"><label for="pwdChk">비밀번호 확인</label></div>
                                        <div class="td">
                                            <input type="password" id="pwdChk" name="pwdChk" placeholder="비밀번호 확인"/>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="sec_write" th:if="${form.mberDvTy eq T(kr.or.btf.web.domain.web.enums.UserRollType).STUDENT or
                    form.mberDvTy eq T(kr.or.btf.web.domain.web.enums.UserRollType).TEACHER}">
                            <h4 class="subtit">추가정보</h4>
                            <div class="tbl_write">
                                <ul>
                                    <li>
                                        <div class="th"><label for="areaNm">지역명</label></div>
                                        <div class="td"><input type="text" id="areaNm" name="areaNm"
                                                               th:value="${school.areaNm}" readonly
                                                               onclick="layerShow('popSchool')"/></div>
                                    </li>
                                    <li>
                                        <div class="th"><label for="schlNm">학교명</label></div>
                                        <div class="td">
                                            <input type="text" id="schlNm" name="schlNm" readonly
                                                   th:value="${school.schlNm}" onclick="layerShow('popSchool')"/>
                                            <button type="button" class="btn btn_lg btn_line_blue btn_pill_10"
                                                    onclick="layerShow('popSchool')">학교검색
                                            </button>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="th">학년</div>
                                        <div class="td">
                                            <div>
                                                <div class="select w180">
                                                    <label for="grade" th:text="|${school.grade}학년|">3학년</label>
                                                    <select id="grade" name="grade" th:value="${school.grade}"
                                                            onchange="return fn_setBan(this.value);">
                                                        <option th:value="${school.grade}"
                                                                th:text="|${school.grade}학년|">선택
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="th">반</div>
                                        <div class="td">
                                            <div>
                                                <div class="select w180">
                                                    <label for="ban" th:text="|${school.ban}반|">10반</label>
                                                    <select id="ban" name="ban" th:value="${school.ban}"
                                                            onchange="return fn_setTeacher(this.value);">
                                                        <option th:value="${school.ban}" th:text="|${school.ban}반|">선택
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li th:if="${form.mberDvTy eq T(kr.or.btf.web.domain.web.enums.UserRollType).STUDENT}">
                                        <!--학생일경우만 노출-->
                                        <div class="th"><label for="no">번호</label></div>
                                        <div class="td"><input type="number" id="no" name="no" th:value="${school.no}"
                                                               onchange="stdntNoCheck(this, event)"/></div>
                                    </li>
                                    <li th:if="${form.mberDvTy eq T(kr.or.btf.web.domain.web.enums.UserRollType).STUDENT}">
                                        <!--학생일경우만 노출-->
                                        <div class="th"><label for="teacherNm">담임 선생님</label></div>
                                        <div class="td"><input type="text" id="teacherNm" name="teacherNm"
                                                               th:value="${school.teacherNm}" readonly/></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="sec_write"
                             th:if="${form.mberDvTy eq T(kr.or.btf.web.domain.web.enums.UserRollType).PARENT}">
                            <!--부모일 경우 노출-->
                            <h4 class="subtit">추가정보(자녀 아이디)</h4>
                            <input type="hidden" id="childSrchAreaNm"/>
                            <input type="hidden" id="childSrchSchlNm"/>
                            <ul class="list_type01">
                                <th:block th:each="child,idx : ${childList}">
                                    <li th:id="|child_${child.id}|">
                                        <input type="hidden" name="childIdArr" th:value="|${child.loginId}|"/>
                                        <p th:text="|${child.nm} ${child.schlNm} ${child.grade}학년 ${child.ban}반 ${child.no}번|">
                                            이창근 ○○초등학교 5학년 3반 17번</p>
                                        <a href="javascript:;" class="btn btn_lg btn_line_blue btn_pill_10"
                                           th:onclick="|fn_deleteChild(${child.id})|">삭제</a>
                                    </li>
                                </th:block>
                                <li class="add">
                                    <a href="javascript:;" class="btn btn_lg btn_skyblue btn_pill_10"
                                       onclick="layerShow('popSchool')">추가</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="btn_area btn_num02">
                        <a href="javascript:;" class="btn btn_lg btn_blue btn_pill_10" onclick="fn_modify()">저장</a>
                        <a href="/pages/myPage/profile" class="btn btn_lg btn_line_blue btn_pill_10">이전</a>
                        <a href="javascript:;" class="btn btn_lg btn_line_blue btn_pill_10" onclick="fn_memberRemove()">회원탈퇴</a>
                    </div>
                </div>
            </form>
        </div>
        <th:block th:replace="fragments/footer"></th:block>
    </div>
    <div id="popSchool" class="layer_popup"
         th:classappend="${form.mberDvTy eq T(kr.or.btf.web.domain.web.enums.UserRollType).PARENT ? 'parents_school' : ''}">
        <!-- 부모일 경우 클래스 parents_school 추가-->
        <div class="dim"></div>
        <div class="popup_area">
            <a href="javascript:layerHide('popSchool')" class="btn_close"><span class="blind">팝업닫기</span></a>
            <div class="popup">
                <th:block th:if="${form.mberDvTy eq T(kr.or.btf.web.domain.web.enums.UserRollType).PARENT}">
                    <div class="pop_tit">자녀 검색</div>
                </th:block>
                <th:block th:unless="${form.mberDvTy eq T(kr.or.btf.web.domain.web.enums.UserRollType).PARENT}">
                    <div class="pop_tit">학교 검색</div>
                </th:block>
                <div class="pop_cont">
                    <ul class="write_form mb20">
                        <li>
                            <div class="th">학교명</div>
                            <div class="td">
                                <div class="email_form clearfix">
                                    <input type="text" id="srchSchlNm" name="srchSchlNm" placeholder="학교명을 입력해주세요.">
                                    <button type="button" class="btn btn_lg btn_line_blue btn_pill_10"
                                            onclick="return fn_srchSchlNm();">검색
                                    </button>
                                </div>
                                <ul class="write_form">
                                    <li>
                                        <div class="td">
                                            <div class="scrollbar">
                                                <span class="txt03" id="nodata">- 학교명을 검색해주세요. -</span>
                                                <div id="srchSchlNmList"></div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <!-- 부모일 경우 노출-->
                        <th:block th:if="${form.mberDvTy eq T(kr.or.btf.web.domain.web.enums.UserRollType).PARENT}">
                            <li>
                                <div class="th">학년</div>
                                <div class="td">
                                    <div>
                                        <div class="select w180">
                                            <label for="gradeChildren">선택</label>
                                            <select id="gradeChildren" name="gradeChildren"
                                                    onchange="return fn_setBan(this.value);"/>
                                            <option value="">선택</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="th">반</div>
                                <div class="td">
                                    <div>
                                        <div class="select w180">
                                            <label for="banChildren">선택</label>
                                            <select id="banChildren" name="banChildren">
                                                <option value="">선택</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="th"><label for="noChildren">번호</label></div>
                                <div class="td">
                                    <div class="inp_area">
                                        <input type="number" id="noChildren" name="noChildren"/>
                                        <!--ajax로 자녀찾아와서 밑에있는정보 뿌려주기-->
                                        <button type="button" class="btn btn_lg btn_line_blue btn_pill_10"
                                                onclick="fn_searchChild()">자녀찾기
                                        </button>
                                    </div>
                                </div>
                            </li>
                        </th:block>
                        <!--부모일 경우 노출-->
                    </ul>
                    <!--자녀찾기 후 노출 -->
                    <div class="children_name">

                    </div>
                    <!--자녀찾기 후 노출 -->
                </div>
                <div class="btn_area">
                    <th:block th:if="${form.mberDvTy eq T(kr.or.btf.web.domain.web.enums.UserRollType).PARENT}">
                        <button type="button" class="btn btn_lg btn_blue btn_pill_10"
                                onclick="return fn_selSchlChildNm();">추가
                        </button>
                    </th:block>
                    <th:block th:unless="${form.mberDvTy eq T(kr.or.btf.web.domain.web.enums.UserRollType).PARENT}">
                        <button type="button" class="btn btn_lg btn_blue btn_pill_10" onclick="return fn_selSchlNm();">
                            적용
                        </button>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
