<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/header"></th:block>
    <script>
        $(function(){
            characSize();
            $(window).resize(function(){
                characSize();
            });

            $("#pwd").keydown(function(key) {
                if (key.keyCode == 13) {
                    //fn_moveDetail();
                    fn_checkPw();
                }
            });
        });

        function characSize(){
            var winW = $(window).width();

            if(winW > 1023){
                var characH = $('.sec_write.info > .tbl_write').outerHeight();
                $('.my_character').css({'height':characH});
            }else{
                $('.my_character').removeAttr('style');
            }
        }

        function fn_checkPw() {
            var pwd = $('#pwd').val();
            var jsonData = {
                'pwd': pwd
            }
            $.ajax({
                type: 'post',
                url: '/api/profile/checkPwd',
                contentType: "application/json",
                data: JSON.stringify(jsonData),
                datatype: 'text',
                success: function (data) {
                    if (data === 'ok') {
                        fn_moveDetail();
                    } else {
                        alert('비밀번호가 다릅니다.');
                        $('#pwd').val('');
                        $('#pwd').focus();
                    }
                },
                error: function (error) {
                    //alert('save error!!!');
                    alert('error::' + error.statusText);
                }
            });
        }

        function fn_moveDetail() {
            var frm = $('#form2');
            frm.prop("action", "/pages/myPage/profileRegister");
            frm.submit();
        }

        function fn_openLayer() {
            $('#pwd').val('');
            layerShow('popPw');
            $('#pwd').focus();
        }
    </script>
</head>
<body oncontextmenu='return false' onselectstart='return false' ondragstart='return false'>
<div id="wrap">
    <th:block th:include="fragments/header_gnb"></th:block>
    <div id="container">
        <th:block th:include="fragments/mo_menu"></th:block>
        <div class="sub_container">
            <th:block th:include="fragments/dept_menu"></th:block>
        <form id="form1" name="form1" method="post" th:object="${form}">
            <div class="inner">
                <div class="page_cont">
                    <div class="page_top">
                        <h3 class="page_tit">계정정보</h3>
                        <span>회원정보를 최신정보로 관리해주세요. <br class="mo" />새로운 푸코소식과 보안을 위해 회원정보를<b></b> 최신으로 업데이트 해주세요.</span>
                    </div>
                    <div class="page_cont my_profile_2">
                        <div class="profile_inner">
                            <div class="my_info">
                                <h3>회원 기본정보</h3>
                                <div class="my_info_item">
                                    <table>
                                        <tr>
                                            <td>이름</td>
                                            <td th:text="*{nm}">홍길동</td>
                                        </tr>
                                        <tr>
                                            <td>아이디</td>
                                            <td th:text="*{loginId}">Pky2032</td>
                                        </tr>
                                        <tr>
                                            <td>생년월일</td>
                                            <td th:text="*{brthdy}">20100123</td>
                                        </tr>
                                        <tr>
                                            <td>성별</td>
                                            <th:block th:each="tp : ${T(kr.or.btf.web.domain.web.enums.GenderType).values()}">
                                                <td th:if="${form.sexPrTy eq tp.name()}" th:text="${tp.getName()}"></td>
                                            </th:block>
                                        </tr>
                                        <tr>
                                            <td>이메일주소</td>
                                            <td th:text="*{email}">pky2032@gmail.net</td>
                                        </tr>
                                        <tr>
                                            <td>휴대전화</td>
                                            <td th:text="*{moblphon}">01022452032
                                                <small>
                                                    휴대전화와 이메일은 비밀번호 찾기에 활용됩니다.<br> 미기입시,
                                                    비밀번호 찾기 기능 사용이 제한됩니다.
                                                </small>
                                            </td>
                                        </tr>
                                        <tr class="info">
                                            <td></td>
                                            <td>
                                                <small>
                                                휴대전화와 이메일은 비밀번호 찾기에 활용됩니다.<br> 미기입시,
                                                비밀번호 찾기 기능 사용이 제한됩니다.
                                            </small>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>닉네임</td>
                                            <td th:text="*{ncnm}">푸코님</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="my_charact">
                                <h3>나의캐릭터</h3>
                                <div class="my_card">
                                    <div class="my_character">
                                        <img src="/ClientUI/user/images/contents/character/level01.png" alt="">
                                    </div>
                                    <div class="my_character_info">
                                            <span>
                                                캐릭터 레벨 <small>LV.1알</small>
                                            </span>
                                        <a class="levelup_btn" href="#none">레벨업 가이드</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sec_write my_profile_3" th:if="${form.mberDvTy eq T(kr.or.btf.web.domain.web.enums.UserRollType).STUDENT or
                    form.mberDvTy eq T(kr.or.btf.web.domain.web.enums.UserRollType).TEACHER}">
                        <h4 class="subtit">추가정보</h4>
                        <div class="tbl_write">
                            <ul>
                                <li>
                                    <div class="th">지역명</div>
                                    <div class="td td_txt" th:text="${school.areaNm}">서울</div>
                                </li>
                                <li>
                                    <div class="th">학교명</div>
                                    <div class="td td_txt" th:text="${school.schlNm}">서초중학교</div>
                                </li>
                                <li>
                                    <div class="th">학년</div>
                                    <div class="td td_txt" th:text="${school.grade}">3학년</div>
                                </li>
                                <li>
                                    <div class="th">반</div>
                                    <div class="td td_txt" th:text="${school.ban}">8반</div>
                                </li>
                                <li th:if="${form.mberDvTy eq T(kr.or.btf.web.domain.web.enums.UserRollType).STUDENT}"> <!--학생일경우만 노출-->
                                    <div class="th">번호</div>
                                    <div class="td td_txt" th:text="${school.no}">20번</div>
                                </li>
                                <li th:if="${form.mberDvTy eq T(kr.or.btf.web.domain.web.enums.UserRollType).STUDENT}"> <!--학생일경우만 노출-->
                                    <div class="th">담임선생님</div>
                                    <div class="td td_txt" th:text="${school.teacherNm}">홍말순</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="sec_write" th:if="${form.mberDvTy eq T(kr.or.btf.web.domain.web.enums.UserRollType).PARENT}"><!--부모일 경우 노출-->
                        <h4 class="subtit">추가정보(자녀 아이디)</h4>
                        <ul class="list_type01">
                            <li th:each="child : ${childList}">
                                <p th:text="|${child.nm} ${child.schlNm} ${child.grade}학년 ${child.ban}반 ${child.no}번|">이창근 ○○초등학교 5학년 3반 17번</p>
                            </li>
                        </ul>
                    </div>
                    <div class="btn_area btn_info">
                        <a href="javascript:;" onclick="fn_openLayer();" class="btn">수정</a>
                        <!-- <a href="/pages/myPage/batchManagement" class="btn btn_lg btn_blue btn_pill_10">일괄관리</a> -->
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:replace="fragments/footer"></th:block>
</div>
<div id="popPw" class="layer_popup">
    <form id="form2" name="form2" method="post">
        <div class="dim"></div>
        <div class="popup_area">
            <a href="javascript:layerHide('popPw')" class="btn_close"><span class="blind">팝업닫기</span></a>
            <div class="popup">
                <input type="text" style="display: none"/>
                <div class="pop_txt"><label for="pwd">비밀번호를 입력해 주세요.</label></div>
                <div class="inp_pw"><input type="password" id="pwd" name="pwd" /></div>
                <div class="btn_area">
                    <a href="javascript:;" onclick="fn_checkPw()" class="btn btn_lg btn_blue btn_pill_10">확인</a>
                </div>
            </div>
        </div>
    </form>
</div>
</div>
</body>
</html>
